﻿@{
    ViewBag.Title = Translations.Menu.Suppliers_BySupplier + " | Gizbarit";
    int currentYear = ViewBag.Year;
    int year = DateTime.Now.Year;
}

@section Css{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/documents.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/bank.css")" media="screen" />
}


<div class="left1">
    <div class="tag">
        <img src="@Url.Content("~/Css/images/tag.png")" align="top">
        <span>@Translations.Menu.Suppliers_BySupplier</span>
    </div>
    <div class="parent1">
        <div class="inline">
           @Translations.General.Year
        </div>
        <div class="inline white buttoninline" id="yearSelector">
            <span>
                <strong>
                    @currentYear
                </strong>
            </span>
            <div class="dropdowninline" id="years">
                <a href="@Url.Action("AccordingToSupplier", new {year = year + 1})" class="btnSelectBank" onclick="goToUrl(this.href)"><strong>@(year + 1)</strong></a>
                @for (int i = 0; i < 5; i++)
                {
                    <a href="@Url.Action("AccordingToSupplier", new {year = year - i})" onclick="goToUrl(this.href)">
                        <strong>@(year - i)</strong>
                    </a>
                }
            </div>
        </div>
    </div>
    <br /><br />
    @using (Ajax.BeginForm("EditSupplier", new AjaxOptions { UpdateTargetId = "supplierInfo", OnSuccess = "$('#createBtn').text('"+ @Translations.Buttons.Update+ "');" }))
    {
        <div id="supplierInfo">
            <input id="supplierId" name="Supplier.Id" hidden="hidden" value="0" />
            <input id="supplierName" name="Supplier.Name" class="blueboxeswidthitalics" type="text" placeholder="@Translations.Settlements.EnterName" value=""><br>
            <input id="supplierAddress" name="Supplier.Address" class="blueboxeswidthitalics" type="text" placeholder="@Translations.Settlements.SupplierAddress" value=""><br>
            <input dir="ltr" id="supplierPhone" name="Supplier.Phone" class="blueboxeswidthitalics" type="text" placeholder="@Translations.Settlements.SupplierPhone" value=""><br>
        </div>
        <div style="width: 150px;">
            <button type="submit" id="createBtn" style="border: none;cursor: pointer" class="btn green">@Translations.Buttons.Add</button>
        </div><br />
    }
    <br/><br/>

    <div id="divInvoicesPartial"></div>
</div>


@section Scripts
{
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    <script>
        var year = @ViewBag.Year;
        var cache = {}, lastXhr;

        $(document).ready(function (e) {

            $('body').on('focus', "#supplierName", function () {
                $(this).autocomplete({
                    source: function (request, response) {
                        var term = request.term;
                        if (term in cache) {
                            response($.map(cache[term], function (v, i) {
                                return { value: v.Name, id: v.Id, address: v.Address, phone: v.Phone };
                            }));
                            return;
                        }
                        $.ajax({
                            type: "POST",
                            url: "/Settlements/GetSupplierByName",
                            dataType: "json",
                            data: {
                                supplierName: request.term
                            },

                            success: function (data) {
                                cache[term] = data;
                                response($.map(data, function (v, i) {
                                    return { value: v.Name, id: v.Id, address: v.Address, phone: v.Phone };
                                }));
                            }
                        });
                    },
                    minLength: 0,
                    delay: 400,

                    select: function (event, ui) {

                        $('#supplierId').val(ui.item.id);
                        $('#supplierName').val(ui.item.value);
                        $('#supplierAddress').val(ui.item.address);
                        $('#supplierPhone').val(ui.item.phone);
                        $('#createBtn').text('@Translations.Buttons.Update');
                        if (typeof supplierChange != "undefined") {
                            supplierChange(ui.item.id);
                        }

                    }

                })
                .focus(function () {
                    $(this).autocomplete('search', $(this).val());
                });
            });

            $('body').on('focus', "#supplierName", function() {
                $(this).keyup(function () {
                        if ($(this).val().length === 0) {
                            $('#supplierId').val("");
                            $('#supplierAddress').val("");
                            $('#supplierPhone').val("");
                            $('#createBtn').text('Create');
                            if (typeof supplierChange != "undefined") {
                                supplierChange(null);
                            }
                        }
                    });
            });


            $("#yearSelector").click(function () {
                $('#years').toggle();
                return false;
            });
        });

        function setYear(yearToSet) {
            year = yearToSet;
            $(this).val(yearToSet);
        }

        function supplierChange(supplierId) {
            if (supplierId != null) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetSupplierInvoicesPartial", "Settlements")",
                    traditional: true,

                    data: { supplierId: supplierId, year: year},
                    error: function (result) {
                          alertify.error('@Translations.Errors.FetchDocumentError');
                    },
                    success: function (result) {
                        renderInvoicePartial(result);
                    }
                });
            } else {
                renderInvoicePartial("");
            }
        }

        function renderInvoicePartial(result) {
            $('#divInvoicesPartial').html(result);
        }
    </script>
}