﻿@model Gizbarit.DAL.Models.Settlements.SupplierViewModel
    
<input id="supplierId" name="Supplier.Id" hidden="hidden" value="@Model.Id" />
<input id="supplierName" name="Supplier.Name" class="blueboxeswidthitalics" type="text" placeholder="Enter name" value="@Model.Name"><br>
<input id="supplierAddress" name="Supplier.Address" class="blueboxeswidthitalics" type="text" placeholder="Supplier address" value="@Model.Address"><br>
<input dir="ltr" id="supplierPhone" name="Supplier.Phone" class="blueboxeswidthitalics" type="text" placeholder="Supplier phone" value="@Model.Phone"><br>
