﻿@using System.Globalization
@using System.Text
@using Gizbarit.DAL.Entities.Documents
@using Gizbarit.Utils
@model Gizbarit.DAL.Models.Settlements.SettlementsWithCustommerViewModelWrapper
@{
    ViewBag.Title = @Translations.Menu.Clients_PreliminaryInvoice + " | Gizbarit";
    int lineCounter = 1;
    int? clientId = ViewBag.ClientId;
    int currentYear = @ViewBag.Year;
    int currentMonth = @ViewBag.Month ?? 0;
    int year = DateTime.Now.Year;

    double paymentAmountSum = 0.0;
    double invoiceAmountSum = 0.0;
    double prepaymentSum = 0.0;
    double paidSum = 0.0;
    double dueSum = 0.0;

    var titleForColumnPreliminaryInvoice = @Translations.Settlements.PreliminaryInvoiceNumber;
    var titleForColumnTaxInvoiceAmount = @Translations.Settlements.TaxInvoiceAmount;

    var styleForInvoiceNumber = "background-color: #8dc63f";
}

@if (Model.IsExport)
{
    titleForColumnPreliminaryInvoice = @Translations.Menu.ExportProformaInvoice;
    titleForColumnTaxInvoiceAmount = @Translations.Settlements.ExportInvoiceAmount;
    styleForInvoiceNumber = "none";
}

@section Css{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/documents.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/bank.css")" media="screen"/>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/slimtable.css")" media="screen" />
}


@section Scripts
{
    <script src="@Url.Content("~/Scripts/shared/slimtable.min.js")"></script>
    <script>
        $(document).ready(function() {
            $("#yearSelector").click(function() {
                $('#years').toggle();
                return false;
            });
            $("#clientSelector").click(function() {
                $('#clients').toggle();
                return false;
            });

            $("#monthSelector").click(function() {
                $('#months').toggle();
                return false;
            });


        });
    </script>
    <script>
        @{
            StringBuilder clients = new StringBuilder();
            clients.Append("{ value:'" + Translations.General.All + "', clientId: 0},");
            foreach (var client in Model.Clients)
            {
                clients.Append("{ value:'" + client.Name.Replace("\"", "\\\"").Replace("'", "\\'") + "', clientId: " + client.Id + " },");
            }
        }
        var availableTags = [@(Html.Raw(clients.ToString()))];
        $(document).ready(function() {
            $.fn.tableExport.xlsx.buttonContent = '@Translations.Buttons.ExportToExcel';
            $("table").tableExport({
                formats: ["xlsx"],
                fileName: "CustomerSettlements_" + $("#currentYear").val(),
                footers: false
            });

            $('#cselector').autocomplete({
                    source: availableTags,
                    minLength: 0,
                    select: function(event, ui) {
                        if (ui.item.clientId === 0) {

                            goToUrl('/Settlements/Index?year=' + @currentYear + '&currency=@Model.IsExport');
                        } else {
                            goToUrl('/Settlements/Index?clientId=' + ui.item.clientId + '&year=@currentYear&isExport=@Model.IsExport');
                        }
                    }
                })
                .focus(function() {
                    $(this).autocomplete('search', $(this).val());
                });

        });

        function changeClient(el) {
            var $selector = $(el);
            var activeOptionLink = $selector.find('option:selected').data('link');
            goToUrl(activeOptionLink);
        }

        $(function() {
            $("table").slimtable({
                keepAttrs: ["style"],
                colSettings: [
                    { colNumber: 0, enableSort: false },
                    { colNumber: 1, stripHtml: true },
                    { colNumber: 6, stripHtml: true },
                    { colNumber: 7, stripHtml: true },
                    { colNumber: 11, stripHtml: true }
                ],
                itemsPerPage: 20,
                ippList: [10, 20, 30, 50],
                text1: "",
                text2: "Loading..."
            });
        });
       
    </script>

    @if (Model.IsExport)
    {
        <script>
            var itemCounter = 1;
            var thList = document.querySelectorAll('.table tr');
        
            
        </script>
        foreach (var item in Model.Items)
        {
            <script>
                for (var i = 5; i < 11; i++) {

                    $(thList[itemCounter]).children('td:eq(' + i + ')').children('span')
                        .attr('title', '@item.Currency')
                        .attr('data-toggle', 'tooltip')
                        .attr('data-placement', 'right');
                }
                itemCounter++;
               
            </script>
        }

       
    }
}

<div class="left1">
<div class="tag">
    <img src="@Url.Content("~/Css/images/tag.png")" align="top">
    <span>@Translations.Menu.Clients_PreliminaryInvoice</span>
</div>
<div class="parent1">
    <div class="inline">
        @Translations.Bank.Month
    </div>
    <div class="inline white buttoninline" id="monthSelector" style="width: 150px">
        <span>
                <strong>
                    @Html.MonthToString(currentMonth)
                </strong>
            </span>
        <div class="dropdowninline" id="months" style="width: 150px">
            <a href="@Url.Action("Index", new {ClientId = ViewBag.ClientId, year = currentYear, isExport = Model.IsExport})" class="btnSelectBank" onclick="goToUrl(this.href)"><strong>@Translations.General.All</strong></a>
            <a href="@Url.Action("Index", new {ClientId = ViewBag.ClientId, year = currentYear, month = 1, isExport = Model.IsExport})" class="btnSelectBank" onclick="goToUrl(this.href)">@Translations.General.January</a>
            <a href="@Url.Action("Index", new {ClientId = ViewBag.ClientId, year = currentYear, month = 2, isExport = Model.IsExport})" class="btnSelectBank" onclick="goToUrl(this.href)">@Translations.General.February</a>
            <a href="@Url.Action("Index", new {ClientId = ViewBag.ClientId, year = currentYear, month = 3, isExport = Model.IsExport})" class="btnSelectBank" onclick="goToUrl(this.href)">@Translations.General.March</a>
            <a href="@Url.Action("Index", new {ClientId = ViewBag.ClientId, year = currentYear, month = 4, isExport = Model.IsExport})" class="btnSelectBank" onclick="goToUrl(this.href)">@Translations.General.April</a>
            <a href="@Url.Action("Index", new {ClientId = ViewBag.ClientId, year = currentYear, month = 5, isExport = Model.IsExport})" class="btnSelectBank" onclick="goToUrl(this.href)">@Translations.General.May</a>
            <a href="@Url.Action("Index", new {ClientId = ViewBag.ClientId, year = currentYear, month = 6, isExport = Model.IsExport})" class="btnSelectBank" onclick="goToUrl(this.href)">@Translations.General.June</a>
            <a href="@Url.Action("Index", new {ClientId = ViewBag.ClientId, year = currentYear, month = 7, isExport = Model.IsExport})" class="btnSelectBank" onclick="goToUrl(this.href)">@Translations.General.July</a>
            <a href="@Url.Action("Index", new {ClientId = ViewBag.ClientId, year = currentYear, month = 8, isExport = Model.IsExport})" class="btnSelectBank" onclick="goToUrl(this.href)">@Translations.General.August</a>
            <a href="@Url.Action("Index", new {ClientId = ViewBag.ClientId, year = currentYear, month = 9, isExport = Model.IsExport})" class="btnSelectBank" onclick="goToUrl(this.href)">@Translations.General.September</a>
            <a href="@Url.Action("Index", new {ClientId = ViewBag.ClientId, year = currentYear, month = 10, isExport = Model.IsExport})" class="btnSelectBank" onclick="goToUrl(this.href)">@Translations.General.October</a>
            <a href="@Url.Action("Index", new {ClientId = ViewBag.ClientId, year = currentYear, month = 11, isExport = Model.IsExport})" class="btnSelectBank" onclick="goToUrl(this.href)">@Translations.General.November</a>
            <a href="@Url.Action("Index", new {ClientId = ViewBag.ClientId, year = currentYear, month = 12, isExport = Model.IsExport})" class="btnSelectBank" onclick="goToUrl(this.href)">@Translations.General.December</a>
        </div>
    </div>
    <div class="inline" style="width: 50px">
        @Translations.General.Year
    </div>
    <div class="inline white buttoninline" id="yearSelector" style="float: none">
        <span>
                <strong>
                    @currentYear
                </strong>
            </span>
        <div class="dropdowninline" id="years">
            <a href="@Url.Action("Index", new {ClientId = ViewBag.ClientId, year = year + 1})" class="btnSelectBank" onclick="goToUrl(this.href)">@(year + 1)</a>
            @for (int i = 0; i < 5; i++)
            {
                <a href="@Url.Action("Index", new {ClientId = ViewBag.ClientId, year = year - i, isExport = Model.IsExport})" class="btnSelectBank" onclick="goToUrl(this.href)">@(year - i)</a>
            }
        </div>
    </div>

    <div style="width: 200px; float: none; position: relative; display: inline-block; bottom: 2px">
        <input id="cselector" placeholder="@Translations.Documents.ClinetName" value="@(clientId != null ? ViewBag.CurrentClientName : "")"/>
    </div>
</div>

<br/><br/>
<input type="hidden" id="currentYear" value="@currentYear"/>
@Html.HiddenFor(m => m.IsExport)
<table class="table documents" style="padding-top: 15px;">
    <thead>
    <tr>
        <th>#</th>
        <th>@titleForColumnPreliminaryInvoice</th>
        <th>@Translations.Settlements.OpeningDate</th>
        <th>@Translations.Settlements.Client</th>
        <th>@Translations.Settlements.Content</th>
        <th>@Translations.Settlements.PaymentAmount</th>
        <th>
            @if (User.Identity.GetOrgType() != Enums.BusinessType.Exemption)
            {
                if (!Model.IsExport)
                {
                    <span style="background-color: #8dc63f; text-decoration: underline">@Translations.Settlements.TaxInvoice</span>
                    <br/>
                    @Translations.Settlements.TaxInvoiceReceipt
                }
                else
                {
                    @Translations.Menu.ExportInvoice
                }
            }
            else
            {
                @Translations.Menu.Documents_Receipt
            }

        </th>
        <th>
            @if (User.Identity.GetOrgType() != Enums.BusinessType.Exemption)
            {
                @titleForColumnTaxInvoiceAmount
            }
            else
            {
                @Translations.Settlements.ReceiptAmount
            }
        </th>
        <th>@Translations.Settlements.PrepaymentAmount</th>
        <th>@Translations.Settlements.Paid</th>
        <th>@Translations.Settlements.BalanceDue</th>
        <th>@Translations.Settlements.PaymentDate</th>
    </tr>
    </thead>


    @{
        var items = Model.Items.ToArray();
        var sameInvoice = false;
        List<Guid> existingInvices = new List<Guid>();
    }

    <tbody>
    @for (int i = 0; i < items.Count(); i++)
    {

        var item = items[i];
        var totalWithVat = String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.TotalWithVat);
        var invoiceTotal = String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.InvoiceTotal);
        var receiptTotal = String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.ReceiptTotal);
        var totalPaid = String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.TotalPaid);
        var deduction = String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.Deduction);

        if (item.Invoice != Guid.Empty)
        {
            if (!existingInvices.Contains(item.Invoice))
            {
                existingInvices.Add(item.Invoice);
                invoiceAmountSum += item.InvoiceTotal;
                dueSum += item.Deduction;
                paidSum += item.TotalPaid;
                sameInvoice = false;
            }
            else
            {
                sameInvoice = true;
            }
        }
        else
        {
            dueSum += item.Deduction;
            paidSum += item.TotalPaid;
        }
        paymentAmountSum += item.TotalWithVat;
        prepaymentSum += item.ReceiptTotal ?? 0;

        <tr @(i != items.Count() - 1 && item.PreliminaryInvoiceCreationDate.Month > items[i + 1].PreliminaryInvoiceCreationDate.Month ? "class=nextMonth" : "")>
            @if (!item.MainDocument)
            {
                lineCounter++;
            }
            <td>@(i + 1)</td>
            <td>@if (item.PreliminaryInvoiceNumber != 0)
                {@Html.ActionLink(item.PreliminaryInvoiceNumber.ToString(), "GetDocument", "Documents", new {id = item.PreliminaryInvoice}, new {target = "_blank"})
                }
            </td>
            <td>@item.PreliminaryInvoiceCreationDate.ToString("dd'/'MM'/'yy")</td>
            <td>@item.ClientName</td>

            <td>@item.Subject</td>
            <td>@if (item.TotalWithVat < 0)
                {
                    <span style="color: red">@totalWithVat</span>
                }
                else
                {<span>@totalWithVat</span>}</td>
            @if (item.Invoice != Guid.Empty && item.InvoiceNumber != null)
            {
                if (item.InvoiceType == DocumentType.TaxInvoice)
               {<td style="@styleForInvoiceNumber">@Html.ActionLink(item.InvoiceNumber.ToString(), "GetDocument", "Documents", new {id = item.Invoice}, new {target = "_blank"})</td>}
                else
                {<td>@Html.ActionLink(item.InvoiceNumber.ToString(), "GetDocument", "Documents", new {id = item.Invoice}, new {target = "_blank"})</td>}
            }
            else
            {<td></td>}
            <td dir="ltr">@if (item.InvoiceTotal < 0)
                          {<span style="color: red">@invoiceTotal</span>}
                          else if (sameInvoice)
                          {
                              <span style="color: #778899">@invoiceTotal</span>}
                          else
                          {<span>@invoiceTotal</span>}</td>
            <td dir="ltr">@{
                              if (item.ReceiptTotal != null && item.ReceiptTotal < 0)
                              {<span style="color: red">@receiptTotal</span>}
                              else
                              {<span>@receiptTotal</span>}
                          }</td>
            <td dir="ltr">
                @if (sameInvoice)
                {
                    <span style="color: #778899">@totalPaid</span>}
                else
                {<span>@totalPaid</span>}
            </td>
            <td dir="ltr">@{
                              if (item.Deduction > 0)
                              {<span style="color: red">@deduction</span>}
                              else
                              {<span>@deduction</span>}
                          }</td>
            <td>@{
                    if (item.PaymentDate > DateTime.Now || item.Deduction == 0)
                    {@item.PaymentDate.ToString("dd'/'MM'/'yy")
                    }
                    else
                    {<span style="color: red">@item.PaymentDate.ToString("dd'/'MM'/'yy")</span>}
                }</td>
        </tr>



    }

    </tbody>
    @if (!Model.IsExport)
    {
        <tfoot>
        <tr class="footer">
            <th colspan="5">@Translations.General.Total</th>
            <th dir="ltr"><span>@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", paymentAmountSum)</span></th>
            <th></th>
            <th dir="ltr"><span>@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", invoiceAmountSum)</span></th>
            <th dir="ltr"><span>@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", prepaymentSum)</span></th>
            <th dir="ltr"><span>@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", paidSum)</span></th>
            <th dir="ltr" class=@(dueSum > 0 ? "red" : "")><span>
                     @String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", dueSum)
                        </span>
            </th>
            <th></th>
        </tr>
        @if (Model.PastYearDeduction > 0)
        {
            <tr class="footer2">
                <th colspan="5">@Translations.Settlements.TotalIncludePastYear</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th><span>@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", dueSum + Model.PastYearDeduction)</span></th>
                <th></th>
            </tr>
        }
        </tfoot>
    }
</table>
</div>

