﻿@using System.Globalization
@model IEnumerable<Gizbarit.DAL.Models.Settlements.SettlemetsByClient>
@{
    ViewBag.Title = @Translations.Menu.Clients_PerCustommer + " | Gizbarit";
    int currentYear = @ViewBag.Year;
    int year = DateTime.Now.Year;


}

@section Css{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/documents.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/bank.css")" media="screen" />
}


@section Scripts
{
    <script>
        $(document).ready(function () {
            $.fn.tableExport.xlsx.buttonContent = '@Translations.Buttons.ExportToExcel';
            $("table").tableExport({
                formats: ["xlsx"],
                fileName: "settlements_per_custommer"
            });

            $("table").tablesorter({
                headers: {
                    1: { sorter: false },
                    2: { sorter: false },
                    3: { sorter: false },
                    4: { sorter: false },
                    5: { sorter: false }
                }
            });

            $("#yearSelector").click(function () {
                $('#years').toggle();
                return false;
            });
        });
    </script>
}

<div class="left1">
    <div class="tag">
        <img src="@Url.Content("~/Css/images/tag.png")" align="top">
        <span>@Translations.Menu.Clients_PerCustommer</span>
    </div>
    <div class="parent1">
        <div class="inline">
            @Translations.General.Year
        </div>
        <div class="inline white buttoninline" id="yearSelector">
            <span>
                <strong>
                    @currentYear
                </strong>
            </span>
            <div class="dropdowninline" id="years">
                <a href="@Url.Action("PerCustommer", new {year = year + 1})" class="btnSelectBank" onclick="goToUrl(this.href)"><strong>@(year + 1)</strong></a>
                @for (int i = 0; i < 5; i++)
                {
                    <a href="@Url.Action("PerCustommer", new {year = year - i})" class="btnSelectBank" onclick="goToUrl(this.href)"><strong>@(year - i)</strong></a>
                }
            </div>
        </div>
    </div>

    <br /><br />
    <table class="table documents tablesorter" style="padding-top: 15px;">
        <thead>
            <tr>
                <th>@Translations.Documents.ClinetName</th>
                <th>@Translations.Documents.Address</th>
                <th>@Translations.Documents.Phone</th>
                <th>@Translations.Documents.TotalPayment</th>
                <th>@Translations.Settlements.Paid</th>
                <th>@Translations.Documents.Deduction</th>
            </tr>

        </thead>
        <tbody>
        @foreach (var client in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(client.ClientName, "Index", new { year = currentYear, clientId = client.ClientId })
                </td>
                <td>@client.ClientAddress</td>
                <td>@client.ClientPhone</td>
                <td dir="ltr">@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", client.TotalInvoice)</td>
                <td dir="ltr">@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", client.TotalPaid)</td>
                <td dir="ltr" class="@(client.TotalInvoice - client.TotalPaid>0?"red":"")">@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", client.TotalInvoice - client.TotalPaid)</td>
            </tr>
        }
        </tbody>
        
    </table>
</div>
