﻿@using System.Globalization
@using Gizbarit.Web.Util.Extensions
@model IEnumerable<Gizbarit.DAL.Models.Settlements.SummaryBySupplier>
    
@{
    ViewBag.Title = Translations.Menu.Suppliers_Summary + " | Gizbarit";
    int currentYear = ViewBag.Year;
    int year = DateTime.Now.Year;


    string currentSort = ViewBag.CurrentSort;
    if (string.IsNullOrEmpty(currentSort))
    {
        currentSort = "Date_desc";
    }
}

@section Css{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/documents.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/bank.css")" media="screen" />
}

@section Scripts
{
    <script>
        $(document).ready(function (e) {
            $.fn.tableExport.xlsx.buttonContent = '@Translations.Buttons.ExportToExcel';
            $("table").tableExport({
                formats: ["xlsx"],
                fileName: "SummaryBySuppliers",
                footers: false
            });

            $("#yearSelector").click(function () {
                $('#years').toggle();
                return false;
            });
        });
    </script>
}

<div class="left1">
    <div class="tag">
        <img src="@Url.Content("~/Css/images/tag.png")" align="top">
        <span>@Translations.Menu.Suppliers_Summary</span>
    </div>
    <div class="parent1">
        <div class="inline">
           @Translations.General.Year
        </div>
        <div class="inline white buttoninline" id="yearSelector">
            <span>
                <strong>
                    @currentYear
                </strong>
            </span>
            <div class="dropdowninline" id="years">
                <a href="@Url.Action("SummaryBySupplier", new {year = year + 1})" class="btnSelectBank" onclick="goToUrl(this.href)"><strong>@(year + 1)</strong></a>
                @for (int i = 0; i < 5; i++)
                {
                    <a href="@Url.Action("SummaryBySupplier", new {year = year - i})" onclick="goToUrl(this.href)">
                        <strong>@(year - i)</strong>
                    </a>
                }
            </div>
        </div>
    </div>
    <br/><br />
    <table class="table documents">
        <tr>
            <th>
                @Html.ActionLink(@Translations.Settlements.Supplier, "SummaryBySupplier", Request.QueryString.ToRouteValueDictionary("sortOrder", (string) ViewBag.SupplierSortParam))
                @Html.SortIdentifier(currentSort, "Supplier")
            </th>
            <th>@Translations.Settlements.InvoiceNo</th>
            <th>
                @Html.ActionLink(@Translations.Settlements.InvoiceDate, "SummaryBySupplier", Request.QueryString.ToRouteValueDictionary("sortOrder", (string) ViewBag.DateSortParam))
                @Html.SortIdentifier(currentSort, "Date")
            </th>
            <th>@Translations.Settlements.DeliverySubject</th>
            <th>@Translations.Documents.Amount</th>
            <th>@Translations.Documents.Paid</th>
            <th>
                @Html.ActionLink(@Translations.Documents.Deduction, "SummaryBySupplier", Request.QueryString.ToRouteValueDictionary("sortOrder", (string)ViewBag.DeductionSortParam))
                @Html.SortIdentifier(currentSort, "Deduction")
            </th>
        </tr>
            @foreach (var data in Model)
            {
                <tr>
                    <td>@data.SupplierName</td>
                    <td>@data.InvoiceNumber</td>
                    <td>@data.InvoiceDate.ToString("dd/MM/yy")</td>
                    <td>@data.DeliverySubject</td>
                    <td>@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", data.InvoiceAmount)</td>
                    <td>@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", data.Paid)</td>
                    <td>@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", data.InvoiceAmount - data.Paid)</td>
                </tr>
            }
    </table>
</div>

