﻿@using System.Globalization
@using Gizbarit.Web.Util.Extensions
@model IEnumerable<Gizbarit.DAL.Models.Settlements.SupplierInvoiceDetailsViewModel>
@{
    var currentSupplierId = ViewBag.SupplierId;
    var currentYear = ViewBag.Year;
    var totalAmount = 0.0;
    var totalPaid = 0.0;
    var totalDeduction = 0.0;

    string currentSort = ViewBag.CurrentSort;
    if (string.IsNullOrEmpty(currentSort))
    {
        currentSort = "Date_desc";
    }
}

<table class="table documents" style="padding-top: 15px;">
    <tr>
        <th>
            @Ajax.ActionLink(@Translations.Settlements.InvoiceNo, "GetSupplierInvoicesPartial", new { supplierId = currentSupplierId, year=currentYear, sortOrder= (string)ViewBag.NumberSortParam }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divInvoicesPartial" })
            @Html.SortIdentifier(currentSort, "Number")
        </th>
        <th>
            @Ajax.ActionLink(@Translations.Settlements.InvoiceDate, "GetSupplierInvoicesPartial", new { supplierId = currentSupplierId, year = currentYear, sortOrder = (string)ViewBag.DateSortParam }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divInvoicesPartial" })
            @Html.SortIdentifier(currentSort, "Date")
        </th>
        <th>@Translations.Settlements.DeliverySubject</th>
        <th>
            @Ajax.ActionLink(@Translations.Settlements.InvoiceAmount, "GetSupplierInvoicesPartial", new { supplierId = currentSupplierId, year = currentYear, sortOrder = (string)ViewBag.AmountSortParam }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divInvoicesPartial" })
            @Html.SortIdentifier(currentSort, "Amount")
        </th>
        <th>
           @Ajax.ActionLink(@Translations.Documents.Paid, "GetSupplierInvoicesPartial", new { supplierId = currentSupplierId, year = currentYear, sortOrder = (string)ViewBag.PaidSortParam }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divInvoicesPartial" })
            @Html.SortIdentifier(currentSort, "Paid")
        </th>
        <th>
            @Ajax.ActionLink(@Translations.Documents.Deduction, "GetSupplierInvoicesPartial", new { supplierId = currentSupplierId, year = currentYear, sortOrder = (string)ViewBag.DeductionSortParam }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divInvoicesPartial" })
            @Html.SortIdentifier(currentSort, "Deduction")
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Number</td>
            <td>@item.Date.ToString("dd/MM/yyyy")</td>
            <td>@item.Subject</td>
            <td>@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.Amount)</td>
            <td>@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.Paid)</td>
            <td>@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.Amount - item.Paid)</td>
        </tr>
        totalAmount += item.Amount;
        totalPaid += item.Paid;
        totalDeduction += item.Amount - item.Paid;
    }
    <tr class="footer">
        <td colspan="3">@Translations.General.Total</td>
        <td>@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", totalAmount)</td>
        <td>@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", totalPaid)</td>
        <td>@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", totalDeduction)</td>
    </tr>
</table>
