﻿@model Gizbarit.DAL.Models.Settlements.SupplierReceiptContainer
@{
    double rowDeduction = Model.Invoice.Total ?? 1;
}
<div id="divReceiptPartial">


@using (Ajax.BeginForm("EditSupplierReceipts", new AjaxOptions {UpdateTargetId = "divReceiptPartial" }))
{
    <div style="width: 300px;">
        <input type="hidden" name="Container.SupplierId" value="@Model.SupplierId"/>
        <input type="hidden" name="Container.Invoice.Id" value="@Model.Invoice.Id" />
        <span class="error" id="amount_error"><span>Select or create supplier</span></span>
        <input style="width: 150px;" id="invoiceNumber" name="Container.Invoice.Number" class="blueboxeswidthitalics" type="text" placeholder="@Translations.Settlements.SelectInvoiceNo" value="@(Model.Invoice.Number==0?"":Model.Invoice.Number.ToString())">
        <input id="invoiceDate" style="width: 150px" name="Container.Invoice.Date" class="blueboxeswidthitalics DateOperationClass" type="text" placeholder="@Translations.Buttons.SelectDate" value="@(Model.Invoice.Date == null?"": Model.Invoice.Date.Value.ToString("dd.MM.yyyy"))"><br>
        <input style="width: 250px" name="Container.SupplyDescription" class="blueboxeswidthitalics" type="text" placeholder="@Translations.Settlements.DeliverySubject" value="@Model.SupplyDescription"><br>
    </div><br />

    <table class="table documents waybills" style="padding-top: 15px;" id="receiptsTable">
        <tr>
            <th>@Translations.Documents.Amount</th>
            <th>@Translations.Documents.Paid</th>
            <th>@Translations.Documents.Date</th>
            <th>@Translations.Settlements.CheckNo</th>
            <th>@Translations.Documents.Deduction</th>
        </tr>
        @if (Model.Receipts.Any())
        {
            
            for (var index = 0; index < Model.Receipts.Count(); index++)
            {
                var receipt = Model.Receipts.ElementAt(index);

                <tr class="add" data-index="@index">
                    <td dir="ltr">
                        <input type="hidden" id="Id" name="Container.Receipts[@index].Id" value="@receipt.Id">
                        @if (index == 0)
                        {
                            <input class="blueboxeswidthitalics input" id="invoiceAmount" name="Container.Invoice.Total" type="text" value="@Model.Invoice.Total">
                        }
                        else
                        {
                            <input class="blueboxeswidthitalics input" type="text" id="invoiceAmount" value="@rowDeduction" disabled="disabled">
                        }
                        @{ rowDeduction = rowDeduction - receipt.Amount ?? 0;}
                    </td>

                    <td dir="ltr"><input id="amount" class="blueboxeswidthitalics input" name="Container.Receipts[@index].Amount" type="text" value="@receipt.Amount" @(receipt.Amount == null ? "" : "readonly")></td>
                    <td><input class="blueboxeswidthitalics input DateOperationClass" name="Container.Receipts[@index].Date" type="text" value="@(receipt.Date == null?"":receipt.Date.Value.ToString("dd.MM.yyyy"))" @(receipt.Date == null ? "" : "readonly")></td>
                    <td><input id="number" class="blueboxeswidthitalics input" name="Container.Receipts[@index].Number" type="text" value="@receipt.Number" @(receipt.Number == String.Empty ? "" : "readonly")></td>
                    <td dir="ltr"><input class="blueboxeswidthitalics input" id="deduction" disabled="disabled" value="@rowDeduction"/></td>
                </tr>
            }
            if (rowDeduction > 0 && Model.Receipts.Last().Amount != null && Model.Receipts.Last().Date != null)
            {
                var newIndex = Model.Receipts.Count();
                <tr class="add" data-index="@newIndex">
                    <td dir="ltr">
                        <input type="hidden" id="Id" name="Container.Receipts[@newIndex].Id" value="-1">
                        <input class="blueboxeswidthitalics input" id="invoiceAmount" type="text" value="@rowDeduction"/>
                    </td>
                    <td dir="ltr"><input id="amount" class="blueboxeswidthitalics input" name="Container.Receipts[@newIndex].Amount" onchange="CalculateRowDeduction(this)" type="text" value=""></td>
                    <td><input class="blueboxeswidthitalics input DateOperationClass" name="Container.Receipts[@newIndex].Date" type="text" value="" onchange="CalculateRowDeduction(this)" ></td>
                    <td><input id="number" class="blueboxeswidthitalics input" name="Container.Receipts[@newIndex].Number" type="text" value="" onchange="CalculateRowDeduction(this)" ></td>
                    <td dir="ltr" style="border: none"><input class="blueboxeswidthitalics input" id="deduction" value="@rowDeduction" readonly/></td>
                </tr>
            }

        }
        else
        {
            <tr class="add" data-index="0">
                <td dir="ltr">
                    <input type="hidden" id="Id" name="Container.Receipts[0].Id" value="-1">
                    <input class="blueboxeswidthitalics input" id="invoiceAmount" name="Container.Invoice.Total" type="text" value="@Model.Invoice.Total">
                </td>
                <td dir="ltr"><input id="amount" class="blueboxeswidthitalics input" name="Container.Receipts[0].Amount" onchange="CalculateRowDeduction(this)" type="text" value=""></td>
                <td><input class="blueboxeswidthitalics input DateOperationClass" name="Container.Receipts[0].Date" type="text" value="" onchange="CalculateRowDeduction(this)" ></td>
                <td><input id="number" class="blueboxeswidthitalics input" name="Container.Receipts[0].Number" type="text" value="" onchange="CalculateRowDeduction(this)" ></td>
                <td dir="ltr" style="border: none"><input class="blueboxeswidthitalics input" id="deduction" value="@Model.Invoice.Total" readonly/></td>
            </tr>
        }

    </table>
        <button type="submit" class="buttons">
            <img src="@Url.Content("~/Css/images/stack.png")" height="33"><br><strong>@Translations.Buttons.Save</strong>
        </button>
    @Html.ValidationSummary()
}
</div>