﻿@using System.Globalization
@using Gizbarit.DAL.Models.Settlements
@model Gizbarit.DAL.Models.Settlements.SupplierWaybillContainer

@{
    var lastIndex = 0;
    var isEditable = !(Model.Invoice.IsConfirmed && Model.Waybills.Any());
    if (!Model.Waybills.Any())
    {
        Model.Invoice = new SupplierInvoiceViewModel();
    }
}
@using (Ajax.BeginForm("EditSupplierWaybills", new AjaxOptions { UpdateTargetId = "divWaybillPartial" }))
{
    <input type="hidden" name="Container.Month" value="@Model.Month"/>
    <input type="hidden" name="Container.Year" value="@Model.Year"/>
    <input type="hidden" name="Container.SupplierId" value="@Model.SupplierId"/>

    <table class="table documents waybills" style="padding-top: 15px;" id="waybillsTable">
        <tr>
            <th style="width: 60%">@Translations.Settlements.DeliverySubject</th>
            <th style="width: 15%">@Translations.Settlements.WaybillNo</th>
            <th style="width: 10%">@Translations.Settlements.WaybillDate</th>
            <th style="width: 10%">@Translations.Settlements.WaybillAmount</th>
            <td style="width: 15%; background-color: #fff"></td>
        </tr>
        
        @for (int index = 0; index < Model.Waybills.Count; index++)
        {
            var waybill = Model.Waybills[index];
            <tr class="add" data-index="@index">
                <td>
                    <input type="hidden" id="Id" name="Container.Waybills[@index].Id" value="@waybill.Id">
                    <input type="hidden" id="IsActive" name="Container.Waybills[@index].IsActive" value="1">
                    <input class="blueboxeswidthitalics input" id="SupplyDescription" name="Container.Waybills[@index].SupplyDescription" type="text" value="@waybill.SupplyDescription">
                </td>
                <td><input class="blueboxeswidthitalics input" id="Number" name="Container.Waybills[@index].Number" type="text" value="@waybill.Number"></td>
                <td><input class="blueboxeswidthitalics input DateOperationClass" name="Container.Waybills[@index].Date" type="text" value="@waybill.Date.ToString("dd.MM.yyyy")"></td>
                <td dir="ltr"><input class="blueboxeswidthitalics input amountInput" id="Amount" onchange="CountWaybillAmount()" name="Container.Waybills[@index].Amount" type="text" value="@waybill.Amount"></td>
                <td>
                    @if (isEditable)
                    {
                        <div id="Button" class="fivecolumns" style="width: 60px; text-align: right">
                            @*<img src="/Css/images/delete.png" class="cursor" id="deleteRow" height="20" name="delete" onclick="deleteWaybillRow(this)">*@
                            @if (index == Model.Waybills.Count - 1) //last one
                            {
                                <input class="blueboxesfullwidth" id="addnew" onclick="addWaybillRow(this);" style="background-color: #8dc63f; border-radius: 5px; cursor: pointer;" type="button" value="+">
                            }
                        </div>
                    }
                </td>
            </tr>
        }
        @if (!Model.Waybills.Any())
        {
            <tr class="add" data-index="@lastIndex">
                <td>
                    <input type="hidden" id="Id" name="Container.Waybills[@lastIndex].Id" value="-1">
                    <input type="hidden" id="IsActive" name="Container.Waybills[@lastIndex].IsActive" value="1">
                    <input class="blueboxeswidthitalics input" id="SupplyDescription" name="Container.Waybills[@lastIndex].SupplyDescription" type="text" value="">
                </td>
                <td><input class="blueboxeswidthitalics input" id="Number" name="Container.Waybills[@lastIndex].Number" type="text" value=""></td>
                <td><input class="blueboxeswidthitalics input DateOperationClass" name="Container.Waybills[@lastIndex].Date" type="text" value=""></td>
                <td dir="ltr"><input class="blueboxeswidthitalics input amountInput" id="Amount" onchange="CountWaybillAmount()" name="Container.Waybills[@lastIndex].Amount" type="text" value=""></td>
                <td>
                    <div id="Button" class="fivecolumns" style="width: 60px;text-align:right">
                        <input class="blueboxesfullwidth" id="addnew" onclick="addWaybillRow(this);" style="background-color: #8dc63f; border-radius: 5px; cursor: pointer;" type="button" value="+">
                    </div>
                </td>
            </tr>
        }
        


    </table>
    <br/>
    <table class="table documents waybills" style="padding-top: 15px; width: 50%">
        @Html.Hidden("Container.Invoice.Id", @Model.Invoice.Id)
        <tr>
            <td style="width: 35%"><strong>@Translations.Settlements.InvoiceNo</strong></td>
            <td style="width: 20%"><input name="Container.Invoice.Number" class="blueboxeswidthitalics input" value="@(isEditable?"":Model.Invoice.Number.ToString())"/></td>
            <td style="width: 45%"></td>
        </tr>
        <tr>
            <td><strong>@Translations.Settlements.InvoiceAmount</strong></td>
            <td><input name="Container.Invoice.Total" class="blueboxeswidthitalics input" onchange="validateTotal()" value="@(isEditable ? "" : String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", Model.Invoice.Total))"/>
                </td>
            <td><span class="error" id="amount_error"><span>@Translations.Errors.CheckInvoiceAmount</span></span></td>
        </tr>
        <tr>
            <td><strong>@Translations.Settlements.InvoiceDate</strong></td>
            <td><input name="Container.Invoice.Date" class="blueboxeswidthitalics input DateOperationClass" value="@(isEditable?"":Model.Invoice.Date.Value.ToString("dd.MM.yyyy"))"/></td>
            <td></td>
        </tr>
    </table>
    if (isEditable)
    {
        <button type="submit" class="buttons">
            <img src="@Url.Content("~/Css/images/stack.png")" height="33"><br><strong>@Translations.Buttons.Save</strong>
        </button>
    }
    @Html.ValidationSummary()
}



    


