﻿@{
    ViewBag.Title = @Translations.Menu.Suppliers_TaxInvoice + " | Gizbarit";
    int currentYear = ViewBag.Year;
    int year = DateTime.Now.Year;
}

@section Css{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/documents.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/bank.css")" media="screen" />
}

<div class="left1">
    <div class="tag">
        <img src="@Url.Content("~/Css/images/tag.png")" align="top">
        <span>@Translations.Menu.Suppliers_TaxInvoice</span>
    </div>
    <div class="parent1">
        <div class="inline">
            @Translations.General.Year
        </div>
        <div class="inline white buttoninline" id="yearSelector">
            <span>
                <strong>
                    @currentYear
                </strong>
            </span>
            <div class="dropdowninline" id="years">
                <a href="@Url.Action("TaxInvoice", new {year = year + 1})" class="btnSelectBank" onclick="goToUrl(this.href)"><strong>@(year + 1)</strong></a>
                @for (int i = 0; i < 5; i++)
                {
                    <a href="@Url.Action("TaxInvoice", new {year = year - i})" onclick="goToUrl(this.href)">
                        <strong>@(year - i)</strong>
                    </a>
                }
            </div>
        </div>
    </div>
    <br /><br />
    @using (Ajax.BeginForm("EditSupplier", new AjaxOptions { UpdateTargetId = "supplierInfo", OnSuccess = "SetSupplierId();$('#createBtn').text('"+ @Translations.Buttons.Update + "');" }))
    {
        <div id="supplierInfo">
            <input id="supplierId" name="Supplier.Id" hidden="hidden" value="0" />
            <input id="supplierName" name="Supplier.Name" class="blueboxeswidthitalics" type="text" placeholder="@Translations.Settlements.EnterName" value=""><br>
            <input id="supplierAddress" name="Supplier.Address" class="blueboxeswidthitalics" type="text" placeholder="@Translations.Settlements.SupplierAddress" value=""><br>
            <input dir="ltr" id="supplierPhone" name="Supplier.Phone" class="blueboxeswidthitalics" type="text" placeholder="@Translations.Settlements.SupplierPhone" value=""><br>
        </div>
        <div style="width: 150px;">
            <button type="submit" id="createBtn" style="border: none; cursor: pointer" class="btn green">@Translations.Buttons.Add</button><br /><br />
        </div>

    }
    @Html.Action("GetSupplierReceiptContainer", new { invoiceId = -1, supplierId = 0 })

</div>


@section Scripts
{
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    <script>
        var currentYear = @currentYear;
        var indexForReceiptItems = 0;
        var cache = {}, lastXhr;
        var invoiceCache = {};

        $(document).ready(function(e) {
            $(document).unbind('ajaxStart');
            $(document).unbind('ajaxStop');
            
            $('body').on('focus', ".DateOperationClass:not([readonly])", function() {
                $(this).datepicker(
                {
                    dateFormat: 'dd.mm.yy',
                    defaultDate: new Date(),
                    changeYear: false
                });
                $('#ui-datepicker-div').addClass('ll-skin-latoja');
            });

            $('body').on('focus', "#supplierName", function() {
                $(this).autocomplete({
                    source: function(request, response) {
                        var term = request.term;
                        if (term in cache) {
                            response($.map(cache[term], function (v, i) {
                                return { value: v.Name, id: v.Id, address: v.Address, phone: v.Phone };
                            }));
                            return;
                        }

                        $.ajax({
                            type: "POST",
                            url: "/Settlements/GetSupplierByName",
                            dataType: "json",
                            data: {
                                supplierName: request.term
                            },

                            success: function(data) {
                                cache[term] = data;
                                response($.map(data, function(v, i) {
                                    return { value: v.Name, id: v.Id, address: v.Address, phone: v.Phone };
                                }));
                            }
                        });
                    },
                    minLength: 0,
                    delay: 800,

                    select: function(event, ui) {

                        $('#supplierId').val(ui.item.id);
                        $('input[name="Container\.SupplierId"]').val(ui.item.id);
                        $('#supplierName').val(ui.item.value);
                        $('#supplierAddress').val(ui.item.address);
                        $('#supplierPhone').val(ui.item.phone);
                        $('#createBtn').text('Update');
                        if (typeof supplierChange != "undefined") {
                            supplierChange(ui.item.id);
                        }

                    }

                })
                    .focus(function() {
                        $(this).autocomplete('search', $(this).val());
                    });
            });

            $('body').on('focus', "#supplierName", function() {
                $(this).keyup(function() {
                    if ($(this).val().length === 0) {
                        $('#supplierId').val("");
                        $('#supplierAddress').val("");
                        $('#supplierPhone').val("");
                        //$('#invoiceDate').val("");
                        $('#invoiceNumber').val("");
                        clearInvoiceData($('#invoiceNumber'));
                        $('#createBtn').text('Create');
                        invoiceCache = {};

                        if (typeof supplierChange != "undefined") {
                            supplierChange(null);
                        }
                    }
                });
            });

            $('body').on('focus', "#invoiceNumber", function() {

                if ($('#supplierId').val() == "" || $('#supplierId').val() == 0) {
                    $("#amount_error").show();
                } else {
                    $("#amount_error").hide();
                }
                $(this).autocomplete({
                    source: function(request, response) {
                        var term = request.term;
                        if (term in invoiceCache) {
                            response($.map(invoiceCache[term], function(v, i) {
                                return { value: v.Number, amount: v.Amount, date: v.Date, id: v.Id }
                            }));
                            return;
                        }
                        $.ajax({
                            type: "POST",
                            url: "/Settlements/GetSupplierInvoices",
                            dataType: "json",
                            data: {
                                supplierId: $('#supplierId').val(),
                                year: currentYear
                            },
                            success: function(data) {
                                invoiceCache[term] = data;
                                response($.map(data, function(v, i) {
                                    return { value: v.Number, amount: v.Amount, date: v.Date, id: v.Id }
                                }));
                            }
                        });
                    },
                    minLength: 0,
                    delay: 400,

                    select: function(event, ui) {
                        $.ajax({
                            type: "GET",
                            url: "/Settlements/GetSupplierReceiptContainer",
                            data: {
                                invoiceId: ui.item.id,
                                supplierId: $('#supplierId').val()
                            },
                            success: function(data) {
                                $("#divReceiptPartial").replaceWith(data);
                                $("input[name='Container\.SupplierId']").val($("#supplierId").val());
                            },
                            error: function(msg) {
                                alertify.error('@Translations.Errors.Error');
                            }
                        });

                    }

                })
                    .focus(function() {
                        $(this).autocomplete('search', $(this).val());
                        //TODO make a call
                    });
            });

            $('body').on('focus', "#invoiceNumber", function() {
                $(this).keyup(function() {
                    clearInvoiceData(this);
                });
            });

            function clearInvoiceData(el) {
                if ($(el).val().length === 0) {
                        $('#invoiceDate').val("");
                        $('#invoiceNumber').val("");
                        $.get("/Settlements/GetSupplierReceiptContainer", { invoiceId: -1, supplierId: 0 })
                            .done(function(data) {
                                $("#divReceiptPartial").replaceWith(data);
                            })
                            .fail(function() {alert("error");});
                    }
            }


            $("#yearSelector").click(function() {
                $('#years').toggle();
                return false;
            });
        });

        function setYear(yearToSet) {
            currentYear = yearToSet;
        }

        function CalculateRowDeduction(el) {
            
            var $row = $(el).parent().parent();
            var sum =  $row.find("#amount").val();
            var date = $row.find(".DateOperationClass").first();
            var checkNo = $row.find("#number");
            if (sum !== '' && date.val() !== '' && checkNo.val() !== '') {
                var invoiceAmount = $(el).parent().parent().find("#invoiceAmount");

                var deduction = invoiceAmount.val() - sum;
                var $rowDeductionElement = $(el).parent().parent().find("#deduction");
                $rowDeductionElement.val(deduction);
                
                if (deduction > 0) {
                    $rowDeductionElement.attr('style','');
                    addRow(deduction);
                    return;
                }
                if (deduction === 0)
                    $rowDeductionElement.css('background-color','#c9e2a8');

                if (deduction < 0)
                    $rowDeductionElement.css('background-color','red'); 
            }

        }

        function renderWaybillPartial(result) {
            $('#divWaybillPartial').html(result);
        }

        function addRow(deduction) {
            var $itemPattern = $(".add:last");
            var $newRow = $itemPattern.clone();
            var oldIndex = $itemPattern.data('index');
            $newRow.attr('data-index', ++oldIndex);
            $newRow.find("input").each(function() { $(this).attr('value','') });
            $newRow.find("#invoiceAmount").attr('name', '');
            $newRow.find("#invoiceAmount").attr('value', deduction);
            $newRow.find("#amount").attr('name', 'Container.Receipts[' + oldIndex + '].Amount').val("");
            $newRow.find(".DateOperationClass").attr('name', 'Container.Receipts[' + oldIndex + '].Date').val("");
            $newRow.find(".DateOperationClass").attr('id', '');
            $newRow.find(".DateOperationClass").removeClass('hasDatepicker');
            $newRow.find("#number").attr('name', 'Container.Receipts[' + oldIndex + '].Number').val("");
            $newRow.find("#Id").attr('name', 'Container.Receipts[' + oldIndex + '].Id').val("-1");

            $("#receiptsTable").append($newRow[0].outerHTML);
           
        }


        function CountWaybillAmount() {
            var priceList = $("input[name*='Amount']");
            var totalPrice = 0;

            for (i = 0; i < priceList.length; i++) {
                totalPrice += parseFloat($(priceList[i]).val());
            }

            if (isNaN(totalPrice)) {
                return;
            }

            waybillTotal = totalPrice;
            validateTotal();
        }

        function SetSupplierId() {
            var supplierId = $("#supplierId").val();
            $("input[name='Container.SupplierId']").val(supplierId);
        }
    </script>
}