﻿@model Gizbarit.DAL.Models.Settlements.SettlementsWaybillWrapper

@{
    ViewBag.Title = @Translations.Menu.Clients_WaybillSummary + " | Gizbarit";
    int lineCounter = 1;
    int currentYear = @ViewBag.Year;
    int clientId = @ViewBag.SelectedClientId;
    int year = DateTime.Now.Year;
}

@section Css{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/documents.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/bank.css")" media="screen" />
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#yearSelector").click(function () {
                $('#years').toggle();
                return false;
            });
            $("#clientSelector").click(function () {
                $('#clients').toggle();
                return false;
            });
        });
    </script>
}
<div class="left1">
    <div class="tag">
        <img src="@Url.Content("~/Css/images/tag.png")" align="top">
        <span>@Translations.Menu.Clients_WaybillSummary</span>
    </div>
    <div class="parent1">
        <div class="inline">
            @Translations.General.Year
        </div>
        <div class="inline white buttoninline" id="yearSelector">
            <span>
                <strong>
                    @currentYear
                </strong>
            </span>
            <div class="dropdowninline" id="years">
                <a href="@Url.Action("Waybills", new {ClientId = clientId, year = year + 1})" class="btnSelectBank" onclick="goToUrl(this.href)"><strong>@(year + 1)</strong></a>
                @for (int i = 0; i < 5; i++)
            {
                    <a href="@Url.Action("Waybills", new {ClientId = clientId, year = year - i})" class="btnSelectBank" onclick="goToUrl(this.href)"><strong>@(year - i)</strong></a>
                }
            </div>
        </div>

        <div class="inline white buttoninline" id="clientSelector" style="width: 200px">
            <span>
                <strong>
                    @(clientId != 0 ? Model.Clients.First(c => c.Id == clientId).Name : @Translations.General.Choose)
                </strong>
            </span>
            <div class="dropdowninline" id="clients" style="width: 200px">
                @foreach (var client in Model.Clients)
            {
                    <a href="@Url.Action("Waybills", new {year = currentYear, clientId = client.Id})" class="btnSelectBank" onclick="goToUrl(this.href)"><strong>@client.Name</strong></a>
                }
            </div>
        </div>
        <br /><br />
        <table class="table documents" style="padding-top: 15px;">
            <tr>
                <th>#</th>
                <th>@Translations.Settlements.WaybillNo</th>
                <th>@Translations.Settlements.WaybillDate</th>
                <th>@Translations.Documents.ClinetName</th>
                <th>@Translations.Settlements.WaybillNo</th>
                <th>@Translations.Settlements.PreliminaryInvoiceNumber</th>
                <th>@Translations.Settlements.PreliminaryInvoiceDate</th>
                <th>@Translations.Settlements.PreliminaryInvoiceAmount</th>
            </tr>

            @for (int i = 0; i < Model.Waybils.Count(); i++)
            {
                var item = Model.Waybils[i];

                <tr>
                    <td>@(lineCounter++)</td>
                    <td>@Html.ActionLink(item.Number.ToString(), "GetDocument", "Documents", new { id = item.WaybillId }, new { target = "_blank" })</td>
                    <td>@item.Date.ToString("dd'/'MM'/'yy")</td>
                    <td>@item.ClientName</td>
                    <td>@item.Amount</td>
                    <td>@Html.ActionLink(item.PreliminaryInvoiceNumber.ToString(), "GetDocument", "Documents", new { id = item.PreliminaryInvoiceId }, new { target = "_blank" })</td>
                    <td>@item.PreliminaryInvoiceDate.ToString("dd'/'MM'/'yy")</td>
                    <td>@item.TotalAmount</td>
                </tr>
            }
        </table>
    </div>
</div>
