﻿@{
    ViewBag.Title = @Translations.Menu.Suppliers_WaybillSummary + " | Gizbarit";
    int currentYear = ViewBag.Year;
    int  year = DateTime.Now.Year;
}

@section Css{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/documents.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/bank.css")" media="screen" />
}


<div class="left1">
    <div class="tag">
        <img src="@Url.Content("~/Css/images/tag.png")" align="top">
        <span>@Translations.Menu.Suppliers_WaybillSummary</span>
    </div>
    <div class="parent1">
        <div class="inline">
            @Translations.General.Year
        </div>
        <div class="inline white buttoninline" id="yearSelector">
            <span>
                <strong>
                    @currentYear
                </strong>
            </span>
            <div class="dropdowninline" id="years">
                <a href="@Url.Action("WaybillsSummary", new {year = year + 1})" class="btnSelectBank" onclick="goToUrl(this.href)"><strong>@(year + 1)</strong></a>
                @for (int i = 0; i < 5; i++)
                {
                    <a href="@Url.Action("WaybillsSummary", new {year = year - i})" onclick="goToUrl(this.href)">
                        <strong>@(year - i)</strong>
                    </a>
                }
            </div>
        </div>
    </div>
    <br/><br/>
    @using (Ajax.BeginForm("EditSupplier", new AjaxOptions { UpdateTargetId = "supplierInfo", OnSuccess = "$('#createBtn').text('"+ @Translations.Buttons.Update+"');" }))
    {
        <div id="supplierInfo">
            <input id="supplierId" name="Supplier.Id" hidden="hidden" value="0"/>
            <input id="supplierName" name="Supplier.Name" class="blueboxeswidthitalics" type="text" placeholder="@Translations.Settlements.EnterName" value=""><br>
            <input id="supplierAddress" name="Supplier.Address" class="blueboxeswidthitalics" type="text" placeholder="@Translations.Settlements.SupplierAddress" value=""><br>
            <input dir="ltr" id="supplierPhone" name="Supplier.Phone" class="blueboxeswidthitalics" type="text" placeholder="@Translations.Settlements.SupplierPhone" value=""><br>
        </div>
        <div style="width: 150px;">
            <button type="submit" id="createBtn" style="border: none;cursor: pointer" class="btn green">@Translations.Buttons.Add</button>
            <select class="blueboxeswidthhalf" id="monthSelector" style="height: 28px; width: 200px; background-color: #c7daf2; font-size: 14px;" onchange="setMonth()">
                <option value="-1">@Translations.Buttons.SelectMonth</option>
                <option value="1">@Translations.General.January</option>
                <option value="2">@Translations.General.February</option>
                <option value="3">@Translations.General.March</option>
                <option value="4">@Translations.General.April</option>
                <option value="5">@Translations.General.May</option>
                <option value="6">@Translations.General.June</option>
                <option value="7">@Translations.General.July</option>
                <option value="8">@Translations.General.August</option>
                <option value="9">@Translations.General.September</option>
                <option value="10">@Translations.General.October</option>
                <option value="11">@Translations.General.November</option>
                <option value="12">@Translations.General.December</option>
            </select>

        </div><br />
       
     }

    
    <div id="divWaybillPartial"></div>
</div>



@section Scripts
{
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    <script>
        var year = @ViewBag.Year;
        var month = -1;
        var indexForWaybillItems = 0;
        var waybillTotal = 0;
        var cache = {}, lastXhr;

        $(document).ready(function (e) {
            $(document).unbind('ajaxStart');
            $(document).unbind('ajaxStop');
            $('body').on('focus', ".DateOperationClass", function () {
                $(this).datepicker(
                    {
                        dateFormat: 'dd.mm.yy',
                        defaultDate: new Date(year, month-1, 1),
                        changeMonth: false,
                        changeYear: false,
                        stepMonths: 0
                    });
                $('#ui-datepicker-div').addClass('ll-skin-latoja');
            });

            $('body').on('focus', "#supplierName", function () {
                $(this).autocomplete({
                    source: function (request, response) {
                        var term = request.term;
                        if (term in cache) {
                            response($.map(cache[term], function (v, i) {
                                return { value: v.Name, id: v.Id, address: v.Address, phone: v.Phone };
                            }));
                            return;
                        }

                        $.ajax({
                            type: "POST",
                            url: "/Settlements/GetSupplierByName",
                            dataType: "json",
                            data: {
                                supplierName: request.term
                            },

                            success: function (data) {
                                cache[term] = data;
                                response($.map(data, function (v, i) {
                                    return { value: v.Name, id: v.Id, address: v.Address, phone: v.Phone };
                                }));
                            }
                        });
                    },
                    minLength: 0,
                    delay: 800,

                    select: function (event, ui) {

                        $('#supplierId').val(ui.item.id);
                        $('#supplierName').val(ui.item.value);
                        $('#supplierAddress').val(ui.item.address);
                        $('#supplierPhone').val(ui.item.phone);
                        $('#createBtn').text('@Translations.Buttons.Update');
                        if (typeof supplierChange != "undefined") {
                            supplierChange(ui.item.id);
                        }

                    }

                })
                .focus(function () {
                    $(this).autocomplete('search', $(this).val());
                });
            });

            $('body').on('focus', "#supplierName", function() {
                $(this).keyup(function () {
                        if ($(this).val().length === 0) {
                            $('#supplierId').val("0");
                            $('#supplierAddress').val("");
                            $('#supplierPhone').val("");
                            $('#monthSelector').val("-1");
                            $('#createBtn').text('@Translations.Buttons.Add');
                            if (typeof supplierChange != "undefined") {
                                supplierChange(null);
                            }
                        }
                    });
            });


            $("#yearSelector").click(function () {
                $('#years').toggle();
                return false;
            });
        });

        function setYear(yearToSet) {
            year = yearToSet;
            $(this).val(yearToSet);
        }

        function setMonth() {
            month = $("#monthSelector option:selected").val();
            if (month !== -1 && $('#supplierId').val() != 0) {
                supplierChange($('#supplierId').val());
            }
        }


        function supplierChange(supplierId) {
            if (supplierId != null && month !== -1) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetWaybillBySupplierId", "Settlements")",
                    traditional: true,

                    data: { id: supplierId, year: year, month: month },
                    error: function (result) {
                         alertify.error('@Translations.Errors.FetchDocumentError');
                    },
                    success: function (result) {
                        renderWaybillPartial(result);
                    }
                });
            } else {
                renderWaybillPartial("");
            }
        }

        function renderWaybillPartial(result) {
            $('#divWaybillPartial').html(result);
        }

        function addWaybillRow(btn) {
            var $itemPattern = $(".add:last");
            if ($itemPattern.find("#deleteRow").length === 0) {
                $itemPattern.find("#Button").prepend("<img src=\"/Css/images/delete.png\" class=\"cursor\" id=\"deleteRow\" height=\"20\" name=\"delete\" onclick=\"deleteWaybillRow(this)\">");
            }
            var $newRow = $itemPattern.clone();
            var oldIndex = $itemPattern.data('index');
            $newRow.attr('data-index', ++oldIndex);

            $newRow.find("#Id").attr('name', 'Container.Waybills[' + oldIndex + '].Id').val("-1");
            $newRow.find("#SupplyDescription").attr('name', 'Container.Waybills[' + oldIndex + '].SupplyDescription').attr("value", "");
            $newRow.find("#Number").attr('name', 'Container.Waybills[' + oldIndex + '].Number').attr("value", "");
            $newRow.find(".DateOperationClass").attr('name', 'Container.Waybills[' + oldIndex + '].Date').attr("value", "");
            $newRow.find(".DateOperationClass").attr('id', '');
            $newRow.find(".DateOperationClass").removeClass('hasDatepicker');
            $newRow.find("#Amount").attr('name', 'Container.Waybills[' + oldIndex + '].Amount').attr("value", "");
            $newRow.find("#IsActive").attr('name', 'Container.Waybills[' + oldIndex + '].IsActive').attr("value", "1");

            $("#waybillsTable").append($newRow[0].outerHTML);
            $(btn).replaceWith("");
        }

        function deleteWaybillRow(row) {
            var currentRow = $(row).parent().parent().parent();

            currentRow.attr('data-hidden', true);
            currentRow.hide();
            currentRow.find("#InUse").val("0");
            currentRow.find("#Amount").val("");

            var visibleRowCount = $(".add:not([data-hidden='true'])").length;
            var $lastRow = $(".add:not([data-hidden='true']").last();
            $lastRow.find("#deleteRow").remove();
            if ($lastRow.find("#addnew").length === 0) {
                console.log("here11");
                $lastRow.find("#Button").append('<input class="blueboxesfullwidth" id="addnew" onclick="addWaybillRow(this);" style="background-color: #8dc63f; border-radius: 5px; cursor: pointer;" type="button" value="+">');
            }
            if (visibleRowCount !== 1) {
                $lastRow.find("#Button").prepend("<img src=\"/Css/images/delete.png\" class=\"cursor\" id=\"deleteRow\" height=\"20\" name=\"delete\" onclick=\"deleteWaybillRow(this)\">");
            }
            currentRow.remove();
            CountWaybillAmount();
            validateTotal();

        }

        function CountWaybillAmount() {
            var priceList = $("input[name*='Amount']");
            var totalPrice = 0;

            for (i = 0; i < priceList.length; i++) {
                totalPrice += parseFloat($(priceList[i]).val());
            }

            if (isNaN(totalPrice)) {
                return;
            }

            waybillTotal = totalPrice;
        }

        function validateTotal() {
            var total = $("[name='Container\.Invoice\.Total']").val();
            CountWaybillAmount();
            if (total != 0 && total != waybillTotal) {
                $("#amount_error").show();
            } else {
                $("#amount_error").hide();
            }
        }
    </script>
}
