﻿@using Gizbarit.DAL.Entities.Content
@using Microsoft.Ajax.Utilities
@model Gizbarit.DAL.Entities.Content.ContentNode

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    var languageList = new List<SelectListItem>(){
            new SelectListItem() { Text = "Hebrew", Value = "he" },
            new SelectListItem() { Text = "Russian", Value = "ru" },
            new SelectListItem() { Text = "English", Value = "en" },
        };

    var statusList = new List<SelectListItem>(){
        new SelectListItem() { Text = ContentNodeStatus.Active.ToString(), Value = ContentNodeStatus.Active.ToString() },
        new SelectListItem() { Text = ContentNodeStatus.Disabled.ToString(), Value = ContentNodeStatus.Disabled.ToString() },
    };
}

<div>
    <div style="float: right">
        @Html.ActionLink("Create child item", "Create", new { parentId = Model.ID })
        &nbsp;|&nbsp;
        @Html.ActionLink("Back to List", "Index")
    </div>
    <h2>
        Edit content
    </h2>
</div>
<hr />
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab">Properties</a></li>
    <li role="presentation"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Contents</a></li>
    <li role="presentation"><a href="#childs" aria-controls="childs" role="tab" data-toggle="tab">Childs</a></li>
</ul>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.ParentId)
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
    <div class="tab-content" style="margin-top: 20px;">
        <div role="tabpanel" class="tab-pane active" id="properties">
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CultureCode, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.CultureCode, languageList, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.Status, statusList, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Index, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Index, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Index, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Url, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="content">
            <div class="form-group">
@*                @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-offset-2 col-md-8">
                    @Html.TextAreaFor(model => model.Content, new { @class = "form-control html-editor" })
                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="childs">
            @if (Model.Childs != null && Model.Childs.Any())
            {
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-8">
                        <ol>
                            @foreach (var item in Model.Childs)
                            {
                                <li>
                                    @Html.ActionLink(string.Format("{0}-{1}", item.Title ?? item.Name, item.CultureCode), "Edit", new { id = item.ID })
                                </li>
                            }
                        </ol>
                    </div>
                </div>
            }
        </div>
        
        <div class="form-group" style="margin-top: 20px;">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
                <input type="submit" value="Save" class="btn btn-default btn-primary"/>
            </div>
        </div>
    </div>
}


<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirm delete page</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-4">Title</div>
                    <div class="col-xs-8">@Model.Title</div>
                </div>
                <div class="row">
                    <div class="col-xs-4">Url</div>
                    <div class="col-xs-8">@Model.Url</div>
                </div>
                <div class="row">
                    <div class="col-xs-4">Description</div>
                    <div class="col-xs-8">@Model.Description</div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="/Admin/ContentNode/Delete/@Model.ID" class="btn btn-primary btn-danger">Confirm delete</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('.html-editor').summernote({
                height: "300px",
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['fontname', ['fontname']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', ['fullscreen', 'codeview', 'help']],
                    ['direction', ['ltr', 'rtl']]
                ]
            });
        });
    </script>
}
