﻿@model IEnumerable<Gizbarit.DAL.Entities.Content.ContentNode>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <div style="float: right">
        @Html.ActionLink("Create New", "Create")
    </div>
    <h2>Index</h2>
</div>
<table class="table table-stripped data-table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CultureCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>Childs</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CultureCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                @Html.ActionLink(string.Format("{0} Childs", item.Childs.Count), "Index", new { id = item.ID })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
            </td>
        </tr>
    }

</table>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $("table.table").DataTable({
                "paging": true,
                "order": [[0, "desc"]]
            });
        });
    </script>
}

