﻿@model Gizbarit.DAL.Models.CustomerPayment.CustomerPaymentViewModel
@{
    ViewBag.Title = "Create";
    ViewBag.IsExport = true;
}

@section Css {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/documents.css")" media="screen" />
    <link href="@Url.Content("~/Css/Shared/bank.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Css/Print/print.min.css")" rel="stylesheet" />
}
@section Scripts{
    <script src="@Url.Content("~/Scripts/autoresize/autoresize.js")"></script>
    <script src="@Url.Content("~/Scripts/Print/print.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Shared/documents.js")"></script>

    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    <script type="text/javascript">

        function clientChange(clientId) {
            if (clientId != null) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetLinkedPriceOffers", "Documents")",
                    traditional: true,
                    global: false,
                    data: { clientId: clientId },
                    error: function(result) {
                        alertify.error('@Translations.Errors.FetchDocumentError');
                    },
                    success: function(result) {

                        renderDealOffersPartial(result);
                        $.ajax(
                        {
                            url: '@Url.Action("GetPaymentDocuments", "CustomerPayment")',
                            data: { clientId: clientId },
                            success: function(data) {

                                if (data != null && data.list != null) {
                                    for (var item in data.list) {
                                        $('#documentSelection').append('<option value="' + item + '">' + data.list[item] + '</option>');
                                    }
                                }
                            }

                        });
                    }
                });
            } else {
                renderDealOffersPartial("");
            }
        }

        $('#documentSelection').change(function(element) {
            $.ajax(
            {
                url: '@Url.Action("GetDocument", "CustomerPayment")',
                data: { documentId: this.value },
                success: function(data) {
                    if (data.result != undefined) {

                        $('#BaseDocument_TotalPrice').val(data.result[0]);
                        $('#BaseDocument_Currency').val(data.result[1]);
                        var element = document.getElementById('documentSelection');
                        var elValue = element.options[element.selectedIndex].value;

                        $('#BaseDocument_Id').val(elValue);


                    }
                }
            });
        });

        function renderDealOffersPartial(result) {
            $('#divDealOffersPartial').html(result);
        };

        function checkValidationForm() {
            var sumToPayment = parseFloat(document.getElementById("BaseDocument_TotalPrice").value);
            var paymentSum = parseFloat(document.getElementById("PaymentSum").value);

            if (paymentSum > sumToPayment) {
                alertify.error("The  payment amount can't be more than the balance for payment in this document");
                $('#PaymentSum').addClass('border-error');
                return false;
            }
            return true;
            
        }
        $('body').addClass('export-body');
        $('.client-info-container').removeClass('client-info-container');
    </script>


}



@using (Html.BeginForm("Edit", "CustomerPayment", null, FormMethod.Post, new {onsubmit = "return checkValidationForm();"}))
{
    <input type="hidden" name="BaseDocument.Id" id="BaseDocument_Id" value="@Model.BaseDocument.Id">

 
    <br>
    <br>
    <br>
    <div class="col-md-9">
        @Html.Partial("~/Views/Documents/Shared/ClientInfo.cshtml", Model.BaseDocument)
    </div>
    @Html.HiddenFor(m => m.BaseDocument.Subject)
    <br>
    <br>
    <select name="@Model.BaseDocument.Id" id="documentSelection" class="blueboxeswidthitalics not-cyrillic"   >
        <option value="">Select document number</option>
    </select>
    
        <div class="col-md-9">
            @Html.EditorFor(m => m.BaseDocument.Currency, new {htmlAttributes = new { @class= "blueboxeswidthitalics not-cyrillic", placeholder="Currency", @readonly="readonly"}})
        </div>


    <div class="col-md-9">
        <input type="text" name="BaseDocument.TotalPrice" id="BaseDocument_TotalPrice" class="blueboxeswidthitalics not-cyrillic" placeholder="Sum to Payment" readonly="readonly">
    </div>

    <div class="col-md-9">
        <input type="text" class="blueboxeswidthitalics not-cyrillic" name="PaymentSum" id="PaymentSum" placeholder="Payment Sum">
     
    </div>

    <div class="form-group">
        <input id="PaymentDay" name="PaymentDay" class="blueboxeswidthitalics DateOperationClass" type="text" value="@Model.PaymentDay.ToString("dd.MM.yyyy")">
    </div>

    @Html.ValidationSummary()

    <button type="submit" class="buttons">
        <img src="@Url.Content("~/Css/images/stack.png")" height="33"><br><strong>@Translations.Buttons.Save</strong>
    </button>

}



@if (ViewBag.WasSend != null && ViewBag.WasSend == true)
 {
  @Html.Partial("~/Views/Documents/Shared/OperationSuccess.cshtml")

}

