﻿.adv-info {
    width: 98%;
    float: left;
    height: 180px;
    background: white;
    margin: 10px 0 5px 10px;
    
}
.adv-item-outer {
    
    display: inline-block;
	float: left;
	padding-left: 3%;
	padding-right: 5px;
    height: inherit;
	/*width: 33.33%;
	box-sizing: border-box;*/
}

.info-two-columns {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
   float: left;
    margin-top: 5%;
    
}



.adv-info-column {
    font-size: 12px;
    text-align: left;

    float: left; 
    width: 50%; 
    margin-left: 0;
    padding-left: 3px;

}

.adv-info-column p {
    overflow: hidden;
    text-overflow: ellipsis;

}

.pictogram {
    float: left;
    display: inline-block;
    margin-right: 2px;

}

.read-more-button {
    border: none;
    outline: none;
    background: white;
    color: lightskyblue;
    text-decoration: underline;
    float: left;
}

.read-more-button:hover {
    cursor: pointer;
}

.all-adv-text {
    width: 100%;
    height: auto;
    display: inline-block;
    float: left;
    padding: 4% 3% 4% 3%;
    border-top: 1px solid lightgray;
    text-align: left
}

.all-adv-text p {
    padding-bottom: 5%;
}

.adv-item-outer p {
    max-height: 60%;
    overflow: hidden;
    height: inherit;
}