﻿  .google-advertise {
        height: 140px;
        background: white;
        margin: 10px;
    }

    .choose-language {
        margin: 10px;
        margin-top: 3%;
        background-color: #cad9ec;
        height: 40px;
    }

    .choose-language select {
        float: left;
        width: 25%;
        direction: ltr;
        padding: 4px;
        border-radius: 5px;
        outline: none;
        border: none;
    }


    .green-div {
        height: 30px;
        width: 40%;
        background: #8dc63f;
        color: white;
        display: inline-block;
        padding: 3px 0;
        border-radius: 5px;
        float: right;
        
    }

        .green-div span, .blue-div-adv span {
            margin: 0;
            padding: 0;
            vertical-align: middle;
            direction: ltr;
   
        }

    .blue-div-adv {
        height: 30px;
        width: 60%;
        padding: 3px 0;
        background: #639fe7;
        color: white;
        border-radius: 5px;
        float: left;
        margin: 20px 0;
    }

    .main-advert {
        background: white;
        margin: 10px;
        margin-left: 15px;
        height: auto;
        width: 98%;
        display: inline-block;
    }

    .text-area-advert {
        width: 100%;
        height: 120px;
        margin: 0px;
        float: left;
    }

        .text-area-advert textarea {
            width: inherit;
            min-height: 100%;
            margin-top: 5%;
            direction: ltr;
            outline: none;
            border: 1px solid lightgray;
            border-radius: 5px;
            padding: 10px;
        }

    .addition-information {
        width: 63%;
        height: 40%;
        position: relative;
       /* display: inline-block;*/
        float: left;
        margin-bottom: 5%;
        margin-top: 3%;
    }

        .addition-information [type="text"],#title {
            width: 100%;
            border-radius: 3px;
            border: 1px solid lightgray;
            margin-left: 2px;
            padding: 5px;
            outline: none;
        }

    .uploadAvatar {
        border: none;
        margin-left: 20%;
        margin-top: 5%;
    }
    #search-input {
        width: 100%;
        border-radius: 3px;
        border: 1px solid lightgray;
        margin-left: 2px;
        padding: 5px;
        outline: none;
        background-image: url("/Css/images/search.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 4px;
    }

    .ajax-languages a {
        color: white;
    }


    
   