﻿
@{
    Layout = null;
}

@{
    var title = ViewBag.Title ?? "managment";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Gizbarit admin - @title</title>

    @Styles.Render("~/bundles/admin-ltr")
    <style type="text/css">
        body {
            padding-top: 70px;
            padding-bottom: 30px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-offset-4 col-xs-4">
            @{
                Html.RenderPartial("_LoginViewPartial");
            }
        </div>
    </div>
</div>
    @Scripts.Render("~/bundles/admin")
</body>
</html>
