﻿@{
    ViewBag.Title = Translations.Menu.ContactUs;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Gizbarit.DAL.Models.ContactModel

@section Css {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/documents.css")" media="screen" />
    <link href="@Url.Content("~/Css/Shared/bank.css")" rel="stylesheet" type="text/css">


}
<h2>@Translations.Menu.ContactUs</h2>
<br />
<center>
    <div class="login" style="height: 380px">
        <div class="floatcontainer vertical">
            <div id="loginForm">
                @using reCAPTCHA.MVC
                @using (Html.BeginForm("Contact", "Home"))
                {
                    
                    @Html.TextBoxFor(m => m.Email, new {placeholder = @Translations.Register.BusinessEmail, id = "txtMail", style = "float: left; width: 45%"})
                    @Html.TextBoxFor(m => m.Name, new {placeholder = @Translations.Register.Name, id = "txtMail", style = "float: right; width: 45%"})
                    <div class="spacer">
                    </div>
                    @Html.TextBoxFor(m => m.Phone, new { placeholder = @Translations.Register.Phone, style = "float: left; width: 45%" })
                    <div class="spacer">
                    </div>
                    @Html.TextAreaFor(m => m.Message, new {placeholder = @Translations.General.EnterMessage, id = "txtMail"})
                    <div class="spacer"></div>

                    @Html.Recaptcha()
                    <div class="spacer"></div>
                    <input name="loginsubmit" id="btnLogin" type="submit" value="@Translations.Buttons.Send">
                    <div id="validationSummary" style="font-size: 16px">
                        @Html.ValidationSummary()
                    </div>
                }
            </div>
        </div>
    </div>
</center>




