﻿@{
    ViewBag.Title = @Translations.General.RequestOk;
}

@{
    ViewBag.Title = "Registration was successful";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pageText = @Translations.Register.RegisterSuccess;
}

<br />
@Translations.General.RequestOk
<br />
<br /><br /><br /><br />

