﻿@model Gizbarit.DAL.Entities.Content.ContentNode

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Title</h1>
<div class="raw">
    @Html.Raw(Model.Content)
</div>

