﻿@model Gizbarit.DAL.Models.LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "תוכנה לניהול פיננסי לעסקים קטנים, תוכנה לניהול כספי תוכנה לניוהל עסק";

}
<div class="bubbles" dir="ltr">
    <p class="slogan">@Html.Raw(Translations.Index.Slogan6)</p>
    <p class="slogan"><img src="@Url.Content("~/Css/images/app_feature.png")"></p>
</div>
<div class="bubbles" dir="ltr">
    <p class="slogan">@Html.Raw(@Translations.Index.Slogan2)</p>
    <p class="slogan"><img src="@Url.Content("~/Css/images/invoice.png")"></p>
</div>
<div class="bubbles" dir="ltr">
    <p class="slogan">@Html.Raw(@Translations.Index.Slogan1)</p>
    <p class="slogan"><img src="@Url.Content("~/Css/images/collection.png")"></p>
</div>
<div class="topmargin">
</div>
<div class="bubbles" dir="ltr">
    <p class="slogan">@Html.Raw(@Translations.Index.Slogan4)</p>
    <p class="slogan"><img src="@Url.Content("~/Css/images/money.png")"></p>
</div>
<div class="bubbles" dir="ltr">
    <p class="slogan">@Html.Raw(@Translations.Index.Slogan5)<p>
    <p class="slogan"><img src="@Url.Content("~/Css/images/analysis.png")"></p>
</div>
<div class="bubbles" dir="ltr">
    <p class="slogan">@Html.Raw(@Translations.Index.Slogan3)</p>
    <p class="slogan"><img src="@Url.Content("~/Css/images/bank.png")"></p>
</div>
<div class="topmargin">
</div>

<div style="width: 90%; margin: auto; height: 100px; text-align: center">

    <a href="@Url.Action("Index", "Register")">
        <div class="join" style="float: left">@Translations.Index.Join</div>
    </a>
    <a href="@Url.Action("Gizbarit", "Home")">
        <div class="join" style="float: right">
            @Translations.Index.KnowMore
        </div>
    </a>

</div>

<div class="topmargin">
</div>
<div class="topmargin">
</div>
