﻿@{
    ViewBag.Title = "Terms Of Use";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Css{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Invoice/styleinvoice.css")" media="screen"/>
}

<div class="terms">
    @Html.Raw(Translations.Index.TermsOfUse)
</div>


