﻿@model Gizbarit.DAL.Entities.Content.ContentNode

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Title</h1>
<p>@Model.Description</p>

<div>
    <iframe width="640" height="510" src="@Model.Url" allowFullScreen></iframe>
</div>

@if (Model.Content != null)
{
    <div>
        @Html.Raw(Model.Content)
    </div>
}