﻿@model Gizbarit.DAL.Entities.Content.ContentNode

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var items = Model.Childs.OrderBy(x => x.Index).ToArray();
    var defaultVideo = items.FirstOrDefault();

    if(defaultVideo != null)
    {
        defaultVideo.Selected = true;
    }
}

<h2>@Model.Title</h2>
<p>@Model.Description</p>

<div>
    <ol>
        @foreach (var item in items)
        {
            var cssClass = item.Selected ? "selected" : string.Empty;
            <li class="@cssClass">
                @Html.ActionLink(item.Title, "Video",
                    new { id = item.ID },
                    new { @class = "link" })
            </li>
        }
    </ol>
</div>


@if (defaultVideo != null)
{
    <div>
        <iframe width="640" height="510" src="@defaultVideo.Url" allowFullScreen></iframe>
    </div>
}
