﻿@model List<Gizbarit.DAL.Models.Organisation.CatalogItemViewModel>

@{
    ViewBag.Title = @Translations.Catalog.Edit + " | Gizbarit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/invoice.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/fancybox/jquery.fancybox.css")" media="screen"/>
    @Styles.Render("~/Content/dropzonescss")
}

@section Scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/fancybox/jquery.fancybox.js")"></script>
    @Scripts.Render("~/bundles/dropzonescripts")
    <script>
        function deleteLine(el) {
            $(el).parent().parent().remove();
        }

        function showDropzone(rowId) {
            var dropzoneForm = $("#dropzoneForm");
            dropzoneForm.attr("data-catalogrowid", rowId);
        }

        $(document).ready(function($) {
            $.fn.tableExport.xlsx.buttonContent = '@Translations.Buttons.ExportToExcel';
            $("table").tableExport({
                formats: ["xlsx"],
                fileName: "catalog",
                ignoreCols: 4
            });

            $('body').on('focus', ".fancybox", function() {
                $(this).fancybox({});
            });

            $('#ok_button').click(function() {
                parent.$.fancybox.close();

            });

            $("table").tablesorter({
                headers: {
                    1: { sorter: false },
                    3: { sorter: false },
                    4: { sorter: false },
                    5: { sorter: false }
                }
            });

            $('#add_new').click(function () {
                var indexes = [];
                $("tbody tr").each(function () {
                    var $context = $(this);
                    indexes.push(+$context.attr("data-rowid"));
                });

                var index = getMaxOfArray(indexes);

                index++;
                $("table").append('<tr data-rowid="' + index + '"><input name=\"[' + index + '].ID\" type=\"hidden\" value=\"-1\"><td>' +
                    '<input type="hidden" id="Index" name="Index" value="'+index+'" />' +
                    '<input name=\"[' + index + '].Name\" style=\"width:100%; text-align: center;\" type=\"text\" class=\"not-cyrillic\" value=\""><\/td><td><a class="fancybox" href="#inline1" onclick="showDropzone(' + index + ')"><img id="ci' + index + '" class="catalog-image" src="/Content/Catalog/plus_ic.png"></a><input id="ip' + index + '" name="[' + index + '].ImagePath" type="hidden" value="plus_ic.png"></td><td><input name=\"[' + index + '].Code\" style=\"text-align: center;\" type=\"text\" value=\"\"><\/td><td><input name=\"[' + index + '].Price\" style=\"text-align: center;\" type=\"text\" value=\"\"><\/td><td><input name=\"[' + index + '].Active\" type=\"checkbox\" value=\"true\"><input name=\"[' + index + '].Active\" type=\"hidden\" value=\"false\"><\/td><td><img src=\"/Css/images/delete.png\" class="cursor" height="20" onclick="deleteLine(this)"><\/td><\/tr>');
            });
        });

        Dropzone.options.dropzoneForm = {
            maxFiles: 1,
            acceptedFiles: 'image/*',
            init: function() {
                this.on("success", function(file, response) {
                    var path = response.Path;
                    var dropzoneForm = $("#dropzoneForm");
                    var catalogRowId = dropzoneForm.attr("data-catalogrowid");
                    var $catalogItemImagePathInput = $("#ip" + catalogRowId);
                    $catalogItemImagePathInput.val(path);
                    $("#ci" + catalogRowId).attr("src", "/Content/Catalog/" + path);
                    this.removeAllFiles();
                    $.fancybox.close();

                });
                this.on("maxfilesexceeded", function(file) { this.removeFile(file); });
            }
        };

    </script>

}


<div class="left1">
    <div class="tag"><img src="@Url.Content("~/Css/images/tag.png")" align="top"><img src="@Url.Content("~/Css/images/wrench.png")" width="25px" align="absmiddle">@Translations.Catalog.Edit</div>
    <div class="oneform">
        <div class="lightgreen_button" id="add_new" onclick=""><img class="plus" src="@Url.Content("~/Css/images/plusik.png")">@Translations.Buttons.Add</div>
    </div>

    <br>
    <div class="clearfix"></div>
    <br>
    @using (Html.BeginForm("Index", "Catalog", FormMethod.Post, new {  id = "catalogForm" }))
    {
    <table class="table documents tablesorter">
        <thead>
            <tr>
                <th style="width: 55%">@Translations.Catalog.Name</th>
                <th style="width: 10%">@Translations.Documents.Image</th>
                <th style="width: 5%">@Translations.Catalog.Code</th>
                <th style="width: 5%">@Translations.Catalog.Price</th>
                <th style="width: 5%">@Translations.Catalog.Active</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr data-rowid="@i">
                    @Html.Hidden("[" + @i + "].ID", Model[i].ID)
                    <input type="hidden" id="Index" name="Index" value="@i" />

                    <td><span style="display: none">@Model[i].Name</span>@Html.TextBox("[" + @i + "].Name", Model[i].Name, new { style = "width:100%; text-align: center;", @class = "not-cyrillic" })</td>
                    <td><a class="fancybox" href="#inline1" onclick="showDropzone(@i)"><img id="@("ci"+i)" class="catalog-image" src="/Content/Catalog/@Model[i].ImagePath" /></a>@Html.Hidden("[" + @i + "].ImagePath", Model[i].ImagePath, new { id = "ip" + i })</td>
                    <td><span style="display: none">@Model[i].Code</span>@Html.TextBox("[" + @i + "].Code", Model[i].Code, new { style = "text-align: center;" })</td>
                    <td><span style="display: none">@Model[i].Price</span>@Html.TextBox("[" + @i + "].Price", Model[i].Price, new { style = "text-align: center;" })</td>
                    <td><span style="display: none">@Model[i].Active</span>@Html.CheckBox("[" + @i + "].Active", Model[i].Active)</td>
                    <td>
                        <a title="@Translations.Buttons.Delete" href="@Url.Action("Delete", "Catalog", new {itemId = Model[@i].ID})">
                            <img src="@Url.Content("~/Css/images/delete.png")" class="cursor" height="20" />
                        </a>
                    </td>
                </tr>
            }
        </tbody>
      
           
       @Html.ValidationSummary()
    </table>
        }
    <br>
    <br>


</div>

<button type="submit" class="buttons2" onclick="$('#catalogForm').submit()">
    <img src="/Css/images/stack.png"><br/>@Translations.Buttons.Save
</button>

<div id="inline1">
    <h3>@Translations.Catalog.AddItemImage</h3>
    <div class="content_block">
        <div style="clear: both; display: block; height: 35px; margin-bottom: 10px;">
            <label>@Translations.Register.ImageFileDescription</label>
        </div>
        <div class="popupblocks">
            @using (Html.BeginForm("UploadImage", "Catalog", FormMethod.Post, new { @class = "dropzone dz-clickable", id = "dropzoneForm", style = "height: 140px;padding: 10px;", data_catalogrowid = "" }))
            {
                <div class="dz-message needsclick">
                    @Translations.Catalog.DragFile<br>
                </div>
            }
        </div>
        <div class="popup_buttons">
            <a href="#" class="blue_button" id="ok_button">@Translations.Buttons.Close</a>
        </div>
    </div>
</div>


