﻿@using Gizbarit.DAL.Common
@model IEnumerable<Gizbarit.DAL.Entities.Documents.Document>
@{
    var docs = @Model.ToArray();
    var lastNumber = docs.IsNotEmpty() ? docs.Max(x => x.Number) : 0;
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-stripped data-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Number)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Total)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>

                    <th></th>
                </tr>
            </thead>
            @foreach (var item in docs)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>

                    <td>
                        @Html.ActionLink(AdminResources.General.Edit, "Edit", new { Controller = "Document", Area = "Admin", id = item.ID })
                    </td>
                </tr>
            }
            
            <tbody></tbody>
        </table>
    </div>
</div>