﻿@using Gizbarit.DAL.Entities.Documents
@model Gizbarit.DAL.Entities.Documents.Document
@{
    var statusList = Enum.GetNames(typeof(DocumentStatusType)).Select(x => new SelectListItem()
    {
        Value = x,
        Text = x
    }).ToArray();
}

<h2>@Model.Organization.UniqueID - @Model.Organization.Name</h2>

<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Client.UniqueId, "Client Number", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Client.UniqueId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Client.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Client.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.Status, statusList, new { @class = "form-control" })
            </div>
        </div>

   
        <div class="form-group">
            <div class="col-md-8">
                <div class="pull-right">
@*                    <button type="button" class="btn btn-default btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button> *@
                    <input type="submit" value="Save" class="btn btn-default btn-primary"/>
                </div>
            </div>
        </div>
    </div>
}

<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirm delete document</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-4">Number</div>
                    <div class="col-xs-8">@Model.Number</div>
                </div>
                <div class="row">
                    <div class="col-xs-4">Organization</div>
                    <div class="col-xs-8">@Model.Client.UniqueId - @Model.Client.Name</div>
                </div>

                <div class="row">
                    <div class="col-xs-4">Status</div>
                    <div class="col-xs-8">@Model.Status.ToString()</div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="/Admin/Document/Delete/@Model.ID" class="btn btn-primary btn-danger">Confirm delete</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
