﻿
@model Gizbarit.Web.Areas.Admin.Models.OrganizationDocumentsViewModel

@{
    ViewBag.Title = @Model.Organization.Name;
}

<h2>@Model.Organization.UniqueID - @Model.Organization.Name</h2>
<hr />

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#invocies" aria-controls="invocies" role="tab" data-toggle="tab">Invocies</a></li>
    <li role="presentation"><a href="#reciepts" aria-controls="reciepts" role="tab" data-toggle="tab">Reciepts</a></li>
    <li role="presentation"><a href="#invocieReciepts" aria-controls="invocieReciepts" role="tab" data-toggle="tab">Invocie Reciepts</a></li>
    <li role="presentation"><a href="#doc-numbers" aria-controls="doc-numbers" role="tab" data-toggle="tab">Document Numbering</a></li>
</ul>

<div class="row">&nbsp;</div>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="invocies">
        @{
            Html.RenderPartial("_DocumentPartial", Model.Invocies);
        }
    </div>

    <div role="tabpanel" class="tab-pane" id="invocieReciepts">
        @{
            Html.RenderPartial("_DocumentPartial", Model.InvocieReciepts);
        }
    </div>

    <div role="tabpanel" class="tab-pane" id="reciepts">
        @{
            Html.RenderPartial("_DocumentPartial", Model.Reciepts);
        }
    </div>
    <div role="tabpanel" class="tab-pane" id="doc-numbers">
        @{
            Html.RenderPartial("_DocumentNumberingPartial", Model.DocumentNumbering);
        }
    </div>

</div>

@section Scripts
{
    <script type="text/javascript">
    $(function () {
        $("table.table").DataTable({
            "paging": true,
            "order": [[0, "desc"]]
        });
    });
    </script>

}
