﻿@model Gizbarit.DAL.Entities.Documents.Document

<div>
    <h4>Document</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExternalComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExternalComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InternalComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InternalComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalwithoutTax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalwithoutTax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalWithoutRounding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalWithoutRounding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrgUniqueIdentifier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrgUniqueIdentifier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConversionRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConversionRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxPercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxPercentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalTaxAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalTaxAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountBeforeTax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountBeforeTax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPaymentProcessed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPaymentProcessed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentDueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentDueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeneralClientId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeneralClientId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualCreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualCreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalCredit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCredit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsTaxIncluded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsTaxIncluded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRounded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsRounded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSmallBusiness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSmallBusiness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrencyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrencyId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
