﻿@model Gizbarit.DAL.Models.Report.TaxAuthorityReportViewModel

@{
    ViewBag.Title = @Translations.Menu.Documents_Combined;
}

<div class="left1">
    <div class="tag">
        <img src="/Css/images/tag.png" align="top">
        <span>@Translations.Menu.Documents_Combined</span>
    </div>
    <div id="reportform">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal clearfix" id="form">
                <div class="form-group">
                    @Html.LabelFor(model => model.FromDate, @Translations.General.FromDate, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ToDate, @Translations.General.ToDate, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group cmd-panel">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" value="Preview" class="btn">
                            <strong>@Translations.Buttons.Select</strong>
                        </button>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
        }

    </div>
</div>


@section Css
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/documents.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/report.css")" media="screen" />
}
@section Scripts
{
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Shared/report.js"></script>
}

