﻿@model Gizbarit.DAL.Models.Report.ReportViewModel

@{
    ViewBag.Title = @Translations.Menu.Documents_Report;
}

<div class="left1">
    <div class="tag">
        <img src="/Css/images/tag.png" align="top">
        <span>@Translations.Menu.Documents_Report</span>
    </div>
    <div id="reportform">
        @{
            Html.RenderPartial("Shared/_ReportFormPartial", Model);
        }
        
        
        @if (Model.IsSended)
        {
            <p>
               @Translations.Documents.SendSuccess
            </p>
        }
    </div>
</div>


@section Css
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/documents.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/report.css")" media="screen" />
}
@section Scripts
{
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Shared/report.js"></script>
}

