﻿@model Gizbarit.DAL.Models.Report.ReportViewModel

@{
    ViewBag.Title = @Translations.Menu.Documents_Report;
}

<div class="left1">
    <div class="tag">
        <img src="/Css/images/tag.png" align="top">
        <span>@Translations.Menu.Documents_Report</span>
    </div>
    @{
        Html.RenderPartial("Shared/_ReportFormPartial", Model);
    }
    <hr />
    <div id="tabs" class="clearfix">
        <ul id="tab-header">
            @if(Model.IsVatCharge)
            { 
            <li><a href="#invoices">@Translations.Documents.TaxInvoices (@Model.Invoices.Count)</a></li>
            <li><a href="#recipts">@Translations.Documents.Receipts (@Model.Recipts.Count)</a></li>
            <li><a href="#invoicerecipts">@Translations.Documents.InvoiceReceipts (@Model.InvoiceRecipts.Count)</a></li>
            }
            else
            {
                <li><a href="#invoicerecipts">@Translations.Documents.Receipts (@Model.InvoiceRecipts.Count)</a></li>
            }
        </ul>
        
        
        @if (Model.IsVatCharge)
        {
            <div id="invoices">
                @{
                    Html.RenderPartial("Shared/_InvoicesPartial", Model.Invoices);
                }
            </div>
            <div id="recipts">
                @{
                    Html.RenderPartial("Shared/_InvoicesPartial", Model.Recipts);
                }
            </div>
        }
        <div id="invoicerecipts">
            @{
                Html.RenderPartial("Shared/_InvoicesPartial", Model.InvoiceRecipts);
            }
        </div>
    </div>

</div>

@section Css
{
    <link href="~/Css/Shared/slimtable.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/documents.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/report.css")" media="screen" />

}
@section Scripts
{
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Shared/slimtable.min.js"></script>
    <script src="~/Scripts/Shared/report.js"></script>
}

