﻿@model Gizbarit.DAL.Models.Documents.ReceiptViewModel

@{
    ViewBag.Title = @Translations.Documents.Receipt + " | Gizbarit";
    var isEditAllowed = !Model.BaseDocument.IsCopy;
    ViewBag.IsExport = false;
}
@{
    if (Request.IsAjaxRequest())
    {
        Layout = "";
    }
}

@section Css {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/documents.css")" media="screen" />
    <link href="@Url.Content("~/Css/Shared/bank.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Css/Print/print.min.css")" rel="stylesheet" />
}
@section Scripts{
    <script src="@Url.Content("~/Scripts/autoresize/autoresize.js")"></script>
    <script src="@Url.Content("~/Scripts/Print/print.min.js")"></script>

    <script>
        $(document).ready(function() {
            if ($("#isReadonly").val() === "1") {
                $("input,textarea,select").not('.popupbut').attr('disabled', true);
            }

            $(".PaymentTypeSelector").each(function(index, value) {
                PaymentItemSelect(value, false);
            });
        });

        function clientChange(clientId) {
            if ($("#isReadonly").val() === "1")
                return;
            if (clientId != null) {
                $.ajax({
                    type: "POST",
                    global: false,
                    url: "@Url.Action("GetLinkedDocumentsForReceipt", "Documents")",
                    data: { ClientId: clientId },
                    error: function(result) {
                        alertify.error('@Translations.Errors.FetchDocumentError');
                    },
                    success: function(result) {
                        renderInvoicePartial(result);
                    }
                });
            } else {
                renderInvoicePartial("");
            }
        }

        function renderInvoicePartial(result) {
            $('#divInvoicePartial').html(result);
        }

        function PaymentItemSelect(payments, clearValues) {
            if ($("#isReadonly").val() === "1")
                return;

            var option = $(payments).find(':selected');
            var parentForm = $(payments).closest('div.PaymentRow');

            if (clearValues) {
                parentForm.find("#PaymentCheckNumber").prop('disabled', false).val("").css('visibility', 'visible');
                parentForm.find("#PaymentAccountNumber").prop('disabled', false).val("").css('visibility', 'visible');
                parentForm.find("#PaymentBranchName").prop('disabled', false).val("").css('visibility', 'visible');
                parentForm.find("#PaymentBankName").prop('disabled', false).val("").css('visibility', 'visible').attr("placeholder", "@Translations.General.Bank");
                parentForm.find("#PaymentSum").prop('disabled', false).val("").css('visibility', 'visible');
                parentForm.find(".DateOperationClass").prop('disabled', false).val("").css('visibility', 'visible');
            } else {
                parentForm.find("#PaymentCheckNumber").prop('disabled', false).css('visibility', 'visible');
                parentForm.find("#PaymentAccountNumber").prop('disabled', false).css('visibility', 'visible');
                parentForm.find("#PaymentBranchName").prop('disabled', false).css('visibility', 'visible');
                parentForm.find("#PaymentBankName").prop('disabled', false).css('visibility', 'visible').attr("placeholder", "@Translations.General.Bank");
                parentForm.find("#PaymentSum").prop('disabled', false).css('visibility', 'visible');
                parentForm.find(".DateOperationClass").prop('disabled', false).css('visibility', 'visible');
            }


            var idTypePayment = parseInt(option.data('id'));

            switch (idTypePayment) {
            case 1:
                break;
            case 2:
                parentForm.find("#PaymentCheckNumber").prop('disabled', true).css('visibility', 'hidden');
                break;
            case 3:
                parentForm.find("#PaymentCheckNumber").prop('disabled', true).css('visibility', 'hidden');
                parentForm.find("#PaymentAccountNumber").prop('disabled', true).css('visibility', 'hidden');
                parentForm.find("#PaymentBranchName").prop('disabled', true).css('visibility', 'hidden');
                parentForm.find("#PaymentBankName").prop('disabled', true).css('visibility', 'hidden');
                break;
            case 4:
                parentForm.find("#PaymentCheckNumber").prop('disabled', true).css('visibility', 'hidden');
                parentForm.find("#PaymentAccountNumber").prop('disabled', true).css('visibility', 'hidden');
                parentForm.find("#PaymentBranchName").prop('disabled', true).css('visibility', 'hidden');

                parentForm.find("#PaymentBankName").attr("placeholder", "@Translations.Documents.CreditCardPayment");
                break;
            case 5:
                parentForm.find("#PaymentCheckNumber").prop('disabled', true).css('visibility', 'hidden');
                parentForm.find("#PaymentAccountNumber").prop('disabled', true).css('visibility', 'hidden');
                parentForm.find("#PaymentBranchName").prop('disabled', true).css('visibility', 'hidden');
                parentForm.find("#PaymentBankName").prop('disabled', true).css('visibility', 'hidden');
                break;
            }
            parentForm.find(".DateOperationClass").prop('disabled', false);
            parentForm.find("#addnewpayment").prop('disabled', false);
        }
    </script>
}


@using (Html.BeginForm("Edit", "Receipt", null, FormMethod.Post, new { id = "documentForm" }))
{
    <input type="hidden" name="BaseDocument.Id" value="@Model.BaseDocument.Id"/>
    <div class="left1">
        <p style="float: left; font-size: 32px; margin-left: 30px"><b>
            @if (Model.BaseDocument.IsCopy)
            {
                <text>העתק</text>
            }
            else
            {
                <text>מקור</text>
            }
            </b>
        </p>
        <div class="clearfix"></div>
        <div class="tag">
            <img src="@Url.Content("~/Css/images/tag.png")" align="top">
            <span>@Translations.Documents.Receipt</span>
        </div>
        @Html.Partial("~/Views/Documents/Shared/DateCreated.cshtml", Model.BaseDocument)
        <br>
        @Html.Partial("~/Views/Documents/Shared/BusinessInfo.cshtml", Model.BaseDocument.BusinessInfo)
        <br>
        <br>
        <br>
        <div style="text-align: center">
            <span style="font-size: 26px; font-weight: 600;">@Translations.Documents.ReceiptNumber</span>
            @Html.TextBox("BaseDocument.Number", Model.BaseDocument.Number, new {@class = "blueboxes", style = "font-weight: 600;font-size: 26px;width: 200px", @readonly = "readonly"})
        </div>
        <br>
        <br>
        <br>
        @Html.Partial("~/Views/Documents/Shared/ClientInfo.cshtml", Model.BaseDocument)
        <br>
        <br>
        @if (Model.SelectedDocumentItem != null)
        {
            <div id="divInvoicePartial">
                @Html.Action("GetLinkedDocumentsForReceipt", "Documents", new {clientId = Model.BaseDocument.ClientInfo.Id, selectedDocumentIdStr = Model.SelectedDocumentItem.Id})
            </div>
        }
        else
        {

            <div id="divInvoicePartial">
                @if (!String.IsNullOrEmpty(Model.OtherDescription))
                {
                    <div style="display: table; width: 800px; border-spacing: 4px 0px;" id="SelectedDocumentsTable">
                        <div style="display: table-row;" id="DocumentRow" item-id="0">
                            <div style="display: table-cell; text-align: right; width: 15%;">
                                <p>@Translations.Documents.ReceiptFor</p>
                            </div>
                            <div style="display: table-cell; width: 25%;">
                                @Html.TextAreaFor(m => m.OtherDescription, new {@class = "blueboxeswidthitalics not-cyrillic", style = "width: 100%; background-color: rgb(199, 218, 242);"})
                            </div>
                        </div>
                    </div>
                }
            </div>
        }

        <br/>
        <br/>
        @Html.Partial("~/Views/Documents/Shared/Payments.cshtml", Model)
        <br/>
        <br/><br/>
        <br/>
        <div style="display: table; text-align: left; width: 100%;">
            <div style="display: table-row;">

                <div style="display: table-cell; width: 70%;">
                    <p>@Translations.Documents.TotalPayment</p>
                </div>
                <div style="display: table-cell; width: 20%;">
                    @Html.TextBoxFor(x => x.PaymentsTotal, new {@class = "blueboxesfullwidth", dir = "ltr", style = "background-color: #8dc63f;"})
                    <script>
                        paymentInputChange();
                    </script>
                </div>
                <div style="display: table-cell; width: 10%;">

                </div>
            </div>
        </div>
        <br>
        <br>
        @Html.Partial("~/Views/Documents/Shared/2Signatures.cshtml")
        <br>
        <br>
        <br>
        <br>

        @Html.ValidationSummary()
        @Html.Partial("~/Views/Documents/Shared/Buttons.cshtml", Model.BaseDocument)
    </div>
    @Html.Partial("~/Views/Documents/Shared/AfterPrintDialog.cshtml", Model.BaseDocument.Id)
}

@Html.Partial("~/Views/Documents/Shared/PaymentRowTemplate.cshtml")
