﻿@using Gizbarit.DAL.Models.Documents.Related
@model Gizbarit.DAL.Models.Store.OrderDetailsViewModel
@{
    List<DocumentCatalogItemViewModel> catalogItems = ViewBag.CatalogItems;
}
<div id="divStoreDataPartial">

    @using (Html.BeginForm("Order", "Store", FormMethod.Post, new { id = "order-form"}))
    {
        <div style="width: 300px;">
            @Html.HiddenFor(m => m.SupplierId)
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.CultureCode)
            @Html.HiddenFor(m => m.Email)
            @Html.HiddenFor(m => m.Action)
            <span class="error"><span>Select or create supplier</span></span>
        </div><br />
        if (Model.Items.Any())
        {
            <table class="table documents waybills" style="padding-top: 15px;" id="catalogItemsTable">
                <tr>
                    <th style="width: 20%">@Translations.Documents.SelectFromCatalog</th>
                    <th style="width: 50%">@Translations.Stock.ProductDescription</th>
                    <th style="width: 10%">@Translations.Catalog.Code</th>
                    <th style="width: 5%">@Translations.Stock.Quantity</th>
                    <th></th>
                </tr>
                @for (int index = 0; index < Model.Items.Count; index++)
                {
                    var item = Model.Items[index];
                    <tr class="add" data-index="@index">
                        <input id="id" type="hidden" name="Items.Index" value="@index"/>
                        <td>
                            <div style="width: 20%; display: table-cell;">
                                <select class="blueboxeswidthhalf CatalogItemNameSelect" name="Items[@index].ID" style="height: 28px; width: 100%; background-color: #c7daf2; font-size: 14px;" onchange="StoreCatalogItemSelect(this)">
                                    <option value="-1"> -- @Translations.Buttons.Select -- </option>
                                    @if (catalogItems != null)
                                    {
                                        for (int j = 0; j < catalogItems.Count(); j++)
                                        {
                                            var catalogItemOption = catalogItems.ElementAt(j);
                                            <option @(catalogItemOption.Code == item.Code ? "selected='selected'" : "") value="@catalogItemOption.ID" data-id="@catalogItemOption.ID" data-image="/Content/Catalog/@catalogItemOption.ImagePath" data-code="@catalogItemOption.Code" data-name="@catalogItemOption.Name" data-price="@catalogItemOption.Price" @(catalogItemOption.ID == item.Id ? "selected='selected'" : "")>@catalogItemOption.Code:@catalogItemOption.Name</option>
                                        }
                                    }

                                </select>
                            </div>

                        </td>

                        <td><input id="name" class="blueboxeswidthitalics input" name="Items[@index].Name" type="text" value="@item.Name"></td>
                        <td><input id="code" class="blueboxeswidthitalics input" name="Items[@index].Code" type="text" value="@item.Code"></td>
                        <td><input id="quantity" class="blueboxeswidthitalics input" name="Items[@index].Quantity" type="text" value="@(item.Quantity == 0 ? "" : item.Quantity.ToString())"></td>
                        <td>
                            <div id="Button" class="fivecolumns" style="width: 60px; text-align: right">
                                @if (index != Model.Items.Count - 1)
                                {
                                    <img src="/Css/images/delete.png" class="cursor" id="deleteRow" height="20" name="delete" onclick="deleteCatalogRow(this)">
                                }
                                else
                                {
                                    <img src="/Css/images/delete.png" class="cursor" id="deleteRow" height="20" name="delete" onclick="deleteCatalogRow(this)">
                                    <input class="blueboxesfullwidth" id="addnew" onclick="addCatalogRow(this);" style="background-color: #8dc63f; border-radius: 5px; cursor: pointer;" type="button" value="+">
                                }
                            </div>
                        </td>
                    </tr>
                }



            </table>
            <a id="btn-print-order"
               href="/Store/PrintOrder/@Model.Id"
               data-url="/Store/PrintOrder/@Model.Id"
               class="buttons">
                <img src="@Url.Content("~/Css/images/printer.png")" height="33"><br><strong>@Translations.Buttons.Print</strong>
            </a>
            <a id="btn-send-order"
               href="/Store/SendOrder/@Model.Id"
               data-url="/Store/SendOrder/@Model.Id"
               class="buttons">
                <img src="@Url.Content("~/Css/images/envelope.png")" height="33"><br><strong>@Translations.Buttons.Send</strong>
            </a>
            <a href="#" class="buttons" style="font-size: 18px" onclick="$('#Action').val('0'); $('#order-form').submit()">
                <img src="@Url.Content("~/Css/images/stack.png")" height="33"><br><strong>@Translations.Buttons.Save</strong>
            </a>
        }
        @Html.ValidationSummary()
    }
</div>
