﻿@using Gizbarit.DAL.Entities.Store
@using Gizbarit.DAL.Models.Documents.Related
@using Gizbarit.DAL.Models.Store
@model Gizbarit.DAL.Models.Store.StoreDataViewModel
@{
    List<DocumentCatalogItemViewModel> catalogItems = ViewBag.CatalogItems;
}
<div id="divStoreDataPartial">

    @using (Ajax.BeginForm("EditStoreData", new AjaxOptions { UpdateTargetId = "divStoreDataPartial", OnBegin = "$('#fullopaqueGeneral').show()", OnComplete = "$('#fullopaqueGeneral').hide(); alertify.success('"+Translations.Errors.Success+"');" }))
    {
        <div style="width: 300px;">
            @Html.HiddenFor(m => m.InvoiceNumber)
            @Html.HiddenFor(m => m.SupplierId)
            <span class="error"><span>Select or create supplier</span></span>
            <select name="Type" class="blueboxeswidthhalf" style="width: 150px" onchange="typeChange(this)">
                <option value="@((int)StoreInvoiceType.Invoice)" @(Model.Type==StoreInvoiceType.Invoice?"selected='selected'":"")>@Translations.Documents.Invoice</option>
                <option value="@((int)StoreInvoiceType.Waybill)" @(Model.Type==StoreInvoiceType.Waybill?"selected='selected'":"")>@Translations.Menu.Documents_Waybill</option>
            </select>
            <input onchange="invoiceDataChange()" style="width: 150px;" id="invoiceNumber" name="InvoiceNumber" class="blueboxeswidthitalics" type="text" placeholder="@(Model.Type==StoreInvoiceType.Invoice?Translations.Settlements.SelectInvoiceNo:Translations.Settlements.SelectWaybillNo)" value="@(Model.InvoiceNumber==0?"":Model.InvoiceNumber.ToString())">
            <input id="invoiceDate" style="width: 150px" name="InvoiceDate" class="blueboxeswidthitalics DateOperationClass" type="text" placeholder="@Translations.Buttons.SelectDate" value="@(Model.InvoiceDate == null?"": Model.InvoiceDate.Value.ToString("dd.MM.yyyy"))"><br>
            <input id="invoiceDescription" style="width: 340px" name="Description" class="blueboxeswidthitalics" type="text" placeholder="@Translations.Settlements.DeliverySubject" value="@Model.Description"><br>
        
    </div><br />
        if (Model.Items.Any())
        {
            <table class="table documents waybills" style="padding-top: 15px;" id="catalogItemsTable">
                <tr>
                    <th style="width: 20%">@Translations.Documents.SelectFromCatalog</th>
                    <th style="width: 50%">@Translations.Stock.ProductDescription</th>
                    <th style="width: 10%">@Translations.Catalog.Code</th>
                    <th style="width: 5%">@Translations.Stock.Quantity</th>
                    <th style="width: 10%">@Translations.Stock.SupplierPrice</th>
                    <th></th>
                </tr>
                @for (int index = 0; index < Model.Items.Count; index++)
                {
                    var item = Model.Items[index];
                    <tr class="add" data-index="@index">
                        <input id="id" type="hidden" name="Items.Index" value="@index" />
                        <td>
                            <div style="width: 20%; display: table-cell;">
                                <select class="blueboxeswidthhalf CatalogItemNameSelect" name="Items[@index].ID" id="catalogSelector" style="height: 28px; width: 100%; background-color: #c7daf2; font-size: 14px;" onchange="StoreCatalogItemSelect(this)">
                                    <option value="-1"> -- @Translations.Buttons.Select -- </option>
                                    @if (catalogItems != null)
                                    {
                                        for (int j = 0; j < catalogItems.Count(); j++)
                                        {
                                            var catalogItemOption = catalogItems.ElementAt(j);
                                            <option @(catalogItemOption.Code == item.Code?"selected='selected'":"") value="@catalogItemOption.ID" data-id="@catalogItemOption.ID" data-image="/Content/Catalog/@catalogItemOption.ImagePath" data-code="@catalogItemOption.Code" data-name="@catalogItemOption.Name" data-price="@catalogItemOption.SupplierPrice" @(catalogItemOption.ID == item.Id ? "selected='selected'" : "")>@catalogItemOption.Code:@catalogItemOption.Name</option>
                                        }
                                    }

                                </select>
                            </div>

                        </td>

                        <td><input id="name" class="blueboxeswidthitalics input" name="Items[@index].Name" type="text" value="@item.Name"></td>
                        <td><input id="code" class="blueboxeswidthitalics input" name="Items[@index].Code" type="text" value="@item.Code"></td>
                        <td><input id="quantity" class="blueboxeswidthitalics input" name="Items[@index].Quantity" type="text" value="@(item.Quantity==0?"":item.Quantity.ToString())"></td>
                        <td><input id="price" class="blueboxeswidthitalics input" name="Items[@index].SupplierPrice" type="text" value="@(item.SupplierPrice==0?"":item.SupplierPrice.ToString())"></td>
                        <td>
                            <div id="Button" class="fivecolumns" style="width: 60px; text-align: right">
                                @if (index != Model.Items.Count - 1)
                                {
                                    <img src="/Css/images/delete.png" class="cursor" id="deleteRow" height="20" name="delete" onclick="deleteCatalogRow(this)">
                                }
                                else
                                {
                                    <img src="/Css/images/delete.png" class="cursor" id="deleteRow" height="20" name="delete" onclick="deleteCatalogRow(this)">
                                    <input class="blueboxesfullwidth" id="addnew" onclick="addCatalogRow(this);" style="background-color: #8dc63f; border-radius: 5px; cursor: pointer;" type="button" value="+">
                                }
                            </div>
                        </td>
                    </tr>
                }



            </table>
            <button type="submit" class="buttons">
                <img src="@Url.Content("~/Css/images/stack.png")" height="33"><br><strong>@Translations.Buttons.Save</strong>
            </button>
        }
        @Html.ValidationSummary()
    }
</div>
