﻿@model IList<Gizbarit.DAL.Models.Store.StoreCatalogItemViewModel>
@{
    ViewBag.Title = Translations.Menu.Stock_Balances + " | Gizbarit";
    string supplierName = ViewBag.SelectedSupplierName;
    List<SelectListItem> suppliers = ViewBag.Suppliers;
}   

@section Css{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/documents.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/bank.css")" media="screen" />
}

<div class="left1">
    <div class="tag">
        <img src="@Url.Content("~/Css/images/tag.png")" align="top">
        <span>@Translations.Menu.Stock_Balances</span>
    </div>
    <div class="parent1">
        <div class="inline white buttoninline" id="supplierSelect" style="width: 200px;float: none">
            <span>
                <strong>
                    @(supplierName ?? @Translations.General.All)
                </strong>
            </span>
            <div class="dropdowninline" style="width: 200px" id="suppliers">
                <a href="@Url.Action("Balance")" onclick="goToUrl(this.href)" class="btnSelectBank"><strong>@Translations.General.All</strong></a>
                @foreach (var supplier in suppliers)
                {
                    <a href="@Url.Action("Balance", new {supplierId=supplier.Value})" onclick="goToUrl(this.href)" class="btnSelectBank"><strong>@supplier.Text</strong></a>
                }
            </div>
        </div>
    </div>
    <br /><br />
    @using (Html.BeginForm("Balance", "Store", FormMethod.Post))
    {
        <table class="table documents waybills tablesorter" style="padding-top: 15px;" id="catalogItemsTable">
            <thead>
            <tr>
                <th style="width: 9%">@Translations.Catalog.Number</th>
                <th style="width: 41%">@Translations.Catalog.Name</th>
                <th style="width: 10%">@Translations.Catalog.Code</th>
                <th style="width: 25%">@Translations.Settlements.Supplier</th>
                <th style="width: 10%">@Translations.Stock.QuantityReceived</th>
                <th style="width: 7%">@Translations.Stock.QuantitySold</th>
                <th style="width: 10%">@Translations.Stock.Balance</th>
                <th style="width: 3%"></th>
            </tr>
            </thead>
            <tbody>
            @for (int index = 0; index < Model.Count; index++)
            {
                var item = Model[index];
                <tr class="add" data-index="@index">
                    <input id="id" type="hidden" name="Items[@index].Id" value="@item.Id"/>
                    <input id="name" type="hidden" name="Items[@index].Name" value="@item.Name"/>
                    <input id="code" type="hidden" name="Items[@index].Code" value="@item.Code"/>
                    <input type="hidden" name="Items[@index].Supplier" value="@item.Supplier"/>
                    <input id="supplierId" type="hidden" name="Items[@index].SupplierId" value="@item.SupplierId"/>
                    <input type="hidden" name="Items[@index].SupplierPrice" value="@item.SupplierPrice"/>
                    <input type="hidden" name="Items[@index].UsedQuantity" value="@item.UsedQuantity"/>
                    <input type="hidden" name="Items[@index].Balance" value=""/>
                    <td style="padding-top: 6px">@(index + 1)</td>
                    <td><span class="blueboxeswidthitalics input">@item.Name</span></td>
                    <td><span class="blueboxeswidthitalics input">@item.Code</span></td>
                    <td><input class="blueboxeswidthitalics input" readonly type="text" value="@item.Supplier"></td>
                    <td><input class="blueboxeswidthitalics input" name="Items[@index].Quantity" readonly type="text" value="@item.Quantity"></td>
                    <td><input class="blueboxeswidthitalics input" name="Items[@index].UsedQuantity" onchange="calculateBalance(@index)" type="text" value="@item.UsedQuantity"></td>
                    <td><input class="blueboxeswidthitalics input @(item.Quantity - (item.UsedQuantity ?? 0) < 0 ? "border-error" : "")" name="Items[@index].Balance" readonly type="text" value="@(item.Quantity - (item.UsedQuantity ?? 0))"></td>
                    <td style="width: 20px;display: block"><img src="/Css/images/delete.png" class="cursor" id="deleteRow" style="display: none" height="20" onclick="removeFromOrder(this)"></td>
                </tr>
            }
            </tbody>

        </table>
        <div class="parent2" style="margin-right: 76px">
            <div class="inline green plus" style="width: 180px;display: none" id="createOrder">
                @Translations.Settlements.OrderProduct
            </div>
        </div>
        @Html.ValidationSummary()
        <div class="clearfix"></div>
        <div style="width: 100%">
            <button type="submit" class="buttons">
                <img src="@Url.Content("~/Css/images/stack.png")" height="33"><br><strong>@Translations.Buttons.Save</strong>
            </button>
        </div>
       
    }
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            $("#catalogItemsTable").tablesorter({
                headers: {
                    3: {sorter: false},
                    4: {sorter: false},
                    5: {sorter: false},
                    6: {sorter: false}
                }
            });
        });

        function calculateBalance(index) {
            var quantity = $("input[name='Items[" + index + "]\.Quantity']").val();
            var usedQuantity = $("input[name='Items[" + index + "]\.UsedQuantity']").val();
            var balance = (quantity - usedQuantity);
            if (balance) {
                if (balance < 0) {
                    $("input[name='Items[" + index + "]\.Balance']").addClass("border-error");
                    $("input[name='Items[" + index + "]\.Balance']").val(balance);
                    return;
                }
                $("input[name='Items[" + index + "]\.Balance']").removeClass("border-error");
                $("input[name='Items[" + index + "]\.Balance']").val(balance);
            } else {
                alert("Wrong value!");
            }
        }

        $("#supplierSelect").click(function() {
            $('#suppliers').toggle();
            return false;
        });

        $("#catalogItemsTable tbody tr").click(function() {
            $(this).toggleClass('selected');
            $(this).find("#deleteRow").toggle();
            if ($("#catalogItemsTable tbody tr").hasClass('selected')) {
                $("#createOrder").show();
            } else {
                $("#createOrder").hide();
            }
        });

        function removeFromOrder(button) {
            var $row = $(button).parrent();
            $row.click();
        }

        $("#createOrder").click(function() {
            var rows = $("#catalogItemsTable tbody tr.selected");
            var selectedSupplierId = $(rows[0]).find("#supplierId").val();
            var created = true;
            var items = [];
            $.each(rows, function(index, value) {
                if ($(value).find("#supplierId").val() !== selectedSupplierId) {
                    alertify.error('@Translations.Errors.DifferentSuppliers');
                    created = false;
                    return;
                }
                items.push({ Name: $(value).find("#name").val(), Code: $(value).find("#code").val() });
            });
            if (created) {
                    $.ajax({
                        type: "POST",
                        url: "/Store/Order",
                        dataType: "json",
                        data: {
                            SupplierId: selectedSupplierId,
                            Items : items
                        },
                        error: function (msg) {
                            alertify.error(msg);
                        },

                        success: function (data) {
                            alertify.success('@Translations.General.RequestOk');
                            location.href = '@Url.Action("Order")/' + data.Id;
                        }
                    });
            }
        });

    </script>
}