﻿@using Gizbarit.DAL.Entities.Store
@{
    ViewBag.Title = @Translations.Menu.Stock_AddProduct + " | Gizbarit";
}

@section Css{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/documents.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/bank.css")" media="screen" />
}

<div class="left1">
    <div class="tag">
        <img src="@Url.Content("~/Css/images/tag.png")" align="top">
        <span>@Translations.Menu.Stock_AddProduct</span>
    </div>
    <br /><br />
    @using (Ajax.BeginForm("EditSupplier", "Settlements", new AjaxOptions { OnBegin = "return validateSupplierInput();", UpdateTargetId = "supplierInfo", OnSuccess = "$('#createBtn').text('" + @Translations.Buttons.Update + "');" }))
    {
        <div id="supplierInfo">
            <input id="supplierId" name="Supplier.Id" hidden="hidden" value="0" />
            <input id="supplierName" name="Supplier.Name" class="blueboxeswidthitalics" type="text" placeholder="@Translations.Settlements.EnterName" value=""><br>
            <input id="supplierEmail" name="Supplier.Email" class="blueboxeswidthitalics" type="text" placeholder="@Translations.Documents.Email" value=""><br>
            <input id="supplierAddress" name="Supplier.Address" class="blueboxeswidthitalics" type="text" placeholder="@Translations.Settlements.SupplierAddress" value=""><br>
            <input dir="ltr" id="supplierPhone" name="Supplier.Phone" class="blueboxeswidthitalics" type="text" placeholder="@Translations.Settlements.SupplierPhone" value=""><br>
        </div>
        <div style="width: 150px;">
            <button type="submit" id="createBtn" style="border: none; cursor: pointer" class="btn green">@Translations.Buttons.Add</button><br /><br />
        </div>
    }
    @Html.Action("GetStoreData", new { supplierId = 0, type = StoreInvoiceType.Invoice })

</div>


@section Scripts
{
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    <script src="/Scripts/Shared/store.js"></script>
    <script>
        var cache = {}, lastXhr;
        var binding = false;
        var waybill = false;
        var invoiceCache = {};

        function validateSupplierInput() {
            var supplierName = $('#supplierName').val();

            if (supplierName === "") {
                $(".error>span").text("Select supplier or create new");
                $(".error").show();
                return false;
            } else {
                $(".error").hide();
            }
            return true;
        }

        function validateInput() {
            var supplierId = $('#supplierId').val();
            var invoiceNumber = $('#invoiceNumber').val();
            var invoiceDate = $('#invoiceDate').val();

            if (supplierId === "" || supplierId === "0" || invoiceNumber === "" || invoiceDate === "") {
                $(".error>span").text("Select supplier and enter invoice data");
                $(".error").show();
                return false;
            } else {
                $(".error").hide();
            }
            return true;
        }

        function invoiceDataChange() {
            var supplierId = $('#supplierId').val();
            var invoiceNumber = $('#invoiceNumber').val();
            var invoiceDate = $('#invoiceDate').val();

            $.ajax({
                type: "POST",
                url: "@Url.Action("GetStoreData")",
                traditional: true,
                data: { supplierId: supplierId, type: waybill?1:0, invoiceNumber: invoiceNumber, invoiceDate: invoiceDate },
                error: function(result) {
                    alertify.error('@Translations.Errors.Error');
                },
                success: function(result) {
                    renderStoreDataPartial(result);
                }
            });
        }

        function typeChange(selector) {
            if ($(selector).val() === "@((int)StoreInvoiceType.Invoice)") {
                $("#invoiceNumber").attr("placeholder", '@Translations.Settlements.SelectInvoiceNo');
                waybill = false;
                invoiceCache = {};
                $("#invoiceNumber").unbind();
                binding = false;

            } else {
                $("#invoiceNumber").attr("placeholder", '@Translations.Settlements.SelectWaybillNo');
                waybill = true;
                invoiceCache = {};
                $("#invoiceNumber").unbind();
                binding = false;
            }
        }
        function renderStoreDataPartial(result) {
            $('#divStoreDataPartial').html(result);
            disableCodeSelectors();
        }

        function disableCodeSelectors() {
            $(".CatalogItemNameSelect").each(function() {
                $(this).change();
            });
        }

        function addCatalogRow(btn) {
            var $itemPattern = $(".add:last");
            if ($itemPattern.find("#deleteRow").length === 0) {
                $itemPattern.find("#Button").prepend("<img src=\"/Css/images/delete.png\" class=\"cursor\" id=\"deleteRow\" height=\"20\" name=\"delete\" onclick=\"deleteCatalogRow(this)\">");
            }
            var $newRow = $itemPattern.clone();
            var oldIndex = $itemPattern.data('index');
            $newRow.attr('data-index', ++oldIndex);

            $newRow.find("#id").val(oldIndex);
            $newRow.find("#catalogSelector").find('option:selected').removeAttr("selected");
            $newRow.find("#name").attr('name', 'Items[' + oldIndex + '].Name').attr("value", "");
            $newRow.find("#code").attr('name', 'Items[' + oldIndex + '].Code').attr("value", "");
            $newRow.find("#price").attr('name', 'Items[' + oldIndex + '].SupplierPrice').attr("value", "");
            $newRow.find("#quantity").attr('name', 'Items[' + oldIndex + '].Quantity').attr("value", "");

            $("#catalogItemsTable").append($newRow[0].outerHTML);
            $(btn).replaceWith("");
        }

        function deleteCatalogRow(row) {
            var currentRow = $(row).parent().parent().parent();

            currentRow.remove();

            var visibleRowCount = $(".add").length;
            var $lastRow = $(".add").last();
            $lastRow.find("#deleteRow").remove();
            if ($lastRow.find("#addnew").length === 0) {
                $lastRow.find("#Button").append('<input class="blueboxesfullwidth" id="addnew" onclick="addCatalogRow(this);" style="background-color: #8dc63f; border-radius: 5px; cursor: pointer;" type="button" value="+">');
            }
            if (visibleRowCount !== 1) {
                $lastRow.find("#Button").prepend("<img src=\"/Css/images/delete.png\" class=\"cursor\" id=\"deleteRow\" height=\"20\" name=\"delete\" onclick=\"deleteCatalogRow(this)\">");
            }
            currentRow.remove();
        }

        $(document).ready(function(e) {

            $("#supplierName").autocomplete({
                    source: function(request, response) {
                        var term = request.term;
                        if (term in cache) {
                            response($.map(cache[term], function(v, i) {
                                return { value: v.Name, id: v.Id, address: v.Address, phone: v.Phone, email: v.Email };
                            }));
                            return;
                        }

                        $.ajax({
                            type: "POST",
                            url: "/Settlements/GetSupplierByName",
                            dataType: "json",
                            data: {
                                supplierName: request.term
                            },

                            success: function(data) {
                                cache[term] = data;
                                response($.map(data, function(v, i) {
                                    return { value: v.Name, id: v.Id, email: v.Email, address: v.Address, phone: v.Phone };
                                }));
                            }
                        });
                    },
                    minLength: 0,
                    delay: 1000,

                    select: function(event, ui) {
                        $('#supplierId').val(ui.item.id);
                        $('input[name="SupplierId"]').val(ui.item.id);
                        $('#supplierName').val(ui.item.value);
                        $('#supplierAddress').val(ui.item.address);
                        $('#supplierEmail').val(ui.item.email);
                        $('#supplierPhone').val(ui.item.phone);
                        $('#createBtn').text('Update');
                    }

                })
                .focus(function() {
                    $(this).autocomplete('search', $(this).val());
                });

            $("#supplierName").keyup(function() {
                if ($(this).val().length === 0) {
                    $('#supplierId').val(0);
                    $('#supplierAddress').val("");
                    $('#supplierEmail').val("");
                    $('#supplierPhone').val("");
                    $('#createBtn').text('Create');
                    invoiceCache = {};
                    $("#invoiceNumber").unbind();
                    binding = false;

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("GetStoreData")",
                        traditional: true,
                        data: { supplierId: 0, type: waybill ? 1 : 0 },
                        error: function(result) {
                            alertify.error('@Translations.Errors.Error');
                        },
                        success: function(result) {
                            renderStoreDataPartial(result);
                        }
                    });

                }
            });
        });

        $('body').on('focus', "#invoiceNumber", function() {
            if (binding) {
                return;
            }
               
            
            $(this).autocomplete({
                    source: function(request, response) {
                        var term = request.term;
                        if (term in invoiceCache) {
                            response($.map(invoiceCache[term], function(v, i) {
                                return { value: v.Number, date: v.Date }
                            }));
                            return;
                        }
                        if ($('#supplierId').val() == 0)
                            return;

                        $.ajax({
                            type: "POST",
                            url: "/Store/GetStoreInvoices",
                            dataType: "json",
                            data: {
                                supplierId: $('#supplierId').val(),
                                waybill: waybill
                            },
                            success: function(data) {
                                invoiceCache[term] = data;
                                response($.map(data, function(v, i) {
                                    return { value: v.Number, date: v.Date }
                                }));
                            }
                        });
                    },
                    minLength: 0,
                    delay: 1000,

                    select: function(event, ui) {
                        var supplierId = $('#supplierId').val();
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("GetStoreData")",
                            traditional: true,
                            data: { supplierId: supplierId, type: waybill ? 1 : 0, invoiceNumber: ui.item.value, invoiceDate: ui.item.date },
                            error: function(result) {
                                alertify.error('@Translations.Errors.Error');
                            },
                            success: function(result) {
                                renderStoreDataPartial(result);
                            }
                        });
                    }

                })
                .focus(function() {
                    $(this).autocomplete('search', $(this).val());
                    //TODO make a call
                });
            binding = true;
        });

        $('body').on('focus', "#invoiceNumber", function() {
            $(this).keyup(function() {
                clearInvoiceData(this);
            });
        });
       
        $(document).unbind('ajaxStart');
        $(document).unbind('ajaxStop');
    </script>
}
