﻿@using Antlr.Runtime.Tree
@using Gizbarit.DAL.Models.Account
@using Gizbarit.DAL.Models.Settlements
@using Gizbarit.DAL.Models.Store
@using OfficeOpenXml.FormulaParsing.Excel.Functions.Information
@{
    ViewBag.Title = Translations.Menu.Stock_NewOrdering + " | Gizbarit";
    var businessInfo = (BaseAccountShort)ViewBag.BusinessInfo;
    var supplier = (SupplierViewModel)ViewBag.Supplier;
    var orders = (IEnumerable<StoreCatalogItemViewModel>)ViewBag.Orders;
}
@model int
@section Css{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/documents.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/bank.css")" media="screen" />
    <link href="@Url.Content("~/Css/Print/print.min.css")" rel="stylesheet" />
}
<div class="left1">
    <div class="tag">
        <img src="@Url.Content("~/Css/images/tag.png")" align="top">
        <span>@Translations.Menu.Stock_NewOrdering</span>
    </div>
    <br /><br />
    @Html.Partial("~/Views/Documents/Shared/BusinessInfo.cshtml", businessInfo)
    <br>
    <br>
    <br>
    <div style="text-align: center">
        <span dir="ltr" style="font-size: 26px; font-weight: 600;">@Translations.Stock.OrderNo</span>
        @Html.TextBox("Number", Model, new { @class = "blueboxes", style = "font-weight: 600;font-size: 26px;width: 200px", @readonly = "readonly" })
    </div>
    <br>
    @using (Ajax.BeginForm("EditSupplier", "Settlements", new AjaxOptions { OnBegin = "return validateSupplierInput();", UpdateTargetId = "supplierInfo", OnSuccess = "$('#createBtn').text('" + @Translations.Buttons.Update + "');" }))
    {
        if (supplier == null)
        {
            <div id="supplierInfo">
                <input id="supplierId" name="Supplier.Id" hidden="hidden" value="0" />
                <input id="supplierName" name="Supplier.Name" class="blueboxeswidthitalics" type="text" placeholder="@Translations.Settlements.EnterName" value=""><br>
                <input id="supplierEmail" name="Supplier.Email" class="blueboxeswidthitalics" type="text" placeholder="@Translations.Documents.Email" value=""><br>
                <input id="supplierAddress" name="Supplier.Address" class="blueboxeswidthitalics" type="text" placeholder="@Translations.Settlements.SupplierAddress" value=""><br>
                <input dir="ltr" id="supplierPhone" name="Supplier.Phone" class="blueboxeswidthitalics" type="text" placeholder="@Translations.Settlements.SupplierPhone" value=""><br>
            </div>
            <div style="width: 150px;">
                <button type="submit" id="createBtn" style="border: none; cursor: pointer" class="btn green">@Translations.Buttons.Add</button><br /><br />
            </div>
        }
        else
        {
            <div id="supplierInfo">
                <input readonly name="Supplier.Id" hidden="hidden" value="@supplier.Id" />
                <input readonly name="Supplier.Name" class="blueboxeswidthitalics" type="text" placeholder="@Translations.Settlements.EnterName" value="@supplier.Name"><br>
                <input readonly id="Supplier.Email" name="Supplier.Email" class="blueboxeswidthitalics" type="text" placeholder="@Translations.Documents.Email" value="@supplier.Email"><br>
                <input readonly name="Supplier.Address" class="blueboxeswidthitalics" type="text" placeholder="@Translations.Settlements.SupplierAddress" value="@supplier.Address"><br>
                <input dir="ltr" readonly name="Supplier.Phone" class="blueboxeswidthitalics" type="text" placeholder="@Translations.Settlements.SupplierPhone" value="@supplier.Phone"><br>
            </div>
        }

    }
    @Html.Partial("~/Views/Store/_OrderDetailsPartial.cshtml", orders == null ?
        new OrderDetailsViewModel
        {
            Id = Model,
            SupplierId = supplier == null ? (int?)null : supplier.Id,
            Items = new List<StoreCatalogItemViewModel> { new StoreCatalogItemViewModel() }
        } :
        new OrderDetailsViewModel
        {
            Id = Model,
            SupplierId = supplier == null ? (int?)null : supplier.Id,
            Items = orders.ToList()
        })
</div>


<div style="display: none">
    <!-- the form to be viewed as dialog-->
    <form id="select-language-print" action="/Store/PrintOrder" data-action="Print">
        <fieldset>
            <h3>@Translations.General.ChooseLanguage</h3>
            <div class="form-group" style="text-align: center">
                <button type="button" name="cultureCode" value="he" class="buttons" onclick="onSelectLanguage(this);">@Translations.General.Hebrew</button>
                <button type="button" name="cultureCode" value="en" class="buttons" onclick="onSelectLanguage(this);">@Translations.General.English</button>
            </div>
        </fieldset>
    </form>

    <form id="select-language-send" data-action="Send" action="/Store/SendOrder">
        <fieldset>
            <h3>@Translations.General.ChooseLanguage</h3>
                <div class="form-group email-group">
                    <label>@Translations.Documents.SupplierEmail</label>
                    <input type="email" name="email" required="required" class="form-control-email"/>
                </div>
            <div class="form-group" style="text-align: center">
                <button type="button" name="cultureCode" value="he" class="buttons" onclick="onSelectLanguage(this);">@Translations.General.Hebrew</button>
                <button type="button" name="cultureCode" value="en" class="buttons" onclick="onSelectLanguage(this);">@Translations.General.English</button>
            </div>
            @if (ViewBag.DocumentSended != null)
            {
                <input type="hidden" name="DocumentSended" id="DocumentSended" value="@ViewBag.DocumentSended.ToString()" />
            }
        </fieldset>
    </form>
</div>


@section Scripts
{
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    <script src="@Url.Content("~/Scripts/Print/print.min.js")"></script>
    <script src="/Scripts/Shared/store.js"></script>
    <script>
        var cache = {}, lastXhr;
        var invoiceCache = {};

        function isStringEmpty(str) {
            return (!str || /^\s*$/.test(str));
        }

        function onSelectLanguage(context) {
            var button = $(context);
            var dialogForm = button.closest('form');
            var email = dialogForm.find(".form-control-email").first();
            var cultureCode = $("#CultureCode");
            var action = $("#Action");
            var orderForm = $("#order-form");


            alertify.closeAll();
            cultureCode.val(button.val());
            action.val(dialogForm.data('action'));
            $("#Email").val(email.val());

            if (action.val().toLowerCase() === "print") {
                $.post(orderForm.attr('action'), orderForm.serialize())
                    .done(function (data) {
                        printJS(dialogForm.attr("action") + "/" + data.id + "?cultureCode=" + cultureCode.val());
                    });
            } else {
                orderForm.submit();
            }
        }

        function validateSupplierInput() {
            var supplierName = $('#supplierName').val();

            if (supplierName === "") {
                $(".error>span").text("Select supplier or create new");
                $(".error").show();
                return false;
            } else {
                $(".error").hide();
            }
            return true;
        }

        function renderStoreDataPartial(result) {
            $('#divStoreDataPartial').html(result);
            disableCodeSelectors();
        }

        function disableCodeSelectors() {
            $(".CatalogItemNameSelect").each(function () {
                $(this).change();
            });
        }

        function addCatalogRow(btn) {
            var $itemPattern = $(".add:last");
            if ($itemPattern.find("#deleteRow").length === 0) {
                $itemPattern.find("#Button").prepend("<img src=\"/Css/images/delete.png\" class=\"cursor\" id=\"deleteRow\" height=\"20\" name=\"delete\" onclick=\"deleteCatalogRow(this)\">");
            }
            var $newRow = $itemPattern.clone();
            var oldIndex = $itemPattern.data('index');
            $newRow.attr('data-index', ++oldIndex);

            $newRow.find("#id").val(oldIndex);
            $newRow.find("#name").attr('name', 'Items[' + oldIndex + '].Name').attr("value", "");
            $newRow.find("#code").attr('name', 'Items[' + oldIndex + '].Code').attr("value", "");
            $newRow.find("#price").attr('name', 'Items[' + oldIndex + '].SupplierPrice').attr("value", "");
            $newRow.find("#quantity").attr('name', 'Items[' + oldIndex + '].Quantity').attr("value", "");

            $("#catalogItemsTable").append($newRow[0].outerHTML);
            $(btn).replaceWith("");
        }

        function deleteCatalogRow(row) {
            var currentRow = $(row).parent().parent().parent();

            currentRow.remove();

            var visibleRowCount = $(".add").length;
            var $lastRow = $(".add").last();
            $lastRow.find("#deleteRow").remove();
            if ($lastRow.find("#addnew").length === 0) {
                $lastRow.find("#Button").append('<input class="blueboxesfullwidth" id="addnew" onclick="addCatalogRow(this);" style="background-color: #8dc63f; border-radius: 5px; cursor: pointer;" type="button" value="+">');
            }
            if (visibleRowCount !== 1) {
                $lastRow.find("#Button").prepend("<img src=\"/Css/images/delete.png\" class=\"cursor\" id=\"deleteRow\" height=\"20\" name=\"delete\" onclick=\"deleteCatalogRow(this)\">");
            }
            currentRow.remove();
        }

        $(document).ready(function (e) {
            $("#supplierName").autocomplete({
                source: function (request, response) {
                    var term = request.term;
                    if (term in cache) {
                        response($.map(cache[term], function (v, i) {
                            return { value: v.Name, id: v.Id, address: v.Address, phone: v.Phone, email: v.Email };
                        }));
                        return;
                    }

                    $.ajax({
                        type: "POST",
                        url: "/Settlements/GetSupplierByName",
                        dataType: "json",
                        data: {
                            supplierName: request.term
                        },

                        success: function (data) {
                            cache[term] = data;
                            response($.map(data, function (v, i) {
                                return { value: v.Name, id: v.Id, email: v.Email, address: v.Address, phone: v.Phone };
                            }));
                        }
                    });
                },
                minLength: 0,
                delay: 1000,

                select: function (event, ui) {
                    $('#supplierId').val(ui.item.id);
                    $('input[name="SupplierId"]').val(ui.item.id);
                    $('#supplierName').val(ui.item.value);
                    $('#supplierAddress').val(ui.item.address);
                    $('#supplierEmail').val(ui.item.email);
                    $('#supplierPhone').val(ui.item.phone);
                    $('#createBtn').text('Update');
                }

            })
                .focus(function () {
                    $(this).autocomplete('search', $(this).val());
                });

            $("#supplierName").keyup(function () {
                if ($(this).val().length === 0) {
                    $('#supplierId').val(0);
                    $('#supplierAddress').val("");
                    $('#supplierEmail').val("");
                    $('#supplierPhone').val("");
                    $('#createBtn').text('Create');
                    invoiceCache = {};
                }
            });


            alertify.genericDialog || alertify.dialog('genericDialog', function () {
                return {
                    main: function (content) {
                        this.setContent(content);
                    },
                    setup: function () {
                        return {
                            options: {
                                basic: true,
                                maximizable: false,
                                resizable: false,
                                padding: false
                            }
                        };
                    },
                    settings: {
                        selector: undefined
                    }
                };
            });


            $("#btn-print-order").click(function (event) {

                event.preventDefault();

                var dialog = $("#select-language-print");
                
                alertify.genericDialog(dialog[0]);
            });

            $("#btn-send-order").click(function (event) {

                event.preventDefault();

                var dialog = $("#select-language-send");
                var supplierEmail = $("#Supplier\\.Email, #supplierEmail").first();

                if (isStringEmpty(supplierEmail.val())) {
                    dialog.find(".email-group").show();
                } else {
                    dialog.find(".email-group").hide();
                }

                alertify.genericDialog(dialog[0]);
            });

            var documentSended = $("#DocumentSended");
            if (documentSended.length <= 0) {
                return;
            }

            if (documentSended.val().toLocaleLowerCase() === "true") {
                alertify.alert("", "@Translations.Documents.SendSuccess");
            }
        });

        $(document).unbind('ajaxStart');
        $(document).unbind('ajaxStop');
    </script>
}