﻿@{
    ViewBag.Title = Translations.Stock.Orders + " | Gizbarit";
}
@using System.Globalization
@using Gizbarit.DAL.Entities.Documents
@model List<Gizbarit.DAL.Entities.Store.Order>

@section Css{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/documents.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/bank.css")" media="screen" />
}

<div class="left1">
    <div class="tag">
        <img src="@Url.Content("~/Css/images/tag.png")" align="top">
        <span>@Translations.Stock.Orders</span>
    </div>
    <br /><br />
    <table class="table documents waybills tablesorter" style="padding-top: 15px;" id="catalogItemsTable">
        <thead>
            <tr>
                <th style="width: 8%">@Translations.Catalog.Number</th>
                <th style="width: 37%">@Translations.Settlements.Supplier</th>
                <th style="width: 12%">@Translations.Documents.Date</th>
                <th style="width: 14%">@Translations.Stock.OrderNo</th>
                <th style="width: 12%">@Translations.Stock.WasSent</th>
                <th style="width: 12%">@Translations.Stock.Processed</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int index = 0; index < Model.Count; index++)
            {
                var item = Model[index];
                <tr>
                    <td style="padding-top: 6px">@(index + 1)</td>
                    <td><span class="blueboxeswidthitalics input">@item.Supplier.Name</span></td>
                    <td><span class="blueboxeswidthitalics input">@item.Date.ToString("dd.MM.yyyy")</span></td>
                    <td><span class="blueboxeswidthitalics input">@item.Number</span></td>
                    <td><span style="display: none">@((int)item.Status)</span>@Html.CheckBox("Status", item.Status == DocumentStatusType.Send, new { @data_id = item.ID, onchange = "changeDocumentStatus(this)" })</td>
                    <td><span style="display: none">@(item.WasProcessed)</span>@Html.CheckBox("WasProcessed", item.WasProcessed, new { @data_id = item.ID, onchange = "changeProcessedStatus(this)" })</td>
                    <td>
                        <a href="@Url.Action("Order", "Store", new {Id = item.ID})" target="_blank">
                            <img src="@Url.Content("~/Css/images/4.png")" class="cursor" height="20"/>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
       
    </table>
</div>

@section Scripts
{
    <script>

        $(document).ready(function () {
            $("#catalogItemsTable").tablesorter({
                headers: {
                    6: { sorter: false }
                }
            });
        });

        function changeProcessedStatus(checkbox) {
            var id = $(checkbox).data('id');
            var wasProcessed = $(checkbox).is(':checked');

            $.ajax({
                type: "POST",
                url: "@Url.Action("SetOrderProcessedStatus")",
                traditional: true,
                data: { id: id, wasProcessed: wasProcessed },
                error: function (result) {
                    alertify.error('@Translations.Errors.FetchDocumentError');
                }
            });
            console.log(id + " " + wasProcessed);
        }

        function changeDocumentStatus(checkbox) {
            var id = $(checkbox).data('id');
            var wasSend = $(checkbox).is(':checked');

            $.ajax(
            {
                type: 'POST',
                url: '@Url.Action("SetDocumentStatus")',
                traditional: true,
                data: { id: id, wasSend: wasSend },
                error: function(result) {
                    alertify.error('@Translations.Errors.FetchDocumentError');
                }
            });
        }
    </script>
}