﻿@using System.Globalization
@model IList<Gizbarit.DAL.Models.Store.StoreCatalogItemViewModel>
@{
    ViewBag.Title = @Translations.Menu.Stock_Pricing +" | Gizbarit";
}

@section Css{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/documents.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/bank.css")" media="screen" />
}

<div class="left1">
    <div class="tag">
        <img src="@Url.Content("~/Css/images/tag.png")" align="top">
        <span>@Translations.Menu.Stock_Pricing</span>
    </div>
    <br /><br />
    @using (Html.BeginForm("Pricing", "Store", FormMethod.Post))
    {
        <table class="table documents waybills tablesorter" style="padding-top: 15px;" id="catalogItemsTable">
            <thead>
            <tr>
                <th style="width: 5%">@Translations.Catalog.Number</th>
                <th style="width: 55%">@Translations.Stock.ProductDescription</th>
                <th style="width: 10%">@Translations.Catalog.Code</th>
                <th style="width: 10%">@Translations.Stock.SupplierPrice</th>
                <th style="width: 10%">@Translations.Stock.SalePrice</th>
                <th style="width: 10%">@Translations.Stock.Profit</th>
            </tr>
            </thead>
            <tbody>
                @for (int index = 0; index < Model.Count; index++)
                {
                    var item = Model[index];
                    <tr class="add" data-index="@index">
                        <input id="id" type="hidden" name="Items[@index].Id" value="@item.Id" />
                        <td><span>@(index + 1)</span></td>
                        <td><input class="blueboxeswidthitalics input" name="Items[@index].Name" readonly type="text" value="@item.Name"></td>
                        <td><input class="blueboxeswidthitalics input" name="Items[@index].Code" readonly type="text" value="@item.Code"></td>
                        <td><input class="blueboxeswidthitalics input" name="Items[@index].SupplierPrice" readonly type="text" value="@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.SupplierPrice)"></td>
                        <td><input class="blueboxeswidthitalics input" name="Items[@index].Price" onchange="calculateRevenue(@index)" type="text" value="@(item.Price == 0 ? "" : String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.Price))"></td>
                        <td><input class="blueboxeswidthitalics input" name="Items[@index].Revenue" readonly type="text" value="@(item.Price == 0 ? "" : Math.Round((item.Price - item.SupplierPrice)/item.Price*100, 1) + "%")"></td>
                    </tr>
                }
            </tbody>
            
           
        </table>
        @Html.ValidationSummary()
        <button type="submit" class="buttons">
            <img src="@Url.Content("~/Css/images/stack.png")" height="33"><br><strong>@Translations.Buttons.Save</strong>
        </button>
    }
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            $("#catalogItemsTable").tablesorter({
                textExtraction: function (node) {
                    // extract data from markup and return it  
                    return node.childNodes[0].value;
                }
            });
        });

        function calculateRevenue(index) {
            var price = parseFloat($("input[name='Items[" + index + "]\.Price']").val());
            var supplierPrice = parseFloat($("input[name='Items[" + index + "]\.SupplierPrice']").val());
            var revenue = (price - supplierPrice) / price * 100;
            $("input[name='Items[" + index + "]\.Revenue']").val(revenue.toFixed(1) + '%');
        }
    </script>
}