﻿@using System.Globalization
@using Gizbarit.DAL.Models.Documents
@model IList<Gizbarit.DAL.Models.Store.StoreCatalogItemViewModel>
@{
    ViewBag.Title = @Translations.Menu.Stock_Stocktaking + " | Gizbarit";
    var businessInfo = (Gizbarit.DAL.Models.Account.BaseAccountShort)ViewBag.BusinessInfo;
    double total = 0;
}

@section Css {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/documents.css")" media="screen" />
    <link href="@Url.Content("~/Css/Shared/bank.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Css/Print/print.min.css")" rel="stylesheet" />
}
@section Scripts{
    <script src="@Url.Content("~/Scripts/autoresize/autoresize.js")"></script>
    <script src="@Url.Content("~/Scripts/Print/print.min.js")"></script>
    <script>
        $(document).ready(function () {
            $("#catalogItemsTable").tablesorter({
                headers: {
                    3: { sorter: false },
                    4: { sorter: false },
                    5: { sorter: false }
                }
            });


            alertify.genericDialog || alertify.dialog('genericDialog', function () {
                return {
                    main: function (content) {
                        this.setContent(content);
                    },
                    setup: function () {
                        return {
                            options: {
                                basic: true,
                                maximizable: false,
                                resizable: false,
                                padding: false
                            }
                        };
                    },
                    settings: {
                        selector: undefined
                    }
                };
            });


            $("#btn-print-stock").click(function (event) {
                event.preventDefault();

                var pdf = $(this).data("url");
                printJS(pdf);
            });

            $("#btn-send-stock").click(function (event) {

                event.preventDefault();

                var context = $(this);
                var dialog = $("#confirm-dialog");
                var href = context.data("url");

                dialog.attr("action", href);
                alertify.genericDialog(dialog[0]);
            });

            var documentSended = $("#DocumentSended");

            if (documentSended.length <= 0) {
                return;
            }

            if (documentSended.val().toLocaleLowerCase() === "true") {
                alertify.alert("", "@Translations.Documents.SendSuccess");
            }
        });
    </script>
}

<!-- Main Body Start -->
<div class="left1">
    <div class="tag">
        <img src="@Url.Content("~/Css/images/tag.png")" align="top">
        <span>@Translations.Menu.Stock_Stocktaking</span>
    </div>
    @Html.Partial("~/Views/Documents/Shared/DateCreated.cshtml", new BaseDocument {DateCreated = DateTime.Today})
    <br>
    @Html.Partial("~/Views/Documents/Shared/BusinessInfo.cshtml", businessInfo)
    <br>
    <br>
    <table class="table documents waybills tablesorter" style="padding-top: 15px;" id="catalogItemsTable">
        <thead>
        <tr>
            <th style="width: 10%">@Translations.Catalog.Number</th>
            <th style="width: 55%">@Translations.Stock.ProductDescription</th>
            <th style="width: 10%">@Translations.Catalog.Code</th>
            <th style="width: 10%">@Translations.Stock.StockBalance</th>
            <th style="width: 10%">@Translations.Stock.SupplierPrice</th>
            <th style="width: 10%">@Translations.Stock.TotalCost</th>
        </tr>
        </thead>
        <tbody>
        @for (int index = 0; index < Model.Count; index++)
        {
            var item = Model[index];
            var balance = item.Quantity - item.UsedQuantity ?? 0;
            <tr class="add">
                <td>@(index + 1)</td>
                <td><span class="blueboxeswidthitalics input">@item.Name</span></td>
                <td><span class="blueboxeswidthitalics input">@item.Code</span></td>
                <td><input class="blueboxeswidthitalics input" readonly type="text" value="@balance"></td>
                <td><input class="blueboxeswidthitalics input" type="text" dir="ltr" value="@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.SupplierPrice)"></td>
                <td><input class="blueboxeswidthitalics input" readonly type="text" dir="ltr" value="@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", balance*item.SupplierPrice)"></td>
            </tr>
            total += balance*item.SupplierPrice;
        }

        </tbody>
        <tfoot>
        <tr>
            <th></th>
            <th colspan="4" style="text-align: right">@Translations.General.Total</th>
            <th style="text-align: right">@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", total)</th>
        </tr>
        </tfoot>
    </table>
    <a id="btn-print-stock"
       href="/Store/PrintStock"
       data-url="/Store/PrintStock"
       class="buttons">
        <img src="@Url.Content("~/Css/images/printer.png")" height="33"><br><strong>@Translations.Buttons.Print</strong>
    </a>
    <a id="btn-send-stock"
       href="/Store/SendStock"
       data-url="/Store/SendStock"
       data-confirm=""
       class="buttons">
        <img src="@Url.Content("~/Css/images/envelope.png")" height="33"><br><strong>@Translations.Buttons.Send</strong>
    </a>
</div>


<div style="display: none">
    <!-- the form to be viewed as dialog-->
    <form id="confirm-dialog" action="#">
        <fieldset>
            <div class="form-group">
                <label>@Translations.Documents.BookkeepingEmail</label>
            </div>
            <div class="form-group">
                <input type="email" name="email" required="required" class="form-control" value="@businessInfo.BookKeppengEmail" />
            </div>
            <div class="form-group" style="text-align: center">
                <button type="submit" class="buttons">@Translations.Buttons.Confirm</button>
            </div>
        </fieldset>
        
        @if (ViewBag.DocumentSended != null)
        {
            <input type="hidden" name="DocumentSended" id="DocumentSended" value="@ViewBag.DocumentSended.ToString()"/>
        }
    </form>
</div>
