﻿@using System.Globalization
@using Gizbarit.DAL.Entities.Documents
@model List<Gizbarit.DAL.Models.Account.Bank.AdvanceViewModel>

<table class="table advances">
    <tr dir="ltr">
        <th>@Translations.Bank.Date</th>
        <th>
            <span style="background-color: #8dc63f;text-decoration: underline">@Translations.Menu.Documents_TaxInvoice</span><br />
            @Translations.Menu.Documents_TaxInvoiceReceipt
        </th>
        <th>@Translations.Bank.SuplierInvoiceNumber</th>
        <th>@Translations.Bank.Debit</th>
        <th>@Translations.Bank.Credit</th>
        <th>@Translations.Bank.IncomeTax</th>
        <th>@Translations.Documents.VAT</th>
        <th>@Translations.Bank.Details</th>
    </tr>
    @{
        int rowNum = 0;
        foreach (var item in Model)
        {
            <tr>
                <td>@item.CreatedDate.ToString("dd'/'MM'/'yyyy")</td>
                @if (item.InvoiceNumber != null)
                {
                    if (item.DocumentType.HasValue && item.DocumentType.Value == DocumentType.TaxInvoice)
                    {
                        if (item.InvoiceId == null)
                        {
                            <td style="background-color: #8dc63f">@item.InvoiceNumber.ToString()</td>

                        }
                        else
                        {
                            <td style="background-color: #8dc63f">@Html.ActionLink(item.InvoiceNumber.ToString(), "GetDocument", "Documents", new { id = item.InvoiceId }, new { target = "_blank" })</td>
                        }
                    }
                    else
                    {

                        if (item.InvoiceId == null)
                        {
                            <td>@item.InvoiceNumber.ToString()</td>
                        }
                        else
                        {
                            <td>@Html.ActionLink(item.InvoiceNumber.ToString(), "GetDocument", "Documents", new { id = item.InvoiceId }, new { target = "_blank" })</td>
                        }

                    }
                }
                else
                {
                    <td></td>
                }
                <td>@item.SupplierInvoiceNumber</td>
                <td dir="ltr">
                    @if (!item.Credit)
                    {
                        @String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.Amount)
                    }
                </td>
                <td dir="ltr">
                    @if (item.Credit)
                    {
                        @String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.Amount)
                    }
                </td>
                <td dir="ltr">@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.AdvanceAmount)</td>
                <td dir="ltr">
                    @if (item.VatAmount < 0)
                    {
                        <strong style="color: red">
                            @String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.VatAmount)
                        </strong>
                    }
                    else
                    {
                        @String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.VatAmount)
                    }

                </td>
                <td class="descriptionToggle" data-id="@rowNum">
                    <strong class="more">+</strong><strong class="less">-</strong>
                </td>
            </tr>
            <tr class="descriptionRow" data-id="@rowNum">
                <td class="description" colspan="8">@item.Description !</td>
            </tr>
            rowNum++;
        }
    }
    <tr class="footer">
        <td></td>
        <td>@Translations.General.Total</td>
        <td></td>
        <td dir="ltr">@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", Model.Where(x => !x.Credit).Sum(x => x.Amount))</td>
        <td dir="ltr">@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", Model.Where(x => x.Credit).Sum(x => x.Amount))</td>
        <td dir="ltr">@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", Model.Sum(x => x.AdvanceAmount))</td>
        <td dir="ltr">@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", Model.Sum(x => x.VatAmount))</td>
        <td></td>
    </tr>


</table>
<br /><br />

@using (@Html.BeginForm("ClearAdvances", "Bank", FormMethod.Post, new { dir = "ltr", style = " text-align: left" }))
{
    <h4>@Translations.Bank.ClearAdvances</h4>
    <div style="width: 390px; display: block; font-size: 16px" dir="rtl">
        <div style="width: 370px;">
            <div class="ltrdiv"><span>@Translations.Bank.From</span> @Html.TextBox("from", "", new { @id = "dtFrom", @class = "DateOperationClass", placeholder = Translations.Buttons.SelectDate })</div>
            <div class="ltrdiv"><span style="padding-left: 10px">@Translations.Bank.To</span> @Html.TextBox("to", "", new { @id = "dtTo", @class = "DateOperationClass", placeholder = Translations.Buttons.SelectDate })</div>
        </div>
        <input type="submit" name="SaveButton" value="@Translations.Bank.Clear" />
    </div>


}
<br /><br />



