﻿@model Gizbarit.DAL.Models.Graph.BankGraphDataModel

<div dir="ltr" class="dropdowninline graphcanvasmain" style="width:100%;height:60%;">
    <p class="graphcanvas" onclick="closeGraph()">x</p>
    <p class="graphbuttons">
        <span class="inline blue month" id="twomonth" onclick="Graph2MonthesClick()">
            @Translations.Bank.TwoMonth
        </span>
        <span class="inline blue" id="oneyear" onclick="GraphYearClick()">
           @Translations.Bank.OneYear
        </span>
    </p>
    <canvas id="myChart"></canvas>
</div>


<script>
        var myLineChart;

        function Graph2MonthesClick() {
            var xValues = [];

            @foreach (var d in Model.GraphDaysData)
            {
                @:xValues.push('@d.Date.ToString("d.MM")');
            }


            var yValues = [];

            @foreach (var d in Model.GraphDaysData)
            {
                @:yValues.push(@d.Amount);
            }
            var yValuesLimits = [];
            @for (int i = 0; i < Model.GraphDaysData.Count; i++)
            {
                @:yValuesLimits.push(-@Model.Limit);
            }

            //$('.buttoninline2').css('z-index', 90);
            $('#fullopaque').show();
            $('.graphcanvasmain').show();
            //$('.graph').css('z-index', 1001);
            $('.graphcanvasmain').css('z-index', 1002);


            var ctx = $("#myChart").get(0).getContext("2d");


            var data = {
                labels: xValues,
                datasets: [
                    {
                        label: "My First dataset",
                        fillColor: "rgba(220,220,220,0.0)",
                        strokeColor: "#639fe7",
                        pointColor: "#639fe7",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: yValues
                    },
                    {
                        label: "My Second dataset",
                        fillColor: "rgba(220,220,220,0.0)",
                        strokeColor: "red",
                        pointColor: "red",
                        pointStrokeColor: "red",
                        pointHighlightFill: "red",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: yValuesLimits
                    }
                ]
            };

            if (myLineChart) {
                myLineChart.destroy();
            }


            myLineChart = new Chart(ctx).Line(data, {
                ///Boolean - Whether grid lines are shown across the chart
                scaleShowGridLines: true,

                //String - Colour of the grid lines
                scaleGridLineColor: "rgba(0,0,0,.05)",

                //Number - Width of the grid lines
                scaleGridLineWidth: 1,

                //Boolean - Whether to show horizontal lines (except X axis)
                scaleShowHorizontalLines: true,

                //Boolean - Whether to show vertical lines (except Y axis)
                scaleShowVerticalLines: true,

                //Boolean - Whether the line is curved between points
                bezierCurve: false,

                //Number - Tension of the bezier curve between points
                bezierCurveTension: 0.4,

                //Boolean - Whether to show a dot for each point
                pointDot: true,

                //Number - Radius of each point dot in pixels
                pointDotRadius: 4,

                //Number - Pixel width of point dot stroke
                pointDotStrokeWidth: 1,

                //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
                pointHitDetectionRadius: 4,

                //Boolean - Whether to show a stroke for datasets
                datasetStroke: true,

                //Number - Pixel width of dataset stroke
                datasetStrokeWidth: 2,

                //Boolean - Whether to fill the dataset with a colour
                datasetFill: true,

                //String - A legend template
                legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"
            });
            $('#twomonth').css('background-color', '#8dc63f');
            $('#oneyear').css('background-color', '#639fe7');

        }

        function GraphYearClick() {

            var xValues = [];

            @foreach (var d in Model.GraphMonthData)
            {
                @:xValues.push('@d.Date.ToString("MM.yyyy")');
            }

            var yValues = [];

            @foreach (var d in Model.GraphMonthData)
            {
                @:yValues.push(@d.Amount);
            }

            var yValuesLimits = [];

            @for (int i = 0; i < Model.GraphMonthData.Count; i++)
            {
                @:yValuesLimits.push(-@Model.Limit);
            }

            //$('.buttoninline2').css('z-index', 90);
            $('#fullopaque').show();
            $('.graphcanvasmain').show();
            //$('.graph').css('z-index', 1001);
            $('.graphcanvasmain').css('z-index', 1002);


            var ctx = $("#myChart").get(0).getContext("2d");

            var data = {
                labels: xValues,
                datasets: [
                    {
                        label: "My First dataset",
                        fillColor: "rgba(220,220,220,0.0)",
                        strokeColor: "#639fe7",
                        pointColor: "#639fe7",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: yValues
                    },
                    {
                        label: "My Second dataset",
                        fillColor: "rgba(220,220,220,0.0)",
                        strokeColor: "red",
                        pointColor: "red",
                        pointStrokeColor: "red",
                        pointHighlightFill: "red",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: yValuesLimits
                    }
                ]
            };


            if (myLineChart) {
                myLineChart.destroy();
            }


            myLineChart = new Chart(ctx).Line(data, {
                ///Boolean - Whether grid lines are shown across the chart
                scaleShowGridLines: true,

                //String - Colour of the grid lines
                scaleGridLineColor: "rgba(0,0,0,.05)",

                //Number - Width of the grid lines
                scaleGridLineWidth: 1,

                //Boolean - Whether to show horizontal lines (except X axis)
                scaleShowHorizontalLines: true,

                //Boolean - Whether to show vertical lines (except Y axis)
                scaleShowVerticalLines: true,

                //Boolean - Whether the line is curved between points
                bezierCurve: false,

                //Number - Tension of the bezier curve between points
                bezierCurveTension: 0.4,

                //Boolean - Whether to show a dot for each point
                pointDot: true,

                //Number - Radius of each point dot in pixels
                pointDotRadius: 4,

                //Number - Pixel width of point dot stroke
                pointDotStrokeWidth: 1,

                //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
                pointHitDetectionRadius: 4,

                //Boolean - Whether to show a stroke for datasets
                datasetStroke: true,

                //Number - Pixel width of dataset stroke
                datasetStrokeWidth: 2,

                //Boolean - Whether to fill the dataset with a colour
                datasetFill: true,

                //String - A legend template
                legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"
            });
            $('#oneyear').css('background-color', '#8dc63f');
            $('#twomonth').css('background-color', '#639fe7');
        }
</script>
