﻿@using System.Globalization
@using System.Linq
@model List<Gizbarit.DAL.Models.Account.Bank.BankAccountViewModel>

@{
    ViewBag.Title = @Translations.Accounts.EditAccount + " | Gizbarit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/invoice.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/fancybox/jquery.fancybox.css")" media="screen" />

}

@section Scripts{
    <script type="text/javascript">

        // make two divs same height
        $('').css('min-height', $('').height());

    </script>

    <script type="text/javascript">



        function deleteLine(el) {
            $(el).parent().parent().remove();
        }

       function setActive(el) {
           $(".setActiveClass").each(function () {
                $(this).attr("src", "@Url.Content("~/Css/images/grey_king.png")");
            });
            $(".isActiveClass").each(function () {
                $(this).val(0);
                console.log($(this));
            });

            $(el).parent().parent().find(".isActiveClass").val(1);
            $(el).attr("src", "@Url.Content("~/Css/images/green_king.png")");

        }

        $(document).ready(function ($) {




            $('#add_new').click(function () {
                var index = $('.trow:last').data("index");
                index++;
                $(".content_table_white").append("<div class='trow' data-index='" + index + "'>\
                    <input class='isActiveClass' type='hidden' name='[" + index + "].IsActive' value='0'>\
                    <input type='hidden' name='[" + index + "].Id' value='-1'>\
                <div style='width: 20%; height: 51px;' class='widthinlineinterior'>\
                    <select name='[" + index + "].BankId'>\
                                <option value='1'>בחר</option>\
                                <option value='2'>הפועלים</option>\
                                <option value='3'>לאומי</option>\
                                <option value='4'>דיסקונט</option>\
                                <option value='5'>מזרחי טפחות</option>\
                                <option value='6'>הבינלאומי הראשון</option>\
                                <option value='7'>אוצר החייל</option>\
                                <option value='8'>מרכנתיל דיסקונט</option>\
                                <option value='9'>איגוד</option>\
                                <option value='10'>מסד</option>\
                                <option value='11'>פועלי אגודת ישראל</option>\
                                <option value='12'>יהב</option>\
                                <option value='13'>ירושלים</option>\
                                <option value='14'>יובנק</option>\
                                <option value='15'>בנק הדואר</option>\
                            </select>\
                </div>\
                <div style='width: 15%; height: 51px;' class='widthinlineinterior'>\
                    <input type='text' name='[" + index + "].Branch' value=''>\
                </div>\
                <div style='width: 15%; height: 51px;' class='widthinlineinterior'>\
                    <input type='text' name='[" + index + "].AccountNo' value=''>\
                </div>\
                <div style='width: 15%; height: 51px;' class='widthinlineinterior'>\
                    <input type='text' name='[" + index + "].AccountBalance' value=''>\
                </div>\
                <div style='width: 17%; height: 51px;' class='widthinlineinterior'>\
                    <input type='text' name='[" + index + "].Limit' value=''>\
                </div>\
                <div style='width: 16%; height: 51px;' class='widthinlineinterior'>\
                    <img src='@Url.Content("~/Css/images/delete.png")' class='cursor' height='20' onclick='deleteLine(this)'><img class='setActiveClass' onclick='setActive(this)' src='/Css/images/grey_king.png'>\
              </div></div>");
            });


            $('select').on('change', function () {
                $(".widthinline").show();
            });

        });
    </script>

}

@using (Html.BeginForm("Accounts", "Bank", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="left1">

        <div class="tag"><img src="@Url.Content("~/Css/images/tag.png")" align="top"><img src="@Url.Content("~/Css/images/wrench.png")" width="25px" align="absmiddle">@Translations.Accounts.EditAccount</div>

        <div class="oneform">
            <div class="lightgreen_button" id="add_new"><img class="plus" src="@Url.Content("~/Css/images/plusik.png")">@Translations.Accounts.AddAccount</div>
        </div>

        <br>
        <div class="clearfix"></div>
        <br>
        <div class="widthinline table_title_grey">
            <div style="width: 20%; height: 38px;" class="widthinlineinterior">
                @Translations.Accounts.BankName
            </div>
            <div style="width: 15%; height: 38px;" class="widthinlineinterior">
                @Translations.Accounts.Branch
            </div>
            <div style="width: 15%; height: 38px;" class="widthinlineinterior">
                @Translations.Accounts.Account
            </div>
            <div style="width: 15%; height: 38px;" class="widthinlineinterior">
                @Translations.Accounts.Balance
            </div>
            <div style="width: 17%; height: 38px;" class="widthinlineinterior">
                @Translations.Accounts.Limit
            </div>
            <div style="width: 16%; height: 38px;" class="widthinlineinterior">

            </div>
        </div>
        <div class="widthinline content_table_white">
            @for (int i = 0; i < Model.Count(); i++)
            {
                <div class="trow" data-index="@i">
                    @Html.Hidden("[" + @i + "].IsDeleted", Model[i].IsDeleted)
                    @Html.TextBox("[" + @i + "].IsActive", Model[i].IsActive, new {@class= "isActiveClass", type = "hidden" })
                    @Html.Hidden("[" + @i + "].Id", Model[i].Id)
                    <div style="width: 20%; height: 51px;" class="widthinlineinterior">
                        <select name="[@i].BankId">
                            <option value="1" @(Model[i].BankId == 1 ? "selected" : "")>בחר</option>
                            <option value="2" @(Model[i].BankId == 2 ? "selected" : "")>הפועלים</option>
                            <option value="3" @(Model[i].BankId == 3 ? "selected" : "")>לאומי</option>
                            <option value="4" @(Model[i].BankId == 4 ? "selected" : "")>דיסקונט</option>
                            <option value="5" @(Model[i].BankId == 5 ? "selected" : "")>מזרחי טפחות</option>
                            <option value="6" @(Model[i].BankId == 6 ? "selected" : "")>הבינלאומי הראשון</option>
                            <option value="7" @(Model[i].BankId == 7 ? "selected" : "")>אוצר החייל</option>
                            <option value="8" @(Model[i].BankId == 8 ? "selected" : "")>מרכנתיל דיסקונט</option>
                            <option value="9" @(Model[i].BankId == 9 ? "selected" : "")>איגוד</option>
                            <option value="10" @(Model[i].BankId == 10 ? "selected" : "")>מסד</option>
                            <option value="11" @(Model[i].BankId == 11 ? "selected" : "")>פועלי אגודת ישראל</option>
                            <option value="12" @(Model[i].BankId == 12 ? "selected" : "")>יהב</option>
                            <option value="13" @(Model[i].BankId == 13 ? "selected" : "")>ירושלים</option>
                            <option value="14" @(Model[i].BankId == 14 ? "selected" : "")>יובנק</option>
                            <option value="15" @(Model[i].BankId == 15 ? "selected" : "")>בנק הדואר</option>
                        </select>
                    </div>
                    <div style="width: 15%; height: 51px;" class="widthinlineinterior">
                        <input type="text" name="[@i].Branch" value="@Model[i].Branch">
                    </div>
                    <div style="width: 15%; height: 51px;" class="widthinlineinterior">
                        <input type="text" name="[@i].AccountNo" value="@Model[i].AccountNo">
                    </div>
                    <div style="width: 15%; height: 51px;" class="widthinlineinterior">
                        <input type="text" disabled dir="ltr" name="[@i].AccountBalance" value="@Model[i].AccountBalance.ToString(CultureInfo.InvariantCulture)">
                    </div>
                    <div style="width: 17%; height: 51px;" class="widthinlineinterior">
                        <input type="text" name="[@i].Limit" value="@Model[i].Limit">
                    </div>
                    <div style="width: 16%; height: 51px;" class="widthinlineinterior">
                        <a title="@Translations.Buttons.Delete" href="#" onclick="showDeleteDialog(@Model[i].Id)">
                            <img src="@Url.Content("~/Css/images/delete.png")" class="cursor" height="20" />
                        </a>
                        <img title="@Translations.Accounts.MainAccount" onclick="setActive(this)" class="setActiveClass" src="@Url.Content("~/Css/images/"+(Model[i].IsActive>0?"green":"grey")+"_king.png")">
                    </div>
                </div>
            }




        </div>
        <br>

    </div>
    @Html.ValidationSummary()
    <button type="submit" class="buttons2">
        <img src="/Css/images/stack.png"><br />@Translations.Buttons.Save
    </button>

}


@Html.Partial("Shared/DeleteDialog")