﻿@using System.Globalization

@using Gizbarit.Utils

@model Gizbarit.DAL.Models.Account.Bank.BankSummaryViewModel
@{
    ViewBag.Title = @Translations.Bank.Summary + " | Gizbarit";
    var currentYear = @ViewBag.Year;
    int year = DateTime.Now.Year;
    double allBanksMonthBalance = 0;
}

@section Css{
    <link href="@Url.Content("~/Css/Shared/bank.css")" rel="stylesheet" type="text/css">
    @*<link href="@Url.Content(" ~/Css/Bank/stylebank-" + @UICulture + ".css")" rel="stylesheet" type="text/css">*@
}


@section Scripts{
    <script>
        $(document).ready(function(e) {
            $.fn.tableExport.xlsx.buttonContent = '@Translations.Buttons.ExportToExcel';
            $("table").tableExport({
                formats: ["xlsx"],
                fileName: "bank_summary",
                footers: false
            });
                $("#yearSelector").click(function() {
                    $('#years').toggle();
                    return false;
                });
            }
        );

        function goToUrl(url) {
            location.href = url;
        }
    </script>
}

<div class="left1">
    <div class="parent1">
        <div style="float: right; font-weight: 600; padding-top:5px">@Translations.General.Year</div>
        <div class="inline white buttoninline" id="yearSelector">

            <span>
                <strong>
                    @currentYear
                </strong>
            </span>
            <div class="dropdowninline" id="years">
                <a href="@Url.Action("Summary", new {year = year + 1})" class="btnSelectBank" onclick="goToUrl(this.href)"><strong>@(year + 1)</strong></a>
                @for (int i = 0; i < 5; i++)
                {
                    <a href="@Url.Action("Summary", new {year = year - i})" class="btnSelectBank" onclick="goToUrl(this.href)"><strong>@(year - i)</strong></a>
                }
            </div>
        </div>
    </div>
</div>

<div class="left3">
   
    <table class="table summary">
        <tr>
            <th>@Translations.Bank.Month</th>

            @foreach (var bank in Model.Banks)
            {
                <th>@bank.BankName @bank.AccountNumber</th>
            }
            <th>@Translations.General.Total</th>
        </tr>
        @for (int i = 0; i < 12; i++)
        {
            allBanksMonthBalance = Model.Banks.Sum(v => v.Values[i]);
            <tr>
                <td>@Html.MonthToString(i + 1)</td>
                @foreach (var b in Model.Banks)
                {
                    <td dir="ltr">
                        @if (b.Values[i] < 0) // or < b.Limit?
                        {
                            <span style="color: red">@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", b.Values[i])</span>
                        }
                        else
                        {
                            @String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", b.Values[i])
                        }
                    </td>
                }
                <td dir="ltr">
                    @if (allBanksMonthBalance < 0) // or < b.Limit?
                    {
                        <span style="color: red">@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", allBanksMonthBalance)</span>
                    }
                    else
                    {
                        @String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", allBanksMonthBalance)
                    }
                </td>
            </tr>
        }


    </table>
</div>
