﻿@using System.Collections
@using System.Globalization

@using Gizbarit.Utils
@using Gizbarit.DAL.Models.Account.Bank
@using Gizbarit.Web.Util.Extensions

@model Gizbarit.DAL.Models.Account.Bank.BankPageModel

@{
        Layout = "~/Views/Shared/_Layout.cshtml";
        ViewBag.Title = @Translations.Menu.Bank + " | Gizbarit";

        var currentAccount = (BankAccountMiniViewModel)@ViewBag.CurrentAccount;
        int currentYear = @ViewBag.Year;
        int currentMonth = @ViewBag.Month;
        int year = DateTime.Now.Year;
        int accountId = ViewBag.AccountId;
        bool showTaxesFirst = @ViewBag.ShowTaxesFirst;
        bool alowEdit = currentYear == year || (currentYear == year-1 && currentMonth == 1); // allow edit current year operations and previous year in January

}


@section Css{
    <link href="@Url.Content("~/Css/Shared/bank.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Css/datepicker/latoja.datepicker.css")" rel="stylesheet" type="text/css">
    @*<link href="@Url.Content(" ~/Css/Bank/stylebank-" + @UICulture + ".css")" rel="stylesheet" type="text/css">*@
}
@section Scripts{
    <script src="@Url.Content("~/Scripts/chart.min.js")"></script>

    <script>
        $(document).ready(function(e) {
            $.fn.tableExport.xlsx.buttonContent = '@Translations.Buttons.ExportToExcel';
            $(".transactions").tableExport({
                formats: ["xlsx"],
                fileName: "transactions",
                footers: false,
                ignoreCols: 5
            });

            $(".advances").tableExport({
                formats: ["xlsx"],
                fileName: "taxes",
                footers: false,
                ignoreCols: 7,
                ignoreCSS: "tr.descriptionRow"
            });


            $('body').on('focus', ".DateOperationClass", function() {
                $(this).datepicker(
                {
                    dateFormat: 'dd.mm.yy'
                });
                $('#ui-datepicker-div').addClass('ll-skin-latoja');
            });
            $('body').on('focus', ".editableInput[name=DateOperation]", function() {
                $(this).datepicker(
                {
                    dateFormat: 'dd/mm/yy'
                });
                $('#ui-datepicker-div').addClass('ll-skin-latoja');
            });


            $("#accountSelector").click(function() {
                $('#years').hide();
                $('#months').hide();
                $('#currencies').hide();
                $('#accounts').toggle();
                return false;
            });
            $("#yearSelector").click(function() {
                $('#accounts').hide();
                $('#months').hide();
                $('#currencies').hide();
                $('#years').toggle();
                return false;
            });
            $("#monthSelector").click(function() {
                $('#years').hide();
                $('#accounts').hide();
                $('#currencies').hide();
                $('#months').toggle();
                return false;
            });

            $('#currencySelector').click(function() {
                $('#years').hide();
                $('#months').hide();
                $('#accounts').hide();
                $('#currencies').toggle();
            });

            $("#addTransaction").click(function() {
               // var currencyElement = document.getElementById('currency');
               // if (currencyElement != null) {
               //     var selectedValue = currencyElement.options[currencyElement.selectedIndex].value;
               // 
               //     if (selectedValue == '') {
               //         $(currencyElement).addClass('border-error');
               //         alertify.error("Please choose a currency");
               //         return;
               //     }
               // }
               

                $('#addTransactionForm').show();
                $('#fullopaque').show();
                //$('.popup').hide();
                return false;
            });

            $("#addAdvance").click(function() {
                $('#addAdvanceForm').show();
                $('#fullopaque').show();
                //$('.popup').hide();
                return false;
            });

            $('#fullopaque').click(function() {
                $(this).toggle();
                $('#addTransactionForm').hide();
                $('#addAdvanceForm').hide();
            });

            $("#dtFromDp").datepicker({
                dateFormat: 'dd.mm.yy',
                onSelect: function(dateText, inst) {
                    var date = new Date(dateText);
                    var formatter = new Intl.DateTimeFormat("he-IL");
                    $('input[name=from]').val(dateText);
                    $('#dtFromDp').toggle();
                }
            });

            $("#dtToDp").datepicker({
                dateFormat: 'dd.mm.yy',
                onSelect: function(dateText, inst) {
                    var date = new Date(dateText);
                    var formatter = new Intl.DateTimeFormat("he-IL");
                    $('input[name=to]').val(dateText);
                    $('#dtToDp').toggle();
                }
            });
            $("#dtToDp").hide();
            $("#dtFromDp").hide();
            $('input[name=from]').click(function() { $('#dtFromDp').toggle() });
            $('input[name=to]').click(function() { $('#dtToDp').toggle() });


            $('#a2').change(
                function() {
                    if ($(this).is(':checked')) {
                        $('input[name=sitebg]').show();
                        $('input[name=sitebg2]').show();
                        $('input[name=but]').show();
                    }
                });

            $('#a1').change(
                function() {
                    if ($(this).is(':checked')) {
                        $('input[name=sitebg2]').hide();
                        $('input[name=sitebg]').show();
                        $('input[name=but]').show();

                    }
                });

            $('#addAdvanceSubmit').click(function() {
                var amount = $('input[name=AdvanceAmount').val();
                var description = $('textarea[name=AdvanceDescription').val();
                var date1 = $('input[name=AdvanceDate]').val() === 'Select date' ? "" : $('input[name=AdvanceDate]').val(); //TODO change ugly if statement

                var credit = $('#income').is(':checked');

                var aData = { Amount: amount, Credit: credit, CreatedDate: date1, Description: description };

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AddAdvances")",
                    data: aData,
                    success: function(response) {
                        response = JSON.parse(response);
                        if (response.Success === true) {
                            $('#addAdvanceForm').toggle();
                            alertify.success('@Translations.Errors.TransactionAdded');
                            onAddAdvanceComplete();
                        } else {
                            $('#addAdvanceForm').toggle();
                            $('#fullopaque').toggle();
                            alertify.error(response.Message);
                        }
                    },
                    error: function(msg) {
                        var errorString = "";
                        var errors = msg.responseJSON;
                        if (typeof errors.Message === 'string') {
                            errorString = errors.Message;
                        } else {
                            errors.Message.forEach(function(item) {
                                console.log(item.errors);
                                errorString = errorString + item.errors + " ";
                            });
                        }
                        $("#popupResult").text('@Translations.Errors.Error');
                        $("#popupError").text(errorString);
                        $("#popupbut").click(popupCancel);
                        $("#fullopaque").show();
                        $(".popup").show();
                    }
                });
            });

            $('#addTransactionSubmit').click(function() {
                var bankId = @currentAccount.Id;
                var amount = $('input[name=amount').val();
                var description = $('textarea[name=description').val();
                var date1 = $('input[name=sitebg]').val() === 'Select date' ? "" : $('input[name=sitebg]').val(); //TODO change ugly if statement
                var date2 = $('input[name=sitebg2]').val() === 'Select date' ? "" : $('input[name=sitebg2]').val(); //TODO change ugly if statement

                var credit = $('#b').is(':checked');
                
                var currencyValue = 'ILS';
                var currencyElement = document.getElementById('currencySelector');
                if (currencyElement != null) {
                    currencyValue = $(currencyElement).children('span').children('strong').html();
                }

               
                var aData = { AccountId: bankId, Amount: amount, Credit: credit, DateOperation: date1, DateEnd: date2, Description: description, Currency: currencyValue };

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AddTransaction")",
                    data: aData,
                    success: function(response) {
                        response = JSON.parse(response);
                        if (response.Success === true) {
                            $('#addTransactionForm').toggle();
                            alertify.success('@Translations.Errors.TransactionAdded');
                            reloadPage();
                        } else {
                            $('#addTransactionForm').toggle();
                            $("#popupResult").text('@Translations.Errors.Error');
                            $("#fullopaque").toggle();
                            alertify.error(response.Message);
                        }
                    },
                    error: function(msg) {
                        msg = JSON.parse(msg.Message);
                        $('#addTransactionForm').toggle();
                        alertify.error(msg.Message);
                    }
                });
            });

            $('#advances').click(function() {
                if ($('#divAdvances').is(":visible")) {
                    $(this).html("<strong>@Translations.Bank.Taxes</strong>");
                } else {
                    $(this).html("<strong>@Translations.Bank.Transaction</strong>");
                }
                $('#divAdvances').toggle();
                $('#divTransactions').toggle();

                $('#addTransaction').toggle();
                $('#addAdvance').toggle();
            });

            $(".descriptionToggle").click(function() {
                $(this).children('.more').toggle();
                $(this).children('.less').toggle();
                var index = $(this).data('id');
                $(".descriptionRow[data-id='" + index + "'").toggle();
            });

            if ($("#showTaxesFirst").val() === "true") {
                $('#advances').click();
            } else {

                var vv = $("#showTaxesFirst").val();
            }
        });

        function closeGraph() {
            $('.graphcanvasmain').hide();
            $("#fullopaque").hide();
        }

        function editTransaction(el) {
            $(el).parent().parent().find("span.displayValue").each(function() {
                $(this).hide();

            });
            $(el).parent().parent().find("input.editableInput").each(function() {
                $(this).show();

            });
            $(el).parent().parent().find("span.editableInput").each(function() {
                $(this).show();
            });
            $(el).parent().find("#cancleEditId").show();
            $(el).parent().find("#saveTransactionId").show();
            $(el).parent().find("#deleteTransactionId").hide();
            $(el).hide();
        }

        function cancelEditTransaction(el) {
            $(el).parent().find("#deleteTransactionId").show();
            $(el).parent().find("#editTransactionId").show();
            $(el).hide();
            $(el).parent().find("#saveTransactionId").hide();

            $(el).parent().parent().find("input.editableInput").each(function() {
                $(this).hide();
            });
            $(el).parent().parent().find("span.editableInput").each(function() {
                $(this).hide();
            });
            $(el).parent().parent().find("span.displayValue").each(function() {
                $(this).show();
            });
        }

        function saveTransaction(el) {
            var $rowEl = $(el).parent().parent();
            var dateOperation = $rowEl.find("input[name=DateOperation]").val();
            var description = $rowEl.find("input[name=Description]").val();
            var amount = $rowEl.find("input[name=Value]").val();
            var id = $(el).parent().find("input[name=Id]").val();
            var accountId = $(el).parent().find("input[name=AccountId]").val();
            var creditValue = $(el).parent().find("input[name=Credit]").val();
            var credit = creditValue === "1" ? true : false;

            var aData = { Id: id, AccountId: accountId, Amount: amount, Credit: credit, DateOperation: dateOperation, Description: description };
            $.ajax({
                type: "POST",
                url: "@Url.Action("Transactions")",
                data: aData,
                success: function(response) {
                    response = JSON.parse(response);
                    if (response.Success === true) {
                        alertify.success('@Translations.Errors.TransactionUpdated');
                        reloadPage();
                    } else {
                        $("#fullopaque").toggle();
                        alertify.error(response.Message); 
                        alertify.error(response.Message);
                    }
                },
                error: function(msg) {
                    alertify.error(msg);
                }
            });
        }


        function popupCancel() {
            $(".popup").hide();
            $('#addTransactionForm').show();
        }

        function reloadPage() {
            location.reload();
        }

        function onAddAdvanceComplete() {
            var currentUrl = window.location.href;
            if (!currentUrl.includes("showTaxesFirst=true")) {
                currentUrl += currentUrl.includes("&") ?
                    "&showTaxesFirst=true" :
                    "?showTaxesFirst=true";
            }
            goToUrl(currentUrl);
        }

        function onAddTransactionComplete() {
            var currentUrl = window.location.href;
            currentUrl = currentUrl.replace("?showTaxesFirst=true", "");
            currentUrl = currentUrl.replace("&showTaxesFirst=true", "");
            goToUrl(currentUrl);
        }

        function goToUrl(url) {
            location.href = url;
        }
    </script>



}

<div class="left1">
    <div class="parent1">
        <div class="inline">
            @Translations.Bank.BankAccount
        </div>
        <div class="inline white buttoninline" id="accountSelector">
            <span><strong>@currentAccount.BankName</strong> - @currentAccount.AccountNumber </span>
            <div class="dropdowninline" id="accounts">
                @foreach (var bank in Model.Accounts)
                {
                    <a href="@Url.Action("Transactions", new {accountId = bank.Id, year = currentYear, month = currentMonth})" class="btnSelectBank" onclick="goToUrl(this.href)"><strong>@bank.BankName</strong> - @bank.AccountNumber</a>
                }
                @if (Model.Currency == "ILS")
                {

                    <a href="@Url.Action("Summary", new {year = currentYear})" onclick="goToUrl(this.href)" class="table3button"><strong>@Translations.Bank.SummaryShort</strong></a>
                }
             </div>
        </div>
       

        <div class="inline white buttoninline" id="yearSelector">
            <span>
                <strong>
                    @currentYear
                </strong>
            </span>
            <div class="dropdowninline" id="years">
                <a href="@Url.Action("Transactions", new {accountId = currentAccount.Id, month = currentMonth, year = year + 1, currency = Model.Currency})" class="btnSelectBank" onclick="goToUrl(this.href)"><strong>@(year + 1)</strong></a>
                @for (int i = 0; i < 5; i++)
                {
                    <a href="@Url.Action("Transactions", new {accountId = currentAccount.Id, month = currentMonth, year = year - i, currency = Model.Currency})" class="btnSelectBank" onclick="goToUrl(this.href)"><strong>@(year - i)</strong></a>
                }
            </div>
        </div>


        <div class="inline white buttoninline" id="monthSelector" style="width: 150px">
            <span>
                <strong>
                    @Html.MonthToString(currentMonth)
                </strong>
            </span>
            <div class="dropdowninline" id="months" style="width: 150px">
                <a href="@Url.Action("Transactions", new {accountId = currentAccount.Id, month = 1, year = currentYear, currency = Model.Currency})" class="btnSelectBank" onclick="goToUrl(this.href)"><strong>@Translations.General.January</strong></a>
                <a href="@Url.Action("Transactions", new {accountId = currentAccount.Id, month = 2, year = currentYear, currency = Model.Currency})" class="btnSelectBank" onclick="goToUrl(this.href)"><strong>@Translations.General.February</strong></a>
                <a href="@Url.Action("Transactions", new {accountId = currentAccount.Id, month = 3, year = currentYear, currency = Model.Currency})" class="btnSelectBank" onclick="goToUrl(this.href)"><strong>@Translations.General.March</strong></a>
                <a href="@Url.Action("Transactions", new {accountId = currentAccount.Id, month = 4, year = currentYear, currency = Model.Currency})" class="btnSelectBank" onclick="goToUrl(this.href)"><strong>@Translations.General.April</strong></a>
                <a href="@Url.Action("Transactions", new {accountId = currentAccount.Id, month = 5, year = currentYear, currency = Model.Currency})" class="btnSelectBank" onclick="goToUrl(this.href)"><strong>@Translations.General.May</strong></a>
                <a href="@Url.Action("Transactions", new {accountId = currentAccount.Id, month = 6, year = currentYear, currency = Model.Currency})" class="btnSelectBank" onclick="goToUrl(this.href)"><strong>@Translations.General.June</strong></a>
                <a href="@Url.Action("Transactions", new {accountId = currentAccount.Id, month = 7, year = currentYear, currency = Model.Currency})" class="btnSelectBank" onclick="goToUrl(this.href)"><strong>@Translations.General.July</strong></a>
                <a href="@Url.Action("Transactions", new {accountId = currentAccount.Id, month = 8, year = currentYear, currency = Model.Currency})" class="btnSelectBank" onclick="goToUrl(this.href)"><strong>@Translations.General.August</strong></a>
                <a href="@Url.Action("Transactions", new {accountId = currentAccount.Id, month = 9, year = currentYear, currency = Model.Currency})" class="btnSelectBank" onclick="goToUrl(this.href)"><strong>@Translations.General.September</strong></a>
                <a href="@Url.Action("Transactions", new {accountId = currentAccount.Id, month = 10, year = currentYear, currency = Model.Currency})" class="btnSelectBank" onclick="goToUrl(this.href)"><strong>@Translations.General.October</strong></a>
                <a href="@Url.Action("Transactions", new {accountId = currentAccount.Id, month = 11, year = currentYear, currency = Model.Currency})" class="btnSelectBank" onclick="goToUrl(this.href)"><strong>@Translations.General.November</strong></a>
                <a href="@Url.Action("Transactions", new {accountId = currentAccount.Id, month = 12, year = currentYear, currency = Model.Currency})" class="btnSelectBank" onclick="goToUrl(this.href)"><strong>@Translations.General.December</strong></a>
            </div>
        </div>
@if (Model.Currency == "ILS") {
    <div class="inline white" id="advances">
        <strong>
            @Translations.Bank.Taxes
        </strong>
    </div>
  <div class="inline green">
    @Translations.Bank.Limit <strong>@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", currentAccount.Limit)</strong>
</div>
}
else
{
        <div class="inline white buttoninline currency-dropdown" id="currencySelector" style="width: 150px">
            <span>
                <strong>
                    @Model.Currency
                </strong>
            </span>
            <div class="dropdowninline" id="currencies" style="width: 150px">
                @foreach (var item in (IEnumerable<string>)ViewBag.CurrencyList)
                {
                    <a href="@Url.Action("Transactions", new {accountId = currentAccount.Id, month = currentMonth, year = currentYear, currency = @item})" class="btnSelectBank" onclick="goToUrl(this.href)"><strong>@item</strong></a>
                }
            </div>
        </div>
    }
        
    </div>
</div>


    @Html.Action("GetGraphData", new {accountId = currentAccount.Id})

<div class="left2">
    <div class="parent2">
        <div class="inline green plus" id="addTransaction">
            @Translations.Buttons.Add
        </div>
        <div class="inline green plus" style="display: none" id="addAdvance">
            @Translations.Buttons.Add
        </div>

        <div class="dropdowninline2" id="addTransactionForm">
            <textarea rows="3" type="text" name="description" placeholder="@Translations.Bank.Description"></textarea>
            <input type="text" name="amount" placeholder="@Translations.Bank.Amount">
            <span class="radio">
                <input type="radio" name="r1" id="a" />@Translations.Bank.Debit
            </span>
            <span class="radio">
                <input type="radio" name="r1" id="b" />@Translations.Bank.Credit
            </span><br>
            <span class="radio2">
                <input type="radio" name="r2" id="a1" />@Translations.Bank.Single
            </span>
            <span class="radio2">
                <input type="radio" name="r2" id="a2" />@Translations.Bank.Regular
            </span><br>
            <br>
            <input class="DateOperationClass" type="text" value="@Translations.Buttons.SelectDate" name="sitebg" readonly>
            <input class="DateOperationClass" type="text" value="@Translations.Buttons.SelectDate" name="sitebg2" readonly>
            <br>
            <input type="button" value="@Translations.Buttons.Add" class="closebut" name="but" id="addTransactionSubmit">

        </div>
       
        <div class="dropdowninline3" id="addAdvanceForm" style="display: none">
            <textarea rows="3" type="text" name="AdvanceDescription" placeholder="@Translations.Bank.Description"></textarea>
            <input type="text" name="AdvanceAmount" placeholder="@Translations.Bank.Amount">
            <span class="radio3">
                <input type="radio" name="advancetype" id="outgo" />@Translations.Bank.Debit
            </span>
            <span class="radio3">
                <input type="radio" name="advancetype" id="income" />@Translations.Bank.Credit
            </span><br>
            <br>
            <input class="DateOperationClass" type="text" style="display: block" value="@Translations.Buttons.SelectDate" name="AdvanceDate" readonly>
            <br>
            <input type="button" value="@Translations.Buttons.Add" style="display: inline-block" class="closebut" name="but" id="addAdvanceSubmit">
        </div>
      
        @Html.HiddenFor(m => m.Currency)
        @if (Model.Currency == "ILS")
        {
            <div class="inline green network graph" onclick="Graph2MonthesClick()">
                @Translations.Bank.Graph
            </div>


            <a href="@Url.Action("Accounts")" target="_blank">
                <div class="inline green wrench">
                    @Translations.Bank.Accounts
                </div>
            </a>
        }
      

       
</div>
    </div>
<div class="left3">
    <input type="hidden" id="showTaxesFirst" value="@showTaxesFirst.ToString().ToLower()"/>
    <div id="divAdvances" style="display: none">
        @Html.Action("Advances", "Bank")
    </div>
    <div id="divTransactions">
        <table class="table transactions">
            <tr dir="ltr">
                <th>@Translations.Bank.Date</th>
                <th>@Translations.Bank.OperationDescription</th>
                <th>@Translations.Bank.Debit</th>
                <th>@Translations.Bank.Credit</th>
                <th>@Translations.Bank.Balance</th>
                <th></th>
            </tr>
            <tr class="initial">
                <td>@{var date = new DateTime(@ViewBag.Year, @ViewBag.Month, 1);}@date.ToString("dd'/'MM'/'yyyy")</td>
                <td colspan="3">@Translations.Bank.BalanceBeginMonth</td>
                <td dir="ltr">
                    @Html.DrawBalance(Model.MonthInitialBalance, currentAccount.Limit)
                </td>
                <td></td>
            </tr>
            @{
                ViewBag.Balance = Model.MonthInitialBalance;
                foreach (var item in Model.Transactions)
                {
                    var isEditable = true;
                    var isOperationInFuture = item.DateOperation > DateTime.Now;
                    ViewBag.Balance = item.Credit ? ViewBag.Balance += item.Amount : ViewBag.Balance -= item.Amount;
                    if (item.Description == "מס הכנסה|@|Income Tax|@|Предоплата под. налога")
                    {
                        isEditable = false;
                        item.Description = Translations.Bank.AdvancePrepaid;
                    }
                    if (item.Description == "מע\"מ|@|VAT|@|Предоплата НДС")
                    {
                        isEditable = false;
                        item.Description = Translations.Bank.VATPrepaid;
                    }
                    <tr>
                        <td dir="ltr" class=@(isOperationInFuture ? "future" : "")>
                            @if (alowEdit && isEditable)
                            {
                                <span class="displayValue">@item.DateOperation.ToString("dd'/'MM'/'yyyy")</span>
                                <input class="editableInput" name="DateOperation" value="@item.DateOperation.ToString("dd'/'MM'/'yyyy")"/>
                            }
                            else
                            {
                                <span class="displayValue">@item.DateOperation.ToString("dd'/'MM'/'yyyy")</span>
                                <span class="editableInput">@item.DateOperation.ToString("dd'/'MM'/'yyyy")</span>
                            }
                        </td>
                      
                        <td class=@(isOperationInFuture?"future":"")>
                            @if (alowEdit)
                            {
                                if (isEditable)
                                {
                                    <span class="displayValue">@item.Description</span>
                                    <input class="editableInput" data-currency ="@item.Currency" name="Description" value="@item.Description"/>
                                }
                                else
                                {
                                    <span class="displayValue">@item.Description</span>
                                    <span class="editableInput" data-currency ="@item.Currency">@item.Description</span>
                                }
                            }
                            else
                            {
                                <span class="displayValue">@item.Description</span>
                            }
                        </td>
                        <td dir="ltr" class=@(isOperationInFuture?"future":"")>
                            @if (!item.Credit)
                            {
                                if (alowEdit)
                                {
                                    <span class="displayValue">@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.Amount)</span>
                                    <input class="editableInput" style="width: 120px" name="Value" value="@item.Amount"/>
                                }
                                else
                                {
                                    <span class="displayValue">@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.Amount)</span>
                                }
                            }

                        </td>
                        <td dir="ltr" class=@(isOperationInFuture?"future":"")>
                            @if (item.Credit)
                            {
                                if (alowEdit)
                                {
                                    <span class="displayValue">@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.Amount)</span>
                                    <input class="editableInput" style="width: 120px" name="Value" value="@item.Amount"/>
                                }
                                else
                                {
                                    <span class="displayValue">@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.Amount)</span>
                                }
                            }
                        </td>
                        <td dir="ltr"><strong>
                            @Html.DrawBalance((double)ViewBag.Balance, currentAccount.Limit)
                        </strong></td>
                        <td>
                            <input type="hidden" name="Id" value="@item.Id"/>
                            <input type="hidden" name="AccountId" value="@item.AccountId"/>
                            <input type="hidden" name="Credit" value="@(item.Credit ? "0" : "1")"/>
                            @if (alowEdit)
                            {
                                <img src="@Url.Content("~/Css/images/4.png")" class="cursor" height="20" id="editTransactionId" onclick="editTransaction(this)" value="Edit">
                                <img src="@Url.Content("~/Css/images/stack.png")" class="cursor" height="20" id="saveTransactionId" onclick="saveTransaction(this)" value="Save">
                                <img src="@Url.Content("~/Css/images/no.png")" class="cursor" height="20" id="cancleEditId" onclick="cancelEditTransaction(this)" value="Cancel">
                                <a id="deleteTransactionId" href="@Url.Action("DeleteTransaction", new {Id = item.Id, month = currentMonth, year = currentYear})"><img src="@Url.Content("~/Css/images/delete.png")" class="cursor" height="20"></a>
                            }

                        </td>

                    </tr>
                }
            }
            <tr class="footer">
                <td></td>
                <td>@Translations.General.Total</td>
                <td dir="ltr">@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", Model.Transactions.Where(x => !x.Credit).Sum(x => x.Amount))</td>
                <td dir="ltr">@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", Model.Transactions.Where(x => x.Credit).Sum(x => x.Amount))</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="parent5">
        <div class="inline edit closeeditbutton">
            <img src="@Url.Content(" ~/Css/images/wrench.png")" height="40" align="absmiddle">עריכת חשבונות הבנק
        </div>
        <div class="inline green buttoninline">
            מחיקת בנק
        </div>
        <div class="inline green buttoninline">
            עריכת בנק
        </div>
        <div class="inline green">
            <strong>＋</strong> הוספת בנק
        </div>
    </div>
    <br/><br/>
</div>
<div id="fullopaque">
    <div class="popup">
        <p dir="ltr" id="popupResult"></p><br />
        <p dir="ltr" id="popupError"></p><br />

        <input type="button" value="@Translations.Buttons.Close" id="popupbut" class="popupbut">
    </div>
</div>





