﻿<div id="fullopaquePrintCopy">
    <div class="popupPrintCopy">
        <p>@Translations.Bank.DeleteBankMessage</p><br />
        <input type="button" id="deleteBtn" data-id="" value="@Translations.Buttons.Yes" class="popupbut no" onclick="deleteBank(this)" style="margin: 0; font-size: 12px;">
        <input type="button" value="@Translations.Buttons.No" class="popupbut" onclick=" $('#fullopaquePrintCopy').hide(); $('.popupPrintCopy').hide();"style="margin: 0; font-size: 12px;">
    </div>
</div>

