﻿@model Guid

@if (Model != Guid.Empty)
{
    <div id="fullopaquePrint">
        <div class="popupPrint">
            <p>@Translations.Documents.PrintActionSuccess</p><br />
            @Html.ActionLink(Translations.Buttons.Yes, "LockDocumentForEditing", "Documents", new { id = Model }, new { @class = "popupbut", style= "margin: 0; font-size: 12px;" })
            <input type="button" value="@Translations.Buttons.No" class="popupbut no" onclick="hideAfterPrintDialog()" style="margin: 0; font-size: 12px;">
        </div>
    </div>
}

@Html.Partial("~/Views/Documents/Shared/SendCopyDialog.cshtml")


