﻿@using Gizbarit.Utils
@using Microsoft.Ajax.Utilities
@model Gizbarit.DAL.Models.Account.BaseAccountShort

@{
    string orgType = "";
    if (User.Identity.GetOrgType() == Enums.BusinessType.Exemption)
    {
        orgType = "ע.פ.";
    }
    else
    {
        switch (Model.RegisterType)
        {
            case Enums.RegisterType.Company:
                orgType = "ח.פ.";
                break;
            case Enums.RegisterType.NonProfit:
                orgType = "ע.ר.";
                break;
            case Enums.RegisterType.Private:
                orgType = "ע.מ.";
                break;
        }
    }
}

@*===== To view BusinessInfoPartial in case of ModelState.IsValid == false ====*@

<input hidden="hidden" name="BaseDocument.BusinessInfo.PathToLogo" value="@Model.PathToLogo" />
<input hidden="hidden" name="BaseDocument.BusinessInfo.BusinesName" value="@Model.BusinesName" />
<input hidden="hidden" name="BaseDocument.BusinessInfo.Address" value="@Model.Address" />
<input hidden="hidden" name="BaseDocument.BusinessInfo.Phone" value="@Model.Phone" />
<input hidden="hidden" name="BaseDocument.BusinessInfo.Fax" value="@Model.Fax" />
<input hidden="hidden" name="BaseDocument.BusinessInfo.Email" value="@Model.Email" />
<input hidden="hidden" name="BaseDocument.BusinessInfo.BusinessId" value="@Model.BusinessId" />

@*============================================================================*@

@if (!string.IsNullOrEmpty(Model.PathToLogo))
{
    <div style="width: 162px;padding: 20px 0">
        @{ var path = "/Content/Logos/" + Model.PathToLogo; }
        <img style="width: 100%" src="@path" />
    </div>
            }
@if(!Model.BusinesNameEng.IsNullOrWhiteSpace())
{
    <div style="width: 49%; float: left" dir="ltr" class="infoEng">
        <p class="blueboxeswidth">@Model.BusinesNameEng</p><br>
        <p class="blueboxeswidth">@Model.AddressEng</p><br>
        <p class="blueboxeswidthhalf">tel. @Model.Phone</p>
        <p class="blueboxeswidthhalf" @(Model.Fax.IsNullOrWhiteSpace() ? "style=display:none" : "")>Fax: @Model.Fax</p><br />
        <p class="blueboxeswidth">@Model.Email</p><br>
        <p class="blueboxeswidth">Bus.no. @Model.BusinessId</p><br />
    </div>
}


<div style="width: 49%; float: right" dir="ltr" class="infoBase">
    <p class="blueboxeswidth">@Model.BusinesName</p><br>
    <p class="blueboxeswidth">@Model.Address</p><br>
    <p class="blueboxeswidthhalf">טל. @Model.Phone</p>
    <p class="blueboxeswidthhalf" @(Model.Fax.IsNullOrWhiteSpace() ? "style=display:none" : "")>פקס @Model.Fax</p><br />
    <p class="blueboxeswidth">@Model.Email</p><br>
    <p class="blueboxeswidth">@orgType @Model.BusinessId</p><br />
</div>
<div class="clearfix"></div>
