﻿@using Gizbarit.DAL.Entities.Documents
@model Gizbarit.DAL.Models.Documents.BaseDocument

@{
    var notSignedTypes = new[] {DocumentType.PreliminaryInvoice, DocumentType.PriceOffer};

    var printUrl = Url.Action("Print", "Documents", new {id = Model.Id});
    var sendUrl = Url.Action("Send", "Documents", new {id = Model.Id});
    var isSaveAllowed = !Model.IsCopy || Model.DocumentType == DocumentType.PriceOffer || Model.DocumentType == DocumentType.PreliminaryInvoice;
    var isSignRequred = !notSignedTypes.Contains(Model.DocumentType);
    var isConfirmRequred = isSignRequred && Model.IsCopy;
    var isReadonly = !isSaveAllowed;
}

@Html.Hidden("isReadonly", Convert.ToInt32(isReadonly))
@Html.Hidden("BaseDocument.DocumentType", Model.DocumentType)
@Html.Hidden("BaseDocument.Send", Model.Send)
@Html.Hidden("BaseDocument.Print", Model.Print)
@Html.Hidden("BaseDocument.SendCopy", Model.SendCopy)
@Html.Hidden("issaveallowed", isSaveAllowed.ToString().ToLower())
@Html.Hidden("isconfirmrequred", isConfirmRequred.ToString().ToLower() )

<a id="btn-print"
    data-url="@printUrl" 
    class="buttons">
    <img src="@Url.Content("~/Css/images/printer.png")" height="33"><br><strong>@Translations.Buttons.Print</strong>
</a>

@if (Model.DocumentType != DocumentType.Waybill)
{
    <a id="btn-send"
       data-url="@sendUrl"
       data-confirm="@isConfirmRequred.ToString().ToLower()"
       class="buttons">
        <img src="@Url.Content("~/Css/images/envelope.png")" height="33"><br><strong>@Translations.Buttons.Send</strong>
    </a>
}


@if (isSaveAllowed)
{
    <a id="btn-save" class="buttons" style="font-size: 18px">
        <img src="@Url.Content("~/Css/images/stack.png")" height="33"><br><strong>@Translations.Buttons.Save</strong>
    </a>
    @Html.Partial("~/Views/Documents/Shared/SaveSuccessDialog.cshtml")
}

@if (ViewBag.WasSend != null && ViewBag.WasSend == true)
{
    @Html.Partial("~/Views/Documents/Shared/SendSuccessDialog.cshtml")
}

<div id="fullopaque">
    <div class="popup">
        <p dir="ltr" id="popupResult">@Translations.Errors.Error</p><br />
        <p dir="ltr" id="popupError">@Translations.Stock.WarehouseBalanceExceeded</p><br />

        <input type="button" value="@Translations.Buttons.Close" onclick="$('.popup').hide(); $('#fullopaque').hide();" class="popupbut">
    </div>
</div>




