﻿@model Gizbarit.DAL.Models.Documents.ICatalog
@*Pattern for add rows*@
<table id="catalogRowPattern" style="display: none">
    <tr item-id="0">
        <td>
            <input type="hidden" id="Index" name="IncludedCatalogItems.Index" value="0"/>
            <input id="DocumentId" name="IncludedCatalogItems[0].DocumentId" value="" hidden />
            <select class="blueboxeswidthhalf CatalogItemNameSelect" name="IncludedCatalogItems[0].ID" style="width: 100%; height: 28px; background-color: #c7daf2; font-size: 14px;" onchange="CatalogItemSelect(this)">
                <option value="-1" selected> -- @Translations.Buttons.Select -- </option>
                @if (Model.CatalogItems != null)
            {
                foreach (var catalogItem in Model.CatalogItems)
                {
                        <option value="@catalogItem.ID" data-image="/Content/Catalog/@catalogItem.ImagePath" data-id="@catalogItem.ID" data-name="@catalogItem.Name" data-code="@catalogItem.Code" data-price="@catalogItem.Price">@catalogItem.Code:@catalogItem.Name</option>
                    }
                }
            </select>
        </td>
        <td><input dir="ltr" name="IncludedCatalogItems[0].Code" readonly id="CatalogItemCode" style="width: 100%; background-color: #c7daf2" class="blueboxeswidthitalics"></td>
        <td>
            <textarea name="IncludedCatalogItems[0].Name" id="CatalogItemDescription" style="width: 100%; background-color: #c7daf2" class="blueboxeswidthitalics not-cyrillic"></textarea>
        </td>
        <td id="image-tr"></td>
        <td>
            <input dir="ltr" name="IncludedCatalogItems[0].Price" id="CatalogItemPrice" style="width: 100%; background-color: #c7daf2; direction: ltr;" class="blueboxeswidthitalics" onchange="itemInputChange(this)">
        </td>
        <td>
            <input dir="ltr" name="IncludedCatalogItems[0].Quantity" id="CatalogItemAmount" style="width: 100%; background-color: #c7daf2; direction: ltr;" class="blueboxeswidthitalics" onchange="itemInputChange(this)">
        </td>
        <td>
            <input dir="ltr" name="IncludedCatalogItems[0].Discount" id="CatalogItemDiscount" style="width: 60%; background-color: #c7daf2; direction: ltr;" class="blueboxeswidthitalics" onchange="itemInputChange(this)">
            <label style="font-size: 12px; position: relative;top: 8px">%</label>
        </td>
        <td>
            <input dir="ltr" name="CatalogItemTotalPrice" id="CatalogItemTotalPrice" style="width: 100%; background-color: #c7daf2; direction: ltr;" class="blueboxeswidthitalics" value="" onchange="itemInputChange(this)" readonly>
        </td>
        <td>
            <input id="CatalogId" name="IncludedCatalogItems[0].ID" hidden/>
            <div id="Button" class="fivecolumns" style="width: 60px;">
                <img src="/Css/images/delete.png" id="deleteRow" class="cursor" height="20" onclick="deleteCatalogRow(this)">
                <input class="blueboxesfullwidth" id="addnew" onclick="addCatalogRow(this);" style="background-color: #8dc63f; border-radius: 5px; cursor: pointer;" type="button" value="+">
            </div>
        </td>
    </tr>
</table>

@*End patern*@
