﻿@using System.Globalization
@using Quartz.Spi
@model Gizbarit.DAL.Models.Documents.ICatalog


@if (Model.CatalogItems != null && Model.CatalogItems.Any())
{
    for (int i = 0; i < Model.CatalogItems.Count(); i++)
    {
        <input hidden="hidden" name="CatalogItems[@i].ID" value="@Model.CatalogItems.ElementAt(i).ID" data-val="false" />
        <input hidden="hidden" name="CatalogItems[@i].Code" value="@Model.CatalogItems.ElementAt(i).Code" data-val="false" />
        <input hidden="hidden" name="CatalogItems[@i].ImagePath" value="@Model.CatalogItems.ElementAt(i).ImagePath" data-val="false" />
        <input hidden="hidden" name="CatalogItems[@i].Discount" value="@Model.CatalogItems.ElementAt(i).Discount" data-val="false" />
        <input hidden="hidden" name="CatalogItems[@i].DocumentId" value="@Model.CatalogItems.ElementAt(i).DocumentId" data-val="false" />
        <input hidden="hidden" name="CatalogItems[@i].Name" value="@Model.CatalogItems.ElementAt(i).Name" data-val="false" />
        <input hidden="hidden" name="CatalogItems[@i].Price" value="@Model.CatalogItems.ElementAt(i).Price" data-val="false" />
        <input hidden="hidden" name="CatalogItems[@i].Quantity" value="@Model.CatalogItems.ElementAt(i).Quantity" data-val="false" />
    }
}
<table class="catalog-table tablesorter">
    <thead>
        <tr >
            <th style="width: 22%">@Translations.Documents.ResourceManager.GetString("SelectFromCatalog", ViewBag.IsExport?new CultureInfo("en"): CultureInfo.DefaultThreadCurrentCulture)</th>
            <th style="width: 6%">@Translations.Catalog.ResourceManager.GetString("Code", ViewBag.IsExport? new CultureInfo("en") : CultureInfo.DefaultThreadCurrentCulture)</th>
            <th style="width: 24%;text-align: center; cursor: pointer" onclick="clickTable(this)">@Translations.Documents.ResourceManager.GetString("Description", ViewBag.IsExport? new CultureInfo("en") : CultureInfo.DefaultThreadCurrentCulture)</th>
            <th style="width: 7%"></th>
            <th style="width: 8%">@Translations.Documents.ResourceManager.GetString("Price", ViewBag.IsExport? new CultureInfo("en") : CultureInfo.DefaultThreadCurrentCulture)</th>
            <th style="width: 5%">@Translations.Documents.ResourceManager.GetString("Quantity", ViewBag.IsExport ? new CultureInfo("en") : CultureInfo.DefaultThreadCurrentCulture)</th>
            <th style="width: 7%">@Translations.Documents.ResourceManager.GetString("Discount", ViewBag.IsExport ? new CultureInfo("en") : CultureInfo.DefaultThreadCurrentCulture)</th>
            <th style="width: 12%">@Translations.Documents.ResourceManager.GetString("Total", ViewBag.IsExport ? new CultureInfo("en") : CultureInfo.DefaultThreadCurrentCulture)</th>
            <th style="width: 9%"></th>
        </tr>
    </thead>
    <tbody>
    @if (Model.IncludedCatalogItems != null && Model.IncludedCatalogItems.Any())
    {
        for (int i = 0; i < Model.IncludedCatalogItems.Count(); i++)
        {
            var item = Model.IncludedCatalogItems.ElementAt(i);
            <tr class="add" item-id="@i">
                <td>
                    @if (item.DocumentId != null)
                    {
                        <input id="DocumentId" name="IncludedCatalogItems[@i].DocumentId" value="@item.DocumentId" hidden />
                    }
                   
                    <input type="hidden" id="Index" name="IncludedCatalogItems.Index" value="@i"/>
                    <select class="blueboxeswidthhalf CatalogItemNameSelect" name="IncludedCatalogItems[@i].ID" style="height: 28px; width: 100%; background-color: #c7daf2; font-size: 14px;" onchange="CatalogItemSelect(this)">
                        <option value="-1"> -- @Translations.Buttons.ResourceManager.GetString("Select", ViewBag.IsExport ? new CultureInfo("en") : CultureInfo.DefaultThreadCurrentCulture) -- </option>
                        @if (Model.CatalogItems != null)
                        {
                            
                            for (int j = 0; j < Model.CatalogItems.Count(); j++)
                            {

                                var catalogItemOption = Model.CatalogItems.ElementAt(j);
                                if (catalogItemOption.ID == @item.ID)
                                {
                                    <option value="@catalogItemOption.ID" data-id="@catalogItemOption.ID" data-image="/Content/Catalog/@catalogItemOption.ImagePath" data-code="@catalogItemOption.Code" data-name="@catalogItemOption.Name" data-price="@catalogItemOption.Price" selected="selected">@catalogItemOption.Code:@catalogItemOption.Name</option>
                                }
                                else
                                {
                                    <option value="@catalogItemOption.ID" data-id="@catalogItemOption.ID" data-image="/Content/Catalog/@catalogItemOption.ImagePath" data-code="@catalogItemOption.Code" data-name="@catalogItemOption.Name" data-price="@catalogItemOption.Price">@catalogItemOption.Code:@catalogItemOption.Name</option>
                                }
                            }
                        }

                    </select>

                </td>
                <td><input dir="ltr" name="IncludedCatalogItems[@i].Code" readonly value="@item.Code" id="CatalogItemCode" style="width: 100%; background-color: #c7daf2" class="blueboxeswidthitalics"></td>
                <td>
                    <textarea name="IncludedCatalogItems[@i].Name" value="" id="CatalogItemDescription" style="width: 100%; background-color: #c7daf2; height: 70px" class="blueboxeswidthitalics not-cyrillic">@item.Name</textarea>
                </td>
                <td id="image-tr">
                    @if (item.ImagePath != null && item.ImagePath != "")
                    {
                        <img class="catalog-image" src="/Content/Catalog/@(item.ImagePath)"/>
                    }
                </td>
                <td>
                    <input dir="ltr" name="IncludedCatalogItems[@i].Price" value="@item.Price" id="CatalogItemPrice" style="width: 100%; background-color: #c7daf2; direction: ltr;" class="blueboxeswidthitalics" onchange="itemInputChange(this)">
                </td>
                <td>
                    <input dir="ltr" name="IncludedCatalogItems[@i].Quantity" value="@item.Quantity" id="CatalogItemAmount" style="width: 100%; background-color: #c7daf2; direction: ltr;" class="blueboxeswidthitalics" onchange="itemInputChange(this)">
                </td>
                <td>
                    <input dir="ltr" name="IncludedCatalogItems[@i].Discount" value="@item.Discount" id="CatalogItemDiscount" style="width: 60%; background-color: #c7daf2; direction: ltr;" class="blueboxeswidthitalics" onchange="itemInputChange(this)">
                    <label style="font-size: 12px; position: relative; top: 8px">%</label>
                </td>
                <td>
                    <input dir="ltr" name="CatalogItemTotalPrice" id="CatalogItemTotalPrice" style="width: 100%; background-color: #c7daf2; direction: ltr;" class="blueboxeswidthitalics" value="" onchange="itemInputChange(this)" readonly>
                </td>
                @if (Model.CatalogItems != null)
                {
                    for (int j = 0; j < Model.CatalogItems.Count(); j++)
                    {
                       
                        var catalogItemOption = Model.CatalogItems.ElementAt(j);
                        if (catalogItemOption.ID == item.ID)
                        {
                            <input id="CatalogId" name="IncludedCatalogItems[@i].ID" value="@catalogItemOption.ID" hidden/>
                            break;
                        }
                    }
                }

                @if (i < Model.IncludedCatalogItems.Count() - 1)
                {
                    <td>
                        <div id="Button" class="fivecolumns" style="width: 60px;">
                            <img src="/Css/images/delete.png" id="deleteRow" class="cursor" height="20" onclick="deleteCatalogRow(this)">
                        </div>
                    </td>
                }
                else
                {
                    <td>
                        <div id="Button" class="fivecolumns" style="width: 60px;">
                            @if (i != 0)
                            {
                                <img src="/Css/images/delete.png" id="deleteRow" class="cursor" height="20" onclick="deleteCatalogRow(this)">
                            }
                            <input class="blueboxesfullwidth" id="addnew" onclick="addCatalogRow(this);" style="background-color: #8dc63f; border-radius: 5px; cursor: pointer;" type="button" value="+">
                        </div>
                    </td>
                }
                
            </tr>
        }
    }
    else
    {
        <tr class="add" item-id="0">
            <td>
                <input id="DocumentId" name="IncludedCatalogItems[0].DocumentId" value="" hidden />
                <input type="hidden" name="IncludedCatalogItems.Index" value="0"/>
                <select class="blueboxeswidthhalf CatalogItemNameSelect" name="IncludedCatalogItems[0].ID" style="width: 100%; height: 28px; background-color: #c7daf2; font-size: 14px;" onchange="CatalogItemSelect(this)">
                    <option value="-1" selected> -- @Translations.Buttons.ResourceManager.GetString("Select", ViewBag.IsExport ? new CultureInfo("en") : CultureInfo.DefaultThreadCurrentCulture) -- </option>
                    @if (Model.CatalogItems != null)
                    {
                        foreach (var catalogItem in Model.CatalogItems)
                        {
                            <option value="@catalogItem.ID" data-image="/Content/Catalog/@catalogItem.ImagePath" data-id="@catalogItem.ID" data-name="@catalogItem.Name" data-code="@catalogItem.Code" data-price="@catalogItem.Price">@catalogItem.Code:@catalogItem.Name</option>
                        }
                    }
                </select>
            </td>
            <td><input dir="ltr" name="IncludedCatalogItems[0].Code" readonly id="CatalogItemCode" style="width: 100%; background-color: #c7daf2" class="blueboxeswidthitalics"></td>
            <td>
                <textarea name="IncludedCatalogItems[0].Name" id="CatalogItemDescription" style="width: 100%; background-color: #c7daf2" class="blueboxeswidthitalics not-cyrillic"></textarea>
            </td>
            <td id="image-tr"></td>
            <td>
                <input dir="ltr" name="IncludedCatalogItems[0].Price" id="CatalogItemPrice" style="width: 100%; background-color: #c7daf2; direction: ltr;" class="blueboxeswidthitalics" onchange="itemInputChange(this)">
            </td>
            <td>
                <input dir="ltr" name="IncludedCatalogItems[0].Quantity" id="CatalogItemAmount" style="width: 100%; background-color: #c7daf2; direction: ltr;" class="blueboxeswidthitalics" onchange="itemInputChange(this)">
            </td>
            <td>
                <input dir="ltr" name="IncludedCatalogItems[0].Discount" id="CatalogItemDiscount" style="width: 60%; background-color: #c7daf2; direction: ltr;" class="blueboxeswidthitalics" onchange="itemInputChange(this)">
                <label style="font-size: 12px; position: relative;top: 8px">%</label>
            </td>
            <td>
                <input dir="ltr" name="CatalogItemTotalPrice" id="CatalogItemTotalPrice" style="width: 100%; background-color: #c7daf2; direction: ltr;" class="blueboxeswidthitalics" value="" onchange="itemInputChange(this)" readonly>
            </td>
            <td>
                <input id="CatalogId" name="IncludedCatalogItems[0].ID" hidden/>
                <div id="Button" class="fivecolumns" style="width: 60px;">
                    <input class="blueboxesfullwidth" id="addnew" onclick="addCatalogRow(this);" style="background-color: #8dc63f; border-radius: 5px; cursor: pointer;" type="button" value="+">
                </div>
            </td>

        </tr>
    }
    </tbody>
</table>


