﻿@using System.Globalization
@model Gizbarit.DAL.Models.Documents.BaseDocument

@{
    var isReadonly = Model.Id != Guid.Empty;
}


<div class="client-info-container">

@if (Model.ClientInfo == null)
    {
         
        <input id="ClientInfo.Id" name="BaseDocument.ClientInfo.Id" hidden="hidden" value="0"/>
        <input id="ClientInfo.Name" name="BaseDocument.ClientInfo.Name" class="blueboxeswidthitalics not-cyrillic" type="text" placeholder="@Translations.Documents.ResourceManager.GetString("ClinetName", ViewBag.IsExport? new CultureInfo("en") : CultureInfo.DefaultThreadCurrentCulture)" value=""><br>
        <span class="error" id="client_error"><span>@Translations.Documents.ClientExists</span><br></span>
        <input id="ClientInfo.UniqueId" name="BaseDocument.ClientInfo.UniqueId" class="blueboxeswidthitalics" type="text" placeholder="@Translations.Documents.ResourceManager.GetString("ClientBusNo", ViewBag.IsExport? new CultureInfo("en") : CultureInfo.DefaultThreadCurrentCulture)" value=""><br>
        <input id="ClientInfo.Email" name="BaseDocument.ClientInfo.Email" class="blueboxeswidthitalics" type="text" placeholder="@Translations.Documents.ResourceManager.GetString("Email", ViewBag.IsExport? new CultureInfo("en") : CultureInfo.DefaultThreadCurrentCulture)" value=""><br>
        <input id="ClientInfo.Address" name="BaseDocument.ClientInfo.Address" class="blueboxeswidthitalics" type="text" placeholder="@Translations.Documents.ResourceManager.GetString("Address", ViewBag.IsExport? new CultureInfo("en") : CultureInfo.DefaultThreadCurrentCulture)"><br>
        <input id="ClientInfo.Phone" name="BaseDocument.ClientInfo.Phone" class="blueboxeswidthitalics" type="text" placeholder="@Translations.Documents.ResourceManager.GetString("Phone", ViewBag.IsExport? new CultureInfo("en") : CultureInfo.DefaultThreadCurrentCulture)" value=""><br>
    }
    else
    {
       
        <input id="ClientInfo.Id" name="BaseDocument.ClientInfo.Id" hidden="hidden" value="@Model.ClientInfo.Id"/>
        <input id="ClientInfo.Name" name="BaseDocument.ClientInfo.Name" readonly="@(isReadonly)" class="blueboxeswidthitalics not-cyrillic" type="text" placeholder="@Translations.Documents.ResourceManager.GetString("ClinetName", ViewBag.IsExport? new CultureInfo("en") : CultureInfo.DefaultThreadCurrentCulture)" value="@Model.ClientInfo.Name"><br>
        <span class="error" id="client_error"><span>@Translations.Documents.ResourceManager.GetString("ClientExists", ViewBag.IsExport ? new CultureInfo("en") : CultureInfo.DefaultThreadCurrentCulture)</span><br></span>
        <input id="ClientInfo.UniqueId" name="BaseDocument.ClientInfo.UniqueId" readonly="@(isReadonly)" class="blueboxeswidthitalics" type="text" placeholder="@Translations.Documents.ResourceManager.GetString("ClientBusNo", ViewBag.IsExport? new CultureInfo("en") : CultureInfo.DefaultThreadCurrentCulture)" value="@Model.ClientInfo.UniqueId"><br>
        @Html.DropDownList("BaseDocument.ClientInfo.Email", new SelectList(Model.ClientInfo.AdditionEmails), new {@readonly = isReadonly, @class= "blueboxeswidthitalics", style="text-align-last: right;" })<br>
     @*<input id="ClientInfo.Email" name="BaseDocument.ClientInfo.Email" readonly="@(isReadonly)" class="blueboxeswidthitalics" type="text" placeholder="@Translations.Documents.Email" value="@Model.ClientInfo.Email"><br>*@
        
        <input id="ClientInfo.Address" name="BaseDocument.ClientInfo.Address" readonly="@(isReadonly)" class="blueboxeswidthitalics" type="text" placeholder="@Translations.Documents.ResourceManager.GetString("Address", ViewBag.IsExport? new CultureInfo("en") : CultureInfo.DefaultThreadCurrentCulture)" value="@Model.ClientInfo.Address"><br>
        @Html.DropDownList("BaseDocument.ClientInfo.Phone", new SelectList(Model.ClientInfo.AdditionPhones), new { id = "ClientInfo.Phone", @readonly= isReadonly, @class="blueboxeswidthitalics", style="text-align-last: right;" })   <br>
     @*<input id="ClientInfo.Phone" name="BaseDocument.ClientInfo.Phone" readonly="@(isReadonly)" class="blueboxeswidthitalics" type="text" placeholder="@Translations.Documents.Phone" value="@Model.ClientInfo.Phone"><br>*@
    }
</div>

<div class="clearfix"></div>


