﻿@model Gizbarit.DAL.Models.Documents.BaseDocument
<p class="blueboxes">
    <input class="blueboxes @(Model.IsNew?"DateOperationClass":"")" id="Date" name="BaseDocument.DateCreated" style="font-size: 18px; width: 100px; margin: 0; height: 24px" value="@Model.DateCreated.ToString("dd.MM.yyyy")">
</p>