﻿@using Gizbarit.Utils
@model string
<div id="PaymentsTable" style="display: table; width: 100%; border-spacing: 8px 0px;">
    <div style="display: table-row;">
        <div style="display: table-cell;">
            @if (!ViewBag.IsExport)
            {
                @Html.ActionLink(@Translations.Menu.Documents_PriceOffer, "Index", "PriceOffer", null, new {@class = "blueboxesitalics" + (Model == "PriceOffers" ? " active" : "")})
                @Html.ActionLink(@Translations.Menu.Documents_Waybill, "Index", "Waybill", null, new {@class = "blueboxesitalics" + (Model == "Waybills" ? " active" : "")})
                @Html.ActionLink(@Translations.Menu.Documents_PreliminaryInvoice, "Index", "PreliminaryInvoice", null, new {@class = "blueboxesitalics" + (Model == "PreliminaryInvoices" ? " active" : "")})

                if (User.Identity.GetOrgType() != Enums.BusinessType.Exemption)
                {
                    @Html.ActionLink(@Translations.Menu.Documents_Receipt, "Index", "Receipt", null, new {@class = "blueboxesitalics" + (Model == "Receipts" ? " active" : "")})
                    @Html.ActionLink(@Translations.Menu.Documents_TaxInvoice, "Index", "TaxInvoice", null, new {@class = "blueboxesitalics" + (Model == "TaxInvoices" ? " active" : "")})
                    @Html.ActionLink(@Translations.Menu.Documents_TaxInvoiceReceipt, "Index", "InvoiceRecipt", null, new {@class = "blueboxesitalics" + (Model == "InvoiceReceipts" ? " active" : "")})
                }
                else
                {
                    @Html.ActionLink(@Translations.Menu.Documents_Receipt, "Index", "InvoiceRecipt", null, new {@class = "blueboxesitalics" + (Model == "InvoiceReceipts" ? " active" : "")})
                }
            }
            else
            {
                @Html.ActionLink("Commercial offer", "Index", "PriceOffer", new {isExport = true}, new { @class = "blueboxesitalics" + (Model == "PriceOffers" ? " active" : "") })
                @Html.ActionLink("Proforma invoice", "Index", "PreliminaryInvoice", new {isExport = true}, new { @class = "blueboxesitalics" + (Model == "PreliminaryInvoices" ? " active" : "") })
                @Html.ActionLink("Invoice", "Index", "TaxInvoice", new {isExport = true}, new { @class = "blueboxesitalics" + (Model == "TaxInvoices" ? " active" : "") })
            }
        </div>
    </div>
</div>
<br /><br />








