﻿@using System.Collections
@using System.Globalization

@using Gizbarit.DAL.Entities.Documents
@using Gizbarit.Utils

@model Gizbarit.DAL.Models.Documents.BaseDocument

@{
    var vatAmountSelect = new List<SelectListItem>()
    {
        new SelectListItem {Text = "18%", Value = "18"},
        new SelectListItem {Text = "17%", Value = "17"},
        new SelectListItem {Text = "16%", Value = "16"},
        new SelectListItem {Text = "0%", Value = "0"},
    };
    var exportClassName = "blueboxeswidthhalf";
    var exportStyleInput = "height: 28px; width: 100%; background-color: #c7daf2; font-size: 14px;";
    var exportAttribute = new {@class = exportClassName, style = exportStyleInput, @placeholder = "Additional payment terms" };
    var attributesPointOfDelivery = new {@class=exportClassName, style=exportStyleInput, @placeholder = "Point of delivery"};
}


<div style="display: table; text-align: left; width: 100%;" class="total">
    
    <div style="display: table-row;" class="total-payment-field">

        <div style="display: table-cell; width: 170px">
            <p id="totalLabel1" style="padding-top: 5px">@Translations.Documents.ResourceManager.GetString("TotalPayment", ViewBag.IsExport ? new CultureInfo("en") : CultureInfo.DefaultThreadCurrentCulture)</p>
            <p id="totalLabel2" style="display: none; padding-top: 5px">@Translations.Documents.ResourceManager.GetString("Total", ViewBag.IsExport ? new CultureInfo("en") : CultureInfo.DefaultThreadCurrentCulture)</p>
        </div>
        <div style="display: table-cell;">
            @Html.TextBox("BaseDocument.TotalPrice", String.Format(CultureInfo.InvariantCulture, "{0:00.00}", Model.TotalPrice), new { id = "TotalPrice", @class = "blueboxesfullwidth", dir = "ltr", style = "background-color: #8dc63f;", @readonly = "readonly" })
        </div>
        <div style="display: table-cell;">

        </div>
    </div>
 

    @if (User.Identity.GetOrgType() == Enums.BusinessType.Exemption || Model.IsSmallBusiness )
    {
        <input type="hidden" name="BaseDocument.TaxAmount" id="TaxAmount" value="0"/>
        <input type="hidden" name="BaseDocument.Tax" value="0" id="Tax"/>
        <input type="hidden" name="BaseDocument.TotalWithoutRounding" value="0" id="TotalWithoutRounding"/>
    }
    else if (Model.IsExport)
    {<input type="hidden" name="BaseDocument.TaxAmount" id="TaxAmount" value="0" /> }
    else
    {
        <input type="hidden" name="BaseDocument.TaxAmount" id="TaxAmount" value="@Model.TaxAmount"/>
        <div style="display: table-row;">
            <div style="display: table-cell;">
                @Html.DropDownListFor(m => m.TaxAmount, vatAmountSelect, new {dir = "ltr", @class = "blueboxeswidthhalf", id = "taxAmountSelect", style = "height: 28px; width: 60px; background - color: #c7daf2; font-size: 14px;"})
                <p style="padding-top: 5px">@Translations.Documents.ResourceManager.GetString("VAT", ViewBag.IsExport ? new CultureInfo("en") : CultureInfo.DefaultThreadCurrentCulture)</p>
            </div>
            <div style="display: table-cell;">
                @Html.TextBox("BaseDocument.Tax", String.Format(CultureInfo.InvariantCulture, "{0:00.00}", Model.Tax), new {id = "Tax", @class = "blueboxesfullwidth", dir = "ltr", @readonly = "readonly"})

            </div>
            <div style="vertical-align: middle; width: 130px; position: relative; top: 5px">
                <div style="float: right">
                    @Html.CheckBox("BaseDocument.IsTaxIncluded", @Model.IsTaxIncluded, new {id = "IsTaxIncluded", style = "position:relative;top:4px;background-color:white;"})
                    <span style="padding-top: 5px">@Translations.Documents.ResourceManager.GetString("IncludeVAT", ViewBag.IsExport ? new CultureInfo("en") : CultureInfo.DefaultThreadCurrentCulture)</span>
                </div>

            </div>
        </div>
        <div style="display: table-row;">
            <div style="display: table-cell;">
                <p style="padding-top: 5px">@Translations.Documents.ResourceManager.GetString("TotalWithVAT", ViewBag.IsExport ? new CultureInfo("en") : CultureInfo.DefaultThreadCurrentCulture)</p>
            </div>
            <div style="display: table-cell;">
                @Html.TextBox("BaseDocument.TotalWithoutRounding", String.Format(CultureInfo.InvariantCulture, "{0:00.00}", Model.TotalWithoutRounding), new {id = "TotalWithoutRounding", @class = "blueboxesfullwidth", dir = "ltr", style = "background-color: #8dc63f;", @readonly = "readonly"})
            </div>
            <div style="display: table-cell;">
            </div>
        </div>
    }


    @if (!Model.IsExport)
    {
        <div style="display: table-row;">
            <div style="display: table-cell; width: 70%; vertical-align: middle;">
                <p @(Model.IsRounded ? "" : "style=display:none") id="totalWithoutRoundingLabel">@Translations.Documents.TotalPayment</p>
            </div>
            <div style="display: table-cell; width: 20%;">
                @Html.TextBox("BaseDocument.PriceWithTax", String.Format(CultureInfo.InvariantCulture, "{0:00.00}", Model.PriceWithTax), new {id = "PriceWithTax", @class = "blueboxesfullwidth", dir = "ltr", style = "background-color: #8dc63f;" + (Model.IsRounded ? "" : " display: none"), @readonly = "readonly"})
            </div>
            <div style="display: table-cell; width: 10%; vertical-align: middle;">
                <div style="float: right">
                    @Html.CheckBox("BaseDocument.IsRounded", @Model.IsRounded, new {id = "IsRounded", style = "background-color:white; float: right;position:relative;top:4px;"})
                    <span>@Translations.Documents.Round</span>
                </div>
            </div>
        </div>
    }
    else
    {


        <div style="display: table-row;" class="total-payment-field">

            <div style="display: table-cell; width: 5%">
                @Html.CheckBox("BaseDocument.IsRounded", @Model.IsRounded, new {id = "IsRounded", style = "background-color:white; float: right;position:relative;top:4px;"})
            </div>
            <div style="display: table-cell;">
                <span>@Translations.Documents.ResourceManager.GetString("Round", ViewBag.IsExport ? new CultureInfo("en") : CultureInfo.DefaultThreadCurrentCulture)</span>
            </div>
     
        </div>


        if(User.Identity.GetOrgType() != Enums.BusinessType.Exemption || !Model.IsSmallBusiness)
        {
        <div style="display: table-row; width: 100%" class="total-payment-field">
            <div style="display: table-cell; width: 170px;">
                <p style="padding-top: 5px">@Translations.Documents.ResourceManager.GetString("VAT", ViewBag.IsExport ? new CultureInfo("en") : CultureInfo.DefaultThreadCurrentCulture)</p>
            </div>
            <div style="display: table-cell;">
                @Html.TextBox("BaseDocument.Tax", String.Format(CultureInfo.InvariantCulture, "{0:00.00}", Model.Tax), new {id = "Tax", @class = "blueboxesfullwidth", dir = "ltr", @readonly = "readonly"})

            </div>

        </div>

        <div style="display: table-row; width: 100%" class="total-payment-field">
            <div style="display: table-cell; width: 170px">
                <p style="padding-top: 5px">@Translations.Documents.ResourceManager.GetString("TotalWithVAT", ViewBag.IsExport ? new CultureInfo("en") : CultureInfo.DefaultThreadCurrentCulture)</p>
            </div>
            <div style="display: table-cell;">
                @Html.TextBox("BaseDocument.TotalWithoutRounding", String.Format(CultureInfo.InvariantCulture, "{0:00.00}", Model.TotalWithoutRounding), new {id = "TotalWithoutRounding", @class = "blueboxesfullwidth", dir = "ltr", style = "background-color: #8dc63f;", @readonly = "readonly"})
            </div>

        </div>
    }
     <div style="display: table-row; width: 100%;" class="total-payment-field">
        <div style="display: table-cell; width: 170px;">
            <p @(Model.IsRounded ? "" : "style=display:none") id="totalWithoutRoundingLabel">@Translations.Documents.ResourceManager.GetString("TotalPayment", ViewBag.IsExport ? new CultureInfo("en") : CultureInfo.DefaultThreadCurrentCulture)</p>
        </div>
        <div style="display: table-cell;">
            @Html.TextBox("BaseDocument.PriceWithTax", String.Format(CultureInfo.InvariantCulture, "{0:00.00}", Model.PriceWithTax), new { id = "PriceWithTax", @class = "blueboxesfullwidth", dir = "ltr", style = "background-color: #8dc63f;" + (Model.IsRounded ? "" : " display: none"), @readonly = "readonly" })
        </div>
 
    </div>
    }
    </div>

@if (Model.IsExport)
{
    <div class="clearfix">

    </div>
        <br />
    <br/>
    <div style="display: table; text-align: left; width: 100%; font-size: 14px;">
        <div style="display: table-row; width: 100%;" class="total-payment-field">
            <div style="display: table-cell; width: 170px;">
                <p>@Translations.Documents.ResourceManager.GetString("Currency", ViewBag.IsExport ? new CultureInfo("en") : CultureInfo.DefaultThreadCurrentCulture)</p>
            </div>
            <div style="display: table-cell; width: 170px;">
                @Html.DropDownList("BaseDocument.Currency", Model.CurrencyList.Select((element) =>
                {
                    return new SelectListItem()
                    {
                        Text = element,
                        Value = element,
                        Selected = element == Model.Currency
                    };

                }), exportAttribute)
            </div>
          
        </div>
        <div style="display: table-row; width: 100%;" class="total-payment-field">
            <div style="display: table-cell; width: 170px;">
                <p>@Translations.Documents.ResourceManager.GetString("DeliveryTerms", ViewBag.IsExport ? new CultureInfo("en") : CultureInfo.DefaultThreadCurrentCulture)</p>
            </div>
            <div style="display: table-cell; width: 170px;">
                @Html.DropDownList("BaseDocument.DeliveryTerms", ((DeliveryTermsType[]) Enum.GetValues(typeof (DeliveryTermsType))).Select((element) =>
                {
                    return new SelectListItem()
                    {
                        Text = element.ToString(),
                        Value = element.ToString(),
                        Selected = element == Model.DeliveryTerms
                    };
                }), exportAttribute)
            </div>
            
        </div>

        <div style="display: table-row; width: 100%;" class="total-payment-field">
            <div style="display: table-cell; width: 170px;">
                <p>@Translations.Documents.ResourceManager.GetString("TermsOfPayments", ViewBag.IsExport ? new CultureInfo("en") : CultureInfo.DefaultThreadCurrentCulture)</p>
            </div>
            <div style="display: table-cell; width: 170px;">
                @Html.DropDownList("BaseDocument.TermsOfPayment", ((TermsOfPaymentType[]) Enum.GetValues(typeof (TermsOfPaymentType))).Select((element) =>
                {
                    return new SelectListItem()
                    {
                        Text = element.ToString(),
                        Value = element.ToString(),
                        Selected = element == Model.TermsOfPayment
                    };
                }), exportAttribute)
            </div>
            <div style="display: table-cell; padding-left: 10px; ">
                @Html.TextBox("BaseDocument.ExportAditionInfo", null, exportAttribute)
            </div>
        </div>
        <div style="display: table-row; width: 100%;" class="total-payment-field">
            <div style="display: table-cell; width: 170px">
                <p>@Translations.Documents.ResourceManager.GetString("TimeOfDelivery", ViewBag.IsExport ? new CultureInfo("en") : CultureInfo.DefaultThreadCurrentCulture)</p>
            </div>
            <div style="display: table-cell; width: 170px">
                @Html.TextBox("BaseDocument.TimeOfDelivery", null, new { @class = exportClassName, style = exportStyleInput })
            </div>
            <div style="display: table-cell; padding-left: 10px; ">
                @Html.TextBox("BaseDocument.PointOfDelivery", null, attributesPointOfDelivery)
            </div>
        
        </div>
        </div>

}

