﻿@using Gizbarit.DAL.Entities.Documents
@using Gizbarit.Utils
@model List<Gizbarit.DAL.Models.Documents.Related.LinkedPreliminaryInvoice>

@if (Model != null && Model.Any())
{
    <h2 style="text-align:center;">@ViewBag.DocumentTypeName</h2>

    <div style="display:table;width:100%; border-spacing: 4px 0px;" class="oneform">
        <div style="display:table-row;text-align:center;">
            <div style="width: 10%;display:table-cell;">
                <p>@Translations.Documents.Number</p>
            </div>
            <div style="width: 10%;display:table-cell;">
                <p>@Translations.Documents.Date</p>
            </div>
            <div style="width: 40%;display:table-cell;">
                <p>@Translations.Documents.Description</p>
            </div>
            <div style="width: 20%; display: table-cell;">
                @if (User.Identity.GetOrgType() != Enums.BusinessType.Exemption)
                {
                    <p>@Translations.Documents.AmountIncludingVat</p>
                }
                else
                {
                    <p>@Translations.Documents.Amount</p>
                }
            </div>
            <div style="width: 15%;display:table-cell;">
                <p>@Translations.Documents.Paid</p>
            </div>
            <div style="width: 10%;display:table-cell;">
                <p></p>
            </div>
        </div>

        @for (int i = 0; i < Model.Count(); i++)
        {
            <div style="display:table-row;" class="DealOfferRow">

                @{
                    var catalogItems = Model[i].IncludedCatalogItems.ToList();

                    for (int j = 0; j < catalogItems.Count(); j++)
                    {
                        var isTaxIncluded = Model[i].BaseDocument.IsTaxIncluded ? "true" : "false";
                        <div name="CatalogItemOfDealOffer" idCatalogItem="@j" hidden>
                            <input type="hidden" name="CatalogItemNameSelect" value="@catalogItems.ElementAt(j).ID"/>
                            <input type="hidden" name="TaxIncluded" value="@isTaxIncluded"/>
                            <input type="hidden" name="CatalogItemCode" value="@catalogItems.ElementAt(j).Code"/>
                            <input type="hidden" name="CatalogItemPrice" value="@catalogItems.ElementAt(j).Price"/>
                            <input type="hidden" name="CatalogId" value="@catalogItems.ElementAt(j).ID"/>
                            <input type="hidden" name="CatalogItemImage" value="@catalogItems.ElementAt(j).ImagePath"/>
                            <input type="hidden" name="CatalogItemAmount" value="@catalogItems.ElementAt(j).Quantity"/>
                            <input type="hidden" name="CatalogItemDiscount" value="@catalogItems.ElementAt(j).Discount"/>
                            <input type="hidden" name="CatalogItemDescription" value="@catalogItems.ElementAt(j).Name"/>
                            <input type="hidden" name="CatalogItemDocumentId" value="@catalogItems.ElementAt(j).DocumentId"/>
                            
                            <input type="hidden" name="CatalogItemCurrency" value="@catalogItems.ElementAt(j).Currency">
                            <input type="hidden" name="CatalogItemDeliveryTermsOfPayments" value="@catalogItems.ElementAt(j).DeliveryTermsOfPayments"/>
                            <input type="hidden" name="CatalogItemTermsOfPaymentType" value="@catalogItems.ElementAt(j).TermsOfPaymentType"/>

                            <input type="hidden" name="CatalogItemPointOfDelivery" value="@catalogItems.ElementAt(j).PointOfDelivery"/>
                            <input type="hidden" name="CatalogItemExportAditionInfo" value="@catalogItems.ElementAt(j).ExportAditionInfo"/>
                            <input type="hidden" name="CatalogItemTimeOfDelivery" value="@catalogItems.ElementAt(j).TimeOfDelivery"/>

                            @Html.Hidden("DocPaymentDueDateDays", Model[i].PaymentDueDateDays)
                            @Html.Hidden("DocExtras", Model[i].OfferExtras)
                        </div>
                    }
                }

                <div style="width: 10%; display: table-cell;">
                    <input id="Number" value="@Model[i].BaseDocument.Number" readonly style="width: 100%; background-color: #c7daf2;" class="blueboxeswidthitalics" onchange="itemInputChange(this)">
                </div>

                <div style="width: 10%; display: table-cell;">
                    <input value="@Model[i].BaseDocument.DateCreated.ToString("d")" readonly style="width: 100%; background-color: #c7daf2;" class="blueboxeswidthitalics" onchange="itemInputChange(this)">
                </div>


                <div style="width: 40%; display: table-cell;">
                    <input value="@Model[i].BaseDocument.Subject" readonly style="width: 100%; background-color: #c7daf2;" class="blueboxeswidthitalics" onchange="itemInputChange(this)">
                </div>

                <div style="width: 20%; display: table-cell;">
                    <input value="@Model[i].BaseDocument.PriceWithTax" readonly style="width: 100%; background-color: #c7daf2;" class="blueboxeswidthitalics" onchange="itemInputChange(this)">
                </div>
                <div style="width: 15%; display: table-cell;">
                    <input value="@Model[i].Paid" readonly style="width: 100%; background-color: #c7daf2;" class="blueboxeswidthitalics" onchange="itemInputChange(this)">
                </div>

                <div style="width: 10%; display: table-cell;">
                    <div id="Button" class="fivecolumns" style="width: 100%;">
                        <input class="blueboxesfullwidth" id="addnew" onclick="@(Model[i].BaseDocument.DocumentType == DocumentType.PreliminaryInvoice?"addDealOfferItemsToCatalogItems(this, true)":"addDealOfferItemsToCatalogItems(this)");" style="background-color: #8dc63f; border-radius: 5px; cursor: pointer;" type="button" value="+"><br>
                    </div>
                </div>

               
            </div>
        }
    </div>
  }



    
