﻿@using Gizbarit.DAL.Entities.Documents
@using Gizbarit.Utils
@model Gizbarit.DAL.Models.Documents.Related.LinkedDocuments


@if (Model.SelectedDocumentItem == null)
{
    <div style="display: table; width: 800px;border-spacing: 4px 0px;" id="SelectedDocumentsTable">
        <div style="display: table-row;" id="DocumentRow" item-id="0">
            <div style="display: table-cell; text-align: right; width: 15%;">
                <p>@Translations.Documents.ReceiptFor</p>
            </div>
            <div style="display: table-cell; width: 25%;">
                <select class="blueboxeswidthhalf" id="receiptFor" style="width: 100%; background-color: #c7daf2; font-size: 14px;" onchange="ReceiptForItemSelect(this)">
                    <option disabled selected="selected">@Translations.Buttons.Select</option>
                    <option value="TaxInvoice">@Translations.Menu.Documents_TaxInvoice</option>
                    <option value="PrepaymentInvoice">@Translations.Menu.Documents_PreliminaryInvoice</option>
                    <option value="other">@Translations.Documents.Other</option>
                </select>
            </div>
            <div style="display: table-cell; text-align: left; width: 25%;">
                <p style="display: none" id="TaxInvoiceLabel">@Translations.Documents.TaxInvoiceNumber:</p>
                <p style="display: none" id="PrepaymentInvoiceLabel">@Translations.Documents.PreliminaryInvoiceNumber:</p>
            </div>
            <div style="display: table-cell; width: 25%;">

                <select class="blueboxeswidthhalf" id="ListOfTaxItems" name="SelectedDocumentItem.Id" style="display:none; width: 100%; background-color: #c7daf2; font-size: 14px;" onchange="checkPaid(this)">
                    <option value="" disabled selected> -- select an item -- </option>
                    @foreach (var document in @Model.TaxInvoices)
                    {
                        <option value="@document.Id" data-total="@document.TotalPrice" data-totalvat="@document.PriceWithTax" data-paid="@document.Paid">@document.Number</option>
                    }
                </select>

                <select class="blueboxeswidthhalf" id="ListOfDealFormItems" name="SelectedDocumentItem.Id" style="display:none; width: 100%; background-color: #c7daf2; font-size: 14px;" onchange="checkPaid(this)">
                    <option value="" disabled selected> -- select an item -- </option>
                    @foreach (var document in @Model.PreliminaryInvoices)
                    {
                        <option value="@document.Id" data-total="@document.TotalPrice" data-totalvat="@document.PriceWithTax" data-paid="@document.Paid">@document.Number</option>
                    }
                </select>
                <input type="text" id="OtherDescription" name="OtherDescription" class="blueboxeswidthitalics" placeholder="receipt basis (prepayment, business freed from VAT)" style="display:none;width:100%;background-color: #c7daf2" />
            </div>
            <input id="InUse" name="SelectedDocumentItem.InUse" value="1" hidden />
        </div>
    </div>


}
else
{
    <div style="display: table; width: 800px;border-spacing: 4px 0px;" id="SelectedDocumentsTable">

        @{
            var item = Model.SelectedDocumentItem;

            <div style="display: table-row;" id="DocumentRow" item-id="0">
                <div style="display: table-cell; text-align: right; width: 15%;">
                    <p>@Translations.Documents.ReceiptFor</p>
                </div>
                @Html.HiddenFor(m=> m.SelectedDocumentItem.Id)

                @switch ((DocumentType)item.DocumentType)
                {
                    case DocumentType.PreliminaryInvoice:
                        <div style="display: table-cell; width: 25%;">
                            <select class="blueboxeswidthhalf" disabled id="receiptFor" style="width: 100%; background-color: #c7daf2; font-size: 14px;" onchange="ReceiptForItemSelect(this)">
                                <option disabled>@Translations.Buttons.Select</option>
                                <option value="TaxInvoice">@Translations.Menu.Documents_TaxInvoice</option>
                                <option value="PrepaymentInvoice" selected="selected">@Translations.Menu.Documents_PreliminaryInvoice</option>
                                <option value="other">Other</option>
                            </select>
                        </div>

                        <div style="display: table-cell; text-align: left; width: 25%;">
                            <p style="display: none" id="TaxInvoiceLabel">@Translations.Documents.TaxInvoiceNumber:</p>
                            <p style="" id="PrepaymentInvoiceLabel">@Translations.Documents.PreliminaryInvoiceNumber:</p>
                        </div>

                        <div style="display: table-cell; width: 25%;">
                            <select class="blueboxeswidthhalf" disabled id="ListOfDealFormItems" name="SelectedDocumentItem.Id" style="width: 100%; background-color: #c7daf2; font-size: 14px;" onchange="checkPaid(this)">
                                <option value="@item.Id" data-total="@item.TotalPrice" data-totalvat="@item.PriceWithTax" data-paid="@item.Paid" selected="selected">@item.Number</option>
                            </select>
                            <script>
                                $(document).ready(function() {
                                    $("#ListOfDealFormItems").trigger("change");
                                });
                            </script>
                        </div>

                        break;

                    case DocumentType.TaxInvoice:
                        <div style="display: table-cell; width: 25%;">
                            <select class="blueboxeswidthhalf" disabled id="receiptFor" style="width: 100%; background-color: #c7daf2; font-size: 14px;" onchange="ReceiptForItemSelect(this)">
                                <option disabled>@Translations.Buttons.Select</option>
                                <option value="TaxInvoice" selected="selected">@Translations.Menu.Documents_TaxInvoice</option>
                                <option value="PrepaymentInvoice">@Translations.Menu.Documents_PreliminaryInvoice</option>
                                <option value="other">@Translations.Documents.Other</option>
                            </select>
                        </div>
                        <div style="display: table-cell; text-align: left; width: 25%;">
                            <p style="" id="TaxInvoiceLabel">@Translations.Documents.TaxInvoiceNumber:</p>
                            <p style="display: none" id="PrepaymentInvoiceLabel">@Translations.Documents.PreliminaryInvoiceNumber:</p>
                        </div>

                        <div style="display: table-cell; width: 25%;">
                            <select class="blueboxeswidthhalf" disabled id="ListOfTaxItems" name="SelectedDocumentItem.Id" style="width: 100%; background-color: #c7daf2; font-size: 14px;" onchange="checkPaid(this)">
                                <option value="@item.Id" data-total="@item.TotalPrice" data-totalvat="@item.PriceWithTax" data-paid="@item.Paid" selected="selected">@item.Number</option>
                            </select>
                        </div>
                        <script>
                                $(document).ready(function() {
                                    $("#ListOfTaxItems").trigger("change");
                                });
                        </script>
                        break;
                }
                <input id="InUse" name="SelectedDocumentItem.InUse" value="1" hidden />
            </div>
        }
    </div>
}

<br/>
<table class="table documents" style="display: none" id="tableHint">
    <tr>
        <th>@Translations.Documents.AmountWithoutVat</th>
        @if (User.Identity.GetOrgType() != Enums.BusinessType.Exemption)
        {
            <th>@Translations.Documents.AmountIncludingVat</th>
        }
        else
        {
            <th>@Translations.Documents.Amount</th>
        }
        <th>@Translations.Documents.Paid</th>
        <th>@Translations.Documents.BalanceDue</th>
    </tr>
    <tr>
        <td id="total"></td>
        <td id="totalVat"></td>
        <td id="paid"></td>
        <td id="due"></td>
    </tr>
</table>