﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body dir="rtl">
    <div>
        <p>
            לכבוד
            {recipient}
        </p>

        <p>
            למכתב הנ"ל צורף
            {documentName}
            מ
            {sender}
        </p>

        <p>
            בכבוד רב
        </p>
        <a href="https://gizbarit.biz">
            מערכת לניהול כספים לעסקים קטנים "גזברית"
        </a>
    </div>
</body>
</html>
