﻿
<div id="fullopaqueSendSuccess">
    <div class="popupSendSuccess">
        <p>@Translations.Documents.OperationSuccess</p><br />
        <input type="button" value="@Translations.Buttons.Close" class="popupbut" onclick="closeSendSuccess()" style="margin: 0; font-size: 12px;">
    </div>
</div>
