﻿<div id="paymentRowTemplate" style="display: none;">
    <div style="display: table-row;" item-id="0" class="PaymentRow">
        <div style="width: 22%;display:table-cell;">
            <select class="blueboxeswidthhalf" id="PaymentType" name="Payments[0].PaymentType" style="height: 28px;width:100%;background-color: #c7daf2; font-size: 14px;" onchange="PaymentItemSelect(this)">
                <option disabled selected> -- @Translations.General.Choose -- </option>
                @foreach (var paymentType in @Model.PaymentTypes)
                {
                    <option value="@paymentType.Id" data-id="@paymentType.Id" data-name="@paymentType.Name">@paymentType.Name</option>
                }
            </select>

            @Html.Hidden("Payments[0].PaymentType", 0, new { id = "PaymentType" })
        </div>

        <input type="hidden" id="Index" name="Payments.Index" value="0" />
        <div style="width: 13%;display:table-cell;">
            <input disabled name="Payments[0].AccountNumber" id="PaymentAccountNumber" style="width: 100%;background-color: #c7daf2" class="blueboxeswidthitalics" placeholder="@Translations.Register.AccountNo">
        </div>
        <div style="width: 13%;display:table-cell;">
            <input disabled name="Payments[0].BranchName" id="PaymentBranchName" style="width: 100%;background-color: #c7daf2" class="blueboxeswidthitalics" placeholder="@Translations.Register.BranchNumber">
        </div>
        <div style="width: 13%; display: table-cell;">
            <input disabled name="Payments[0].BankName" id="PaymentBankName" style="width: 100%; background-color: #c7daf2" class="blueboxeswidthitalics" placeholder="@Translations.Register.SelectBank">
        </div>
        <div style="width: 13%;display:table-cell;">
            <input disabled name="Payments[0].CheckNumber" id="PaymentCheckNumber" style="width:100%;background-color: #c7daf2" class="blueboxeswidthitalics" value="" placeholder="@Translations.Documents.CheckNumber">
        </div>
        <div style="width: 13%;display:table-cell;">
            <input disabled dir="ltr" name="Payments[0].Sum" id="PaymentSum" onchange="paymentInputChange()" style="width:100%;background-color: #c7daf2" class="blueboxeswidthitalics" value="0" placeholder="@Translations.Documents.Amount">
        </div>
        <div style="width: 13%; display: table-cell;">
            <input disabled name="Payments[0].DateOperation" style="width: 100%; background-color: #c7daf2" class="DateOperationClass blueboxeswidthitalics" value="" placeholder="@Translations.Documents.Date">
        </div>

        <div style="display:table-cell;width:10%;">
            <div id="Button" class="fivecolumns" style="width: 60px;">
                <input disabled class="blueboxesfullwidth" id="addnewpayment" onclick="addPaymentRow(this);" style="background-color: #8dc63f; border-radius: 5px; cursor: pointer;" type="button" value="+"><br>
            </div>
        </div>
    </div>
</div>

