﻿
@model Gizbarit.DAL.Models.Documents.IPayment


@if (Model.PaymentTypes != null && Model.PaymentTypes.Any())
{
    for (int i = 0; i < Model.PaymentTypes.Count(); i++)
    {
        <input hidden="hidden" name="PaymentTypes[@i].Id" value="@Model.PaymentTypes.ElementAt(i).Id" />
        <input hidden="hidden" name="PaymentTypes[@i].Name" value="@Model.PaymentTypes.ElementAt(i).Name" />
    }
}
        <div style="display: table; width: 100%;">
            <div style="display: table-row;">
                <div style="display: table-cell; width: 90%; border-spacing: 4px 0px;">
                    <div id="PaymentsTable" style="display: table;">

                        @if (Model.Payments != null && Model.Payments.Any())
                        {
                            var index = 0;
                            foreach (var payment in Model.Payments)
                            {
                                <div style="display: table-row;" item-id="@index" class="PaymentRow">
                                    <div style="width: 22%; display: table-cell;">
                                        <select class="blueboxeswidthhalf PaymentTypeSelector" id="PaymentType" name="Payments[@index].PaymentType" style="height: 28px;width: 100%; background-color: #c7daf2; font-size: 14px;" onchange="PaymentItemSelect(this, false)">
                                            <option value="DefaultOption" disabled selected> -- @Translations.General.Choose -- </option>

                                            @foreach (var paymentType in @Model.PaymentTypes)
                                            {
                                                <option value="@paymentType.Id" data-id="@paymentType.Id" data-name="@paymentType.Name" @(payment.PaymentType == paymentType.Id?"selected":"")>@paymentType.Name</option>
                                            }
                                        </select>
                                    </div>

                                    <input type="hidden" id="Index" name="Payments.Index" value="@index" />
                                    <div style="width: 13%; display: table-cell;">
                                        <input name="Payments[@index].AccountNumber" value="@payment.AccountNumber" id="PaymentAccountNumber" style="width: 100%; background-color: #c7daf2" class="blueboxeswidthitalics" placeholder="@Translations.Register.AccountNo">
                                    </div>
                                    <div style="width: 13%; display: table-cell;">
                                        <input name="Payments[@index].BranchName" value="@payment.BranchName" id="PaymentBranchName" style="width: 100%; background-color: #c7daf2" class="blueboxeswidthitalics" placeholder="@Translations.Register.BranchNumber">
                                    </div>
                                    <div style="width: 13%; display: table-cell;">
                                        <input name="Payments[@index].BankName" value="@payment.BankName" id="PaymentBankName" style="width: 100%; background-color: #c7daf2" class="blueboxeswidthitalics" placeholder="@Translations.Register.SelectBank">
                                    </div>
                                    <div style="width: 13%; display: table-cell;">
                                        <input name="Payments[@index].CheckNumber" value="@payment.CheckNumber" id="PaymentCheckNumber" style="width: 100%; background-color: #c7daf2" class="blueboxeswidthitalics" placeholder="@Translations.Documents.CheckNumber">
                                    </div>
                                    <div style="width: 13%; display: table-cell;">
                                        <input dir="ltr" name="Payments[@index].Sum" onchange="paymentInputChange()" value="@(payment.Sum==0?"":payment.Sum.ToString())" id="PaymentSum" style="width: 100%; background-color: #c7daf2" class="blueboxeswidthitalics" placeholder="@Translations.Documents.Amount">
                                    </div>
                                    <div style="width: 13%; display: table-cell;">
                                        <input name="Payments[@index].DateOperation" value="@(payment.DateOperation.Year != 1?String.Format("{0:d}", payment.DateOperation):"")" style="width: 100%; background-color: #c7daf2" class="DateOperationClass blueboxeswidthitalics" placeholder="@Translations.Documents.Date">
                                    </div>

                                    @if (index < Model.Payments.Count() - 1)
                                    {
                                        <div style="display: table-cell; width: 10%;">
                                            <div id="Button" class="fivecolumns" style="width: 60px;">
                                                <img src="/Css/images/delete.png" class="cursor" height="20"  onclick="deletePaymentRow(this)"><br>
                                            </div>
                                        </div>
                                    }
                                    else if(index != 0)
                                    {
                                        <div style="display: table-cell; width: 10%;">
                                            <div id="Button" class="fivecolumns" style="width: 60px;">
                                                <img src="/Css/images/delete.png" id="deleteRow" class="cursor" height="20" onclick="deletePaymentRow(this)">
                                                <input class="blueboxesfullwidth" id="addnewpayment" onclick="addPaymentRow(this);" style="background-color: #8dc63f; border-radius: 5px; cursor: pointer;" type="button" value="+">
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div style="display: table-cell; width: 10%;">
                                            <div id="Button" class="fivecolumns" style="width: 60px;">
                                                <input class="blueboxesfullwidth" id="addnewpayment" onclick="addPaymentRow(this);" style="background-color: #8dc63f; border-radius: 5px; cursor: pointer;" type="button" value="+">
                                            </div>
                                        </div>
                                    }

                                </div>

                                index++;
                            }
                            <script>
                                $(".PaymentTypeSelector").each(function (index, value) {
                                    PaymentItemSelect(value, false);
                                });
                            </script>
                        }
                        else
                        {
                            <div style="display: table-row;" item-id="0" class="PaymentRow">
                                <div style="width: 22%; display: table-cell;">
                                    <select class="blueboxeswidthhalf" id="PaymentType" name="Payments[0].PaymentType" style="height: 28px; width: 100%; background-color: #c7daf2; font-size: 14px;" onchange="PaymentItemSelect(this, false)">
                                        <option disabled selected> -- @Translations.General.Choose -- </option>
                                        @foreach (var paymentType in @Model.PaymentTypes)
                                        {
                                            <option value="@paymentType.Id" data-id="@paymentType.Id" data-name="@paymentType.Name">@paymentType.Name</option>
                                        }
                                    </select>

                                    @Html.Hidden("Payments[0].PaymentType", 0, new {id = "PaymentType"})
                                </div>
                                <input type="hidden" id="Index" name="Payments.Index" value="0" />
                                <div style="width: 13%; display: table-cell;">
                                    <input disabled name="Payments[0].AccountNumber" id="PaymentAccountNumber" style="width: 100%; background-color: #c7daf2" class="blueboxeswidthitalics" placeholder="@Translations.Register.AccountNo">
                                </div>
                          
                      
                                <div style="width: 13%; display: table-cell;">
                                    <input disabled name="Payments[0].BranchName" id="PaymentBranchName" style="width: 100%; background-color: #c7daf2" class="blueboxeswidthitalics" placeholder="@Translations.Register.BranchNumber">
                                </div>
                                <div style="width: 13%; display: table-cell;">
                                    <input disabled name="Payments[0].BankName" id="PaymentBankName" style="width: 100%; background-color: #c7daf2" class="blueboxeswidthitalics" placeholder="@Translations.General.Bank">
                                </div>
                                <div style="width: 13%; display: table-cell;">
                                    <input disabled name="Payments[0].CheckNumber" id="PaymentCheckNumber" style="width: 100%; background-color: #c7daf2" class="blueboxeswidthitalics" value="" placeholder="@Translations.Documents.CheckNumber">
                                </div>
                                <div style="width: 13%; display: table-cell;">
                                    <input disabled dir="ltr" name="Payments[0].Sum" onchange="paymentInputChange()" id="PaymentSum" style="width: 100%; background-color: #c7daf2" class="blueboxeswidthitalics" value="" placeholder="@Translations.Documents.Amount">
                                </div>
                                <div style="width: 13%; display: table-cell;">
                                    <input disabled name="Payments[0].DateOperation" style="width: 100%; background-color: #c7daf2" class="DateOperationClass blueboxeswidthitalics" value="" placeholder="@Translations.Documents.Date">
                                </div>

                                <div style="display: table-cell; width: 10%;">
                                    <div id="Button" class="fivecolumns" style="width: 60px;">
                                        <input disabled class="blueboxesfullwidth" id="addnewpayment" onclick="addPaymentRow(this);" style="background-color: #8dc63f; border-radius: 5px; cursor: pointer;" type="button" value="+"><br>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        
