﻿<div id="fullopaqueSaveSuccess">
    <div class="popupSaveSuccess" style="text-align: center">
        <p>@Translations.Documents.SaveSuccess</p><br/>
        <input type="button" value="@Translations.Buttons.Close" class="popupbut" onclick="hideSaveSuccessDialog()" style="margin: 0; font-size: 12px;">
    </div>
</div>


