﻿<div id="fullopaquePrintCopy">
    <div class="popupPrintCopy">
        <p>@Translations.Documents.CopySource</p><br/>
        <p style="font-size: 12px; width: 80%;float: left">@Translations.Documents.CustomText</p>
        <div style="width: 20%">
            <div class="check_box" style="display: none;"></div>
            <div class="uncheck_box" style=""></div>
        </div>
        <textarea class="customTextArea blueboxeswidthitalics" rows="5" style="display: none; width: 100%; background-color: rgb(199, 218, 242); overflow: hidden; word-wrap: break-word; margin-top: 10px;"></textarea>
        <div class="clearfix"></div>
        <br />
        <input type="button" value="@Translations.Buttons.Yes" class="popupbut" onclick="window.sendDocument(this,false)" style="margin: 0; font-size: 12px;">
        <input type="button" value="@Translations.Buttons.No" class="popupbut" onclick="window.sendDocument(this,true)" style="margin: 0; font-size: 12px;">
    </div>

    <div class="popupCustomText">
        <p style="font-size: 12px; width: 80%;float: left">@Translations.Documents.CustomText</p>
        <div style="width: 20%">
            <div class="check_box" style="display: none;"></div>
            <div class="uncheck_box" style=""></div>
        </div>
        <textarea class="customTextArea blueboxeswidthitalics" rows="5" style="display: none; width: 100%; background-color: rgb(199, 218, 242); overflow: hidden; word-wrap: break-word; margin-top: 10px;"></textarea>
        <div class="clearfix"></div>
        <br/>
        <input type="button" value="@Translations.Buttons.Cancel" class="popupbut" onclick="cancelSendCopyOfDocuments()" style="margin: 0; font-size: 12px;" />
        <input type="button" value="@Translations.Buttons.Send" class="popupbut" onclick="window.sendDocument(this, false)" style="margin: 0; font-size: 12px;">
       
    </div>
</div>


