﻿<div id="fullopaque">
    <div class="popup">
       
        <p dir="ltr" id="popupResult">@Translations.Documents.ErrorVatConditions</p><br/>
        <input type="button" value="@Translations.Buttons.Close" id="popupbut" class="popupbut" onclick="closeDocumentError()">
    </div>
</div>
