﻿
@model Gizbarit.Web.Areas.Admin.Models.OrganizationViewModel

@{
    ViewBag.Title = "Edit organization";
}

<h2>Edit organization</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.UniqueID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.UniqueID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UniqueID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.TrialPeriodExpirationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.TrialPeriodExpirationDate,
               new
               {
                   htmlAttributes =
               new Dictionary<string, object>()
               {
                   { "type", "text" },
                   { "class", "form-control date"},
                   { "data-provide", "datepicker" }
               }
               })
                @Html.ValidationMessageFor(model => model.TrialPeriodExpirationDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaidPeriodExpirationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.PaidPeriodExpirationDate,
               new
               {
                   htmlAttributes =
               new Dictionary<string, object>()
               {
                   { "type", "text" },
                   { "class", "form-control date"},
                   { "data-provide", "datepicker" }
               }
               })
                @Html.ValidationMessageFor(model => model.PaidPeriodExpirationDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrialPeriod, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                <div class="checkbox">
                    @Html.EditorFor(model => model.TrialPeriod)
                    @Html.ValidationMessageFor(model => model.TrialPeriod, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-8">
                <div class="pull-right">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                        Delete
                    </button>

                    <input type="submit" value="Save" class="btn btn-default btn-primary" />
                </div>
            </div>
        </div>
    </div>
}

<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirm delete organization</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                </div>
                <p>@Model.UniqueID</p>
                <p>@Model.Name</p>
                <p>@Model.Email</p>
        </div>
        <div class="modal-footer">
            <a href="/Admin/Organization/Delete/@Model.ID" class="btn btn-primary btn-danger">Confirm delete</a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $.validator.methods.date = function (value, element) {
                return this.optional(element) || moment(value, "DD/MM/YYYY", true).isValid();
            }

            $(".date").datepicker(
            {
                dateFormat: "dd/mm/yy"
            });
        });
    </script>

}
