﻿@model IEnumerable<Gizbarit.DAL.Entities.Organization.Organization>
@using resource = AdminResources.Organization;
@{
    ViewBag.Title = "Organizations";
}
<h2>Organization list</h2>
<hr/>
<div class="row">
    <div class="col-md-12">
        <table id="tbl-organizations" class="table table-striped">
            <thead>
            <tr>
                <th>
                    <label>@resource.ID</label>
                </th>
                <th>
                    <label>@resource.UniqueID</label>
                </th>
                <th>
                    <label>@resource.Address</label>
                </th>
                <th>
                    <label>@resource.City</label>
                </th>
                <th>
                    <label>@resource.Name</label>
                </th>
                <th>
                    <label>@resource.FirstName</label>
                </th>
                <th>
                    <label>@resource.LastName</label>
                </th>
                <th>
                    <label>@resource.Phone1</label>
                </th>
                <th>
                    <label>@resource.DateCreated</label>
                </th>
                <th>
                    <label>@resource.ExpirationDate</label>
                </th>
                <th>
                    <label>@resource.Email</label>
                </th>
                <th>
                    <label>@resource.License</label>
                </th>
                <th>

                </th>
            </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var rowClass = item.PaidPeriodExpirationDate.Date < DateTime.UtcNow.Date ||
                        (item.TrialPeriod && item.TrialPeriodExpirationDate.Date < DateTime.UtcNow.Date) ? "danger" : "";

                    <tr class="@rowClass">
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UniqueID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaidPeriodExpirationDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @{
                                var license = item.TrialPeriod ? resource.TrialLicense : resource.StandartLicense;
                            }
                            @license
                        </td>
                        <td>
                            @Html.ActionLink(AdminResources.General.Edit, "Edit", new { id = item.ID })
                            @Html.ActionLink(AdminResources.General.Documents, "Index", new { Controller = "Document", OrganizationId = item.ID })
                        </td>
                    </tr>
                                }
            </tbody>
            <tfoot>
            
            </tfoot>
        </table>
    </div>
</div>
@section Scripts
{
<script type="text/javascript">
    $(function () {
        $("#tbl-organizations").DataTable({
            "paging": true
        });
    });
</script>
    
}
