﻿@using System.Globalization
@using Gizbarit.DAL.Models
@using Gizbarit.DAL.Models.Account.Bank
@using Gizbarit.Web.Util.Extensions
@{
    var todayLimits = (Dictionary<BankAccountMiniViewModel, double>) ViewBag.TodayDues;
    var tomorrowLimits = (Dictionary<BankAccountMiniViewModel, double>) ViewBag.TomorrowDues;
    var limitExceeds = (Dictionary<BankAccountMiniViewModel, AccountException>) ViewBag.LimitExceeds;
}


<div class="left2" style="margin-top:20px;">
    <div class="tag"><img src="@Url.Content("~/Css/images/tag.png")" align="top"><span>@Translations.Dashboard.BankStatement</span></div>
    <div class="topmargin" style="text-align:left;">
    </div>
    <div class="topmargin" style="text-align:left;">
    </div>
    <div class="topmargin" style="text-align:left;">
    </div>
    <div class="containerleft">
        <span style="height: 42px;display: inline-block"><strong>@Translations.Dashboard.AccountExceptions</strong></span>
        <div>
            @foreach (var exception in limitExceeds)
            {
                <p dir="ltr">
                    @if (exception.Value != null)
                    {
                        <span class="red" dir="ltr">(@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", @exception.Value.DueValue))</span>
                        <span dir="ltr">@exception.Value.Date.ToString("dd.MM.yyyy")</span>
                    }
                    else
                    {
                        <span>@Translations.Dashboard.NoExceed</span>
                    }
                </p>
            }
        </div>
    </div>
    <div class="containermid">
            <p><strong>@Translations.Dashboard.TomorrowDue</strong></p>
            <p><strong>@DateTime.Today.AddDays(1).ToString("dd.MM.yyyy")</strong></p>
        <div>
            @foreach (var limit in tomorrowLimits)
            {
                <p>@Html.DrawBalance(limit.Value, limit.Key.Limit)</p>
            }
        </div>
    </div>
    <div class="containermid">
        <p><strong>@Translations.Dashboard.TodayDue</strong></p>
        <p><strong>@DateTime.Today.ToString("dd.MM.yyyy")</strong></p>
        <div>
            @foreach (var limit in todayLimits)
            {
                <p>@Html.DrawBalance(limit.Value, limit.Key.Limit)</p>
            }
        </div>
    </div>
    <div class="containerlast">
    <br/><br/>
        <div>
            @foreach (var limit in todayLimits)
            {
                <p>
                    @String.Format("{0} {1}", limit.Key.BankName, limit.Key.AccountNumber)<br>
                </p>
            }
        </div>
    </div>
</div>