﻿@using Gizbarit.Utils
@model double?
    @if (User.Identity.GetOrgType() == Enums.BusinessType.Exemption && Model != null && Model.Value >= 90000)
    {
        <div class="right2" style="height: 130px; padding: 10px; margin-top: 10px">
            <p class="red" style="font-size: 16px"><strong>@Translations.Dashboard.IncomeApproach</strong></p>
        </div>
    }
