﻿@using System.Globalization
@using Gizbarit.DAL.Models.Account.Bank
@model List<Gizbarit.DAL.Models.Graph.GraphDataElement>
@{
    var currentAccount = (BankAccountMiniViewModel)@ViewBag.CurrentAccount;

        }

        <script>
            $(document).ready(function(e) {
                var myLineChart;
                var xValues = [];

                @foreach (var d in Model)
        {
            @:xValues.push('@d.Date.ToString("d.MM")');
                                        }


                var yValues = [];

                @foreach (var d in Model)
        {
            @:yValues.push(@d.Amount);
                                        }
                var yValuesLimits = [];
                @for (int i = 0; i < Model.Count; i++)
        {
            @:yValuesLimits.push(-@currentAccount.Limit);
                                        }
                $('#fullopaque').show();
                $('.graphcanvasmain').show();
                $('.graphcanvasmain').css('z-index', 1002);
                var ctx = $("#myChart").get(0).getContext("2d");


                var data = {
                    labels: xValues,
                    datasets: [
                        {
                            label: "My First dataset",
                            fillColor: "rgba(220,220,220,0.0)",
                            strokeColor: "#639fe7",
                            pointColor: "#639fe7",
                            pointStrokeColor: "#fff",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "rgba(220,220,220,1)",
                            data: yValues
                        },
                        {
                            label: "My Second dataset",
                            fillColor: "rgba(220,220,220,0.0)",
                            strokeColor: "red",
                            pointColor: "red",
                            pointStrokeColor: "red",
                            pointHighlightFill: "red",
                            pointHighlightStroke: "rgba(220,220,220,1)",
                            data: yValuesLimits
                        }
                    ]
                };

                if (myLineChart) {
                    myLineChart.destroy();
                }


                myLineChart = new Chart(ctx).Line(data, {
                    ///Boolean - Whether grid lines are shown across the chart
                    scaleShowGridLines: true,

                    //String - Colour of the grid lines
                    scaleGridLineColor: "rgba(0,0,0,.05)",

                    //Number - Width of the grid lines
                    scaleGridLineWidth: 1,

                    //Boolean - Whether to show horizontal lines (except X axis)
                    scaleShowHorizontalLines: true,

                    //Boolean - Whether to show vertical lines (except Y axis)
                    scaleShowVerticalLines: true,

                    //Boolean - Whether the line is curved between points
                    bezierCurve: false,

                    //Number - Tension of the bezier curve between points
                    bezierCurveTension: 0.4,

                    //Boolean - Whether to show a dot for each point
                    pointDot: true,

                    //Number - Radius of each point dot in pixels
                    pointDotRadius: 4,

                    //Number - Pixel width of point dot stroke
                    pointDotStrokeWidth: 1,

                    //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
                    pointHitDetectionRadius: 4,

                    //Boolean - Whether to show a stroke for datasets
                    datasetStroke: true,

                    //Number - Pixel width of dataset stroke
                    datasetStrokeWidth: 2,

                    //Boolean - Whether to fill the dataset with a colour
                    datasetFill: true,

                    //String - A legend template
                    legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"
                });
            });
        </script>
 
<div class="left1">
    <div class="tag"><img src="@Url.Content("~/Css/images/tag.png")" align="top"><span>@Translations.Dashboard.GraphBalances</span></div>
    @if (ViewBag.Accounts != null)
    {
        using (@Ajax.BeginForm("Index", null, new AjaxOptions { UpdateTargetId = "graphContainer" },new {style = "width: 200px; float: left; position: relative; top:10px"}))
        {

            @Html.DropDownList("accountId",
             new SelectList((IEnumerable<SelectListItem>)ViewBag.Accounts, "Value", "Text", currentAccount.Id),
             new { onchange = "this.form.submit();"})
        }
    }


    <canvas id="myChart"></canvas>
</div>
