﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dashboard | Gizbarit";
    var accountId = @ViewBag.AccountId;

}
@section Css{
    <link href="@Url.Content("~/Css/Shared/dashboard.css")" rel="stylesheet" type="text/css">
    @*<link href="@Url.Content("~/Css/Main/stylemain-" + @UICulture + ".css")" rel="stylesheet" type="text/css">*@
}

@section Scripts {
    <script>
        $(document).ready(function (e) {
            // Back To Top
            $('a.top').click(function () {
                $(document.body).animate({ scrollTop: 0 }, 800);
                return false;
            });
            $("#datepicker-dash").datepicker();

            $("#AccountStatusContainer").load('@Url.Action("AccountStatus", "Dashboard")');
        });
    </script>
    <script src="@Url.Content("~/Scripts/chart.min.js")"></script>
}

<div id="graphContainer">
    @Html.Action("Graph", new {accountId = accountId})
</div>


<div class="right">
    <div class="right2">
        <div class="tag"><img src="@Url.Content("~/Css/images/tag.png")" align="top"/><span>@DateTime.Now.Year @Translations.Dashboard.Calendar</span></div>
        <div id="datepicker-dash" class="ll-skin-nigran"></div>
    </div>
    @Html.Action("CheckIncomeApproach")
</div>

<div id="AccountStatusContainer"></div>

@Html.Action("PreliminaryInvoices")
