﻿@using System.Globalization
@model IEnumerable<Gizbarit.DAL.Models.Settlements.SettlementsWithCustommerViewModel>

<div class="left3">
    <div class="tag"><img src="@Url.Content("~/Css/images/tag.png")" align="top"><span>@Translations.Dashboard.ClientPreliminaries</span></div>
    <div class="parentfour">
        <table class="table dashboard" style="padding-top: 15px;">
            <tr>
                <th>@Translations.Dashboard.ClientPreliminaries_ClientName</th>
                <th>@Translations.Dashboard.ClientPreliminaries_InvoiceNumber</th>
                <th>@Translations.Dashboard.ClientPreliminaries_PaymentDate</th>
                <th>@Translations.Dashboard.ClientPreliminaries_BalanceDue</th>
            </tr>
            @foreach (var item in @Model.Where(d=>d.Deduction > 0 && (d.PaymentDate <= DateTime.Today.AddDays(1))))
            {
                <tr>
                    <td>@item.ClientName</td>
                    <td>
                        @if (item.PreliminaryInvoiceNumber == 0)
                        {
                            <text>-</text>
                        }
                        else
                        {
                            @Html.ActionLink(item.PreliminaryInvoiceNumber.ToString(), "GetDocument", "Documents", new { id = item.PreliminaryInvoice }, new { target = "_blank" })
                        }
                    </td>
                    <td>
                        @if (item.PaymentDate == DateTime.Today || item.Deduction == 0)
                        {
                            @item.PaymentDate.ToString("dd'/'MM'/'yy")
                        }
                        else
                        {
                            <span style="color: red">@item.PaymentDate.ToString("dd'/'MM'/'yy")</span>
                        }
                    </td>
                    <td dir="ltr">
                        @if (item.Deduction > 0)
                        {
                            <span style="color: red">
                                @String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.Deduction)
                            </span>
                        }
                        else
                        {
                            @String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.Deduction)
                        }
                    </td>
                </tr>
            }

        </table>
    </div>

</div>

