﻿@using Gizbarit.DAL.Entities.Documents
@model IEnumerable<Gizbarit.DAL.Models.Documents.DocumentSearchResult>
@{
    ViewBag.Title = @Translations.Dashboard.SearchResults + " | Gizbarit";
    string query = ViewBag.Query;
    DateTime? start = ViewBag.DateStart;
    DateTime? end = ViewBag.DateEnd;
}

@section Css{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/documents.css")" media="screen" />
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('body').on('focus', ".DateOperationClass", function () {
                $(this).datepicker(
                    {
                        dateFormat: 'dd.mm.yy'
                    });
                $('#ui-datepicker-div').addClass('ll-skin-latoja');
            });
        });
    </script>

}

<div class="left1">
    <div class="tag">
        <img src="@Url.Content("~/Css/images/tag.png")" align="top">
        <span>@Translations.Dashboard.SearchResults</span>
    </div>
    @using (Html.BeginForm("Search", "Dashboard", FormMethod.Post, null))
    {
                
        <div style="display: inline-block; width: 380px; padding-right: 10px;"><span style="position: relative;top: 5px">@Translations.Dashboard.Query</span>@Html.TextBox("Query", query, new { style = "width: 200px", @class = "blueboxes" })</div>
        <div style="display: inline-block;width: 200px"><span style="position: relative;top: 5px">@Translations.Dashboard.DateFrom</span>@Html.TextBox("DateStart", start==null?"": start.Value.ToString("dd.MM.yyyy"), new { style = "width: 80px", @class = "DateOperationClass blueboxes" })</div>
        <div style="display: inline-block;width: 200px"><span style="position: relative;top: 5px">@Translations.Dashboard.DateTo</span>@Html.TextBox("DateEnd", end == null ? "" : end.Value.ToString("dd.MM.yyyy"), new { style = "width: 80px", @class = "DateOperationClass blueboxes" })</div>
        <button type="submit" class="btn green btn-search">@Translations.Dashboard.Search</button>
    }
    <br /><br />
    <table class="table documents" style="padding-top: 15px;">
        <tr>
            <th>@Translations.Settlements.Client</th>
            <th>@Translations.Documents.Date</th>
            <th>@Translations.Documents.Description</th>
            <th>@Translations.Dashboard.Type</th>
            <th>@Translations.Documents.Number</th>
        </tr>
        @foreach (var document in Model)
            {
            <tr>
                <td>@document.ClientName</td>
                <td>@document.Date.ToString("dd/MM/yyyy")</td>
                <td>@document.Subject</td>
                <td>
                    @switch (document.Type)
                    {
                        case DocumentType.PreliminaryInvoice:
                            <text>@Translations.Documents.PreliminaryInvoice</text>
                            break;
                        case DocumentType.TaxInvoiceReceipt:
                            <text>@Translations.Settlements.TaxInvoiceReceipt</text>
                             break;
                        case DocumentType.PriceOffer:
                            <text>@Translations.Documents.PriceOffer</text>
                            break;
                        case DocumentType.Receipt:
                            <text>@Translations.Documents.Receipt</text>
                            break;
                        case DocumentType.Waybill:
                            <text>@Translations.Menu.Documents_Waybill</text>
                             break;
                         case DocumentType.TaxInvoice:
                            <text>@Translations.Menu.Suppliers_TaxInvoice</text>
                            break;
                    }
                </td>
                <td>@Html.ActionLink(document.Number.ToString(), "GetDocument", "Documents", new { Id = document.Id }, new { target = "_blank" })</td>
            </tr>
        }
    </table>
</div>
