﻿@using Translations
@model Gizbarit.DAL.Models.RegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Css{
    @Styles.Render("~/Content/dropzonescss")
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/invoice.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/fancybox/jquery.fancybox.css")" media="screen" />
}



@section Scripts{
    @Scripts.Render("~/bundles/dropzonescripts")

    <script type="text/javascript" src="@Url.Content("~/Scripts/fancybox/jquery.fancybox.js")"></script>

    <script type="text/javascript">
        
        function deleteField(id) {
            $(".add[data-index=" + id + "]").remove();
        }

        Dropzone.options.dropzoneForm = {
            maxFiles: 1,
            acceptedFiles: 'image/*',
            init: function () {
                this.on("queuecomplete", function (data) {
                    var $item = $('.dz-image img');
                    var $uploadAvatar = $('.uploadAvatar');
                    $uploadAvatar.empty();
                    $uploadAvatar.css('background', 'none');
                    $uploadAvatar.append('<img style="width: 100%" src="' + $item.attr('src') + '">');
                });
                this.on("sending", function (file, xhr, formData) {
                    var logoId = $('#TempLogoId').val();
                    formData.append("tempId", logoId);
                    $('#LogoExtension').val(file.name.split('.').pop());
                });
                this.on("maxfilesexceeded", function (file) { this.removeFile(file); });
            }
        };

        function generateId(length) {
            var text = "";
            var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

            for (var i = 0; i < length; i++)
                text += possible.charAt(Math.floor(Math.random() * possible.length));

            return text;
        }

        function setMain(element) {
            $('.IsActive').val('0');
            $('input:radio[name=ActiveAccount]').prop('checked', false);
            $(element).prop('checked', true);
            $(element).parent().find(".IsActive").val('1');
        }


    </script>
    <script type="text/javascript">

        var tempId = generateId(10);

        $(document).ready(function ($) {
           
            $("#AccountProfile_RegisterTypeId").change(function () {
                var selectedValue = $("#AccountProfile_RegisterTypeId option:selected").val();
                if (selectedValue === "0") {
                    $("#AccountProfile_BusinesTypeId").val("1");
                    $("#AccountProfile_BusinesTypeId").attr("disabled", true);
                } else {
                    $("#AccountProfile_BusinesTypeId").attr("disabled", false);
                }
            });

            $("#AccountProfile_BusinesTypeId").change(function () {
                var selectedValue = $("#AccountProfile_BusinesTypeId option:selected").val();
                if (selectedValue === "2") {
                    $(".smallbusiness-option").hide();
                } else {
                    $(".smallbusiness-option").show();
                }
            });
            $("#AccountProfile_RegisterTypeId").trigger("change");
            $("#AccountProfile_BusinesTypeId").trigger("change");

            $('.fancybox').fancybox({});

            $('.steps .step:last').css('margin-left', '0');
            $('#addFields').click(function () {
                var bankIndex = $(".add:last").data("index");
                $(".add:last").find(".but2").hide();
                console.log(++bankIndex);


                $("div#add_field_area").append("<div data-index='" + bankIndex + "' class='add'>" +
                    "<div class='control'><input class='IsActive' name='BankAccounts[" + bankIndex + "].IsActive' type='hidden' value='0'>" +
                    "<input type='radio' name='ActiveAccount' onchange='setMain(this)'/>" +
                    "<label class='radio_label'>@Register.DefaultAccount <img src='@Url.Content("~/Css/images/king.png")' /><input type='button' class='but2' onclick='deleteField(" + bankIndex + ")' value='מחק'/></div></label>" +
                    "<div class='control'><label>@Register.SelectBank</label>" +
                    "<select name='BankAccounts[" + bankIndex + "].BankId'>\
                                <option value='1'>בחר</option>\
                                <option value='2'>הפועלים</option>\
                                <option value='3'>לאומי</option>\
                                <option value='4'>דיסקונט</option>\
                                <option value='5'>מזרחי טפחות</option>\
                                <option value='6'>הבינלאומי הראשון</option>\
                                <option value='7'>אוצר החייל</option>\
                                <option value='8'>מרכנתיל דיסקונט</option>\
                                <option value='9'>איגוד</option>\
                                <option value='10'>מסד</option>\
                                <option value='11'>פועלי אגודת ישראל</option>\
                                <option value='12'>יהב</option>\
                                <option value='13'>ירושלים</option>\
                                <option value='14'>יובנק</option>\
                                <option value='15'>בנק הדואר</option>\
                            </select>\
                        </div><div class='control'><label>@Register.BranchNumber<span class='red'></label><input type='text' name='BankAccounts[" + bankIndex + "].Branch' placeholder='@Register.BranchNumber'/></div>" +
                    "<div class='control'><label>@Register.AccountNo<span class='red'>*</span></label><input type='text' name='BankAccounts[" + bankIndex + "].AccountNo' placeholder='@Register.AccountNo'/></div>" +
                    "<div class='control'><label>@Register.Balance</label><input type='text' name='BankAccounts[" + bankIndex + "].AccountBalance' placeholder='@Register.Balance' /></div>" +
                    "<div class='control'><label>@Register.Limit</label><input type='text' name='BankAccounts[" + bankIndex + "].Limit'placeholder='@Register.Limit' /></div>" +
                    "");
            });
            $('.check_box').click(function () {

                $("#AcceptsTerms").val('false');
                $('.check_box').hide();
                $('.uncheck_box').show();

            });

            $('.uncheck_box').click(function () {

                $('.uncheck_box').hide();
                $('.check_box').show();
                $("#AcceptsTerms").val('true');

            });
            $('.next-btn').click(function () {
                if ($('.step1').is(':visible')) {
                    $('.step1').hide();
                    $('.step2').show();
                    $('.prev-btn').show();
                } else {
                    $('.step2').hide();
                    $('.step3').show();
                    $('.prev-btn').show();
                    $('.end-btn').show();
                    $('.next-btn').hide();
                }
                window.scrollTo(0, 0);
            });

            $('.prev-btn').click(function () {
                if ($('.step2').is(':visible')) {
                    $('.step2').hide();
                    $('.step1').show();
                    $('.prev-btn').hide();
                    $('.next-btn').show();
                    $('.end-btn').hide();
                } else {
                    $('.step3').hide();
                    $('.step2').show();
                    $('.prev-btn').show();
                    $('.end-btn').hide();
                    $('.next-btn').show();
                }
                window.scrollTo(0, 0);
            });

            $('.steps .step:last').css('margin-left', '0');
            $('.check_box').click(function () {

                $('.check_box').hide();
                $('.uncheck_box').show();

            });

            $('.uncheck_box').click(function () {

                $('.uncheck_box').hide();
                $('.check_box').show();

            });

            $("#AccountProfile_Email").keyup(function () {
                var validation = $("#AccountProfile_EmailValidation").val();
                console.log(validation);
                if (validation.length > 0) {
                    if ($(this).val() !== validation) {
                        $("#email_error").show();
                    } else {
                        $("#email_error").hide();
                    }
                }
            });
            $("#AccountProfile_EmailValidation").keyup(function () {
                var validation = $("#AccountProfile_Email").val();
                if (validation.length > 0) {
                    if ($(this).val() !== validation) {
                        $("#email_error").show();
                    } else {
                        $("#email_error").hide();
                    }
                }
            });
            $("#AccountProfile_Password").keyup(function () {
                var validation = $("#AccountProfile_PasswordValidation").val();
                console.log(validation);
                if (validation.length > 0) {
                    if ($(this).val() !== validation) {
                        $("#pass_error").show();
                    } else {
                        $("#pass_error").hide();
                    }
                }
            });
            $("#AccountProfile_PasswordValidation").keyup(function () {
                var validation = $("#AccountProfile_Password").val();
                if (validation.length > 0) {
                    if ($(this).val() !== validation) {
                        $("#pass_error").show();
                    } else {
                        $("#pass_error").hide();
                    }
                }
            });
            $("#AccountProfile_BusinessId").keyup(function () {
                var validation = $("#AccountProfile_BusinessIdValidation").val();
                console.log(validation);
                if (validation.length > 0) {
                    if ($(this).val() !== validation) {
                        $("#busid_error").show();
                    } else {
                        $("#busid_error").hide();
                    }
                }
            });
            $("#AccountProfile_BusinessIdValidation").keyup(function () {
                var validation = $("#AccountProfile_BusinessId").val();
                if (validation.length > 0) {
                    if ($(this).val() !== validation) {
                        $("#busid_error").show();
                    } else {
                        $("#busid_error").hide();
                    }
                }
            });
        });

        // Back To Top
        $('a.top').click(function () {
            $(document.body).animate({ scrollTop: 0 }, 800);
            return false;
        });

        // make two divs same height
        $('').css('min-height', $('').height());

        function submit() {
            $("#sform").submit();
        }

        
    </script>
}


<div class="left1 signbg">
    @using (Html.BeginForm("Index", "Register", FormMethod.Post, new { @class = "form-horizontal", role = "form", style = "min-height:450px", enctype = "multipart/form-data", id = "sform" }))
    {
        <div class="step1">
            @Html.HiddenFor(m => m.TempLogoId)
            @Html.HiddenFor(m => m.LogoExtension)

            <div class="tag tagstep">
                <img src="@Url.Content("~/Css/images/tag.png")" align="top"><img src="@Url.Content("~/Css/images/pencil.png")" align="absmiddle"><label style="position: relative;top: 4px;padding-right: 10px">@Register.ContinueRegister</label>
                <div class="steps" style="background: none">
                    <div class="step">1</div>
                </div>
            </div>
            <div class="right" style="width: 82%">
                <br />
                <p style="font-size: 16px">@Html.Raw(Register.Mandatory)</p>
                <div class="form">
                    <div class="title">
                        <img src="@Url.Content("~/Css/images/user.png")" /> @Register.PersonalInfo
                    </div>
                    <div class="right" style="width: 100%">
                        <div class="control">
                            <label>@Register.Name<span class="red">*</span></label>
                            @Html.TextBoxFor(m => m.AccountProfile.FirstName, new { @placeholder = @Register.Name, tabindex = "1" })
                        </div>
                        <div class="control">
                            <label>@Register.Surname<span class="red">*</span></label>
                            @Html.TextBoxFor(m => m.AccountProfile.LastName, new { @placeholder = @Register.Surname, tabindex = "2" })

                        </div>
                        <div>
                            <div style="width: 50%; float: right">
                                <div class="control">
                                    <label>@Register.BusinessEmail<span class="red">*</span></label>
                                    @Html.TextBoxFor(m => m.AccountProfile.Email, new { @placeholder = @Register.BusinessEmail, tabindex = "3" })
                                </div>
                            </div>
                            <div style="width: 49%; float: right">
                                <div class="control">
                                    <label>@Register.Confirmation<span class="red">*</span></label>
                                    @Html.TextBoxFor(m => m.AccountProfile.EmailValidation, new { @placeholder = @Register.BusinessEmail, tabindex = "4" })
                                    <span class="error" id="email_error">
                                        <span>@Register.ConfirmationError</span>
                                    </span>
                                </div>
                            </div>
                        </div>


                        <div>
                            <div style="width: 50%; float: right">
                                <div class="control">
                                    <label>@Register.Password<span class="red">*</span></label>
                                    @Html.TextBoxFor(m => m.AccountProfile.Password, new {@placeholder = @Register.PasswordHint, tabindex = "5"})
                                </div>
                            </div>
                            <div style="width: 49%; float: right">
                                <div class="control">
                                    <label>@Register.Confirmation<span class="red">*</span></label>
                                    @Html.TextBoxFor(m => m.AccountProfile.PasswordValidation, new {@placeholder = @Register.PasswordHint, tabindex = "6"})
                                    <span class="error" id="pass_error">
                                        <span>@Register.ConfirmationError</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="control">
                            <label>@Register.BusinessType<span class="red">*</span></label>
                            @Html.DropDownListFor(x => x.AccountProfile.RegisterTypeId, Model.AccountProfile.RegisterTypes, new { @class = "small_select", tabindex = "7" })
                        </div>
                      
                        <div>
                            <div style="width: 50%; float: right">
                                <div class="control">
                                    <label>@Register.BusinessId<span class="red">*</span></label>
                                    @Html.TextBoxFor(m => m.AccountProfile.BusinessId, new { @placeholder = @Register.BusinessId, tabindex = "8" })
                                </div>
                            </div>
                            <div style="width: 49%; float: right">
                                <div class="control">
                                    <label>@Register.Confirmation<span class="red">*</span></label>
                                    @Html.TextBoxFor(m => m.AccountProfile.BusinessIdValidation, new { @placeholder = @Register.BusinessId, tabindex = "9" })
                                    <span class="error" id="busid_error">
                                        <span>@Register.ConfirmationError</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="control">
                            <label>@Register.VatBusinessType<span class="red">*</span></label>
                            @Html.DropDownListFor(x => x.AccountProfile.BusinesTypeId, Model.AccountProfile.BusinesTypes, new { @class = "small_select", tabindex = "10" })
                        </div>
                        <div class="control">
                            <label>@Register.BusinessName<span class="red">*</span></label>
                            @Html.TextBoxFor(m => m.AccountProfile.BusinessName, new { @placeholder = @Register.BusinessName, tabindex = "11", @class= "not-cyrillic" })
                        </div>
                        <div>
                            <div style="width: 50%; float: right">
                                <div class="control">
                                    <label>@Register.BusinessName</label>
                                    @Html.TextBoxFor(m => m.AccountProfile.BusinessNameEng, new { @placeholder = @Register.BusinessName, tabindex = "12" })
                                </div>
                            </div>
                            <div style="width: 50%; float: right">
                                <div class="control">
                                    <span class="red">@Register.FilledLatin</span>
                                </div>
                            </div>
                        </div>

                        <div class="control">
                            <label>@Register.Address<span class="red">*</span></label>
                            @Html.TextBoxFor(m => m.AccountProfile.Street, new {@placeholder = @Register.Address, tabindex = "13", @class = "not-cyrillic" })
                        </div>
                        <div>
                            <div style="width: 50%; float: right">
                                <div class="control">
                                    <label>@Register.Address</label>
                                    @Html.TextBoxFor(m => m.AccountProfile.StreetEng, new { @placeholder = @Register.Address, tabindex = "14" })
                                </div>
                            </div>
                            <div style="width: 50%; float: right">
                                <div class="control">
                                    <span class="red">@Register.FilledLatin</span>
                                </div>
                            </div>
                        </div>
                        <div class="control">
                            <label>@Register.Index</label>
                            @Html.TextBoxFor(m => m.AccountProfile.Zip, new { @placeholder = @Register.Index, tabindex = "15" })
                        </div>
                        <div class="control">
                            <label>@Register.Phone<span class="red">*</span></label>
                            @Html.TextBoxFor(m => m.AccountProfile.Phone, new { @placeholder = "000-0000000", tabindex = "16" })
                        </div>
                        <div class="control">
                            <label>@Register.Fax</label>
                            @Html.TextBoxFor(m => m.AccountProfile.Fax, new { @placeholder = "000-0000000", tabindex = "17" })
                        </div>
                    </div>

                </div>
            </div>
            <div class="left" style="width: 18%;">

                <a class="fancybox" href="#inline1">
                    @{
                        var path = Server.MapPath("/Content/Logos/");
                        if (File.Exists(path + Model.TempLogoId + "." + Model.LogoExtension))
                        {
                            <div class="uploadAvatar" id="uploadAvatar" style="background: none">
                                @{ var filePath = String.Format("/Content/Logos/{0}.{1}", Model.TempLogoId, Model.LogoExtension); }
                                <img style="width: 100%" src="@filePath"/>
                            </div>
                        }
                        else
                        {
                            <div class="uploadAvatar" id="uploadAvatar"></div>
                        }
                    }
                </a>

            </div>
            <div style="clear: both"></div>

        </div>

        <div class="step2">
            <div class="tag tagstep">
                <img src="@Url.Content("~/Css/images/tag.png")" align="top"><img src="@Url.Content("~/Css/images/pencil.png")" align="absmiddle"><label style="position: relative;top: 4px;padding-right: 10px">@Register.ContinueRegister</label>
                <div class="steps">
                    <div class="step">1</div>
                    <div class="step">2</div>
                </div>
            </div>
            <div class="right" style="width: 55%;">
                @*<br />
                <p style="font-size: 16px">@Html.Raw(Register.Mandatory)</p>*@
                <div class="form" style="width: 100%;">
                    <div class="title">
                        <img src="@Url.Content("~/Css/images/money1.png")" /> @Register.BankAccountInfo
                    </div>
                    <div id="add_field_area">
                        <div data-index="0" class="add">
                            <div class="control">
                                <input class="IsActive" name="BankAccounts[0].IsActive" type="hidden" value="1">
                                <input type="radio" name="ActiveAccount" checked="checked" onchange="setMain(this)" />
                                <label class="radio_label">@Register.DefaultAccount <img src="@Url.Content("~/Css/images/king.png")" /></label>
                            </div>
                            <div class="control">
                                <label>@Register.SelectBank</label>
                                @Html.DropDownListFor(x => x.BankAccounts[0].BankId, Model.BankAccounts[0].Bank, new { @class = "small_select" })
                            </div>

                            <div class="control">
                                <label>@Register.BranchNumber</label>
                                @Html.TextBoxFor(m => m.BankAccounts[0].Branch, new { @placeholder = "" })
                            </div>

                            <div class="control">
                                <label>@Register.AccountNo</label>
                                @Html.TextBoxFor(m => m.BankAccounts[0].AccountNo, new { @placeholder = "" })
                            </div>

                            <div class="control">
                                <label>@Register.Balance</label>
                                @Html.TextBoxFor(m => m.BankAccounts[0].AccountBalance, new { @placeholder = "" })
                            </div>
                            <div class='control'>
                                <label>@Register.Limit</label>
                                @Html.TextBoxFor(m => m.BankAccounts[0].Limit, new { @placeholder = "" })
                            </div>

                        </div>
                    </div>
                    <input type="button" id="addFields" value="+ @Register.Add" />
                </div>
            </div>
            <div class="left" style="width: 40%;">
                <a class="fancybox" href="#inline1">
                    @{

                        if (File.Exists(path + Model.TempLogoId + "." + Model.LogoExtension))
                        {
                            <div class="uploadAvatar" id="uploadAvatar" style="background: none">
                                @{ var filePath = String.Format("/Content/Logos/{0}.{1}", Model.TempLogoId, Model.LogoExtension); }
                                <img style="width: 100%" src="@filePath"/>
                            </div>
                        }
                        else
                        {
                            <div class="uploadAvatar" id="uploadAvatar"></div>
                        }
                    }
                </a>
                <div style="clear: both"></div>
                <div class="faq">
                    @Html.Raw(Translations.Register.FAQ1)
                </div>
            </div>

            <div style="clear: both"></div>
        </div>

        <div class="step3">
            <div class="tag tagstep">
                <img src="@Url.Content("~/Css/images/tag.png")" align="top"><img src="@Url.Content("~/Css/images/pencil.png")" align="absmiddle"><label style="position: relative;top: 4px;padding-right: 10px">@Register.ContinueRegister</label>
                <div class="steps">
                    <div class="step">1</div>
                    <div class="step">2</div>
                    <div class="step">3</div>
                </div>
            </div>
            <div class="right" style="width: 55%;">
                <div class="form" style="width: 100%;">
                    <div class="title">
                        <img src="@Url.Content("~/Css/images/notes.png")" /> @Register.DataOnTaxDocuments
                    </div>
                    <p>@Register.InitialDocomentNumbers</p>
                    <div class="control">
                        <label>@Translations.Menu.Documents_PriceOffer</label>
                        @Html.TextBoxFor(m => m.DocumentNumbers.InvoiceQouteNo, new { @placeholder = Model.DocumentNumbers.InvoiceQouteNo, @class = "small_input" })
                    </div>
                    <div class="control">
                        <label>@Translations.Menu.Documents_Waybill</label>
                        @Html.TextBoxFor(m => m.DocumentNumbers.InvoiceShipNo, new { @placeholder = Model.DocumentNumbers.InvoiceShipNo, @class = "small_input" })
                    </div>
                    <div class="control">
                        <label>@Translations.Menu.Documents_PreliminaryInvoice</label>
                        @Html.TextBoxFor(m => m.DocumentNumbers.ProformaInvoiceNo, new { @placeholder = Model.DocumentNumbers.ProformaInvoiceNo, @class = "small_input" })
                    </div>
                    <div class="control smallbusiness-option">
                        <label>@Translations.Menu.Documents_TaxInvoice</label>
                        @Html.TextBoxFor(m => m.DocumentNumbers.InvoiceNo, new { @placeholder = Model.DocumentNumbers.InvoiceNo, @class = "small_input" })
                    </div>
                    <div class="control">
                        <label>@Translations.Menu.Documents_Receipt</label>
                        @Html.TextBoxFor(m => m.DocumentNumbers.ReceiptNo, new { @placeholder = Model.DocumentNumbers.ReceiptNo, @class = "small_input" })
                    </div>
                    <div class="control smallbusiness-option">
                        <label>@Translations.Menu.Documents_TaxInvoiceReceipt</label>
                        @Html.TextBoxFor(m => m.DocumentNumbers.InvoiceReceiptNo, new { @placeholder = Model.DocumentNumbers.InvoiceReceiptNo, @class = "small_input" })
                    </div>



                    <div class="control"><label>@Register.PrepaidTaxPercent</label>@Html.TextBoxFor(m => m.AccountProfile.IncomeTax, new { @class = "blueboxes small_input" })</div>
                    <div class="control">
                        <label style="width: 175px !important">@Register.AdvancePeriod</label>
                        @Html.DropDownListFor(m => m.AccountProfile.TaxPeriodId, Model.AccountProfile.TaxPeriod, new { @class = "blueboxes" })
                    </div>
                    <div class="control">
                        <label style="width: 175px !important">@Register.VatPeriod</label>
                        @Html.DropDownListFor(m => m.AccountProfile.VatPeriodId, Model.AccountProfile.VatPeriod, new { @class = "blueboxes" })
                    </div>

                </div>
            </div>
            <div class="left" style="width: 40%;">
                <a class="fancybox" href="#inline1">
                    @{

                        if (File.Exists(path + Model.TempLogoId + "." + Model.LogoExtension))
                        {
                            <div class="uploadAvatar" id="uploadAvatar" style="background: none">
                                @{ var filePath = String.Format("/Content/Logos/{0}.{1}", Model.TempLogoId, Model.LogoExtension); }
                                <img style="width: 100%" src="@filePath"/>
                            </div>
                        }
                        else
                        {
                            <div class="uploadAvatar" id="uploadAvatar"></div>
                        }
                    }
                </a>
                <div style="clear: both"></div>
                <div class="faq">
                    @Html.Raw(Translations.Register.FAQ2)<br/>
                    @Html.Raw(Translations.Register.FAQ3)
                </div>

            </div>

            <div class="checkbox">
                <label>@Register.ConfirmReadRules</label>
                @Html.HiddenFor(x => x.AcceptsTerms)
                <div class="check_box"></div>
                <div class="uncheck_box"></div>
            </div>

            <div style="clear: both"></div>

        </div>

                                    }
    @Html.ValidationSummary()
</div>

<div class="step_buttons">
    <div class="prev-btn">
        @Register.Back
    </div>
    <div class="next-btn">
        @Register.Continue
    </div>
    <div class="end-btn" onclick="document.forms[0].submit()">
        @Menu.CheckIn
    </div>
</div>

<div id="inline1">
    <h3>@Register.AddBusinessLogo</h3>
    <div class="content_block">
        <div style="clear: both; display: block; height: 35px; margin-bottom: 10px;">
            <label>@Register.LogoRequirements</label>
        </div>
        <div class="popupblocks">
            @using (Html.BeginForm("UploadFiles", "Register", FormMethod.Post, new { @class = "dropzone dz-clickable", id = "dropzoneForm", style = "height: 140px;padding: 10px;" }))
            {
                <div class="dz-message needsclick">
                    @Register.DragNDrop<br>
                </div>
            }
        </div>
        <div class="popup_buttons">
            <a href="#" class="blue_button" onclick="$.fancybox.close()">@Translations.Buttons.Close</a>
        </div>
    </div>
</div>
