﻿@{
    ViewBag.Title = @Translations.Register.RegisterOkTitle;
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pageText = @Translations.Register.RegisterSuccess;
    pageText = String.Format(pageText,DateTime.Now.AddMonths(1).ToString("dd.MM.yyyy"));
}


<br/>
@Html.Raw(pageText)
<br/>
<div style="width: 60%; display: block; height: 100px;">
    <div class="join" style="height: auto; width: 150px; float: left;">
        @Html.ActionLink(@Translations.Menu.SignIn, "Index", "Login", null, null)
    </div>
</div>
<a class="download-btn android-btn" href="https://play.google.com/store/apps/details?id=com.app.gizbarit"><i class="icon icon-android"></i>@Translations.Index.GetItOn<b>Google play</b></a>

<br/><br/><br /><br /><br /><br />