﻿@using Gizbarit.Utils
@model Gizbarit.DAL.Models.Documents.InvoiceReceiptViewModel

@{
    if (User.Identity.GetOrgType() == Enums.BusinessType.Exemption || Model.BaseDocument.IsSmallBusiness)
    {
        ViewBag.Title = Translations.Menu.Documents_Receipt + " | Gizbarit";

    }
    else
    {
        ViewBag.Title = Translations.Menu.Documents_TaxInvoiceReceipt + " | Gizbarit";
    }

    if (Request.IsAjaxRequest())
    {
        Layout = "";
    }
    var isEditAllowed = !Model.BaseDocument.IsCopy;
    ViewBag.IsExport = true;
}

@section Css {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/documents.css")" media="screen" />
    <link href="@Url.Content("~/Css/Shared/bank.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Css/Print/print.min.css")" rel="stylesheet" />
}
@section Scripts{
    <script src="@Url.Content("~/Scripts/autoresize/autoresize.js")"></script>
    <script src="@Url.Content("~/Scripts/Print/print.min.js")"></script>


    <script>
        $(document).ready(function () {
            if ($("#isReadonly").val() === "1") {
                $("input,textarea,select").not('.popupbut').attr('disabled', true);
            }
            $(".PaymentTypeSelector").each(function (index, value) {
                PaymentItemSelect(value, false);
            });


        });

        function clientChange(clientId) {
            if ($("#isReadonly").val() === "1")
                return;
            if (clientId != null) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetLinkedPreliminaryInvoices", "Documents")",
                    traditional: true,
                    global: false,
                    data: { clientId: clientId, showPaid: false },
                    error: function(result) {
                        alertify.error('@Translations.Errors.FetchDocumentError');
                    },
                    success: function(result) {
                        renderDealOffersPartial(result);
                    }
                });

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetLinkedPriceOffers", "Documents")",
                    traditional: true,
                    global: false,
                data: { clientId: clientId },
                error: function(result) {
                    alertify.error('@Translations.Errors.FetchDocumentError');
                },
                success: function(result) {
                    renderDealOffersPartial2(result);
                }
            });
            } else {
                renderDealOffersPartial("");
            }

        }

        function renderDealOffersPartial(result) {
            $('#divInvoicePartial').html(result);
        }
        function renderDealOffersPartial2(result) {
            $('#divInvoicePartial2').html(result);
        }

        function PaymentItemSelect(Payments, clearValues) {
            if ($("#isReadonly").val() === "1")
                return;
            var option = $(Payments).find(':selected');
            var parentForm = $(Payments).closest('div.PaymentRow');

            if (clearValues) {
                parentForm.find("#PaymentCheckNumber").prop('disabled', false).val("").css('visibility', 'visible');
                parentForm.find("#PaymentAccountNumber").prop('disabled', false).val("").css('visibility', 'visible');
                parentForm.find("#PaymentBranchName").prop('disabled', false).val("").css('visibility', 'visible');
                parentForm.find("#PaymentBankName").prop('disabled', false).val("").css('visibility', 'visible').attr("placeholder", "@Translations.General.Bank");
                parentForm.find("#PaymentSum").prop('disabled', false).val("").css('visibility', 'visible');
                parentForm.find(".DateOperationClass").prop('disabled', false).val("").css('visibility', 'visible');
            } else {
                parentForm.find("#PaymentCheckNumber").prop('disabled', false).css('visibility', 'visible');
                parentForm.find("#PaymentAccountNumber").prop('disabled', false).css('visibility', 'visible');
                parentForm.find("#PaymentBranchName").prop('disabled', false).css('visibility', 'visible');
                parentForm.find("#PaymentBankName").prop('disabled', false).css('visibility', 'visible').attr("placeholder", "@Translations.General.Bank");
                parentForm.find("#PaymentSum").prop('disabled', false).css('visibility', 'visible');
                parentForm.find("#PaymentDateOperation").prop('disabled', false).css('visibility', 'visible');
                parentForm.find(".DateOperationClass").prop('disabled', false).css('visibility', 'visible');
            }


            var idTypePayment = parseInt(option.data('id'));

            switch (idTypePayment) {
            case 1:
                break;
            case 2:
                parentForm.find("#PaymentCheckNumber").prop('disabled', true).css('visibility', 'hidden');
                break;
            case 3:
                parentForm.find("#PaymentCheckNumber").prop('disabled', true).css('visibility', 'hidden');
                parentForm.find("#PaymentAccountNumber").prop('disabled', true).css('visibility', 'hidden');
                parentForm.find("#PaymentBranchName").prop('disabled', true).css('visibility', 'hidden');
                parentForm.find("#PaymentBankName").prop('disabled', true).css('visibility', 'hidden');
                break;
            case 4:
                parentForm.find("#PaymentCheckNumber").prop('disabled', true).css('visibility', 'hidden');
                parentForm.find("#PaymentAccountNumber").prop('disabled', true).css('visibility', 'hidden');
                parentForm.find("#PaymentBranchName").prop('disabled', true).css('visibility', 'hidden');

                parentForm.find("#PaymentBankName").attr("placeholder", "@Translations.Documents.CreditCardPayment");
                break;
            case 5:
                parentForm.find("#PaymentCheckNumber").prop('disabled', true).css('visibility', 'hidden');
                parentForm.find("#PaymentAccountNumber").prop('disabled', true).css('visibility', 'hidden');
                parentForm.find("#PaymentBranchName").prop('disabled', true).css('visibility', 'hidden');
                parentForm.find("#PaymentBankName").prop('disabled', true).css('visibility', 'hidden');
                break;
            }
            parentForm.find(".DateOperationClass").prop('disabled', false);
            parentForm.find("#addnewpayment").prop('disabled', false);
        }

    </script>
}

@using (Html.BeginForm("Edit", "InvoiceRecipt", null, FormMethod.Post, new { id = "documentForm" }))
{
    <input type="hidden" name="BaseDocument.Id" value="@Model.BaseDocument.Id" />

    <div class="left1">
        <p style="float: left; font-size: 32px; margin-left: 30px">
            <b>
                @if (Model.BaseDocument.IsCopy)
                {
                    <text>העתק</text>
                }
                else
                {
                    <text>מקור</text>
                }
            </b>
        </p>
        <div class="clearfix"></div>
        <div class="tag">
            <img src="@Url.Content("~/Css/images/tag.png")" align="top">
            <span>
                @(User.Identity.GetOrgType() == Enums.BusinessType.Exemption || Model.BaseDocument.IsSmallBusiness ? Translations.Documents.Receipt: Translations.Documents.InvoiceReceipt)
            </span>
        </div>
        @Html.Partial("~/Views/Documents/Shared/DateCreated.cshtml", Model.BaseDocument)
        <br>
        @Html.Partial("~/Views/Documents/Shared/BusinessInfo.cshtml", Model.BaseDocument.BusinessInfo)
        <br>
        <br>
        <br>
        <div style="text-align: center">
            <span dir="ltr" style="font-size: 26px; font-weight: 600;">@(User.Identity.GetOrgType() == Enums.BusinessType.Exemption || Model.BaseDocument.IsSmallBusiness ? Translations.Menu.Documents_Receipt : Translations.Menu.Documents_TaxInvoiceReceipt) <span id="creditLabel" style="display: @(Model.BaseDocument.PriceWithTax < 0?"block":"none")">@Translations.Documents.CreditLabel</span> @Translations.Documents.SepareteNumber</span>
            @Html.TextBox("BaseDocument.Number", Model.BaseDocument.Number, new { @class = "blueboxes", style = "font-weight: 600;font-size: 26px;width: 200px", @readonly = "readonly" })
        </div>
        <br>
        <br>
        <br>
        @Html.Partial("~/Views/Documents/Shared/ClientInfo.cshtml", Model.BaseDocument)
        <br>
        <br>

        @Translations.Documents.Description @Html.TextAreaFor(m => m.BaseDocument.Subject, new { @class = "blueboxeswidthitalics not-cyrillic", @style = "width: 420px" })

        <br>
        <br>
        <br>
        @Html.Partial("~/Views/Documents/Shared/Catalog.cshtml", Model)
        <br>
        <br>
        @Html.Partial("~/Views/Documents/Shared/DocumentSum.cshtml", Model.BaseDocument)
        <br/>
        @Html.TextAreaFor(x => x.OfferExtras, new { @class = "blueboxeswidthitalics", placeholder = @Translations.Documents.AditionalConditions })<br />
        <br />
        <br />
        @Html.Partial("~/Views/Documents/Shared/Payments.cshtml", Model)
        <br />
        <br /><br />
        <br />
        <div style="display: table; text-align: left; width: 100%;">
            <div style="display: table-row;">

                <div style="display: table-cell; width: 70%;">
                    <p>@Translations.Documents.TotalPayment</p>
                </div>
                <div style="display: table-cell; width: 20%;">
                    @Html.TextBoxFor(x => x.PaymentsTotal, new {@class = "blueboxesfullwidth", dir = "ltr", style = "background-color: #8dc63f;"})
                    <script>
                        paymentInputChange();
                    </script>
                </div>
                <div style="display: table-cell; width: 10%;">

                </div>
            </div>
        </div>
        <br>
        <br>
        <div id="divInvoicePartial">

        </div>
        <br>
        <br>
        <div id="divInvoicePartial2">

        </div>
        <br>
        <br>
        <br>
        <br>
        @Html.Partial("~/Views/Documents/Shared/2Signatures.cshtml")
        <br>
        <br>
        @Html.ValidationSummary()
        @Html.Partial("~/Views/Documents/Shared/Buttons.cshtml", Model.BaseDocument)
    </div>
    @Html.Partial("~/Views/Documents/Shared/VatError.cshtml")
    @Html.Partial("~/Views/Documents/Shared/AfterPrintDialog.cshtml", Model.BaseDocument.Id)
}
@Html.Partial("~/Views/Documents/Shared/PaymentRowTemplate.cshtml")
@Html.Partial("~/Views/Documents/Shared/CatalogPattern.cshtml", Model)

