﻿@using System
@using System.IO
@using Gizbarit.Utils
@model System.Collections.Generic.IEnumerable<Gizbarit.DAL.Models.Advertisement.AdvertisementModelView>



@foreach (var item in Model)
    {
        <div class="adv-info">
            <div class="adv-item-outer" style="width: 40%;">
                <div class="blue-div-adv" style="width: 100%;">
                    <span>@item.Title</span>
                </div>
                <div class="info-two-columns">
                    @if (item.Site != null)
                    {
                        <div class="adv-info-column">
                            <i class="fa fa-globe pictogram"></i><a href="@item.Site.GetWebUrl()" target="_blank">@item.Site</a>
                        </div>
                    }
                   @if (item.Facebook != null)
                   {
                       <div class="adv-info-column">
                           <i class="fa fa-facebook-square pictogram"></i><a href="@item.Facebook.GetWebUrl()" target="_blabk">@item.Facebook</a>
                       </div>
                   }
                </div>

                <div class="info-two-columns">
                    <div class="adv-info-column">
                        <i class="fa fa-envelope-o pictogram"></i> <a href="mailto:@(item.Email)" target="_blabk">@item.Email</a>
                    </div>

                    @if (item.Instagram != null)
                    {
                        <div class="adv-info-column">
                            <i class="fa fa-instagram pictogram"></i> <a href="@item.Instagram.GetWebUrl()" target="_blabk">@item.Instagram</a>
                        </div>
                    }
                    
                </div>

                <div class="info-two-columns">
                    <div class="adv-info-column" style="width: 95%">
                        <i class="fa fa-phone pictogram"></i>@item.Phone
                    </div>
                </div>

            </div>

            <div class="adv-item-outer" style="width: 35%;">
                <div style="text-align: left; height: 140px; margin-top: 20px;">
                    <p style="font-size: 14px">
                        @item.Text
                    </p>
                </div>
                <input type="button" value="@Translations.Buttons.ShowMore" data-shown="false" class="read-more-button" />
            </div>

            <div class="adv-item-outer" style="width: 25%; padding-right: 0;">
                @{
                    var path = Server.MapPath("/Content/Logos/");
                    if (File.Exists(path + item.PathToLogo))
                    {
                        var filePath = String.Format("/Content/Logos/{0}", item.PathToLogo);
                        <img src="@filePath"/>
                    }
                }
            </div>
            <div class="all-adv-text" style="visibility: hidden; ">
                <div>
                    <p style="font-size: 14px">
                        @item.Text
                    </p>
                </div>
            </div>

        </div>

    }

