﻿@model Gizbarit.DAL.Models.Advertisement.AdvertisementModelView


<div style="width: auto; height: auto;">

    <div class="choose-language">
        @Html.EnumDropDownListFor(m => m.Language, Translations.Menu.Language_selection, new {name = "language", id = "select-language"})
        <div class="green-div">
            <span>@Translations.Menu.Advertisements</span>
        </div>
    </div>

    <div class="main-advert">

        @Html.HiddenFor(m => m.TempLogoId)
        @Html.HiddenFor(m => m.TempLogoId)
        @Html.HiddenFor(m => m.LogoExtension)

        <div style="float: left; width: 60%; height: 90%; margin: 3%; margin-bottom: 0;">
            <div class="blue-div-adv" style="width: 48%">
                <span>@Translations.Menu.Announcement_text</span>
            </div>
            <div style="display: inline-block; float: right; margin: 20px 5px; width: 45%;">
                @Html.EditorFor(m => m.Title, new {htmlAttributes = new {id = "title", placeholder = Translations.General.Title}})
                @Html.ValidationMessageFor(m => m.Title)
            </div>
            <div class="text-area-advert">
                @Html.TextAreaFor(m => m.Text)
                @Html.ValidationMessageFor(m => m.Text)
            </div>
        </div>
        <div style="float: right; width: 27%; height: 50%; margin: 3%;">
            <div class="blue-div-adv" style="width: 100%; margin-bottom: 4%;">
                <span>@Translations.Menu.Picture</span>
            </div>
            <a class="fancybox" href="#inline1">
                @{
                    var path = Server.MapPath("/Content/Logos/");
                    if (File.Exists(path + Model.PathToLogo))
                    {
                        <div class="uploadAvatar" id="uploadAvatar" style="background: none;">
                            @{ var filePath = String.Format("/Content/Logos/{0}", Model.PathToLogo); }
                            <img style="width: 100%" src="@filePath"/>
                        </div>
                    }
                    else
                    {
                        <div class="uploadAvatar" id="uploadAvatar"></div>
                    }
                }
            </a>
        </div>

        <div class="addition-information">
            <div style="float: left; width: 75%; margin-top: 5%; margin-left: 5%;">
                <div class="blue-div-adv">
                    <span>@Translations.Menu.Business_data</span>
                </div>
            </div>
            <div style="display: inline-block; width: 100%; margin-top: 3%;">
                <div style="display: inline-block; float: left; margin-left: 5%; width: 45%;">
                    @Html.EditorFor(m => m.Site, new {htmlAttributes = new {placeholder = "Site"}})
                </div>
                <div style="display: inline-block; float: right; width: 45%;">
                    @Html.EditorFor(m => m.LinkedIn, new {htmlAttributes = new {placeholder = "LinkedIn"}})
                </div>
            </div>
            <div style="display: inline-block; width: 100%; margin-top: 3%;">
                <div style="display: inline-block; float: left; margin-left: 5%; width: 45%;">
                    @Html.EditorFor(m => m.Facebook, new {htmlAttributes = new {placeholder = "Facebook"}})
                </div>
                <div style="display: inline-block; float: right; width: 45%;">
                    @Html.EditorFor(m => m.Instagram, new {htmlAttributes = new {placeholder = "Instagram"}})
                </div>
            </div>


        </div>
        <div style="float: right; display: inline-block; width: 30%; margin-right: 3%; margin-top: 6%; cursor: pointer">
            <a>
                <div class="green-div" onclick="submit()" style="width: 90%">
                    @Translations.Buttons.Save
                </div>
            </a>
        </div>
    </div>

</div>


<script>
    (function () {
       
        $('#select-language').change(function () {
           
            $.ajax(
            {
                type:'Get',
                url: '/Advertisement/ChangeAdvertLanguage',
                data: (function() {
                    var selectValue = $('#select-language').val();
                   
                    return 'language=' + selectValue;
                })(),
                success: function (data) {
                    $('#edit-adv-container').empty();
                    $('#edit-adv-container').append(data);

                    initializeFancyBox();
                }
            });
        });
    })();
</script>
