﻿@using System
@using System.IO
@using Gizbarit.DAL.Models.Advertisement
@using Translations


@{
    ViewBag.Title = Translations.Menu.Dashboard_EditProfile + " | Gizbarit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/invoice.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/fancybox/jquery.fancybox.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Advertisement/IndexAdvertisementCreate.css")" media="screen" />
    @Styles.Render("~/Content/dropzonescss")

}

@section Scripts{
    @Scripts.Render("~/bundles/dropzonescripts")
    @Scripts.Render("~/Scripts/jquery-3.1.1.min.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")

    <script type="text/javascript" src="@Url.Content("~/Scripts/fancybox/jquery.fancybox.js")"></script>

    <script type="text/javascript">
        Dropzone.options.dropzoneForm = {
            maxFiles: 1,
            acceptedFiles: 'image/*',
            init: function() {
                this.on("queuecomplete", function(data) {

                });
                this.on("sending", function(file, xhr, formData) {

                    var logoId = $('#TempLogoId').val();
                    formData.append("tempId", logoId);
                    $('#LogoExtension').val(file.name.split('.').pop());
                });
                this.on("maxfilesexceeded", function(file) { this.removeFile(file); });
            }
        };

        function generateId(length) {
            var text = "";
            var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

            for (var i = 0; i < length; i++)
                text += possible.charAt(Math.floor(Math.random() * possible.length));

            return text;
        }

    </script>

    <script type="text/javascript">

        function initializeFancyBox() {
            $('.fancybox').fancybox({});

            $('#cancel_button').click(function () {
                parent.$.fancybox.close();
            });
            $('#ok_button').click(function () {
                var $item = $('.dz-image img');
                var $uploadAvatar = $('.uploadAvatar');
                $uploadAvatar.empty();
                $uploadAvatar.append('<img style="width: 100%" src="' + $item.attr('src') + '">');
                $uploadAvatar.css('background', 'none');
                parent.$.fancybox.close();
            });
        }

        $(document).ready(function ($) {
            initializeFancyBox();

        });

        // Back To Top
        $('a.top').click(function() {
            $(document.body).animate({ scrollTop: 0 }, 800);
            return false;
        });
        // make two divs same height
        $('').css('min-height', $('').height());

        function submit() {
            $("#sform").submit();
        }


    </script>
}


@using (Ajax.BeginForm("Edit", "Advertisement", new AjaxOptions() { UpdateTargetId = "edit-adv-container", OnSuccess = "alertify.success('" + @Translations.Errors.Success + "');", OnFailure = "alertify.error('"+@Translations.Errors.FetchDocumentError+"');" }, new { @class = "form-horizontal", id = "sform", role = "form", enctype = "multipart/form-data" }))
{
    <div id="edit-adv-container">
        @Html.Partial("EditPartial", new AdvertisementModelView())
    </div>
}


<div id="inline1">
    <h3>@Translations.General.AddPicture</h3>
    <div class="content_block">
        <div style="clear: both; display: block; height: 35px; margin-bottom: 10px;">
            <label>@Translations.Register.ImageFileDescription</label>
        </div>
        <div class="popupblocks">
            @using (Html.BeginForm("UploadFiles", "Register", FormMethod.Post, new { @class = "dropzone dz-clickable", id = "dropzoneForm", style = "height: 140px;padding: 10px;" }))
            {
                <div class="dz-message needsclick">
                    @Translations.General.DragFile<br>
                </div>
            }
        </div>
        <div class="popup_buttons">
            @*<a href="javascript:;" class="grey_button" id="cancel_button">@Translations.Buttons.Cancel</a>*@
            <a href="#" class="blue_button" id="ok_button">@Translations.Buttons.Close</a>
        </div>
    </div>
</div>

