﻿@using Gizbarit.DAL.Models.Advertisement

@section Css{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/invoice.css")" media="screen" />
    @Styles.Render("~/bundles/advert-style")
    <link rel="stylesheet" type="text/css" href="~/Css/Advertisement/font-awesome/css/font-awesome.min.css" />
}

@Scripts.Render("~/Scripts/jquery-3.1.1.min.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")

<div class="choose-language">
    <!-- <div class="topmargin" style="text-align: left;float: left; width: auto; margin-left: 0;">-->
    <div style="text-align: left; float: left; width: auto; margin-left: 0;">
        <input type="text" name="searchString" placeholder=@Translations.Menu.SearchByWord id="search-input" autocomplete="off" />
    </div>

    <div>
        <div class="green-div">
            <span>@Translations.Menu.Our_users</span>
        </div>
    </div>

</div>


<div id="advertise-list" style="width: auto;">
    @Html.Action("Show")
</div>

<script>

    var backgroungUrl;

    (function() {
        $('#search-input').click(function () {
            backgroungUrl = $('#search-input').css('background-image');
            $('#search-input').css('background-image', 'none');
        });

        $('#search-input').blur(function () {
            if($(this).val() == '' )
                $('#search-input').css('background-image', backgroungUrl);
        });


    })();
    $('#search-input').change(function() {
        var querry = $(this).val();
        $.ajax({
            type: "POST",
            url: "@Url.Action("Show")",
            global: false,
            data: {
                searchString: querry
            },

            success: function(data) {
                $("#advertise-list").html(data);
            }
        });
    });

    (function () {
        $('.adv-item-outer input[type="button"]').click(showMore);
    })();

    function showMore(event) {
        var $button = $(this);
        var shown = $button.data('shown');
        $button.val(shown === false ? '@Translations.Buttons.ShowLess' : '@Translations.Buttons.ShowMore');

        var advItem = $(this).parent().parent();
        if (shown === false) {
            advItem.children('.all-adv-text').css('visibility', 'visible');
            advItem.css('height', 'auto');
            $button.data('shown', true);
        } else {
            advItem.children('.all-adv-text').css('visibility', 'hidden');
            advItem.css('height', '180px');
            advItem.children('.adv-item-outer').css('height', 'inherit');
            $button.data('shown', false);
        }

    }
</script>





