﻿@model Gizbarit.DAL.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Login";

}

<br/>
<br/>
<br />

<div class="floatcontainer">
    <center>
        <div class="login">
            <div class="floatcontainer vertical">
                <div id="loginForm">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { autocomplete = "off" }))
                    {
                        <img src="@Url.Content("~/Css/images/username.png")" align="absmiddle" height="40" />

                        @Html.TextBoxFor(m=>m.BusinessNumber, new { placeholder = @Translations.Login.BusNo, id="txtMail" })
                        <div class="spacer">
                        </div>
                        <img src="@Url.Content("~/Css/images/password.png")" align="absmiddle" height="40">
                        @Html.TextBoxFor(m => m.Password, new { placeholder = @Translations.Login.Password, id = "txtMail",type="password" })
                        <div class="spacer"></div>
                        <img src="@Url.Content("~/Css/images/empty.png")" align="absmiddle" height="40">
                        <input name="loginsubmit" id="btnLogin" type="submit" value="@Translations.Login.SignIn" />
                        <div id="validationSummary" style="font-size: 14px">
                            @Html.Raw(System.Web.HttpUtility.HtmlDecode((Html.ValidationSummary(false) ?? (object)"").ToString()))
                        </div>

                    }
                    @Html.ActionLink(@Translations.Login.Register, "Index", "Register")
                </div>
            </div>
        </div>
    </center>
   
</div>
<br />
<br />
<br /><br />
<br />
<br /><br />
<br />
<br />
<div class="topmargin">
</div>

<div class="topmargin">
</div>
<div class="topmargin">
</div>


