﻿@section Css{
    <link href="@Url.Content("~/Css/Invoice/styleinvoice.css")" rel="stylesheet" type="text/css">
}

@{
    ViewBag.Title = "LoginSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="left1">
        <div class="tag">
            <img src="@Url.Content("~/Css/images/tag.png")" align="top"><img src="@Url.Content("~/Css/images/book.png")" align="absmiddle"/>Cabinet
        </div>
            <h2>Login Success!</h2>
            <h4>Personal area of orgId=@ViewBag.OrgId</h4>
       
    </div>
