﻿@{
    var title = ViewBag.Title ?? "managment";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Gizbarit admin - @title</title>

    @Styles.Render("~/bundles/admin-ltr")
    <style type="text/css">
        body {
    padding-top: 70px;
    padding-bottom: 30px;
      
}

        textarea{
            width: 100%;
        }
    </style>
    @RenderSection("Css", false)
</head>
<body>
<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Admin" 
                   style="width: 60px; height: 60px; vertical-align: middle;  background: url('/Css/images/logo-small.png') no-repeat 0px 0px">
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav side-nav">
@*                    <li>*@
@*                        <a href="/Admin/Dashboard"><i class="fa fa-fw fa-dashboard"></i>Dashboard</a>*@
@*                    </li>*@
                    <li>
                        <a href="/Admin/Organization"><i class="fa fa-fw fa-sitemap"></i>Organizations</a>
                    </li>
                    <li>
                        <a href="/Admin/Document"><i class="fa fa-fw fa-table"></i>Documents</a>
                    </li>
                    <li>
                        <a href="/Admin/ContentNode"><i class="fa fa-fw fa-file-text-o"></i>Pages</a>
                    </li>
                    <li>
                        <a href="/Admin/Account/Logout"><i class="fa fa-fw fa-sign-out"></i>Logout</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/admin")
    @RenderSection("Scripts", false)
</body>
</html>
