﻿@using System.Globalization
@model Gizbarit.DAL.Models.Documents.PreliminaryInvoiceViewModel
@{
    ViewBag.Title = Translations.Menu.Documents_PreliminaryInvoice + " | Gizbarit";

    if (Request.IsAjaxRequest())
    {
        Layout = "";
    }

    var titleDocumentName = @Translations.Menu.Documents_PreliminaryInvoice;
    var titleForNumber = @Translations.Documents.PreliminaryInvoiceNumber;

    ViewBag.IsExport = Model.BaseDocument.IsExport;

}
@if (ViewBag.IsExport)
    {
        titleDocumentName = @Translations.Menu.ExportProformaInvoice;
        titleForNumber = @Translations.Documents.ExportProformaInvoiceNumber;
    }
@section Css {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/documents.css")" media="screen" />
    <link href="@Url.Content("~/Css/Shared/bank.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Css/Print/print.min.css")" rel="stylesheet" />
}
@section Scripts{
    <script src="@Url.Content("~/Scripts/autoresize/autoresize.js")"></script>
    <script src="@Url.Content("~/Scripts/Print/print.min.js")"></script>

    <script type="text/javascript">
        function clientChange(clientId) {
            if (clientId != null) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetLinkedPriceOffers", "Documents")",
                    traditional: true,
                    global: false,
                    data: { clientId: clientId, isExport: '@Model.BaseDocument.IsExport' },
                    error: function(result) {
                        alertify.error('@Translations.Errors.FetchDocumentError');
                    },
                    success: function(result) {
                        renderDealOffersPartial(result);
                    }
                });
            } else {
                renderDealOffersPartial("");
            }
        }

        function renderDealOffersPartial(result) {
            $('#divDealOffersPartial').html(result);
        }

    </script>

@if (ViewBag.IsExport)
    {
        <script>
            $('body').addClass('export-body');
        </script>
}
}
<!-- Main Body Start -->
@using (Html.BeginForm("Edit", "PreliminaryInvoice", null, FormMethod.Post, new { id = "documentForm" }))
{
    <input type="hidden" name="BaseDocument.Id" value="@Model.BaseDocument.Id" />
    <div class="left1">
        <div class="tag">
            <img src="@Url.Content("~/Css/images/tag.png")" align="top">
            <span>@titleDocumentName</span>
        </div>
        @Html.Partial("~/Views/Documents/Shared/DateCreated.cshtml", Model.BaseDocument)
        <br>
        @Html.Partial("~/Views/Documents/Shared/BusinessInfo.cshtml", Model.BaseDocument.BusinessInfo)
        <br>
        <br>
        <br>
        <div style="text-align: center" class="document-number-container">
            <span style="font-size: 26px; font-weight: 600;">@titleForNumber</span>
            @Html.TextBox("BaseDocument.Number", Model.BaseDocument.Number, new { @class = "blueboxes", style = "font-weight: 600;font-size: 26px;width: 200px", @readonly = "readonly" })
        </div>
        <br>
        <br>
        <br>
        @Html.Partial("~/Views/Documents/Shared/ClientInfo.cshtml", Model.BaseDocument)
        <br>
        <br>
        <div class="field-left-container">
            @Translations.Documents.ResourceManager.GetString("Description", ViewBag.IsExport ? new CultureInfo("en") : CultureInfo.DefaultThreadCurrentCulture):@Html.TextAreaFor(m => m.BaseDocument.Subject, new { @class = "blueboxeswidthitalics not-cyrillic", @style = "width: 420px" })
        </div>
        
        <br>

        <br>
        <br>
        @Html.Partial("~/Views/Documents/Shared/Catalog.cshtml", Model)
        <br>
        <br>
        @Html.Partial("~/Views/Documents/Shared/DocumentSum.cshtml", Model.BaseDocument)

        @Html.HiddenFor(m => m.BaseDocument.IsExport)
        <br>
        <br>
        <div class="field-left-container">
            <p dir="ltr">@Translations.Documents.ResourceManager.GetString("PaymentTerms", ViewBag.IsExport ? new CultureInfo("en") : CultureInfo.DefaultThreadCurrentCulture):</p>
            @Html.TextBoxFor(x => x.PaymentDueDateDays, new { @class = "blueboxes", style = "width: 100px;" })<br />
            @Html.TextAreaFor(x => x.OfferExtras, new { @class = "blueboxeswidthitalics", placeholder = @Translations.Documents.ResourceManager.GetString("AditionalConditions", ViewBag.IsExport ? new CultureInfo("en") : CultureInfo.DefaultThreadCurrentCulture) })<br />
        </div>
        
        <br>
        <br>
        <br>
        <div id="divDealOffersPartial">
        </div>
        <br>
        <br>
        @Html.ValidationSummary()
        @Html.Partial("~/Views/Documents/Shared/Buttons.cshtml", Model.BaseDocument)
    </div>
    @Html.Partial("~/Views/Documents/Shared/VatError.cshtml")
    @Html.Partial("~/Views/Documents/Shared/AfterPrintDialog.cshtml", Model.BaseDocument.Id)

}
@Html.Partial("~/Views/Documents/Shared/CatalogPattern.cshtml", Model)
