﻿@using System.Threading
@{
}
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=yes" />
    <meta name="handheldFriendly" content="true" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="description">
    <title>@ViewBag.Title</title>
    @*<link rel="icon" type="image/png" href="http://completeaddress.something/favicon/favicon.png">*@
    <link href="@Url.Content("~/Css/Shared/style.css")" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/documents.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/slimtable.css")" media="screen" />

    @*<link href="@Url.Content("~/Css/Shared/style-" + @UICulture + ".css")" rel="stylesheet" type="text/css">*@
    @Scripts.Render("~/bundles/jquery")
    <script src="@Url.Content("~/Scripts/Shared/general.js")"></script>
    <script src="@Url.Content("~/Scripts/autoresize/autosize.js")"></script>
    <script src="@Url.Content("~/Scripts/shared/slimtable.min.js")"></script>

    @{
        var cultureName = Thread.CurrentThread.CurrentCulture.Name;
        var locale = cultureName.Split('-')[0].ToLower();
    }

    @if (locale == "he")
    {
        <link href="@Url.Content("~/Css/Shared/style_il.css")" rel="stylesheet" type="text/css">
    }

    

    @RenderSection("Css", false)


</head>
<body dir="rtl">
<!-- Loader Start -->
<!-- Main Body Start -->
<div id="main">
    <div class="main">
        <div class="topmargin" style="text-align: left;">
            @Html.ActionLink("HE", "ChangeCulture", "Home", new {lang = "he"}, null) |
            @Html.ActionLink("EN", "ChangeCulture", "Home", new {lang = "en"}, null) |
            @Html.ActionLink("RU", "ChangeCulture", "Home", new {lang = "ru"}, null)
        </div>
        <div id="fixedheader">
            <div class="leftfloat">
                @if (User.Identity.IsAuthenticated)
                {
                    using (Html.BeginForm("Search", "Dashboard", FormMethod.Post, new { style = "width: 200px; float: left;" }))
                    {
                        <input name="Query" type="text" val="">
                        <button type="submit" style="background: none; border: none;cursor: pointer"><img src="@Url.Content("~/Css/images/search.jpg")" align="absmiddle" height="20"></button>
                    }

                    <div style="clear: both"></div>
                        @Html.Partial("~/Views/Shared/Logout.cshtml")
                }
                <a class="green_button coral" style="float: none" href="https://gizbaritbiz.azurewebsites.net/">@Translations.Menu.GoToOldSystem</a>
                @Html.ActionLink(Translations.Menu.ContactUs, "ContactUs", "Home", null, new { @class = "green_button blue", style = "float: none" })
            </div>

            <div class="rightfloat">
                @* <img src="@Url.Content("~/Css/images/logo.jpg")">*@
            </div>
            <div class="linkstop">
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.Partial("~/Views/Shared/LinksLoggedIn.cshtml")
                }
                else
                {
                    @Html.Partial("~/Views/Shared/LinksNotLogged.cshtml")
                }
            </div>
        </div>
    </div>
    <div class="contentarea">
        @RenderBody()
    </div>
</div>
<div id="fixedfooter">
    <p class="meta-keywords">@Translations.Index.Keywords</p>
</div>
<script>
    $(function() {
        $("table").slimtable({
            colSettings: [ 
    	        { colNumber: 8, enableSort: false }],
            itemsPerPage: 20,
            ippList: [10, 20, 30, 50],
            text1: "",
            text2: "Loading..."
        });
    });
    
</script>
    @RenderSection("Scripts", false)
</body>

</html>

