﻿@using System.Threading
@using Gizbarit.Utils
@using Microsoft.AspNet.Identity
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=yes" />
    <meta name="handheldFriendly" content="true" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="description">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/bundles/main")
    @Styles.Render("~/bundles/alertifyjs")
    @Styles.Render("~/bundles/tablesorter")
    @{
        var cultureName = Thread.CurrentThread.CurrentCulture.Name;
        var locale = cultureName.Split('-')[0].ToLower();
    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/general")
    @Scripts.Render("~/bundles/excel")
    @Scripts.Render("~/bundles/tablesorter")

    @RenderSection("Css", false)
    @if (locale == "he")
    {
        @Styles.Render("~/bundles/main-rtl")
        @Styles.Render("~/bundles/alertifyjs-rtl")
    }
</head>
<body dir="rtl">
    <!-- Loader Start -->
    <!-- Main Body Start -->
    <div id="main">
        <div class="main">
            <div class="topmargin" style="text-align: left;">
                @Html.ActionLink("HE", "ChangeCulture", "Home", new { lang = "he" }, null) |
                @Html.ActionLink("EN", "ChangeCulture", "Home", new { lang = "en" }, null) |
                @Html.ActionLink("RU", "ChangeCulture", "Home", new { lang = "ru" }, null)
            </div>
            <div id="fixedheader">
                <div class="leftfloat" style="width: auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        using (Html.BeginForm("Search", "Dashboard", FormMethod.Post, new { style = "width: 200px; float: left;" }))
                        {
                            <input name="Query" type="text" val="">
                            <button type="submit" style="background: none; border: none;cursor: pointer"><img src="@Url.Content("~/Css/images/search.jpg")" align="absmiddle" height="20"></button>
                        }

                        <div style="clear: both"></div>
                        @Html.Partial("~/Views/Shared/Logout.cshtml")
                    }
                    <a class="green_button coral" style="float: none" href="https://gizbaritbiz.azurewebsites.net/">@Translations.Menu.GoToOldSystem</a>
                    @Html.ActionLink(Translations.Menu.ContactUs, "ContactUs", "Home", null, new { @class = "green_button blue", style = "margin: 10px 0 10px 0; float: none" })
                    @Html.ActionLink(Translations.Menu.Meet_our_users, "Index", "Advertisement", null, new { @class = "green_button adv", style="margin-right: 0;" })
                </div>
                <div class="rightfloat">
                    <a href="/"><img src="@Url.Content("~/Css/images/logo.jpg")"></a>
                    <div class="clearfix"></div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="hello" href="@Url.Action("Index", "Organisation")">@Translations.Index.Hello @User.Identity.GetUserFirstName()</a>
                    }
                </div>
                <div class="linkstop">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.Partial("~/Views/Shared/LinksLoggedIn.cshtml")
                    }
                    else
                    {
                        @Html.Partial("~/Views/Shared/LinksNotLogged.cshtml")
                    }
                </div>
            </div>
        </div>
        <div class="contentarea">
            @RenderBody()
        </div>
    </div>
    <div id="fixedfooter">
        <p class="meta-keywords">@Translations.Index.Keywords</p>
    </div>
    <div id="fullopaqueGeneral"><img src="/Content/themes/base/images/loading.gif" alt="" /></div>

    @RenderSection("Scripts", false)
</body>
</html>
