﻿<div class="dropdownbutton">
    <a class="dropdownbutton" id="link-Home" href="/">
        <span class="header_text">
            @Translations.Menu.Welcome
        </span>
    </a>
</div>
<div class="dropdownbutton">
    @Html.ActionLink(@Translations.Menu.Prices, "Prices", "Home", null, new { @class = "dropdownbutton" })
</div>
<div class="dropdownbutton">
    @Html.ActionLink(@Translations.Menu.CheckIn, "Index", "Register", null, new { @class = "dropdownbutton" })
</div>
<div class="dropdownbutton">
    @Html.ActionLink(@Translations.Menu.AboutGizbarit, "Gizbarit", "Home", null, new { @class = "dropdownbutton" })
</div>
<div class="dropdownbutton">
    <a class="dropdownbutton" href="javascript:;">
        @Translations.Menu.HowToUse
    </a>
    <div class="dropdown">
        @Html.ActionLink(@Translations.Menu.TermsOfUse, "TermsOfUse", "Home")
        @Html.ActionLink(@Translations.Menu.HowToUse_Videos, "Video", "Home")
    </div>
</div>
<div class="dropdownbutton">
    @Html.ActionLink(@Translations.Menu.About, "AboutUs", "Home", null, new { @class = "dropdownbutton" })
</div>
<div class="dropdownbutton">
    @Html.ActionLink(@Translations.Menu.ContactUs, "ContactUs", "Home", null, new {@class = "dropdownbutton"})
</div>
<div class="dropdownbutton">
    @Html.ActionLink(@Translations.Menu.SignIn, "Index", "Login", null, new { @class = "dropdownbutton green" })
</div>
