﻿@using Gizbarit.Utils
<div class="dropdownbutton">
    <a class="dropdownbutton" id="link-Home" href="@Url.Action("Index", "Dashboard")">
        <span class="header_text">
            @Translations.Menu.Dashboard
        </span>
    </a>
    <div class="dropdown">
        @Html.ActionLink(@Translations.Menu.Dashboard_EditProfile, "Index", "Organisation", null, null)
        @Html.ActionLink(@Translations.Menu.Dashboard_EditBank, "Accounts", "Bank", null, null)
        @Html.ActionLink(@Translations.Menu.Dashboard_EditClient, "Index", "Clients", null, null)
        @Html.ActionLink(@Translations.Menu.Dashboard_EditCatalog, "Index", "Catalog", null, null)
        @Html.ActionLink(@Translations.Menu.Dashboard_EditAdvertisement, "Edit", "Advertisement", null, null)
    </div>
</div>
<div class="dropdownbutton">
    <a class="dropdownbutton" id="link-Register" href="javascript:;">
        @Translations.Menu.Bank
    </a>
    <div class="dropdown">
        @Html.ActionLink(@Translations.Menu.Bank_Accounts, "Transactions", "Bank", null, null)
        @Html.ActionLink(@Translations.Menu.Bank_Summary, "Summary", "Bank", new { year = DateTime.Now.Year }, null)
    </div>
</div>
<div class="dropdownbutton">
    <a class="dropdownbutton" href="javascript:;">
        @Translations.Menu.Clients
    </a>
    <div class="dropdown">
        @Html.ActionLink(@Translations.Menu.Clients_PreliminaryInvoice, "Index", "Settlements", null, null)
        @Html.ActionLink(@Translations.Menu.Clients_PerCustommer, "PerCustommer", "Settlements", null, null)
        @Html.ActionLink(@Translations.Menu.Clients_WaybillSummary, "Waybills", "Settlements", null, null)
        @Html.ActionLink(@Translations.Menu.Clients_Edit, "Index", "Clients", null, null)
    </div>
</div>
<div class="dropdownbutton">
    <a class="dropdownbutton" href="javascript:;">
        @Translations.Menu.Suppliers
    </a>
    <div class="dropdown">
        @Html.ActionLink(@Translations.Menu.Suppliers_WaybillSummary, "WaybillsSummary", "Settlements", null, null)
        @Html.ActionLink(@Translations.Menu.Suppliers_TaxInvoice, "TaxInvoice", "Settlements", null, null)
        @Html.ActionLink(@Translations.Menu.Suppliers_Summary, "SummaryBySupplier", "Settlements", null, null)
        @Html.ActionLink(@Translations.Menu.Suppliers_BySupplier, "AccordingToSupplier", "Settlements", null, null)
    </div>
</div>
<div class="dropdownbutton">
    <a class="dropdownbutton" href="javascript:;">
        @Translations.Menu.Documents
    </a>
    <div class="dropdown">
        @Html.ActionLink(@Translations.Menu.Documents_PriceOffer, "Create", "PriceOffer", null, null)
        @Html.ActionLink(@Translations.Menu.Documents_Waybill, "Create", "Waybill", null, null)
        @Html.ActionLink(@Translations.Menu.Documents_PreliminaryInvoice, "Create", "PreliminaryInvoice", null, null)
        @if (User.Identity.GetOrgType() != Enums.BusinessType.Exemption)
        {
            @Html.ActionLink(@Translations.Menu.Documents_Receipt, "Create", "Receipt", null, null)
            @Html.ActionLink(@Translations.Menu.Documents_TaxInvoice, "Create", "TaxInvoice", null, null)
            @Html.ActionLink(@Translations.Menu.Documents_TaxInvoiceReceipt, "Create", "InvoiceRecipt", null, null)
        }
        else
        {
            @Html.ActionLink(@Translations.Menu.Documents_Receipt, "Create", "InvoiceRecipt", null, null)
        }
        @Html.ActionLink(@Translations.Menu.Documents_Edit, "Index", "PriceOffer", null, new { style = "background-color: #639fe7 !important" })
        @Html.ActionLink(@Translations.Menu.Documents_Combined, "DocumentsCombined", "Report", null, null)
        @Html.ActionLink(@Translations.Menu.Documents_Report, "Index", "Report", null, null)
        @Html.ActionLink(@Translations.Menu.Documents_SummaryFile, "TaxAuthority", "Report", null, null)
    </div>
</div>
<div class="dropdownbutton">
    <a class="dropdownbutton" href="javascript:;">
        @Translations.Menu.Stock
    </a>
    <div class="dropdown">
        @Html.ActionLink(@Translations.Menu.Stock_AddProduct, "Index", "Store", null, null)
        @Html.ActionLink(@Translations.Menu.Stock_Pricing, "Pricing", "Store", null, null)
        @Html.ActionLink(@Translations.Menu.Stock_Balances, "Balance", "Store", null, null)
        @Html.ActionLink(@Translations.Menu.Stock_Stocktaking, "Stock", "Store", null, null)
        @Html.ActionLink(@Translations.Menu.Stock_NewOrdering, "Order", "Store", null, null)
        @Html.ActionLink(@Translations.Stock.Orders, "Orders", "Store", null, null)
    </div>
</div>
<div class="dropdownbutton">
    <a href="#" class="dropdownbutton">@Translations.Menu.ForeignTrade</a>
    <div class="dropdown">
        @Html.ActionLink(@Translations.Menu.ExportCommercialOffer, "Create", "PriceOffer", new {isExport = true}, null)
        @Html.ActionLink(@Translations.Menu.ExportProformaInvoice, "Create", "PreliminaryInvoice", new {isExport = true}, null)
        
        @if ((User.Identity.GetOrgType() != Enums.BusinessType.Exemption))
        {
            @Html.ActionLink(@Translations.Menu.ExportInvoice, "Create", "TaxInvoice", new {isExport = true}, null)
        }
        else
        {
            @Html.ActionLink(@Translations.Menu.ExportReceipt, "Create", "TaxInvoice", new {isExport = true}, null)
        }
        @Html.ActionLink(@Translations.Menu.ExportEditDocuments, "Index", "PriceOffer", new {isExport = true}, new { style = "background-color: #639fe7 !important" })
        @Html.ActionLink(@Translations.Menu.ExportCustomersPayments, "Create", "CustomerPayment")
        @Html.ActionLink(@Translations.Menu.ExportBankAccountStatus, "Transactions", "Bank", new {currency = "USD"}, null)
        @Html.ActionLink(@Translations.Menu.ExportFollowUpOnPayments, "Index", "Settlements", new {isExport=true}, null)
    </div>
</div>
<div class="dropdownbutton">
    <a class="dropdownbutton" href="javascript:;">
        @Translations.Menu.HowToUse
    </a>
    <div class="dropdown">
        @Html.ActionLink(@Translations.Menu.TermsOfUse, "TermsOfUse", "Home")
        @Html.ActionLink(@Translations.Menu.HowToUse_Videos, "Video", "Home")
    </div>
</div>
