﻿<form class="logout" action="@Url.Action("Logout", "Login")" id="logoutForm" method="post"  style="font-weight: 700; display: inline-block">
    <a class="green_button" style="float: none" href="javascript:document.getElementById('logoutForm').submit()">@Translations.Menu.SignOut</a>
</form>
