﻿@using System.Globalization
@model List<Gizbarit.DAL.Models.Documents.BaseDocument>
@{
    ViewBag.Title = @Translations.Documents.PriceOffers + " | Gizbarit";
    Layout = "~/Views/Shared/_Document.cshtml";

    bool isExport = ViewBag.IsExport;
}

<div class="left1">
    <div class="tag">
        <img src="@Url.Content("~/Css/images/tag.png")" align="top">
        <span>@Translations.Documents.Editing</span>
    </div>

    @Html.Partial("~/Views/Documents/Shared/DocumentMenu.cshtml", "PriceOffers")

    <table class="table documents">
        <thead>
            <tr>
                <th>@Translations.Documents.Number</th>
                <th>@Translations.Documents.Date</th>
                <th>@Translations.Documents.ClinetName</th>
                <th>@Translations.Documents.Description</th>
                @if (!isExport)
                {
                    <th>@Translations.Documents.AmountWithoutVat</th>
                    <th>@Translations.Documents.VAT</th>
                    <th>@Translations.Documents.IncludeVAT</th>
                }
                else
                {
                    <th>@Translations.Documents.Currency</th>
                    <th>@Translations.Documents.Amount</th>
                }
                <th>@Translations.Documents.IsUsed</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @for (int index = 0; index < Model.Count; index++)
        {
            var item = Model[index];
            <tr @(index != Model.Count() - 1 && item.DateCreated.Month > Model[index + 1].DateCreated.Month ? "class=nextMonth" : "")>
                <td>@item.Number</td>
                <td>@item.DateCreated.ToString("dd/MM/yyyy")</td>
                <td>@item.ClientInfo.Name</td>
                <td>@item.Subject</td>
                @if (!isExport)
                {
                    <td dir="ltr">@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.TotalPrice)</td>
                    <td dir="ltr">@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.Tax)</td>
                    <td dir="ltr">@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.PriceWithTax)</td>
                }
                else
                {
                    <td dir="ltr">@String.Format(item.Currency)</td>
                    <td dir="ltr">@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.TotalPrice)</td>
                }
                <td>@Html.CheckBox("InUse", item.InUse, new { data_documentid = item.Id })</td>

                    <td>
                        <a href="@Url.Action("GetDocument", "Documents", new {Id = item.Id})" target="_blank">
                            <img src="@Url.Content("~/Css/images/4.png")" class="cursor" height="20" />
                        </a>
                        @*<a href="@Url.Action("Delete", new {Id = item.Id})"><img src="@Url.Content("~/Css/images/delete.png")" class="cursor" height="20"></a>*@
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>

@section Scripts
{
    <script>

        $('body').on('click', "input[name=InUse]", function () {
            var paid = this.checked;
            var documentId = $(this).data('documentid');

            var request = $.ajax({
                url: "@Url.Action("SetDocumentPaidStatus","Documents")",
                type: "POST",
                data: { id: documentId, isPaid: paid }
        });

        request.fail(function (jqXHR, textStatus) {
            alert("Request failed: " + textStatus);
        });
        });
    </script>

}

