﻿
@section Scripts
{
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#tabs").tabs();
            $.validator.methods.date = function (value, element) {
                return this.optional(element) || moment(value, "DD.MM.YYYY", true).isValid();
            }

            $(".datepicker, input[type='date']").datepicker(
            {
                dateFormat: "dd.mm.yy"
            });
            $('#ui-datepicker-div').addClass('ll-skin-latoja');
        });

    </script>
}


