﻿@using System.Globalization
@model ICollection<Gizbarit.DAL.Models.Documents.BaseDocument>

<table class="table documents slimtable">
    <thead>
        <tr>
            <th>@Translations.Documents.Number</th>
            <th>@Translations.Documents.Date</th>
            <th>@Translations.Documents.ClinetName</th>
            <th>@Translations.Documents.Description</th>
            <th>@Translations.Documents.AmountWithoutVat</th>
            <th>@Translations.Documents.VAT</th>
            <th>@Translations.Documents.AmountIncludingVat</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Number</td>
                <td>@item.DateCreated.ToString("dd/MM/yyyy")</td>
                <td>@item.ClientInfo.Name</td>
                <td>@item.Subject</td>
                <td dir="ltr">@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.TotalPrice)</td>
                <td dir="ltr">@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.Tax)</td>
                <td dir="ltr">@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.PriceWithTax)</td>
            </tr>
        }
    </tbody>

</table>
