﻿
@using System.Globalization
@using Gizbarit.Utils
@model IList<Gizbarit.DAL.Models.Documents.InvoiceReceiptViewModelContainer>
@{
    if (User.Identity.GetOrgType() == Enums.BusinessType.Exemption)
    {
        ViewBag.Title = Translations.Documents.Receipts + " | Gizbarit";

    }
    else
    {
        ViewBag.Title = Translations.Documents.InvoiceReceipts + " | Gizbarit";
    }

    Layout = "~/Views/Shared/_Document.cshtml";
}
<div class="left1">
    <div class="tag">
        <img src="@Url.Content("~/Css/images/tag.png")" align="top">
        <span>@Translations.Documents.Editing</span>
    </div>
    @Html.Partial("~/Views/Documents/Shared/DocumentMenu.cshtml", "InvoiceReceipts")
    <table class="table documents">
        <thead>
            <tr>
                <th>@Translations.Documents.Number</th>
                <th>@Translations.Documents.Date</th>
                <th>@Translations.Documents.ClinetName</th>
                <th>@Translations.Documents.Description</th>
                <th>@Translations.Documents.AmountWithoutVat</th>
                <th>@Translations.Documents.VAT</th>
                <th>@Translations.Documents.TotalWithVAT</th>
                <th>@Translations.Documents.IsPrinted</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int index = 0; index < Model.Count; index++)
            {
                var item = Model[index];
                <tr @(index != Model.Count() - 1 && item.DateCreated.Month > Model[index + 1].DateCreated.Month ? "class=nextMonth" : "")>
                    <td>@item.Number</td>
                    <td>@item.DateCreated.ToString("dd/MM/yyyy")</td>
                    <td>@item.ClientName</td>
                    <td>@item.Description</td>
                    <td dir="ltr">@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.Total)</td>
                    <td dir="ltr">@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.VatAmount)</td>
                    <td dir="ltr">@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.TotalWithVat)</td>
                    <td>@Html.CheckBox("InUse", item.IsPrinted, new { @disabled = "true" })</td>
                    <td>
                        <a href="@Url.Action("GetDocument", "Documents", new {Id = item.Id})" target="_blank">
                            <img src="@Url.Content("~/Css/images/4.png")" class="cursor" height="20" />
                        </a>
                        @*<a href="@Url.Action("Delete", new {Id = item.Id})"><img src="@Url.Content("~/Css/images/delete.png")" class="cursor" height="20"></a>*@
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
