﻿
@using System.Globalization
@model List<Gizbarit.DAL.Models.Documents.BaseDocument>

    <table class="table documents">
        <thead>
            <tr>
                <th>@Translations.Documents.Number</th>
                <th>@Translations.Documents.Date</th>
                <th>@Translations.Documents.ClinetName</th>
                <th>@Translations.Documents.Amount</th>
                <th>@Translations.Documents.PreliminaryInvoiceNumber</th>
                <th>@Translations.Documents.TaxInvoiceNumber</th>
                <th>@Translations.Documents.Deduction</th>
                <th>@Translations.Documents.IsPrinted</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int index = 0; index < Model.Count; index++)
            {
                var item = Model[index];
                <tr @(index != Model.Count() - 1 && item.DateCreated.Month > Model[index + 1].DateCreated.Month ? "class=nextMonth" : "")>
                    <td>@item.Number</td>
                    <td>@item.DateCreated.ToString("dd/MM/yyyy")</td>
                    <td>@item.ClientName</td>
                    <td dir="ltr">@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.Amount)</td>
                    <td>@item.PreliminaryInvoice </td>
                    <td>@item.TaxInvoice </td>
                    <td dir="ltr">@String.Format(CultureInfo.InvariantCulture, "{0:0,0.00}", item.Deduction)</td>
                    <td>@Html.CheckBox("InUse", item.IsPrinted, new { @disabled = "true" })</td>
                    <td>
                        <a href="@Url.Action("GetDocument", "Documents", new {Id = item.Id})" target="_blank">
                            <img src="@Url.Content("~/Css/images/4.png")" class="cursor" height="20" />
                        </a>
                        @*<a href="@Url.Action("Delete", new {Id = item.Id})"><img src="@Url.Content("~/Css/images/delete.png")" class="cursor" height="20"></a>*@
                    </td>
                </tr>
            }
        </tbody>


    </table>
</div>
