﻿@model Gizbarit.DAL.Models.Report.ReportViewModel
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal clearfix" id="form">
        <div class="form-group">
            @Html.LabelFor(model => model.FromDate, @Translations.General.FromDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ToDate, @Translations.General.ToDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, @Translations.Documents.BookkeepingEmail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BccEmail, @Translations.Documents.AdditionalEmail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BccEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BccEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (Model.IsVatCharge)
        {
            <div class="form-group">
                @Html.EditorFor(model => model.InvoiceSelected)
                @Html.LabelFor(model => model.InvoiceSelected, @Translations.Documents.TaxInvoices, new { @class = "control-label col-md-2" })
            </div>


            <div class="form-group">
                @Html.EditorFor(model => model.ReciptSelected)
                @Html.LabelFor(model => model.ReciptSelected, @Translations.Documents.Receipts, new { @class = "control-label col-md-2" })
            </div>

            <div class="form-group">
                @Html.EditorFor(model => model.InvoiceReciptSelected)
                @Html.LabelFor(model => model.InvoiceReciptSelected, @Translations.Documents.InvoiceReceipts, new { @class = "control-label col-md-2" })
            </div>
        }
        else
        {
            <div class="form-group">
                @Html.EditorFor(model => model.InvoiceReciptSelected)
                @Html.LabelFor(model => model.InvoiceReciptSelected, @Translations.Documents.Receipts, new { @class = "control-label col-md-2" })
            </div>

        }
        <div class="form-group cmd-panel">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" value="Preview" formaction="/Report/Index" class="btn">
                    <strong>@Translations.Buttons.Search</strong>
                </button>
                <a href="/Report/Download" id="download" formaction="/Report/Download" class="btn">
                    <strong>@Translations.Buttons.Print</strong>
                </a>
                <button type="submit" value="Send" formaction="/Report/Send" class="btn">
                    <strong>@Translations.Buttons.Send</strong>
                </button>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
}
