﻿@model Gizbarit.DAL.Models.Client.ClientContactsViewModel


<style>
    .contact-table {
        width: 50%;
        font-size: 14px;
        display: inline-block;
        float: left;
        padding-right: 1px;
    }

    .contact-button {
        display: inline-block; 
        cursor: pointer;
        justify-content: center;
        background-color: #9ac0ef;
        margin: 1px;
        float: left;
    }

    .contact-table td {
        padding: 2px;
        margin: 2px;
    }

    .add-new-contact-button {
        background-color: #8dc63f;
        border-radius: 5px;
        cursor: pointer;
        height: 20px;
    }
</style>



<span style="float: left;">@Model.ClientName</span>

<div style="display: inline-block; margin-top: 12px;">
    <div class="contact-table">
        <table class="table tablesorter documents" id="emailTable">
            <thead>
            <tr>
                <th style="width: 70%">@Translations.Documents.Email</th>
                <th></th>
            </tr>
            </thead>
            <tbody>


            @for (int index = 0; index < Model.Emails.Count; index++)
            {

                <tr>
                    <td>
                        <span style="display: none">@Model.Emails[index].Contact</span>
                        @Html.TextBoxFor(m => m.Emails[index].Contact, new {style = "text-align: center; width: 100%", @class = "not-cyrillic"})
                        @*<span>@item.Contact</span>*@
                    </td>
                    <td style="padding: 0">
                        @if (Model.ClientId != -1)
                        {
                            <div style="float: left; width: 100%;">
                                <div class="delete-button" style="width: 40%; display: inline-block;" title="@Translations.Buttons.Delete" onclick="deleteContact(this, { contactId: @Model.Emails[index].Id, clientId: @Model.ClientId, contactName: 'email' })">
                                    <img src="@Url.Content("~/Css/images/delete.png")" class="cursor" height="20"/>
                                </div>
                                @if (index == Model.Emails.Count - 1)
                                {
                                    <div class="fivecolumns" style="width: 40%; display: inline-block" onclick="addContactRow(this, 'Email')">
                                        <input class="blueboxesfullwidth add-new-contact-button" id="addnewEmail" 
                                               type="button" value="+">
                                    </div>
                                }
                            </div>
                        }
                    </td>
                </tr>
            }

            </tbody>
        </table>
    </div>
    <div class="contact-table" style="float: right;">
        <table class="table tablesorter documents" id="phoneTable">
            <thead>
            <tr>
                <th style="width: 70%">@Translations.Documents.Phone</th>
                <th></th>
            </tr>
            </thead>
            @for (int index = 0; index < Model.Phones.Count; index++)
            {
                <tr>
                    <td>
                        <span style="display: none">@Model.Phones[index].Contact</span>
                        @Html.TextBoxFor(m => m.Phones[index].Contact, new {style = "text-align: center; width: 100%", @class = "not-cyrillic"})
                        @*<span>@item.Contact</span>*@
                    </td>
                    <td style="padding: 0">
                        @if (Model.ClientId != -1)
                        {
                            <div style="float: left; width: 100%">
                                <div class="delete-button" style="width: 40%; display: inline-block" title="@Translations.Buttons.Delete" onclick="deleteContact(this, { contactId: @Model.Phones[index].Id, clientId: @Model.ClientId, contactName: 'phone' })">
                                    <img src="@Url.Content("~/Css/images/delete.png")" class="cursor" height="20"/>
                                </div>
                                @if (index == Model.Phones.Count - 1)
                                {
                                    <div class="fivecolumns" style="width: 40%; display: inline-block" onclick="addContactRow(this, 'Phone')">
                                        <input class="blueboxesfullwidth add-new-contact-button" id="addnewPhone" 
                                               type="button" value="+">
                                    </div>
                                }
                            </div>
                        }
                    </td>
                </tr>
            }
            <tbody></tbody>
        </table>
    </div>

</div>
@if (Model.ClientId != -1)
{
    <div style="display: inline-block; width: 100%;">
        <div class="contact-table">
            <div id="saveContacts" class="contact-button"  title="Save contacts" onclick="saveClientContacts(@Model.ClientId)">
                <img src="@Url.Content("~/Css/images/check.png")"/>
            </div>
            <div class="contact-button" id="cancelSaveContacts" title="Cancel save contacts"  onclick="clearContactContainer(this)">
                <img src="@Url.Content("~/Css/images/cancel.png")" width="24px" />
            </div>
        </div>
    </div>
}
