﻿@model List<Gizbarit.DAL.Models.Organisation.ClientViewModel>
@{
    ViewBag.Title = @Translations.Menu.Clients_Edit + " | Gizbarit";
    Layout = "~/Views/Shared/_Layout.cshtml";

   
}

@section Css{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/invoice.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/fancybox/jquery.fancybox.css")" media="screen"/>

    <style>
        #clientTable tbody tr:hover {
            background: gray;
        }
    </style>
}

@section Scripts
{
    <script>
        function deleteClient(el) {
            $(el).parent().parent().remove();
        }

        $(document).ready(function(e) {
            $.fn.tableExport.xlsx.buttonContent = '@Translations.Buttons.ExportToExcel';
            $("table").tableExport({
                formats: ["xlsx"],
                fileName: "clients",
                ignoreCols: 5
            });

            $("table").tablesorter({
                headers: {
                    1: { sorter: false },
                    2: { sorter: false },
                    3: { sorter: false },
                    4: { sorter: false },
                    5: { sorter: false }
                }
            });
            $("#addNewClient").click(function() {
                clearContactContainer();
                var indexes = [];
                $("tbody tr").each(function() {
                    var $context = $(this);
                    indexes.push(+$context.attr("data-rowid"));
                });

                var lastIndex = getMaxOfArray(indexes);
                lastIndex++;
                $("table").append('<tr data-rowid="' + lastIndex + '" onclick="getClientContact(-1)"> ' +
                    '<input type="hidden" id="Index" name="Index" value="' + lastIndex + '" />' +
                    '<input type="hidden" name="[' + lastIndex + '].Email" value="" />' +
                    '<input type="hidden" name="[' + lastIndex + '].Phone" value="" />' +
                    '<input name="[' + lastIndex + '].Id" type="hidden" value="-1">' +
                    '<td><input name="[' + lastIndex + '].Name" style="width:100%; text-align: center;" type="text" value=""</td>' +
                    '<td><input name="[' + lastIndex + '].UniqueId" style="text-align: center;" type="text" value=""></td>' +
                    //    '<td><input name="[' + lastIndex + '].Email" style="text-align: center;" value=""></td>' +
                    '<td><input name="[' + lastIndex + '].Address" style="width:100%; text-align: center;" type="text" value=""></td>' +
                    //   '<td><input name="[' + lastIndex + '].Phone" style="width:100%; text-align: center;" type="text" value=""></td>' +
                    '<td><img src="@Url.Content("~/Css/images/delete.png")" class="cursor" height="20" onclick="deleteClient(this)"></td></tr>');


            });
        });

        function getClientContact(clientId) {
            if (clientId == null)
                return;

            $.ajax(
            {
                url: '@Url.Action("GetClientContacts", "Clients")',
                data: { clientId: clientId },
                success: function(data) {

                    $('#contactContainer').html(data);
                }
            });

        }

        function deleteContact(event, data) {
            //delete empty row or unsaved
            var trElement = event.closest('tr');
            var input = trElement.querySelector('input');

            if (input.value === '' || data === null) {

                if (!$(trElement).next().is('tr'))
                    $(trElement).prev().find('.fivecolumns').css('display', 'inline-block');

                $(trElement).remove();
                return;
            }


            $.ajax(
            {
                url: '@Url.Action("DeleteContact", "Clients")',
                data: data,
                success: function (result) {
                    
                    if (result !== '') {
                        $('#contactContainer').html(result);
                        
                    } else {
                        alertify.error("Can't delete contact. This contact is active.");
                    }
                },
                error: function(errormsg) {
                    alertify.error(errormsg);
                }
            });
        }

        function addContactRow(addButton, contactName) {
            var contactBody = addButton.closest('tbody');
            var nextIndex = contactBody.querySelectorAll('tr').length;

            var $itemPattern = $(contactBody).find('tr').last().clone();
            $itemPattern.find('td input').eq(0).attr('id', contactName + '_' + nextIndex + '__Contact');
            $itemPattern.find('td input').eq(0).attr('name', contactName + '[' + nextIndex + '].Contact');
            $itemPattern.find('td input').eq(0).attr('value', '');
            $itemPattern.find('td .delete-button').attr('onclick', 'deleteContact(this, null)');

            $itemPattern.find('td input').eq(0).val('');
            $itemPattern.appendTo(contactBody);

            $(addButton).css('display', 'none'); //remove();


        }

        function clearContactContainer(event) {
            $('#contactContainer').html('');
        };

        function saveClientContacts(clientId) {
            var emailTable = document.getElementById('emailTable');
            var emailContacts = [];
            if (emailTable != null) {
                var inputWithEmailElement = emailTable.querySelectorAll('.not-cyrillic');
                emailContacts = getValuesFromInputArray(inputWithEmailElement);
                if (emailContacts == null) {
                    alertify.error('There empty field');
                    return;
                }
            }
            var phoneTable = document.getElementById('phoneTable');
            var phoneContacts = [];
            if (phoneTable != null) {
                var inputWithPhoneElement = phoneTable.querySelectorAll('.not-cyrillic');
                phoneContacts = getValuesFromInputArray(inputWithPhoneElement);
                if (phoneContacts == null) {
                    alertify.error('There empty field');
                    return;
                }
            }

            var sendData = { clientId: clientId, emails: emailContacts, phones: phoneContacts };
            console.log(sendData);
            $.ajax(
            {
                url: '@Url.Action("SaveClientContacts", "Clients")',
                dataType: 'json',
                method: 'POST',
                data: sendData,
                success: function(successMessage) {
                    alertify.success(successMessage);
                    clearContactContainer();
                },
                error: function(errorMessage) {
                    alertify.error(errorMessage);
                }
            });


        }

        function getValuesFromInputArray(inputArray) {
            var inputValues = [];
            for (var i = 0; i < inputArray.length; i++) {
                var tempValue = inputArray[i].value;
                if (tempValue === '') {
                    $(inputArray[i]).addClass('border-error');
                    return null;
                }

                inputValues[i] = tempValue;
            }

            return inputValues;
        }

        function saveContacts(event) {
            var saveButton = document.getElementById('saveContacts');

            if (saveButton == null) {
                copyContactsToNewUser();
            } else {
                saveButton.onclick();
            }
            $('form').submit();

        }

        function copyContactsToNewUser() {
            var documentBody = document.getElementById('clientTable').querySelector('tbody');
            var lastTr = documentBody.lastChild;
            if (lastTr.hasAttribute != undefined && lastTr.hasAttribute('data-rowid')) {
                var rowId = lastTr.getAttribute('data-rowid');

                var firstEmailElement = document.getElementById('Emails_0__Contact');
                if (firstEmailElement != undefined) {
                    $(lastTr).find('input[name="[' + rowId + '].Email"]').val(firstEmailElement.value);

                }
                var firstPhoneElement = document.getElementById('Phones_0__Contact');
                if (firstPhoneElement != undefined) {
                    $(lastTr).find('input[name="[' + rowId + '].Phone"]').val(firstPhoneElement.value);

                }

            }
        }

    </script>
}


<div class="left1">
    <div class="tag"><img src="@Url.Content("~/Css/images/tag.png")" align="top"><img src="@Url.Content("~/Css/images/wrench.png")" width="25px" align="absmiddle">@Translations.Menu.Clients_Edit</div>
    <div class="oneform">
        <div class="lightgreen_button" id="addNewClient"><img class="plus" src="@Url.Content("~/Css/images/plusik.png")">@Translations.Buttons.Add</div>
    </div>

    <br>
    <div class="clearfix"></div>
    <br>
    <div>
        @using (Html.BeginForm("Index", "Clients", FormMethod.Post, new { enctype = "multipart/form-data", @style = "width: 50%;display: inline-block;" }))
        {
            <div style="float: left;">
                <table class="table documents tablesorter" id="clientTable">
                    <thead>
                        <tr>
                            <th style="width: 35%">@Translations.Documents.ClinetName</th>
                            <th style="width: 10%">@Translations.Documents.ClientBusNo</th>
                            @*<th style="width: 5%">@Translations.Documents.Email</th>*@
                            <th style="width: 35%">@Translations.Documents.Address</th>
                            @*<th style="width: 10%">@Translations.Documents.Phone</th>*@
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int index = 0; index < Model.Count(); index++)
                        {
                            <tr data-rowid="@index" onclick="getClientContact(@Model[index].Id)">
                                @Html.HiddenFor(m => m[index].Id)
                                @Html.HiddenFor(m => m[index].Email)
                                @Html.HiddenFor(m => m[index].Phone)
                                <input type="hidden" id="Index" name="Index" value="@index" />
                                <td><span style="display: none">@Model[index].Name</span>@Html.TextBoxFor(m => m[index].Name, new { style = "width:100%; text-align: center;", @class = "not-cyrillic" })</td>
                                <td><span style="display: none">@Model[index].UniqueId</span>@Html.TextBoxFor(m => m[index].UniqueId, new { style = "text-align: center;" })</td>
                                @*<td><span style="display: none">@Model[index].Email</span> @Html.TextBoxFor(m => m[index].Email, new { style = "text-align: center;" })</td>*@
                                <td><span style="display: none">@Model[index].Address</span>@Html.TextBoxFor(m => m[index].Address, new { style = "width:100%; text-align: center;", @class = "not-cyrillic" })</td>
                                @*<td><span style="display: none">@Model[index].Phone</span>@Html.TextBoxFor(m => m[index].Phone, new { style = "width:100%; text-align: center;" })</td>*@
                                <td>
                                    <a title="@Translations.Buttons.Delete" href="@Url.Action("Delete", "Clients", new { clientId = Model[index].Id})">
                                        <img src="@Url.Content("~/Css/images/delete.png")" class="cursor" height="20" />
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        <div id="contactContainer" style="width: 40%; display: inline-block; position: absolute; margin-right: 1px;">

        </div>
    </div>           
        @Html.ValidationSummary()
        <button type="submit" class="buttons2" onclick="saveContacts(this)">
            <img src="/Css/images/stack.png"><br />@Translations.Buttons.Save
        </button>
   
</div>


