﻿@using Translations
@model Gizbarit.DAL.Models.Account.BaseAccountProfile

@{
    ViewBag.Title = Translations.Menu.Dashboard_EditProfile + " | Gizbarit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/invoice.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/fancybox/jquery.fancybox.css")" media="screen"/>
    @Styles.Render("~/Content/dropzonescss")
}

@section Scripts{
    @Scripts.Render("~/bundles/dropzonescripts")


    <script type="text/javascript" src="@Url.Content("~/Scripts/fancybox/jquery.fancybox.js")"></script>

    <script type="text/javascript">
        Dropzone.options.dropzoneForm = {
            maxFiles: 1,
            acceptedFiles: 'image/*',
            init: function() {
                this.on("queuecomplete", function(data) {

                });
                this.on("sending", function(file, xhr, formData) {

                    var logoId = $('#TempLogoId').val();
                    formData.append("tempId", logoId);
                    $('#LogoExtension').val(file.name.split('.').pop());
                });
                this.on("maxfilesexceeded", function(file) { this.removeFile(file); });
            }
        };

        function generateId(length) {
            var text = "";
            var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

            for (var i = 0; i < length; i++)
                text += possible.charAt(Math.floor(Math.random() * possible.length));

            return text;
        }

    </script>
    <script type="text/javascript">

        $(document).ready(function($) {
            var registerTypeId = $("#RegisterTypeId option:selected").val();
            if (registerTypeId === "0") {
                $("#BusinesTypeId").attr("disabled", true);
            }


            $("#RegisterTypeId").change(function() {
                var selectedValue = $("#RegisterTypeId option:selected").val();
                if (selectedValue === "0") {
                    $("#BusinesTypeId").val("1");
                    $("#BusinesTypeId").attr("disabled", true);
                } else {
                    $("#BusinesTypeId").attr("disabled", false);
                }
            });


            $('.fancybox').fancybox({});

            $('#cancel_button').click(function() {
                parent.$.fancybox.close();
            });
            $('#ok_button').click(function() {
                var $item = $('.dz-image img');
                var $uploadAvatar = $('.uploadAvatar');
                $uploadAvatar.empty();
                $uploadAvatar.append('<img style="width: 100%" src="' + $item.attr('src') + '">');
                $uploadAvatar.css('background', 'none');
                parent.$.fancybox.close();
            });
            $("#Email").keyup(function() {
                var validation = $("#EmailValidation").val();
                console.log(validation);
                if (validation.length > 0) {
                    if ($(this).val() !== validation) {
                        $("#email_error").show();
                    } else {
                        $("#email_error").hide();
                    }
                }
            });
            $("#EmailValidation").keyup(function() {
                var validation = $("#Email").val();
                if (validation.length > 0) {
                    if ($(this).val() !== validation) {
                        $("#email_error").show();
                    } else {
                        $("#email_error").hide();
                    }
                }
            });
            $("#Password").keyup(function() {
                var validation = $("#PasswordValidation").val();
                console.log(validation);
                if (validation.length > 0) {
                    if ($(this).val() !== validation) {
                        $("#pass_error").show();
                    } else {
                        $("#pass_error").hide();
                    }
                }
            });
            $("#PasswordValidation").keyup(function() {
                var validation = $("#Password").val();
                if (validation.length > 0) {
                    if ($(this).val() !== validation) {
                        $("#pass_error").show();
                    } else {
                        $("#pass_error").hide();
                    }
                }
            });
            $("#AccountProfile_BusinessId").keyup(function() {
                var validation = $("#BusinessIdValidation").val();
                console.log(validation);
                if (validation.length > 0) {
                    if ($(this).val() !== validation) {
                        $("#busid_error").show();
                    } else {
                        $("#busid_error").hide();
                    }
                }
            });
            $("#BusinessIdValidation").keyup(function() {
                var validation = $("#BusinessId").val();
                if (validation.length > 0) {
                    if ($(this).val() !== validation) {
                        $("#busid_error").show();
                    } else {
                        $("#busid_error").hide();
                    }
                }
            });

        });

        // Back To Top
        $('a.top').click(function() {
            $(document.body).animate({ scrollTop: 0 }, 800);
            return false;
        });


        // make two divs same height
        $('').css('min-height', $('').height());

        function submit() {
            $("#sform").submit();
        }


    </script>
}

@using (Html.BeginForm("Index", "Organisation", FormMethod.Post, new { @class = "form-horizontal", id = "sform", role = "form", enctype = "multipart/form-data" }))
{
    <div class="left1 signbg">
        <div class="step1">
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.LogoExtension)
            @Html.HiddenFor(m => m.TempLogoId)
            @Html.HiddenFor(m => m.LogoExtension)
            <div class="tag tagstep">
                <img src="@Url.Content("~/Css/images/tag.png")" align="top"><img src="@Url.Content("~/Css/images/pencil.png")" align="absmiddle"><span>@Translations.Menu.Dashboard_EditProfile</span>
            </div>
            @Html.HiddenFor(m => m.Id)
            <div class="right" style="width: 82%">
                <div class="form">
                    <div class="title">
                        <img src="@Url.Content("~/Css/images/user.png")" /> @Register.PersonalInfo
                    </div>
                    <div class="right" style="width: 100%">
                        <div class="control">
                            <label>@Register.Name:</label>
                            @Html.TextBoxFor(m => m.FirstName, new { @placeholder = @Register.Name, tabindex = "1" })
                        </div>
                        <div class="control">
                            <label>@Register.Surname:</label>
                            @Html.TextBoxFor(m => m.LastName, new { @placeholder = @Register.Surname, tabindex = "2" })

                        </div>
                        <div>
                            <div style="width: 50%; float: right">
                                <div class="control">
                                    <label>@Register.BusinessEmail</label>
                                    @Html.TextBoxFor(m => m.Email, new { @placeholder = @Register.BusinessEmail, tabindex = "3" })
                                </div>
                            </div>
                            <div style="width: 49%; float: right">
                                <div class="control">
                                    <label>@Register.Confirmation</label>
                                    @Html.TextBoxFor(m => m.EmailValidation, new { @placeholder = @Register.BusinessEmail, tabindex = "4" })
                                    <span class="error" id="email_error">
                                        <span>@Register.ConfirmationError</span>
                                    </span>
                                </div>
                            </div>
                        </div>


                        <div>
                            @if (Model.BusinessId != "123456789" && Model.BusinessId != "987654321")
                            {
                                <div style="width: 50%; float: right">
                                    <div class="control">
                                        <label>@Register.Password</label>
                                        @Html.PasswordFor(m => m.Password, new { value = Model.Password, @placeholder = @Register.PasswordHint, tabindex = "5" })
                                    </div>
                                </div>
                                <div style="width: 49%; float: right">
                                    <div class="control">
                                        <label>@Register.Confirmation</label>
                                        @Html.PasswordFor(m => m.PasswordValidation, new { value = Model.Password, @placeholder = @Register.PasswordHint, tabindex = "6" })
                                        <span class="error" id="pass_error">
                                            <span>@Register.ConfirmationError</span>
                                        </span>
                                    </div>
                                </div>
                            }
                            else
                            {
                                @Html.HiddenFor(m => m.Password)
                                @Html.HiddenFor(m => m.PasswordValidation)
                            }

                        </div>
                        <div class="control">
                            <label>@Register.BusinessType</label>
                            @Html.DropDownListFor(x => x.RegisterTypeId, Model.RegisterTypes, new { @class = "small_select", tabindex = "7" })

                            <div>
                                @if (Model.BusinessId != "123456789")
                                {
                                    <div style="width: 50%; float: right">
                                        <div class="control">
                                            <label>@Register.BusinessId</label>
                                            @Html.TextBoxFor(m => m.BusinessId, new { @placeholder = @Register.BusinessId, tabindex = "8" })
                                        </div>
                                    </div>
                                    <div style="width: 49%; float: right">
                                        <div class="control">
                                            <label>@Register.Confirmation</label>
                                            @Html.TextBoxFor(m => m.BusinessIdValidation, new { @placeholder = @Register.BusinessId, tabindex = "9" })
                                            <span class="error" id="busid_error">
                                                <span>@Register.ConfirmationError</span>
                                            </span>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div style="width: 50%; float: right">
                                        <div class="control">
                                            <label>@Register.BusinessId</label>
                                            @Html.HiddenFor(m => m.BusinessId)
                                            @Html.HiddenFor(m => m.BusinessIdValidation)
                                            @Html.TextBoxFor(m => m.BusinessId, new { @readonly = "readonly", @placeholder = @Register.BusinessId, tabindex = "10" })
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                        <div class="control">
                            <label>@Register.VatBusinessType</label>
                            @Html.DropDownListFor(x => x.BusinesTypeId, Model.BusinesTypes, new { @class = "small_select", tabindex = "11" })
                        </div>

                        <div class="control">
                            <label>@Register.BusinessName</label>
                            @Html.TextBoxFor(m => m.BusinessName, new { @placeholder = @Register.BusinessName, tabindex = "12" })
                        </div>
                        <div>
                            <div style="width: 50%; float: right">
                                <div class="control">
                                    <label>@Register.BusinessName</label>
                                    @Html.TextBoxFor(m => m.BusinessNameEng, new { @placeholder = @Register.BusinessName, tabindex = "13" })
                                </div>
                            </div>
                            <div style="width: 50%; float: right">
                                <div class="control">
                                    <span class="red">@Register.FilledLatin</span>
                                </div>
                            </div>
                        </div>
                        <div class="control">
                            <label>@Register.Address</label>
                            @Html.TextBoxFor(m => m.Street, new { @placeholder = @Register.Address, tabindex = "14" })
                        </div>
                        <div>
                            <div style="width: 50%; float: right">
                                <div class="control">
                                    <label>@Register.Address</label>
                                    @Html.TextBoxFor(m => m.StreetEng, new { @placeholder = @Register.Address, tabindex = "15" })
                                </div>
                            </div>
                            <div style="width: 50%; float: right">
                                <div class="control">
                                    <span class="red">@Register.FilledLatin</span>
                                </div>
                            </div>
                        </div>
                        <div class="control">
                            <label>@Register.Index</label>
                            @Html.TextBoxFor(m => m.Zip, new { @placeholder = @Register.Index, tabindex = "16" })
                        </div>
                        <div class="control">
                            <label>@Register.Phone</label>
                            @Html.TextBoxFor(m => m.Phone, new { @placeholder = "000-0000000", tabindex = "17" })
                        </div>
                        <div class="control">
                            <label>@Register.Fax</label>
                            @Html.TextBoxFor(m => m.Fax, new {@placeholder = "000-0000000", tabindex = "17"})
                        </div>
                        <div class="control"><label>@Register.PrepaidTaxPercent</label>@Html.TextBoxFor(m => m.IncomeTax, new { @class = "blueboxes" })</div>
                        <div class="control">
                            <label style="width: 175px !important">@Register.AdvancePeriod</label>
                            @Html.DropDownListFor(m => m.TaxPeriodId, Model.TaxPeriod, new { @class = "blueboxes" })
                        </div>
                        <div class="control">
                            <label style="width: 175px !important">@Register.VatPeriod</label>
                            @Html.DropDownListFor(m => m.VatPeriodId, Model.VatPeriod, new { @class = "blueboxes" })
                        </div>
                    </div>
                    @Html.ValidationSummary()
                </div>
            </div>
            <div class="left" style="width: 18%;">

                <a class="fancybox" href="#inline1">
                    @{
                        var path = Server.MapPath("/Content/Logos/");
                        if (File.Exists(path + Model.PathToLogo))
                        {
                            <div class="uploadAvatar" id="uploadAvatar" style="background: none">
                                @{ var filePath = String.Format("/Content/Logos/{0}", Model.PathToLogo); }
                                <img style="width: 100%" src="@filePath"/>
                            </div>
                        }
                        else
                        {
                            <div class="uploadAvatar" id="uploadAvatar"></div>
                        }
                    }
                </a>
            </div>
            
            <div style="clear: both"></div>
        </div>
    </div>
    <div class="buttons2" onclick="submit()">
        <img src="/Css/images/stack.png"><br/>@Translations.Buttons.Save
    </div>
    <div style="margin-top: 50px;display: inline-block;float: right">
        <a class="download-btn android-btn" style="float: left;" href="https://play.google.com/store/apps/details?id=com.app.gizbarit"><i class="icon icon-android"></i>@Translations.Index.GetItOn<b>Google play</b></a>
    </div>
                                    }

<div id="inline1">
    <h3>@Translations.Register.AddBusinessLogo</h3>
    <div class="content_block">
        <div style="clear: both; display: block; height: 35px; margin-bottom: 10px;">
            <label>@Translations.Register.ImageFileDescription</label>
        </div>
        <div class="popupblocks">
            @using (Html.BeginForm("UploadFiles", "Register", FormMethod.Post, new { @class = "dropzone dz-clickable", id = "dropzoneForm", style = "height: 140px;padding: 10px;" }))
            {
                <div class="dz-message needsclick">
                    @Translations.Register.DragNDrop<br>
                </div>
            }
        </div>
        <div class="popup_buttons">
            @*<a href="javascript:;" class="grey_button" id="cancel_button">@Translations.Buttons.Cancel</a>*@
            <a href="#" class="blue_button" id="ok_button">@Translations.Buttons.Close</a>
        </div>
    </div>
</div>

