﻿@model Gizbarit.DAL.Models.Documents.WayBillViewModel

@{
    ViewBag.Title = @Translations.Menu.Documents_Waybill + " | Gizbarit";
    var isEditAllowed = !Model.BaseDocument.IsCopy;

    ViewBag.IsExport = false;
}

@{
    if (Request.IsAjaxRequest())
    {
        Layout = "";
    }
}

@section Css {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/Shared/documents.css")" media="screen" />
    <link href="@Url.Content("~/Css/Shared/bank.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Css/Print/print.min.css")" rel="stylesheet" />
}
@section Scripts{
    <script src="@Url.Content("~/Scripts/autoresize/autoresize.js")"></script>
    <script src="@Url.Content("~/Scripts/Print/print.min.js")"></script>
   


    <script type="text/javascript">
        $(document).ready(function () {
            if ($("#isReadonly").val() === "1") {
                $("input,textarea,select").not('.popupbut').attr('disabled', true);
            }
        });
        function clientChange(clientId) {
            if ($("#isReadonly").val() === "1")
                return;

            if (clientId != null) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetLinkedPriceOffers", "Documents")",
                    traditional: true,
                    global: false,
                    data: { clientId: clientId },
                    error: function(result) {
                        alertify.error('@Translations.Errors.FetchDocumentError');
                    },
                    success: function(result) {
                        renderDealOffersPartial(result);
                    }
                });
            } else
                renderDealOffersPartial("");
        }

        function renderDealOffersPartial(result) {
            $('#divDealOffersPartial').html(result);
        }

    </script>
}

<!-- Main Body Start -->
@using (Html.BeginForm("Edit", "Waybill", null, FormMethod.Post, new { id = "documentForm" }))
{
    <input type="hidden" name="BaseDocument.Id" value="@Model.BaseDocument.Id" />
    <div class="left1">
        <p style="float: left; font-size: 32px; margin-left: 30px">
            <b>
                @if (Model.BaseDocument.IsCopy)
                {
                    <text>העתק</text>
                }
                else
                {
                    <text>מקור</text>
                }
            </b>
        </p>
        <div class="clearfix"></div>
        <div class="tag">
            <img src="@Url.Content("~/Css/images/tag.png")" align="top">
            <span>@Translations.Menu.Documents_Waybill</span>
        </div>
        @Html.Partial("~/Views/Documents/Shared/DateCreated.cshtml", Model.BaseDocument)
        <br>
        @Html.Partial("~/Views/Documents/Shared/BusinessInfo.cshtml", Model.BaseDocument.BusinessInfo)
        <br>
        <br>
        <br>
        <div style="text-align: center">
            <span style="font-size: 26px; font-weight: 600;">@Translations.Documents.WaybillNumber</span>
            @Html.TextBox("BaseDocument.Number", Model.BaseDocument.Number, new {@class = "blueboxes", style = "font-weight: 600;font-size: 26px;width: 200px", @readonly = "readonly"})
        </div>

        <br>
        <br>
        <br>
        @Html.Partial("~/Views/Documents/Shared/ClientInfo.cshtml", Model.BaseDocument)
        <br>
        <br>

        @Translations.Documents.Description @Html.TextAreaFor(m => m.BaseDocument.Subject, new {@class = "blueboxeswidthitalics not-cyrillic", @style = "width: 420px"})

        <br>
        <br>
        <br>
        @Html.Partial("~/Views/Documents/Shared/Catalog.cshtml", Model)
        <br>
        <br>
        @Html.Partial("~/Views/Documents/Shared/DocumentSum.cshtml", Model.BaseDocument)
        <br>
        <br>
        @Html.Partial("~/Views/Documents/Shared/3Signatures.cshtml")
        <br>
        <br>
        <br>
        <br>

        <div id="divDealOffersPartial">
        </div>
        <br>
        <br>
        @Html.ValidationSummary()
        @Html.Partial("~/Views/Documents/Shared/Buttons.cshtml", Model.BaseDocument)
    </div>
    @Html.Partial("~/Views/Documents/Shared/VatError.cshtml")
    @Html.Partial("~/Views/Documents/Shared/AfterPrintDialog.cshtml", Model.BaseDocument.Id)

}

@Html.Partial("~/Views/Documents/Shared/CatalogPattern.cshtml", Model)
