﻿body {
    width: 100%;
    padding: 0px 0 0 0;
    margin: 0;
    direction: rtl;
}

.linkstop a {
    width: 130px;
    background-color: #639fe7;
    text-align: center;
    color: #FFF;
    display: inline-block;
    border-top: 4px solid #639fe7;
}

.linkstop a:hover {
    background-color: #8dc63f;
    color: #000;
}
/*.tagstep-container {
    padding-left: 0;
}
.tagstep {
    background: #8dc63f;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    margin-right: -30px;
    padding-right: 40px;
	position: relative;
    z-index: 10;
	text-align: right;
    padding: 5px 30px;      
}
.tagstep:after {
	content:"";
    background:url(green-arr.png) no-repeat ;
    border-radius: 5px;
    width: 8px;
    height: 14px;
    display: block;
    position: absolute;
    right: 2px;
    top: 29px;
}*/
.step {
    background: #639fe7;
    border-radius: 18px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    float: right;
    width: 36px;
    height: 36px;
    line-height: 36px;
    margin-left: 10px;
    margin-top: -5px;
    font-family: Arial;
    font-weight: bold;
}
.steps {
    height: 36px;
    width: auto;
    float: right;
    margin-right: 10px;
    position: relative;
    top: -3px;
    left: -5px;
}
.tagstep img{
	float: right;
	padding-left: 10px;
}
.steps-info{
	float: right;
}
.step-title{
	clear:both;
	float:none;
	text-align: right;
	padding: 5px 0 10px;
}
.step-title img{
	padding-left: 10px;	
}
.form-section{
	width: 33%;
	display: block;
    float: right;	
}
.control {
    display: block;
    line-height: 40px;
    clear: both;
     margin-bottom: 0px; 
     height: auto !important; 
}
.signbg {
    background: url(sign_bg.png) no-repeat bottom center #fff ;
     background-size: 100% auto; 
     min-height: 820px; 
    padding: 20px;
}
.uploadAvatar {
	width: 160px;
    height: 160px;
    background: url('/css/images/plus_ic.png') no-repeat center center #fff;
    cursor: pointer;
    float: left;
    border: 2px solid #7f7f7f;
    color: #7f7f7f;
    font-style: italic;
    float: left;
}
.control {
    text-align: right;
}
.control label {
    width: 180px !important;
    text-align: right;
    font-size: 16px;
    display: inline-block;
    font-family: Arial;
    line-height: 22px;
}
.control select, .control input[type="text"], .control input[type="password"] {
    width: 170px;
    height: 23px;
    background: #a1c2ea;
    border: 0;
    color: #ffffff;
    font-size: 14px;
    line-height: 23px;
    text-align: right;
    padding-right: 5px;
    font-family: Arial;
}

.control input::-webkit-input-placeholder {color:#fff;}
.control input::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
.control input:-moz-placeholder           {color:#fff;}/* Firefox 18- */
.control input:-ms-input-placeholder      {color:#fff;}

.prev-btn{
    display: none;
    width: 150px;
    height: 80px;
    background: url('/css/images/arr_l_ic.png') no-repeat center 9px #639fe7;
    padding-top: 53px;
    color: #000;
    text-align: center;
    float: right;
    margin: 15px auto;
}

.next-btn{
   
    width: 150px;
    height: 80px;
    background: url('/css/images/arr_r_ic.png') no-repeat center 9px #639fe7;
    padding-top: 53px;
    color: #000;
    text-align: center;
    float: left;
    margin: 15px auto;
}

.end-btn{
    display: none;
    width: 150px;
    height: 80px;
    background: url('/css/images/end_ic.png') no-repeat center 9px #639fe7;
    padding-top: 53px;
    color: #000;
    text-align: center;
    float: left;
    margin: 15px auto;
}

@media (max-width: 990px) {
	.control {
	    padding-bottom: 15px;
	}	
	.control label {
	    width: 100px;
	    text-align: right;
	    font-size: 16px;
	    display: inline-block;
	    font-family: Arial;
	    line-height: 22px; 
	}
	.control select, .control input[type="text"], .control input[type="password"] {
	    width: 170px;
	    height: 23px;
	    background: #a1c2ea;
	    border: 0;
	    color: #ffffff;
	    font-size: 14px;
	    line-height: 23px;
	    text-align: right;
	    padding-right: 5px;
	    font-family: Arial;
	     display: block; 
	     float: none; 
	}
    .step3 .form .small_input {
        display: inline-block;
    }

	.form-section{
		width: 50%;	
	}
	.signbg {
	    min-height: 1060px;
	}
	.uploadAvatar {
		margin-top: 35px;
	}

}
