﻿@charset "utf-8";

.main {
    width: 100%;
    overflow: visible;
    position: relative;
    margin: 0 auto;
    background-color: white;
    padding-bottom: 10px;
}

.maininside {
    width: 1100px;
    overflow: visible;
    position: relative;
    margin: 0 auto;
}

.graphcanvas {
    content: "x";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
    border: 1px solid #000;
    cursor: pointer;
    border-radius: 50%;
    line-height: 18px;
}


.graphbuttons {
    content: "x";
    width: auto;
    height: auto;
    position: absolute;
    top: 5px;
    left: 5px;
    text-align: center;
}

#fixedheader {
    width: 100%;
    text-align: center;
    position: relative;
    overflow: visible;
    clear: both;
}


.sevenwaysplit input[type=text] {
    width: 80%;
    height: 30px;
    line-height: 200%;
}

#myChart {
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-top: 50px;
    direction: ltr;
}

.left3 {
    float: left;
    width: 100%;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    height: auto;
    margin-top: 20px;
    margin-bottom: 60px;
}

.parentfour {
    width: 100%;
    position: relative;
    overflow: auto;
    height: auto;
    margin-top: 0px;
}

.left3 .fourwaysplit {
    width: 11%;
    display: block;
    float: left;
}

    .left3 .fourwaysplit:nth-child(1) {
        width: 7%;
    }

    .left3 .fourwaysplit:nth-child(2) {
        width: 12%;
    }

    .left3 .fourwaysplit:nth-child(3) {
        width: 17%;
    }

    .left3 .fourwaysplit:nth-child(6) {
        width: 16%;
    }

    .left3 .fourwaysplit:nth-child(7) {
        width: 15%;
    }

    .left3 .fourwaysplit:nth-child(4) p:nth-child(2n) {
        background-color: #cfe7ae !important;
    }

    .left3 .fourwaysplit:nth-child(4) p:nth-child(2n+3) {
        background-color: #a9cc7b !important;
    }

    .left3 .fourwaysplit:nth-child(4) p:last-child {
        background-color: #a3a3a3 !important;
    }

    .left3 .fourwaysplit:nth-child(5) p:nth-child(2n) {
        background-color: #ffd5d5 !important;
    }

    .left3 .fourwaysplit:nth-child(5) p:nth-child(2n+3) {
        background-color: #eeb1b1 !important;
    }

    .left3 .fourwaysplit:nth-child(5) p:last-child {
        background-color: #a3a3a3 !important;
    }

    .left3 .fourwaysplit p {
        width: 100%;
        margin: 0 auto;
        display: block;
        border-right: 1px solid #fff;
        background-color: #fff;
        padding: 10px;
        height: 45px;
    }

        .left3 .fourwaysplit p:first-child {
            height: 45px;
            background-color: #b7b7b7 !important;
            font-size: 18px;
        }

        .left3 .fourwaysplit p:last-child {
            height: 40px;
            background-color: #a3a3a3 !important;
            font-size: 18px;
        }

    .left3 .fourwaysplit:last-child p {
        border-right: 1px solid transparent;
    }

    .left3 .fourwaysplit:first-child p {
    }

    .left3 .fourwaysplit p:nth-child(2n+3) {
        background-color: #d4d4d4;
    }


.left3 .sixwaysplit {
    width: 16%;
    display: block;
    float: left;
}

    .left3 .sixwaysplit:nth-child(1) {
        width: 14%;
        border-top-left-radius: 15px;
        overflow: hidden;
    }

    .left3 .sixwaysplit:nth-child(2) {
        width: 16%;
    }

    .left3 .sixwaysplit:nth-child(5) {
        width: 20%;
    }

    .left3 .sixwaysplit:nth-child(6) {
        width: 18%;
        border-top-right-radius: 15px;
        overflow: hidden;
    }

    .left3 .sixwaysplit:nth-child(3) p:nth-child(2n) {
        background-color: #cfe7ae !important;
    }

    .left3 .sixwaysplit:nth-child(3) p:nth-child(2n+3) {
        background-color: #a9cc7b !important;
    }

    .left3 .sixwaysplit:nth-child(3) p:last-child {
        background-color: #a3a3a3 !important;
    }

    .left3 .sixwaysplit:nth-child(4) p:nth-child(2n) {
        background-color: #ffd5d5 !important;
    }

    .left3 .sixwaysplit:nth-child(4) p:nth-child(2n+3) {
        background-color: #eeb1b1 !important;
    }

    .left3 .sixwaysplit:nth-child(4) p:last-child {
        background-color: #a3a3a3 !important;
    }

    .left3 .sixwaysplit p {
        width: 100%;
        margin: 0 auto;
        display: block;
        border-right: 1px solid #fff;
        background-color: #fff;
        padding: 10px;
        height: 45px;
    }

        .left3 .sixwaysplit p:first-child {
            height: 45px;
            background-color: #b7b7b7 !important;
            font-size: 18px;
        }

        .left3 .sixwaysplit p:last-child {
            height: 40px;
            background-color: #a3a3a3 !important;
            font-size: 18px;
        }

    .left3 .sixwaysplit:last-child p {
        border-right: 1px solid transparent;
    }

    .left3 .sixwaysplit:first-child p {
    }

    .left3 .sixwaysplit p:nth-child(2n+3) {
        background-color: #d4d4d4;
    }

.left3 .fivewaysplit {
    width: 22%;
    display: block;
    float: left;
}

    .left3 .fivewaysplit:nth-child(1) {
        border-top-left-radius: 15px;
        overflow: hidden;
    }

    .left3 .fivewaysplit:nth-child(5) {
        width: 12%;
        border-top-right-radius: 15px;
        overflow: hidden;
    }

    .left3 .fivewaysplit:nth-child(1) p:nth-child(2n) {
        background-color: #cceef8 !important;
    }

    .left3 .fivewaysplit:nth-child(1) p:nth-child(2n+3) {
        background-color: #bfcdd1 !important;
    }

    .left3 .fivewaysplit p {
        width: 100%;
        margin: 0 auto;
        display: block;
        border-right: 1px solid #fff;
        background-color: #fff;
        padding: 10px;
        height: 45px;
    }

        .left3 .fivewaysplit p:first-child {
            height: 45px;
            background-color: #b7b7b7 !important;
            font-size: 18px;
        }

    .left3 .fivewaysplit:last-child p {
        border-right: 1px solid transparent;
    }

    .left3 .fivewaysplit:first-child p {
    }

    .left3 .fivewaysplit p:nth-child(2n+3) {
        background-color: #d4d4d4;
    }

#addline {
    display: none;
}


.left3 .sevenwaysplit, .left3 .sevenwaysplit_content {
    width: 17%;
    display: block;
    float: right;
    margin: 0 auto;
    display: block;
    border-right: 1px solid #fff;
    line-height: 21px;
    padding: 10px;
    height: 45px;
}

.grey_bg .sevenwaysplit, .grey_bg .sevenwaysplit_content {
    background: #d4d4d4;
}

.white_bg .sevenwaysplit, .white_bg .sevenwaysplit_content {
    background: #fff;
}

.left3 .sevenwaysplit_content:nth-child(1) {
    overflow: hidden;
    width: 7%;
}

.left3 .sevenwaysplit_content:nth-child(7) {
    width: 8%;
    overflow: hidden;
}

.left3 .sevenwaysplit:nth-child(1) {
    border-top-right-radius: 15px;
    overflow: hidden;
    width: 7%;
}

.left3 .sevenwaysplit:nth-child(7) {
    width: 8%;
    border-top-left-radius: 15px;
    overflow: hidden;
}

.left3 .sevenwaysplit p {
    width: 100%;
    margin: 0 auto;
    display: block;
    border-right: 1px solid #fff;
    background-color: #fff;
    padding: 10px;
    height: 45px;
}

    .left3 .sevenwaysplit p:first-child {
        height: 45px;
        background-color: #d4d4d4 !important;
        font-size: 18px;
    }

.left3 .sevenwaysplit:last-child p {
    border-right: 1px solid transparent;
}

.left3 .sevenwaysplit:first-child p {
}

.left3 .sevenwaysplit p:nth-child(2n+3) {
    background-color: #d4d4d4;
}


.table2 {
    display: none;
}

.parent5 {
    display: none;
}

.table4 {
    display: none;
    padding-top: 20px;
}

.left1 {
    float: left;
    width: 100%;
    position: relative;
    overflow: visible;
    height: auto;
    margin-top: 20px;
}

.parent1 {
    width: 100%;
    position: relative;
    overflow: visible;
    height: auto;
    margin-top: 0px;
}

    .parent1 .inline {
        display: inline-block;
        padding: 4px 20px;
        cursor: pointer;
        position: relative;
    }

.graphcanvasmain {
    position: absolute !important;
    top: 140px;
    z-index: 99;
    width: 500px;
    display: none;
    background-color: #FFF;
    border-right: 1px #639fe7 solid;
    border-left: 1px #639fe7 solid;
    border-bottom: 1px #639fe7 solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 1;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    height: 300px;
}

    .graphcanvasmain .blue {
        background-color: #639fe7;
        border-radius: 5px;
        border: 1px solid #639fe7;
        text-align: center;
        margin-right: 10px;
        width: 120px;
        display: inline-block;
        font-size: 14px;
        position: relative;
    }

        .graphcanvasmain .blue span {
            border-radius: 50%;
            border: 1px solid #000;
            display: inline-block;
            width: 16px;
            height: 16px;
            top: 50%;
            position: absolute;
            right: 15px;
            margin-top: -8px;
            line-height: 14px;
            font-size: 14px;
        }



.inline .dropdowninline, .inline .dropdowninline_summ {
    position: absolute !important;
    top: 30px;
    z-index: 99;
    width: 100%;
    display: none;
    background-color: #FFF;
    border-right: 1px #639fe7 solid;
    border-left: 1px #639fe7 solid;
    border-bottom: 1px #639fe7 solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 1;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
}

.dropdowninline, .dropdowninline_summ {
    cursor: default !important;
}

.inline .dropdowninline a, .inline .dropdowninline_summ a {
    display: block;
}

    .inline .dropdowninline a:hover, .inline .dropdowninline_summ a:hover {
        background-color: #a1c2eb;
    }


.parent1 .inline:first-child {
    float: right;
}

.parent1 .white {
    background-color: #FFF;
    border-radius: 5px;
    border: 1px solid #639fe7;
    text-align: center;
    float: right;
    margin-right: 10px;
    position: relative;
}

    .parent1 .white:nth-child(2):after, .parent1 .white:nth-child(3):after, .parent1 .white:nth-child(4):after, .parent1 .currency-dropdown:after{
        content: "";
        position: absolute;
        top: 49%;
        right: 5px;
        border-top: 5px solid black;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
    }

    .parent1 .white:nth-child(3) {
        margin-right: 50px;
    }

.parent1 .blue {
    background-color: #639fe7;
    border-radius: 5px;
    border: 1px solid #639fe7;
    text-align: center;
    float: right;
    margin-right: 10px;
}

.parent1 .green {
    background-color: #8dc63f;
    border-radius: 0px;
    border: 1px solid #8dc63f;
    padding: 4px 4px;
    float: left;
    text-align: center;
}

.parent2 .inline .dropdowninline, .parent2 .inline .dropdowninline_summ {
    position: absolute !important;
    top: 60px;
    z-index: 99;
    width: 600px;
    height: 400px;
    display: none;
    background-color: #FFF;
    border: 0px #639fe7 solid;
    border-radius: 5px;
    right: -100px;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 1;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
}

.dropdowninline2, .dropdowninline3 {
    position: absolute !important;
    top: 40px;
    z-index: 99;
    text-align: center;
    width: 300px;
    /*overflow:auto;*/
    display: none;
    background-color: #FFF;
    border: 0px #639fe7 solid;
    border-radius: 5px;
    right: 00px;
    padding: 10px;
    opacity: 1;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    cursor: default !important;
}


.popup {
    width: 300px;
    height: auto;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    /*margin-top: -25%;*/
    background-color: #FFF;
    border-radius: 5px;
    display: none;
    z-index: 999;
}

.inputdrop {
    position: relative;
}

.ui-front {
    z-index: 1000 !important;
}

.inputdrop:after {
    content: "";
    position: absolute;
    top: 49%;
    left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}





.dropdowninline2 input[type=text], .dropdowninline3 input[type=text] {
    width: 100%;
    text-align: center;
    border-radius: 5px;
    height: 30px;
    margin: 10px 0px;
    border: 1px solid #000;
    background-color: #ccc;
    cursor: pointer !important;
}

.dropdowninline2 textarea, .dropdowninline3 textarea {
    width: 100%;
    text-align: center;
    border-radius: 5px;
    margin: 10px 0px;
    border: 1px solid #000;
    background-color: #ccc;
    cursor: pointer !important;
}

.left2 {
    float: left;
    width: 100%;
    position: relative;
    overflow: visible;
    height: auto;
    margin-top: 60px;
}

.parent2 {
    width: 100%;
    position: relative;
    overflow: visible;
    height: auto;
    margin-top: 0px;
}

.description {
    background: #9bbbe2;
}

.more {
    cursor: pointer;
    display: block;
}

.less {
    cursor: pointer;
    display: none;
}


.parent2 .green {
    background-color: #8dc63f;
    border-radius: 4px;
    padding: 4px 0px;
    width: 150px;
    float: right;
    display: inline-block;
    position: relative;
    text-align: left;
    cursor: pointer;
    padding-left: 20px;
    margin: 0 2px;
    background-size: 15px;
    background-position: 90% 50%;
    background-repeat: no-repeat;
}

    .parent2 .green:hover {
        background-color: #639fe7;
    }

    .parent2 .green.wrench {
        background-image: url(../images/wrench.png);
    }

    .parent2 .green.network {
        background-image: url(../images/network.png);
    }

    .parent2 .green.plus {
        background-image: url(../images/plus.png);
    }

.parent5 .edit {
    text-align: right;
    padding: 20px 0px;
    text-decoration: underline;
}

.parent5 .green {
    background-color: #8dc63f;
    border-radius: 4px;
    padding: 4px 0px;
    width: 150px;
    float: right;
    display: inline-block;
    position: relative;
    text-align: left;
    cursor: pointer;
    padding-left: 20px;
    margin: 0 2px;
    background-size: 15px;
    background-position: 90% 50%;
    background-repeat: no-repeat;
}

    .parent5 .green:hover {
        background-color: #639fe7;
    }

    .parent5 .green:nth-child(3) {
        background-image: url(../images/table/4.png);
    }

    .parent5 .green:nth-child(2) {
        background-image: url(../images/table/5.png);
    }

    .parent5 .green:nth-child(1) {
    }


#fullopaque {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 90;
}

.radio {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 12px;
}

.radio2, .radio3 {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 12px;
}

#datepicker, #datepicker2, #advance-datepicker {
    display: none;
    margin-bottom: 10px;
}


input[name=sitebg], input[name=sitebg2], input[name=advanceDate] {
    margin-bottom: 10px;
    display: none;
    background-color: #639fe7 !important;
}

.closebut {
    cursor: pointer !important;
    outline: none;
    margin-bottom: 10px;
    padding: 5px 15px;
    border: 1px #333333 solid;
    border-radius: 10px;
    background-color: #8dc63f !important;
    display: none;
}

.bluetext1, .bluetext2, .bluetext3 {
    color: #639fe7;
    display: none;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #000;
}

