﻿@charset "utf-8";

.tag{
    font-size: 16px;
    vertical-align: middle;
	position:absolute;
	top:5px;
	right:-10px;
	width:auto;
	background-color:#8dc63f;
	height:30px;
	overflow:visible;
		border-bottom-right-radius:15px;
		border-top-right-radius:15px;
		border-bottom-left-radius:5px;
		border-top-left-radius:5px;
		padding-left:20px;
}
    .tag span {
        top: 5px;
        position: relative;
    }

.left1{
	float:left;
	width:70%;
	position:relative;
		background-color:#fff;
		border-radius:5px;
		border:1px solid #639fe7;
		overflow:visible;
		height:360px;
}

#myChart{
	width:100%;
	height:100%;
	padding:20px;
	padding-top:50px;
    direction: ltr;
}
	
.right{
	float:right;
	width:25%;
	position:relative;
		overflow:visible;
		display:inline-block;
		vertical-align:bottom;
		height:360px;
}

	.right1{
		width:100%;
		border-radius:5px;
		overflow:visible;
		background-color:#639fe7;
		text-align:right;
		padding:20px 80px 20px 0px;
		color:#FFF;
		background-image:url(../images/internaluser.png);
		position:relative;
		background-size:50px;
		background-repeat:no-repeat;
		background-position:90% 25px;
		overflow:visible;
		height:120px;
	}
	.right2{
		width:100%;
		position:relative;
		background-color:#fff;
		display:inline-block;
		overflow:visible;
		border-radius:5px;
		vertical-align:bottom;
		border:1px solid #639fe7;
		height:220px;
	}
	
	.right3{
		width:100%;
		position:relative;
		background-color:#fff;
		display:inline-block;
		overflow:visible;
		border-radius:5px;
		vertical-align:bottom;
		border:1px solid #639fe7;
		margin-top:0px;
		height:auto;
		text-align:right;
		padding:40px 20px 10px 0;
	}
	
	.right3 a{
		color:#000;
		text-decoration:underline;
	}
	.right3 a:hover{
		color:#639fe7;
		text-decoration:underline;
	}
	
	
.left2{
	float:left;
	width:100%;
	position:relative;
		border-radius:5px;
		overflow:visible;
		height:auto;
}
		.containerleft{
			float:left;
			width:35%;
			position:relative;
				border-radius:5px;
		}
		
		.containerleft div{
			width:100%;
			display:block;
				border-radius:5px;
				border:1px solid #999;
				background-color:#dfe8f4;
		}
			
		.containerleft div p{
			display:block;
				border-bottom:1px solid transparent;
				background-color:#dfe8f4;
				padding:10px;
		}
        
        .containerleft div p:nth-child(2n){
				background-color:#a1c2ea;
		}	
		
			
		/*.containerleft div p:last-child{
			background-color:#a1c2ea;
		}*/	
		
		.containermid{
			float:left;
			width:16%;
			margin-left:10px;
			position:relative;
				border-radius:5px;
		}
		
		.containermid div{
			width:100%;
			display:block;
				border-radius:5px;
				border:1px solid #999;
				background-color:#dfe8f4;
		}
			
		.containermid div p{
			width:100%;
			margin:0 auto;
			display:block;
				border-bottom:1px solid transparent;
				background-color:#dfe8f4;
				padding:10px;
		}
			
		.containermid div p:nth-child(2n){
				background-color:#a1c2ea;
		}	
		
		.containerlast{
			float:left;
			width:25%;
			margin-left:10px;
			position:relative;
				border-radius:5px;
		}
		
		.containerlast div{
			width:100%;
			display:block;
				border-radius:5px;
				border:1px solid #999;
				background-color:#dfe8f4;
		}
			
		.containerlast div p{
			width:100%;
			margin:0 auto;
			display:block;
					border-bottom:1px solid transparent;
			background-color:#dfe8f4;
				padding:10px;
		}
		.red{color:#F00;}	
		.containerlast div p:nth-child(2n){
				background-color:#a1c2ea;
		}	
		
		
.left3{
	float:left;
	width:100%;
	background-color:#fff;
	position:relative;
	border:1px solid #639fe7;
	border-radius:5px;
	overflow:visible;
	height:auto;
	margin-top:20px;
}
.parentfour{
	width:100%;
	background-color:#fff;
	position:relative;
	border-radius:5px;
	overflow:auto;
	height:354px;
	margin-top:60px;
				padding:0px 20px 20px 20px;
}
		.left3 .fourwaysplit{
			width:25%;
			display:block;
			float:left;
		}

		.left3 .fourwaysplit p{
			width:100%;
			margin:0 auto;
			display:block;
			border-right:1px solid #000;
			background-color:#fff;
			padding:10px;
			height:45px;
		}
		.left3 .fourwaysplit p:first-child {
			height:64px;
			background-color:#c1d9f5;
			font-size:18px;
		}
		.left3 .fourwaysplit:last-child p{
			border-right:1px solid transparent;
			border-top-right-radius:10px;
			border-bottom-right-radius:10px;
		}
		.left3 .fourwaysplit:first-child p{
			border-top-left-radius:10px;
			border-bottom-left-radius:10px;
		}
		.left3 .fourwaysplit p:nth-child(2n+3){
				background-color:#cecece;
		}	
		
		
	.ll-skin-nigran {
	font-size: 90%;
}

.ll-skin-nigran .ui-widget {
	font-family: "Helvetica Neue","Trebuchet MS",Tahoma,Verdana,Arial,sans-serif;
	background: #fff;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	box-shadow: 0 0px 0px #252525;
}

.ll-skin-nigran .ui-datepicker {
	padding: 0;
	width:100%;
	margin:0;
}

.ll-skin-nigran .ui-datepicker-header {
	border: none;
	border-bottom: 1px solid #2d97cb;
	background: transparent;
	font-weight: normal;
	font-size: 11px;
	text-transform: uppercase;
}

.ll-skin-nigran .ui-datepicker-header .ui-state-hover {
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-title {
	margin-top: 0em;
	margin-bottom: 0em;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-prev-hover,
.ll-skin-nigran .ui-datepicker .ui-datepicker-next-hover,
.ll-skin-nigran .ui-datepicker .ui-datepicker-next,
.ll-skin-nigran .ui-datepicker .ui-datepicker-prev {
	top: 1.7em;
	border:none;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-prev-hover {
	left: 2px;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-next-hover {
	right: 2px;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-next span,
.ll-skin-nigran .ui-datepicker .ui-datepicker-prev span {
	background-image: url(https://raw.githubusercontent.com/rtsinani/jquery-datepicker-skins/master/css/images/ui-icons_454545_256x240.png);
	background-position: -32px -32px;
	margin-top: 0;
	top: -20px;
	font-weight: normal;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-prev span {
	background-position: -96px -32px;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-prev-hover span {
	background-position: -96px -48px;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-next-hover span {
	background-position: -32px -48px;
}

.ll-skin-nigran .ui-datepicker table {
	margin: 0;
}

.ll-skin-nigran .ui-datepicker th {
	padding: 1em 0;
	color: #000;
	font-size: 8px;
	font-weight: normal;
	text-shadow: 0 0 0px #45c4f8;
	text-transform: uppercase;
	border: none;
	border-top: 0px solid #3fabdc;
}

.ll-skin-nigran .ui-datepicker td {
	border: none;
	padding: 0;
}

.ll-skin-nigran td .ui-state-default {
	background: transparent;
	border: none;
	text-align: center;
	padding: 2px;
	margin: 0;
	font-weight: normal;
	color: #000;
	font-size: 12px;
}

.ll-skin-nigran td .ui-state-active,
.ll-skin-nigran td .ui-state-hover {
	background: #1b7fb0;
	color: #fff;
}


		
@media only screen and (max-width:1100px){

/* MAIN */
	.left1{
		float:left;
		width:100%;
		position:relative;
			background-color:#fff;
			border-radius:5px;
			border:1px solid #639fe7;
			overflow:visible;
			height:360px;
	}
	
	#myChart{
		width:100%;
		height:100%;
		padding:20px;
		padding-top:50px;
	}
		
	.right{
		float:right;
		width:100%;
		position:relative;
			overflow:visible;
			display:inline-block;
			vertical-align:bottom;
			height:360px;
			margin-top:20px;
	}

	.left2{
		float:left;
		width:100%;
		position:relative;
			border-radius:5px;
			overflow:visible;
			height:auto;
	}
		/*.containerleft{
			float:left;
			width:90%;
			position:relative;
				border-radius:5px;
			margin-left:15px;
		}
		.containermid{
			float:left;
			width:45%;
			margin-left:10px;
			margin-top:10px;
			position:relative;
				border-radius:5px;
		}
		.containerlast{
			float:left;
			width:45%;
			margin-left:10px;
			margin-top:10px;
			position:relative;
				border-radius:5px;
		}*/
		.contentarea{
	width:100%;
	margin:0 auto 40px;
	overflow:auto;
	background-color:#cad9ec;
	clear:both;
	position:relative;
	margin-top:10px;
	padding:20px;
	z-index:999;
	text-align:center;
-webkit-box-shadow: 0px 4px 40px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 40px -2px rgba(0,0,0,0.75);
box-shadow: 0px 4px 40px -2px rgba(0,0,0,0.75);
font-size:18px;
}
	.parentfour{
		width:100%;
		background-color:#fff;
		position:relative;
		border-radius:5px;
		overflow:auto;
		height:354px;
		margin-top:60px;
					padding:0px 10px 20px 10px;
	}


		.left3 .fourwaysplit p{
			width:100%;
			margin:0 auto;
			display:block;
			border-right:1px solid #000;
			background-color:#fff;
			padding:10px;
			height:45px;
		}
		.left3 .fourwaysplit p:first-child {
			height:64px;
			background-color:#c1d9f5;
			font-size:18px;
		}

}