﻿.checkbox {
    position: relative;
    bottom: auto;
    left: auto;
    display: inline-block;
}

.form-group {
    padding: 5px;
}

.form-control {
    display: inline-block;
    background-color: #a1c2ea;
    color: #000;
    padding: 2px 4px;
    margin: 2px;
    height: 28px;
    vertical-align: top;
    border: none;
    font-size: 18px;
    text-align: right;
}

#tabs {
    border: none 0px !important;
}

#tab-header {
    background: transparent !important;
    border: none 0px !important;
}

    #tab-header li {
        float: right !important;
    }

.ui-widget-header .ui-state-active {
    background: #8dc63f !important;
    border: 1px solid #8dc63f !important;
    border-radius: 0px;
    color: #ffffff;
    font-weight: normal;
}

.ui-widget-header .ui-state-default {
    background: #c7daf2;
    border: 1px solid #c7daf2;
    color: #000 !important;
     border-radius: 0px;
    font-weight: normal;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #000;
     border-radius: 0px;
    text-decoration: none;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #FFF;
    text-decoration: none;
} 

.cmd-panel {
    margin-top: 20px;
}

.btn {
    border: none;
    display: inline-block;
    margin: 0px 10%;
    text-align: center;
    cursor: pointer;
    background-color: #639fe7;
    padding: 5px 10px;
    margin: 0px 10px;
    font-size: 18px;
}