﻿@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/earlyaccess/alefhebrew.css);

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('/fonts/glyphicons-halflings-regular.eot');
    src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.join, a, p, label, span, input, ul, ol, textarea, .alertify-notifier {
    direction: ltr;
}

    ul, ol, ol > li {
        direction: ltr;
        text-align: left;
    }


.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.glyphicon-chevron-up:before {
    content: "\e113";
}

.glyphicon-chevron-down:before {
    content: "\e114";
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, serif;
}

font html {
    width: 100%;
}

body {
    width: 100%;
    padding: 0px 0 0 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

h1 {
    padding: 0;
    margin: 0;
    font-size: 56px;
}

#main {
    width: 1100px;
    overflow: auto;
    position: relative;
    margin: 0 auto;
    padding: 20px 0 0 0;
}

.cursor {
    cursor: pointer;
}

.image-btn {
    background: none;
    border: none;
}

.btn {
    background-color: #e0ffff;
    border-radius: 4px;
    float: right;
    display: inline-block;
    position: relative;
    height: 28px;
    text-align: left;
    cursor: pointer;
    padding: 0px 20px;
}

    .btn.green {
        background-color: #8dc63f;
    }

.vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#fixedheader {
    width: 100%;
    text-align: center;
    position: relative;
    clear: both;
}

#fixedfooter {
    width: 100%;
    text-align: center;
    position: relative;
    overflow: auto;
    text-align: center;
    background-color: #8dc63f;
    padding: 40px 20px 20px;
    margin-top: -60px;
}

    #fixedfooter p {
        width: 1000px;
        margin: 20px auto 0px;
    }

a {
    text-decoration: none;
    color: #000;
    transition: all 0.2s ease-in;
}



    a:hover {
        text-decoration: none;
        color: #333;
    }
/* Webkit */
::-webkit-input-placeholder {
    text-align: center;
}

/* Firefox 4-18 */
:-moz-placeholder {
    text-align: center;
}

/* Firefox 19+ */
::-moz-placeholder {
    text-align: center;
}

/* IE10+ */
:-ms-input-placeholder {
    text-align: center;
}

.leftfloat {
    float: left;
    width: 50%;
    text-align: left;
    padding-top: 35px;
    direction: ltr;
    padding-left: 10px;
}

    .leftfloat input {
        border-radius: 5px;
        border: 1px solid #000;
        outline: none;
        width: 140px;
        height: 20px;
    }

.rightfloat {
    float: right;
    width: 50%;
    text-align: right;
}

.linkstop div {
    display: inline-block;
    position: relative;
    padding-top: 15px;
    float: right;
    padding: 10px 3px;
    font-size: 14px;
}

.linkstop {
    width: 100%;
    clear: both;
    overflow: visible !important;
    padding-top: 20px;
    color: #FFF;
    margin: 0 10px;
}

.dropdown a {
    width: 176px;
    background-color: #c9e2a8 !important;
    text-align: center;
    color: #000 !important;
    display: inline-block;
    padding: 5px;
    border-top: 0px solid #639fe7 !important;
    height: auto !important;
    vertical-align: top !important;
}

    .dropdown a:hover {
        background-color: #a1c2eb !important;
    }

.linkstop a {
    width: 130px;
    background-color: #639fe7;
    text-align: center;
    color: #FFF;
    display: inline-block;
    padding: 5px;
    border-top: 4px solid #639fe7;
    height: 64px;
    vertical-align: top !important;
}

    .linkstop a:hover {
        background-color: #8dc63f;
        text-align: center;
        color: #000;
        display: inline-block;
        padding: 5px;
        border-top: 4px solid #639fe7;
    }

    .linkstop a.active {
        background-color: #8dc63f;
        text-align: center;
        color: #000;
        display: inline-block;
        padding: 5px;
        border-top: 4px solid #639fe7;
    }

.linkstop .dropdown {
    position: absolute !important;
    top: 70px;
    left: 0;
    display: none;
    opacity: 0;
    transition: all 2.3s ease-in;
    -webkit-transition: all 2.3s ease-in;
    z-index: 1000;
}

    .linkstop .dropdown:hover {
        display: block;
        opacity: 1;
    }

.dropdownbutton:hover ~ .dropdown {
    opacity: 1;
    display: block;
}

.topmargin {
    width: 100%;
    height: 20px;
    padding-left: 10px;
}

    .topmargin a {
        color: #8dc63f;
    }

        .topmargin a.active {
            color: #639fe7;
        }

.floatcontainer {
    width: 100%;
    overflow: auto;
    padding: 10px;
}

.contentarea {
    overflow-x: hidden !important;
    width: 98%;
    min-height: 600px;
    margin: 0 auto 40px;
    overflow: auto;
    background-color: #cad9ec;
    clear: both;
    /*z-index: 10;*/
    position: relative;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 12px 12px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 12px 12px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 12px 12px rgba(0, 0, 0, .5);
    /*box-shadow: 0px 4px 40px -2px rgba(0,0,0,0.75);*/
    font-size: 18px;
}

.total p, .total span {
    font-size: 14px;
    line-height: 16px;
}

.reg-section {
    padding: 10px;
    height: 240px;
}

.video {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    background-color: #000;
    height: 240px;
}

.login {
    width: 45%;
    text-align: center;
    padding: 10px;
    background-color: #639fe7;
    height: 250px;
    border-radius: 10px;
}

    .login input[type=text], .login input[type=password] {
        border-radius: 5px;
        border: 1px solid #fff;
        outline: none;
        width: 240px;
        height: 40px;
        margin: 5px;
        padding: 5px;
    }

    .login input[type=submit] {
        border-radius: 5px;
        background-color: #8dc63f;
        outline: none;
        width: 240px;
        height: 40px;
        margin: 5px;
        border: none;
        -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
        box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
        cursor: pointer;
    }

    .login a {
        text-decoration: underline;
        color: #FFF;
    }


.bubbles {
    text-align: center;
    display: inline-block;
    padding: 0 10px;
    font-size: 24px;
    color: #333;
    width: 245px;
    font-weight: bold;
}

.btn-login {
    font-size: 16px;
    border-radius: 5px;
    background-color: #8dc63f;
    outline: none;
    width: 240px;
    height: 40px;
    margin: 5px;
    border: none;
    padding: 2px 15px;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}

.join {
    width: 40%;
    float: left;
    font-size: 26px;
    height: 100px;
    vertical-align: bottom !important;
    background-color: #639fe7;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
    margin: 20px 30px;
}

    .join a {
        color: #fff;
    }

        .join a:hover {
            color: #fff;
            text-decoration: none;
        }

textarea {
    width: 400px;
    height: 24px;
}

#datepicker-dash {
    margin-top: 40px;
    left: 0;
    display: inline-block;
    width: 100% !important;
    position: absolute;
}


.join:hover {
    background-color: #8dc63f;
    color: #fff;
}


::-webkit-input-placeholder {
    text-align: right;
    color: #657a95;
}

/* Firefox 4-18 */
:-moz-placeholder {
    text-align: right;
    color: #657a95;
}

/* Firefox 19+ */
::-moz-placeholder {
    text-align: right;
    color: #657a95;
}

/* IE10+ */
:-ms-input-placeholder {
    text-align: right;
    color: #657a95;
}

.contact {
    border-radius: 0px;
    border: none;
    outline: none;
    width: 50%;
    height: 40px;
    margin: 5px;
    background-color: #b1cff3;
    display: block;
}

.contactarea {
    border-radius: 0px;
    border: none;
    outline: none;
    width: 100%;
    margin: 5px;
    background-color: #b1cff3;
    display: block;
}

.contactbutton {
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px 10px;
    background-color: #8dc63f;
    display: block;
    float: left;
    cursor: pointer;
}

#datepicker, #advance-datepicker {
    display: inline-block;
    /*width:80% !important;*/
    position: absolute;
}

#datepicker2 {
    display: inline-block;
    width: 80% !important;
    position: absolute;
    top: 200px;
    right: 100px;
}

.ui-datepicker {
    direction: ltr !important;
}

.buttons2 {
    display: inline-block;
    margin: 0px 10px;
    text-align: center;
    cursor: pointer;
    background-color: #639fe7;
    padding: 5px 10px;
    margin-top: 50px;
    float: left;
    width: 150px;
    height: 80px;
}

.widthinline {
    width: 100%;
    font-size: 0px;
}

.active {
    background-color: rgb(141, 198, 63) !important;
}

.widthinlineinterior {
    border: 1px solid #fff;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    line-height: 2em;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .join {
        font-size: 28px;
        background-color: #639fe7;
        border: 1px solid #fff;
        border-radius: 0px;
        padding: 10px 20px;
        color: #fff;
        -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
        box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
    }

    .reg-section {
        float: left;
        width: 45%;
        padding: 10px;
        height: 240px;
    }

    .video {
        width: 45%;
        margin-left: auto;
        margin-right: auto;
        background-color: #000;
        height: 240px;
    }

    .login {
        float: right;
        width: 45%;
        text-align: center;
        padding: 10px;
        background-color: #639fe7;
        height: 240px;
        border-radius: 10px;
    }

    .floatcontainer {
        width: 100%;
        overflow: visible;
        padding: 10px;
        height: 200px;
        margin-bottom: 60px;
    }
}

@media only screen and (max-width:900px) {
    .join a {
        font-size: 18px;
    }
}

@media only screen and (max-width:1100px) {
    #main {
        width: 100%;
        overflow: auto;
        position: relative;
        margin: 0 auto;
    }

    .reg-section {
        float: left;
        width: 45%;
        padding: 10px;
        height: 240px;
    }

    .video {
        width: 45%;
        margin-left: auto;
        margin-right: auto;
        background-color: #000;
        height: 240px;
    }

    .login {
        float: right;
        width: 100%;
        text-align: center;
        padding: 10px;
        background-color: #639fe7;
        height: 240px;
        border-radius: 10px;
        margin-top: 20px;
    }

    .bubbles {
        text-align: center;
        display: inline-block;
        padding: 0 10px;
        font-size: 24px;
        color: #333;
        font-weight: bold;
    }

    #fixedfooter p {
        width: 95%;
        margin: 20px auto 0px;
    }

    /*.linkstop a {
        width: 178px;
        background-color: #639fe7;
        text-align: center;
        color: #FFF;
        display: inline-block;
        padding: 5px;
        border-top: 4px solid #639fe7;
        height: 64px;
        vertical-align: middle;
        margin-top: 5px;
    }

        .linkstop a:hover {
            width: 178px;
            background-color: #8dc63f;
            text-align: center;
            color: #000;
            display: inline-block;
            padding: 5px;
            border-top: 4px solid #639fe7;
        }

        .linkstop a.active {
            width: 178px;
            background-color: #8dc63f;
            text-align: center;
            color: #000;
            display: inline-block;
            padding: 5px;
            border-top: 4px solid #639fe7;
        }*/

    #fixedheader {
        width: 90%;
        margin: auto;
        text-align: center;
        position: relative;
        clear: both;
    }

    .leftfloat {
        float: left;
        width: 50%;
        text-align: left;
        padding-top: 15px;
        direction: ltr;
    }

    .rightfloat {
        float: right;
        width: 50%;
        text-align: right;
    }

        .rightfloat img {
            width: 100%;
        }


    .topmargin {
        width: 100%;
        height: 20px;
        padding-left: 40px;
    }




    /* MAIN */
}



/*------------------------------------*\
	НАВИГАЦИЯ
\*------------------------------------*/
#nav {
    float: right;
    width: 100%;
    list-style: none;
    direction: rtl;
    margin-bottom: 12px;
    padding: 0;
}

    #nav li {
        float: right;
        margin-right: 5px;
        position: relative;
        display: block;
    }

        #nav li.uplink:nth-child(1) {
            margin-right: 0;
        }

        #nav li.uplink a {
            display: block;
            background-color: #639fe7;
            border-top: 4px solid #639fe7;
            color: #fff;
            height: 35px;
            padding: 5px;
            text-align: center;
            vertical-align: middle;
            width: 179px;
        }

            #nav li.uplink a:hover {
                color: #000;
                background: #8dc63f;
                text-decoration: none;
            }

    /*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
    #nav ul {
        list-style: none;
        position: absolute;
        left: -9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
        opacity: 0; /* Устнавливаем начальное состояние прозрачности */
        -webkit-transition: 0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
        z-index: 9999;
    }

        #nav ul li {
            float: none;
        }

        #nav ul a {
            white-space: nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
            display: block;
        }

        #nav ul.children li a {
            border: 0;
            color: #000;
            height: auto;
            padding: 5px;
            background: #c8e2a7;
        }

    #nav li:hover ul { /* Выводим выпадающий пункт при наведении курсора */
        left: 0; /* Приносим его обратно на экран, когда нужно */
        opacity: 1; /* Делаем непрозрачным */
    }

    #nav li:hover a { /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
        background: #8dc63f;
        color: #000;
        text-decoration: underline;
    }

    #nav li:hover ul a { /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
        text-decoration: none;
        -webkit-transition: -webkit-transform 0.075s linear;
    }

    #nav li:hover ul.children li a:hover { /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
        background: #a1c2ea;
        text-decoration: none;
        border: 0;
        color: #000;
        height: auto;
        padding: 5px;
    }



/*sign up*/
.signbg {
    background: #fff url(/css/images/sign_bg.png) no-repeat bottom center;
    background-size: 100% auto;
    min-height: 820px;
}

.step_buttons {
    padding: 20px 30px;
    height: 83px;
    display: block;
    clear: both;
}

.next_button {
    float: left;
}

.end_button {
    float: left;
    display: none;
}


/*.table-stripped td {
    border-color: #fff;
}*/
.table-stripped tbody tr:nth-child(even) {
    background-color: #ccc;
}

.table-stripped tbody tr:nth-child(odd) {
    background-color: #fff;
}

.table-stripped thead {
    background-color: #b7b7b7;
    d;
}

.table-stripped tbody tr:last-child {
    background-color: #b7b7b7 !important;
}

.table-stripped tbody tr:nth-child(n+1) td:nth-last-child(3) {
    background-color: #a9cc7b;
}

.table-stripped tbody tr:nth-child(n+3) td:nth-last-child(3) {
    background-color: #CFE7AE;
}

.prev_button {
    float: right;
    display: none;
}

.tagstep {
    padding-left: 0;
    margin-top: 20px;
}

.step2 {
    display: none;
}

.step3 {
    display: none;
}

.steps {
    height: 36px;
    width: auto;
    background: url(/css/images/line.png) repeat-x center;
    float: left;
    margin-right: 10px;
    position: relative;
    top: -3px;
    left: -5px;
}

.step {
    background: url(/css/images/elipse.png) no-repeat;
    text-align: center;
    color: #fff;
    font-size: 20px;
    float: right;
    width: 36px;
    height: 36px;
    line-height: 36px;
    margin-left: 10px;
    font-family: Arial;
    font-weight: bold;
}

.steps div:nth-last-child {
    margin: 0;
}
/*step1*/
.step1 .form {
    margin-top: 20px;
    font-family: Arial;
    width: 100%;
}

    .step1 .form .control label {
        width: 115px;
    }

.step1 .right {
    float: right;
}

.step1 .left {
    float: left;
}

.step1 .control {
    display: block;
    height: 25px;
}

.uploadAvatar {
    width: 162px;
    height: 162px;
    background: url(/css/images/upload_img.png) no-repeat;
    cursor: pointer;
}


    .uploadAvatar.logos {
        width: 162px;
        height: 162px;
        background: #fff;
        border: 1px solid #000;
        text-align: center;
        line-height: 162px;
        cursor: pointer;
    }

.log p {
    font-size: 12px;
    color: #9b9c9d;
}

.fancybox-skin {
    padding: 0 !important;
}

.fancybox-close {
    right: -8px !important;
    top: -3px !important;
}

#inline1 {
    width: 460px;
    display: none;
}

    #inline1 h3 {
        background: #639fe7;
        position: relative;
        top: -19px;
        border-radius: 5px 5px 0 0;
        text-align: center;
    }

    #inline1 .content_block {
        padding: 0 20px;
    }

#inline2 {
    width: 460px;
    display: none;
}

    #inline2 h3 {
        background: #639fe7;
        position: relative;
        top: -19px;
        border-radius: 5px 5px 0 0;
        text-align: center;
    }

    #inline2 .content_block {
        padding: 0 20px;
    }

#inline3 {
    width: 460px;
    display: none;
}

    #inline3 h3 {
        background: #639fe7;
        position: relative;
        top: -19px;
        border-radius: 5px 5px 0 0;
        text-align: center;
    }

    #inline3 .content_block {
        padding: 0 20px;
    }

.popupblocks {
    height: 110px;
    display: block;
}

.popupblock {
    float: right;
}

.popupblocks div:nth-child(1) {
    margin-left: 9px;
}

.reclogos {
    background: #e0ecfa;
    height: 109px;
    border: 1px solid #000;
    text-align: center;
    line-height: 109px;
    position: relative;
}

    .reclogos img {
        max-width: 114px;
        max-height: 100px;
    }

.upload_text {
    clear: both;
    color: #000;
    font-family: Arial;
    font-size: 12px;
    padding-left: 13px;
    padding-right: 127px;
    text-align: left;
}

.close_img {
    max-width: auto;
    max-height: auto;
    position: absolute;
    top: 5px;
    right: 5px;
}

.popup_buttons {
    margin: 30px 0 20px;
    display: block;
    height: 35px;
    float: left;
}

    .popup_buttons img {
        float: left;
        margin: 5px;
    }
/*END step1*/
.step2 .right {
    float: right;
}

.step2 .left {
    float: left;
    margin-right: 20px;
}

.form {
    margin-top: 20px;
    font-family: Arial;
    width: 272px;
}

    .form .title {
        font-size: 19px;
        font-family: Arial;
        margin-bottom: 5px;
    }

        .form .title img {
            position: relative;
            top: 6px;
        }

.control {
    display: block;
    line-height: 35px;
    clear: both;
    margin-bottom: 10px;
    height: 23px;
}

    .control input[type=radio] {
        margin-left: 5px;
        margin-top: 2px;
        position: relative;
        top: 2px;
    }

    .control label {
        width: 96px;
        text-align: right;
        font-size: 19px;
        display: inline-block;
        font-family: Arial;
        line-height: 22px;
    }

        .control label.radio_label {
            font-size: 19px;
            display: inline;
        }

            .control label.radio_label img {
                position: relative;
                top: 2px;
            }

            .control label.radio_label span {
                font-size: 15px;
            }

    .control select, .control input[type="text"], .control input[type="password"] {
        width: 170px;
        height: 23px;
        background: #a1c2ea;
        border: 0;
        color: #657a95;
        font-size: 17px;
        line-height: 23px;
        text-align: right;
        padding-right: 5px;
        font-family: Arial;
    }

    .control label .but1 {
        font-family: Arial;
        width: 54px;
        height: 25px;
        line-height: 25px;
        font-size: 15px;
        border-radius: 3px;
        padding: 0 5px;
        font-weight: bold;
        float: left;
        margin-left: 5px;
        padding-right: 20px;
        background: #8dc63f url(/css/images/king.png) no-repeat 90% center;
        border: 0;
        margin-top: 3px;
        cursor: pointer;
    }

    .control label .but2 {
        font-family: Arial;
        width: 54px;
        height: 25px;
        line-height: 25px;
        font-size: 15px;
        border-radius: 3px;
        padding: 0 5px;
        margin-right: 20px;
        font-weight: bold;
        padding-right: 22px;
        margin-top: 3px;
        border: 0;
        cursor: pointer;
        background: #8dc63f url(/css/images/delete_basket.png) no-repeat 90% center;
    }

#addFields {
    font-family: Arial;
    width: 94px;
    height: 25px;
    font-size: 15px;
    border-radius: 3px;
    padding: 0 5px;
    text-align: center;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    margin-top: 3px;
    background: #8dc63f;
}

.step3 {
    display: none;
}

    .step3 .right {
        float: right;
    }

    .step3 .left {
        float: left;
        margin-right: 20px;
    }

    .step3 .form {
        width: 100%;
    }

        /*.step3 .form label {
            width: 300px !important;
            text-align: right;
            font-size: 15px;
            display: inline-block;
            font-family: Arial;
        }*/

        .step3 .form label.select_label {
            width: 210px;
            text-align: right;
            font-size: 19px;
            display: inline-block;
            font-family: Arial;
        }

        .step3 .form .small_input {
            width: 50px;
            height: 25px;
            background: #a1c2ea;
            border: 0;
            font-size: 17px;
            line-height: 23px;
            text-align: right;
            padding-right: 5px;
            font-family: Arial;
        }

        .step3 .form .small_select {
            width: 105px;
            height: 25px;
            background: #a1c2ea;
            border: 0;
            color: #657a95;
            font-size: 17px;
            line-height: 23px;
            text-align: right;
            padding-right: 5px;
            font-family: Arial;
        }

.checkbox {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 19px;
    font-family: Arial;
}

.check_box {
    display: none;
    width: 25px;
    height: 24px;
    background: url(/css/images/check.png) no-repeat;
    float: right;
    margin-left: 10px;
    cursor: pointer;
}

.uncheck_box {
    width: 25px;
    height: 24px;
    background: url(/css/images/uncheck.png) no-repeat;
    float: right;
    margin-left: 10px;
    cursor: pointer;
}
/*END sign up*/

/*customers*/
.table_title div {
    background: #c7daf2 none repeat scroll 0 0;
    float: right;
    font-family: Arial;
    font-size: 14px;
    padding: 1% 0;
    line-height: 16px;
    vertical-align: 50%;
}

.content_table div {
    background: #ebebeb none repeat scroll 0 0;
    float: right;
    font-family: Arial;
    font-size: 14px;
    line-height: 16px;
    vertical-align: 50%;
    padding: 1% 0;
}

.odd div {
    background: #d4d4d4;
}

.clearfix {
    clear: both;
}

.green {
    background: #8dc63f;
}

.green_button {
    background: #8dc63f;
    color: #000;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    width: auto;
    padding: 1px 5px;
    border: 0;
    float: right;
    margin: 0 5px;
    cursor: pointer;
    text-align: center;
}

    .green_button.coral {
        background: brown;
        color: #fff;
        display: inline-block;
    }

    .green_button.blue {
        background: #639fe7;
        display: inline-block;
    }


    .green_button img {
        padding-left: 5px;
        position: relative;
        top: 3px;
    }

        .green_button img.plus {
            top: 1px;
        }

    .green_button.adv {
        float: none;
        display: block;
        color: white;
        padding: 3px 30px;
    }

.hello {
    padding: 15px;
    font-weight: 600;
    background-color: #639fe7;
    color: #fff;
    float: right;
    border-radius: 5px;
    margin: 10px 15px;
}

    .hello a {
        color: #fff;
    }

        .hello a:hover {
            color: #fff;
            text-decoration: underline;
        }

.lightgreen_button {
    background: #8dc63f;
    color: #000;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    width: auto;
    padding: 1px 5px;
    float: right;
    margin: 0 5px;
    cursor: pointer;
    text-align: center;
}

    .lightgreen_button img {
        padding-left: 5px;
        position: relative;
        top: 3px;
    }

        .lightgreen_button img.plus {
            top: 1px;
        }

.green_button.edit {
    background: #8dc63f url(/css/images/edit.png) no-repeat 90% center;
    padding: 1px 30px 1px 10px;
}

.table_title_grey div {
    background: #d4d4d4;
    float: right;
    font-family: Arial;
    font-size: 14px;
    padding: 1% 0;
    line-height: 16px;
    vertical-align: 50%;
    font-weight: bold;
    border-bottom: 1px solid #000;
}

.content_table_white div.widthinlineinterior {
    background: #fff none repeat scroll 0 0;
    float: right;
    font-family: Arial;
    font-size: 14px;
    line-height: 16px;
    vertical-align: 50%;
    padding: 1% 0;
    border-bottom: 1px solid #000;
}

.content_table_white div input[type="text"], .content_table_white div select {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    width: 140px;
    height: 26px;
    border: 1px solid #959595;
    color: #a1a1a1;
}

.form .small_select_private {
    width: 65px;
    height: 25px;
    background: #a1c2ea;
    border: 0;
    color: #657a95;
    font-size: 17px;
    line-height: 23px;
    text-align: right;
    padding-right: 5px;
    font-family: Arial;
}

.form .control .small_input_private {
    width: 65px;
    height: 25px;
    background: #a1c2ea;
    border: 0;
    color: #657a95;
    font-size: 17px;
    line-height: 23px;
    text-align: right;
    padding-right: 5px;
    font-family: Arial;
}

.step1 .form .control label.select_label_big {
    width: 220px;
}

.calendar {
    background: #a1c2ea url(/css/images/calendar.png) no-repeat 97% center;
    padding-right: 30px;
    border: 0;
    color: #000;
    font-size: 19px;
}

.chosen-container .chosen-results li:nth-child(2n+1) {
    background: #d4d4d4 92% center / 19px auto no-repeat;
}

.control label.width110 {
    width: 110px;
}

.right {
    float: right;
}

.underline {
    text-decoration: underline;
}

.content_table div.green_cell {
    background: #d4f387;
}

.content_table div.white_cell {
    background: #fff;
}

.table_title div.green_cell {
    background: #d4f387;
}
/*END customers*/
/*END sign up*/
.validation-summary-errors, .text-danger {
    color: #c31616;
}

.dropzone .dz-preview {
    margin: 0 !important;
}

.dropzone {
    min-height: 140px !important;
}


td a {
    color: #0000ff;
    text-decoration: underline;
}

    td a:hover {
        color: #000000;
        text-decoration: underline;
    }

.table {
    width: 100%;
    border-spacing: 0;
}

    .table.documents {
        font-family: Arial, Helvetica, serif;
        font-size: 15px;
        border-collapse: collapse;
    }

        /*.table.documents tr td:last-child, .table.documents tr th:last-child {
            border-right: 1px solid #fff;
        }*/

        .table.documents tr th {
            /*font-weight: normal;*/
            padding: 6px 3px;
        }

    .table thead tr:first-child {
        background-color: #b7b7b7 !important;
    }

    .table tr.initial td {
        background-color: #FFFF99 !important;
    }

    .table tr.footer td {
        background-color: #a3a3a3 !important;
        font-weight: bold;
    }

    .table th, .table td {
        padding: 10px;
        border: none;
        border-color: #fff;
        text-align: center;
    }

    .table.documents tr td {
        padding: 2px 2px;
    }

    .table.documents tr:last-child {
        border-top: 1px solid #fff;
    }

    .table tr.nextMonth {
        border-bottom: 2px solid #639fe7;
    }

    .table.transactions tr:nth-child(even), .table.documents tr:nth-child(even), .table.summary tr:nth-child(even), .table.dashboard tr:nth-child(odd) {
        background-color: #d4d4d4;
    }

    .table.transactions tr:nth-child(odd), .table.documents tr:nth-child(odd), .table.summary tr:nth-child(odd), .table.dashboard tr:nth-child(even) {
        background-color: #fff;
    }

    .table.documents.waybills tr {
        background-color: #fff !important;
    }

    .table tr td, .table tr th {
        border-left: 1px solid #fff;
    }

    .table tr.footer {
        background-color: #b7b7b7 !important;
    }

    .table tr.footer2 {
        background-color: #737373 !important;
    }

    .table tbody tr td:last-child, .table tr th:last-child {
        border-left: none !important;
    }

    .table.transactions tr:nth-child(odd) td:nth-child(3) {
        background-color: #ffd5d5;
    }

    .table.transactions tr:nth-child(odd) td:nth-child(4) {
        background-color: #cfe7ae;
    }

    .table.transactions tr:nth-child(even) td:nth-child(3) {
        background-color: #eeb1b1;
    }

    .table.transactions tr:nth-child(even) td:nth-child(4) {
        background-color: #a9cc7b;
    }

    .table.advances tr:nth-child(4n) {
        background-color: #d4d4d4;
    }

    .table.advances tr:nth-child(4n+2) {
        background-color: #fff;
    }


        .table.advances tr:nth-child(4n+2) td:nth-child(4) {
            background-color: #ffd5d5;
        }

        .table.advances tr:nth-child(4n+2) td:nth-child(5) {
            background-color: #cfe7ae;
        }

    .table.advances tr:nth-child(4n) td:nth-child(4) {
        background-color: #eeb1b1;
    }

    .table.advances tr:nth-child(4n) td:nth-child(5) {
        background-color: #a9cc7b;
    }

    .table.advances tr.descriptionRow {
        display: none;
    }

    .table.summary tr:nth-child(odd) td:last-child {
        background-color: #cceef8 !important;
    }

    .table.dashboard tr th {
        height: 64px;
        background-color: #c1d9f5;
        font-size: 18px;
    }

        .table.dashboard tr th:first-child, .table.dashboard tr td:first-child {
            border-right: 1px solid transparent;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        .table.dashboard tr th:last-child, .table.dashboard tr td:last-child {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }




.editableInput {
    display: none;
    text-align: center;
}

.table tr td {
    text-align: center;
}

#cancleEditId, #saveTransactionId {
    display: none;
}

.error {
    background-position: 0 -50px;
    font-size: 12px;
    display: none;
}

    .error span {
        background-position: 3px 3px;
        background-repeat: no-repeat;
        padding-left: 24px;
        color: #fb0f00;
        background: url(/css/images/small_warning_icon.png) 0 0 no-repeat;
    }

.dropdown a {
    border-left: 1px solid #639fe7;
    border-right: 1px solid #639fe7;
}

    .dropdown a:first-child {
        border-top: 1px solid #639fe7 !important;
    }

    .dropdown a:last-child {
        border-bottom: 1px solid #639fe7;
    }

.meta-keywords {
    font-size: 12px;
    color: #638C2B;
    margin-top: 0 !important;
}

.slogan {
    width: 260px;
    font-size: 20px;
}

.ui-datepicker-title {
    color: black;
}

#catalogHeader {
    font-size: 14px;
}

    #catalogHeader p {
        margin: 0;
        padding: 0;
    }

    #catalogHeader div {
        text-align: center;
    }

.red {
    color: red;
}

.btn-toolbar {
    padding-bottom: 5px;
}

    .btn-toolbar button {
        float: left;
        color: #000;
        font-size: 18px;
        border: 1px;
        background: #8dc63f;
    }

.ltrdiv {
    float: left;
    direction: ltr;
}

#dtFrom, #dtTo {
    width: 120px;
    text-align: center;
}

.infoEng p {
    float: left;
    text-align: left;
}

.infoBase p {
    float: right;
}

.future {
    color: darkblue;
}

.contactForm {
    width: 600px;
    text-align: center;
    margin: auto;
    padding: 10px;
    height: auto;
}

    .contactForm input {
        width: 45%;
    }

.login textarea {
    width: 98%;
    border-radius: 5px;
    border: 1px solid #fff;
    margin: 5px;
    height: 100px;
    resize: none;
    padding: 5px;
}

.contactForm input.name {
    float: left;
}

.contactForm input.email {
    float: right;
}

.blue_button {
    background: #639fe7;
    color: #000;
    width: auto;
    padding: 3px 10px;
    border: 0;
    float: right;
    cursor: pointer;
    text-align: center;
}

.raw p {
    text-align: left;
    line-height: 28px;
    padding: 5px 0;
}

.raw ul, .raw ol {
    margin: 0;
}

.raw ul {
    padding-left: 80px;
    padding-right: 80px;
}

.raw li {
    line-height: 28px;
    padding: 5px 0;
}

.raw a {
    color: darkblue;
}

    .raw a:hover {
        text-decoration: underline;
    }

#fullopaquePrint, #fullopaquePrintCopy, #fullopaqueSendSuccess, #fullopaqueSaveSuccess, #fullopaqueGeneral, #fullopaqueError {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 90;
}

    #fullopaqueGeneral img {
        left: 50%;
        top: 50%;
        position: absolute;
    }

.popupPrint, .popupPrintCopy, .popupSendSuccess, .popupSaveSuccess, .popupCustomText, .popupError {
    width: 300px;
    height: auto;
    padding: 20px;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -150px;
    background-color: #FFF;
    border-radius: 5px;
    display: none;
    z-index: 999;
}

.popupSendSuccess, #fullopaqueSendSuccess {
    display: block;
}

.popupbut {
    cursor: pointer !important;
    outline: none;
    margin-bottom: 10px;
    padding: 5px 20px;
    border: 1px #333333 solid;
    border-radius: 10px;
    background-color: #8dc63f !important;
    display: inline-block;
}

    .popupbut.no {
        background-color: red !important;
    }

.popupbut2 {
    cursor: pointer !important;
    outline: none;
    margin-bottom: 10px;
    padding: 5px 20px;
    border: 1px #333333 solid;
    border-radius: 10px;
    background-color: #CCCCCC !important;
    display: inline-block;
}

.infoEng p {
    text-align: left !important;
}

.terms p {
    text-align: left;
    line-height: 30px;
}

.btnSelectBank {
    text-align: center !important;
}

td {
    direction: ltr;
}


.slimtable-container-div {
    width: 100%;
    overflow-x: auto;
}

.catalog-image {
    height: 40px;
    width: auto;
    border-radius: 5px;
    position: relative;
    margin: 0 8px;
}

.faq {
    padding-top: 30px;
    font-style: italic;
    font-size: 14px;
    text-align: left;
    direction: ltr;
}

.blueboxeswidthitalics {
    direction: ltr;
}

.border-error {
    border: 1px solid red !important;
}

span.blueboxeswidthitalics {
    font-size: 13px;
    padding-top: 6px;
}

.input-validation-error {
    border: 1px solid red !important;
}

#catalogItemsTable .selected > td {
    background-color: #8dc63f;
}

.catalog-table {
    font-size: 14px;
    font-weight: 200;
}

    .catalog-table th {
        font-weight: 200;
    }

#cselector {
    height: 31px;
    font-size: 16px;
    background-color: #FFF;
    border-radius: 5px;
    border: 1px solid #639fe7;
    text-align: center;
    float: right;
    margin-right: 10px;
    position: relative;
    width: 200px;
    float: none;
    display: inline-block;
    font-weight: 600;
}

.adv-item-outer img {
    max-height: 180px;
    float: right;
    max-width: 100%;
}

@font-face {
    font-family: 'iconfont';
    src: url('/fonts/iconfont.eot?-8vg322');
    src: url('/fonts/iconfont.eot?#iefix-8vg322') format('embedded-opentype'), url('/fonts/iconfont.woff?-8vg322') format('woff'), url('/fonts/iconfont.ttf?-8vg322') format('truetype'), url('/fonts/iconfont.svg?-8vg322#iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

.download-btn, .download-btn:hover, .download-btn:active, .download-btn:visited {
    display: inline-block;
    position: relative;
    border-radius: 10px;
    background: #000;
    color: #fff;
    overflow: hidden;
    text-align: left;
    padding: 15px 25px 18px 75px;
    font-size: 12px;
    line-height: 1.1;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.download-btn .icon {
    font-size: 40px;
    position: absolute;
    top: 15px;
    left: 20px;
}

.icon {
    margin-right: 10px;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'iconfont';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.download-btn b {
    display: block;
    font-size: 25px;
    font-weight: lighter;
    white-space: nowrap;
}

.icon-android:before {
    content: "\e615";
}

.icon-apple:before {
    content: "\e614";
}
.btn-search {
    border: none; cursor: pointer; width: 120px; float: left; font-weight: 600;text-align: center;
}

a.link {
    color: #000080 !important;
}

a.link:hover {
    text-decoration: underline !important;
}