﻿a, p:not(.slogan), label, ul, ol, ol > li, ol > li > span, textarea {
    direction: rtl !important;
    text-align: right;
}

.ltrdiv {
    float: right !important;
    direction: rtl;
}

.raw p {
    text-align: right;
    line-height: 28px;
    padding: 5px 0;
}

p.slogan {
    direction: rtl !important;
}

.terms p {
    text-align: right;
    line-height: 30px;
}

.faq {
    text-align: right;
    direction: rtl;
}

.join {
    direction: rtl;
}

.alertify-notifier {
    direction: rtl;
}
